
<div class="card" id="chat-archive-container">

    <div class="card-body" style="padding-bottom: 0;">

        <h2 style="margin-bottom: 0;"><?=PerisianLanguageVariable::getVariable('p58d2c2711bcbe')?></h2>
        
        <?php if($result['action'] == 'log'): ?>
        
            <button class="btn btn-block btn-primary-bright ink-reaction" style="margin-top: 12px;" onclick="VmosoChat.goToLiveChat();"><i class="fa fa-backward"></i>&nbsp;&nbsp;<?=PerisianLanguageVariable::getVariable('p58d3fcd87006d')?></button>
        
        <?php endif; ?>

    </div>

    <div class="card-body" id="list-chat-archive">

        <span class="alert alert-block alert-info" style="margin-top: 12px;">
            
            <?=nl2br(PerisianLanguageVariable::getVariable('p58d2c2c62e690'))?>
            
        </span>

    </div>

</div>
