<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="form-horizontal">

    <input type="hidden" id="planId" value="<?=$result['id']?>">
    
    <div class="modal-body">
        
        <div class="form-group" style="margin-bottom: 0;">
            
            <div class="col-sm-12">
                
                <table class="table table-bordered" style="margin-bottom: 15px;">

                    <tr>

                        <td style="width: 20%; background-color: #eee;">

                            <b><?=PerisianLanguageVariable::getVariable(10848)?></b>                     

                        </td>

                        <td style="width: 80%">

                            <?=($result['object']->{$result['object']->field_title})?>

                        </td>

                    </tr>

                </table>
                
                <div class="alert alert-info alert-block" style="clear:both; margin-bottom: 16px;">
                    
                    <?=PerisianLanguageVariable::getVariable('p5a4d477ce12b2')?>
                    
                </div>
                
            </div>

            <div class="col-sm-12" style="" id="work-plan-month-application-container">

                <div class="loading-indicator" style="height: 300px;"></div>

            </div>
            
        </div>
        
    </div>
    
    <script type="text/javascript">

        jQuery(document).ready(function() {
            
            WorkPlan.loadYearForApplicationOfWorkPlan('<?=time()?>', '<?=$result['id']?>');

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="WorkPlan.cancel()"><?=PerisianLanguageVariable::getVariable(10495)?></button>
        
</div>