<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
        <input type="hidden" id="editId" value="<?=$result['id']?>">
    <?php endif ?>
    
    <div class="modal-body">
        
        <div class="form-group" style="margin-bottom: 0;">
            
            <div class="col-sm-12">

                <label for="calsy_work_plan_title"><?=PerisianLanguageVariable::getVariable(10848)?></label>
                <input type="text" id="calsy_work_plan_title" class="form-control" name="calsy_work_plan_title" value="<?=($action == 'edit' ? $result['object']->{$result['object']->field_title} : '')?>"/>

            </div>
            
        </div>
                
    </div>
    
    <script type="text/javascript">

        jQuery(document).ready(function() {

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="WorkPlan.cancel()"><?=PerisianLanguageVariable::getVariable(10056)?></button>
        
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="WorkPlan.saveWorkPlan()"><i class="md md-save"></i> <?=PerisianLanguageVariable::getVariable(10055)?></button>

</div>