<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'editWorkPlanElement'): ?>
        <input type="hidden" id="work_plan_element_id" value="<?=$result['id']?>">
        <input type="hidden" id="work_plan_element_work_plan_id" value="<?=$result['work_plan_id']?>">
    <?php endif ?>
    
    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="element_title"><?=PerisianLanguageVariable::getVariable(10848)?></label>
                <input type="text" id="element_title" class="form-control" name="element_title" value="<?=($action == 'editWorkPlanElement' ? $result['element']['title'] : '')?>"/>

            </div>
            
        </div>
        
        <?php if(CalsyAreaModule::isEnabled()): ?>
        
            <?php 
            
                $selectedAreaId = @$result['element']['area_id']; 
            
            ?>

            <div class="form-group">

                <div class="col-sm-12">

                    <label for="element_area"><?=PerisianLanguageVariable::getVariable(11059)?></label>

                    <select id="element_area" class="form-control" name="element_area">

                        <option duration="<?=CalsyCalendar::getDefaultEventEndTime()?>" value="0"<?=(@$selectedArea->{$selectedArea->field_pk} == 0 ? " selected" : "")?>><?=PerisianLanguageVariable::getVariable(10925)?></option>

                        <?php for($j = 0; $j < count($result['list_areas']); ++$j): ?>

                            <option duration="<?=$result['list_areas'][$j][$result['dummy_area']->field_default_duration]?>" value="<?=$result['list_areas'][$j][$result['dummy_area']->field_pk]?>"<?=(@$selectedAreaId == $result['list_areas'][$j][$result['dummy_area']->field_pk] ? " selected" : "")?>><?=$result['list_areas'][$j][$result['dummy_area']->field_title]?></option>

                        <?php endfor; ?>

                    </select>

                </div>

            </div>
        
        <?php endif; ?>
        
        <div class="form-group" style="margin-bottom: 0;">

            <div class="col-sm-3">

                <label for="element_day_from"><?=PerisianLanguageVariable::getVariable(10773)?></label>
                
                <select id="element_day_from" class="form-control" name="element_day_from">

                    <?php for($i = 0; $i < count($result['list_days']); ++$i): ?>

                        <option value="<?=$i?>"<?=($i == $result['day_from'] ? " selected" : "")?>><?=$result['list_days'][$i]?></option>

                    <?php endfor; ?>

                </select>

            </div>
            
            <div class="col-sm-3">
                                
                <label for="element_time_from"><?=PerisianLanguageVariable::getVariable(10384)?></label>
                
                <div class="input-group-content" style="display: block;">

                    <input type="text" class="form-control time-mask" name="element_time_from" id="element_time_from" value="<?=gmdate("H:i", $result['time_from'])?>" style="text-align: center;">

                </div><br/>

            </div>
            
            <div class="col-sm-3">

                <label for="element_day_to"><?=PerisianLanguageVariable::getVariable(10774)?></label>

                <select id="element_day_to" class="form-control" name="element_day_to">

                    <?php for($i = 0; $i < count($result['list_days']); ++$i): ?>

                        <option value="<?=$i?>"<?=($i == $result['day_to'] ? " selected" : "")?>><?=$result['list_days'][$i]?></option>

                    <?php endfor; ?>

                </select>

            </div>
            
            <div class="col-sm-3">
                                
                <label for="element_time_to"><?=PerisianLanguageVariable::getVariable(10384)?></label>
                
                <div class="input-group-content" style="display: block;">

                    <input type="text" class="form-control time-mask" name="element_time_to" id="element_time_to" value="<?=gmdate("H:i", $result['time_to'])?>" style="text-align: center;">

                </div><br/>

            </div>
            
        </div>
                
    </div>
    
    <script type="text/javascript">

        jQuery(document).ready(function() {
            
            jQuery(".form-control.time-mask").inputmask('h:s', {placeholder: 'hh:mm'});

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="WorkPlan.cancel()"><?=PerisianLanguageVariable::getVariable(10056)?></button>
    
    <?php if($action == 'editWorkPlanElement'): ?>
    
        <button type="button" class="btn btn-danger" id="deleteButton" onclick="WorkPlan.deleteWorkPlanElement('<?=$result['id']?>')"><i class="md md-delete"></i> <?=PerisianLanguageVariable::getVariable('10297')?></button>
    
    <?php endif ?>
        
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="WorkPlan.updateWorkPlanElementsAndSave()"><i class="md md-save"></i> <?=PerisianLanguageVariable::getVariable(10055)?></button>

</div>