<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.doubletap.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.longclick.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/WorkPlan.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<script type="text/javascript" src="../assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
                
        jQuery(window).resize(Calendar.onWindowResize);
                    
    });
    
</script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/fullcalendar/fullcalendar.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable('p5a340dbeaf5af') ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyWorkPlanModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div class="col-lg-12" id="work-plan-container">
            
            <?php require_once('work_plan_empty.phtml'); ?>
            
        </div>

    </div>
    
</div>