<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        jQuery('#work-plan-application-calendar-today').click(function() {
            
            WorkPlan.loadYearForApplicationOfWorkPlan('<?=time()?>', '<?=$result['id']?>');
            
        });
        
        jQuery('#work-plan-application-calendar-prev').click(function() {
            
            WorkPlan.loadYearForApplicationOfWorkPlan('<?=($result['time'] - 86400 * 365)?>', '<?=$result['id']?>');
            
        });
        
        jQuery('#work-plan-application-calendar-next').click(function() {
            
            WorkPlan.loadYearForApplicationOfWorkPlan('<?=($result['time'] + 86400 * 365)?>', '<?=$result['id']?>');
            
        });
        
        jQuery('.work-plan-application-false').click(function() {
            
            var element = jQuery(this);
            
            WorkPlan.applyForWeek(element.attr('data-time'), '<?=$result['id']?>');
            
        });
        
        jQuery('.work-plan-application-true').click(function() {
            
            var element = jQuery(this);
            
            WorkPlan.deleteForWeek(element.attr('data-time'), '<?=$result['id']?>');
            
        });
        
    });

</script>

<div class="card" style="margin-bottom: 0;">
        
    <div class="card-head style-primary">
        
        <header class="season-icon-fake" style="padding-left: 20px;"><i class="fa fa-calendar"></i><?=date("Y", $result['data_calendar']["begin"])?></header>
        
        <div class="tools">

            <div class="btn-group">
                
                <a id="work-plan-application-calendar-today" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-arrow-up"></i></a>
                <a id="work-plan-application-calendar-prev" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-angle-left"></i></a>
                <a id="work-plan-application-calendar-next" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-angle-right"></i></a>
                
            </div>

            <div class="btn-group pull-right"></div>

        </div>
        
    </div>
    
    <div class="card-body no-padding">
        
	<div class="fc fc-ltr fc-unthemed fc-work-plan-application" id="calendar">
            
            <div class="fc-view-container" style="padding-top: 0px">
                
                <?php for($i = 0; $i < count($result['data_calendar']["matrix"]["months"]); ++$i): ?>
                
                    <?php 
                    
                        $dayInMiddleOfMonthTimestamp = $result['data_calendar']["matrix"]["months"][$i][floor(count($result['data_calendar']["matrix"]["months"][$i]) / 2)]["time"];
                    
                    ?>
                
                    <div class="col-sm-4 calendar-year-month">
                        
                        <div class="calendar-year-month-holder" style="margin: 8px;">
                            
                            <div class="calendar-year-month-header season-<?=CalsyCalendar::getSeasonForMonth(date("m", $dayInMiddleOfMonthTimestamp))?> season-icon"
                                data-time="<?=PerisianTimeZone::getFirstDayOfMonthAsTimestamp($dayInMiddleOfMonthTimestamp)?>"><?=PerisianFrameworkToolbox::getMonthName(date("m", $dayInMiddleOfMonthTimestamp) - 1)?></div>
                            
                            <div class="calendar-year-month-content">
                                
                                <table>
                                    
                                    <tr>
                                        
                                        <td class="calendar-year-month-header-day"><?=PerisianLanguageVariable::getVariable('10771')?></td>
                                                
                                        <?php for($k = 0; $k < 7; ++$k): ?>
                                        
                                            <?php if(CalsyCalendar::isDayDisplayableForView($k, 'year')): ?>
                                        
                                                <td class="calendar-year-month-header-day"><?=CalsyCalendar::getDayNameShort($k)?></td>
                                            
                                            <?php endif; ?>

                                        <?php endfor; ?>
                                            
                                    </tr>
                                    
                                    <tr>
                                        
                                        <td colspan="<?=(CalsyCalendar::getCountDisplayableWeekDayForView('year') + 1)?>" class="fc-day-header fc-widget-header-seperator"><hr class="fc-widget-header"></td>
                                        
                                    </tr>
                                    
                                    <?php for($j = 0; $j < count($result['data_calendar']["matrix"]["months"][$i]); ++$j): ?>

                                        <?php if(($j) % 7 == 0):?>
                                    
                                            <tr>
                                                
                                                <td class="work-plan-application work-plan-application-<?=(CalsyWorkPlan::weekInMonthHasEntries($result['data_calendar']["matrix"]["months"][$i], $j) ? 'true' : 'false')?>" data-time="<?=$result['data_calendar']["matrix"]["months"][$i][$j]["time"]?>">
                                                    <?=date("W", $result['data_calendar']["matrix"]["months"][$i][$j]["time"])?>
                                                </td>
                                                
                                        <?php endif; ?>
                                                
                                            <?php if(CalsyCalendar::isDayDisplayableForView($j % 7, 'year')): ?>

                                                <td class="calendar-year-day <?php 
                                                    if($result['data_calendar']["matrix"]["months"][$i][$j]["isOtherMonth"]): ?> other-month<?php 
                                                    endif; ?><?php 
                                                    if($result['data_calendar']["matrix"]["months"][$i][$j]["isOtherYear"]): ?> other-year<?php 
                                                    endif; ?><?php 
                                                    if($result['data_calendar']["matrix"]["months"][$i][$j]["isToday"]): ?> calendar-display-year-today<?php 
                                                    endif; ?>"
                                                    data-time="<?=$result['data_calendar']["matrix"]["months"][$i][$j]["time"]?>">

                                                    <?php if(count($result['data_calendar']["matrix"]["months"][$i][$j]["entries"]) > 0): ?>
                                                        <div class="calendar-display-year-day-has-event"></div>
                                                    <?php endif; ?>

                                                    <div><?=date("d", $result['data_calendar']["matrix"]["months"][$i][$j]["time"])?></div>

                                                </td>
                                                
                                            <?php endif; ?>

                                        <?php if(($j + 1) % 7 == 0 || ($j + 1) == count($result['data_calendar']["matrix"]["months"][$i])):?>
                                            
                                            </tr>
                                                
                                        <?php endif; ?>
                                    
                                    <?php endfor; ?>
                                    
                                </table>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                        
                <?php endfor; ?>
            
            </div>
        
        </div>
	
    </div>
    
</div>
