
<script type="text/javascript">

    jQuery(document).ready(function() {
                
        Calendar.currentDisplayType = 'week';
        Calendar.containerId = '#calendar-container';
        
        Calendar.initHourlyDisplay();
        
        WorkPlan.initWorkPlan(<?=$result['elements']?>);
                
    });

</script>

<div class="card" id="calendar-container">
    
    <div class="card-head style-primary">
        
        <header><?=$result['object']->{$result['object']->field_title}?></header>
        
        <div class="tools">

            <div class="btn-group">
                
                <?php if(PerisianSystemSetting::isSettingTrue('calendar_is_enabled_printing')): ?>
                    <a id="work-plan-print" class="btn btn-icon-toggle ink-reaction" title="<?=htmlentities(PerisianLanguageVariable::getVariable('p5a60e0d7c8003'), ENT_QUOTES)?>"><i class="fa fa-print"></i>
                <?php endif; ?>
                
                <a id="work-plan-element-new" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-plus"></i></a>
                
            </div>

            <div class="btn-group pull-right"></div>

        </div>
        
    </div>
    
    <div class="card-body no-padding">
        
	<div id="calendar" class="fc fc-ltr fc-unthemed calendar-hourly">
            
            <div class="fc-view-container" style="">
                
                <div class="fc-view fc-agendaWeek-view fc-agenda-view">
                    
                    <table class="autosize" style="width: 100%;">
                        
                        <tbody>
                            
                            <tr>
                                
                                <td class="fc-widget-content">
                                    
                                    <div class="fc-time-grid-container fc-scroller">
                                        
                                        <!-- Main scroller -->
                                        
                                        <div id="hourly-header">
                                        
                                            <table width="100%">

                                                <thead>

                                                    <tr>
                                                        
                                                        <td class="fc-widget-header" style="border: 0;">

                                                            <div class="fc-row fc-widget-header" style="border: 0;">

                                                                <table class="autosize fc-hourly-header" style="border: 0;">

                                                                    <thead>

                                                                        <tr>

                                                                            <th class="fc-axis fc-widget-header"></th>

                                                                            <?php for($i = 0; $i < 7; ++$i): ?>
                                                                            
                                                                                <th data-day="<?=($i)?>"
                                                                                    colspan="1" 
                                                                                    class="fc-day-header fc-weekly-day-header fc-day-header-element fc-widget-header fc-<?=strtolower(CalsyCalendar::getDayNameShortInternational($i))?>">
                                                                                    <?=CalsyCalendar::getDayName($i)?>
                                                                                
                                                                                </th>

                                                                            <?php endfor; ?>
                                                                                
                                                                        </tr>

                                                                    </thead>

                                                                </table>

                                                            </div>

                                                        </td>
                                                    </tr>

                                                </thead>

                                            </table>
                                        
                                            <hr class="fc-widget-header">
                                            
                                        </div>
                                                    
                                        <div class="fc-time-grid">
                                            
                                            <div class="fc-bg">
                                                
                                                <table>
                                                    
                                                    <tbody>
                                                        
                                                        <tr>
                                                            
                                                            <td class="fc-axis fc-widget-content"></td>
                                                            
                                                            <?php for($i = 0; $i < 7; ++$i): ?>
                                                            
                                                                <th class="fc-day fc-widget-content fc-<?=strtolower(CalsyCalendar::getDayNameShortInternational($i))?>" data-date="<?=($i * 86400)?>"></th>
                                                                
                                                            <?php endfor; ?>
                                                            
                                                        </tr>
                                                    
                                                    </tbody>
                                                
                                                </table>
                                            
                                            </div>
                                            
                                            <div class="fc-slats">
                                                                                                                                                
                                                <?php require('includes/entry_daily_hours.phtml'); ?>
                                            
                                            </div>
                                            
                                            <hr class="fc-widget-header" style="display: none;">
                                            
                                            <div class="fc-content-skeleton">
                                                
                                                <table>
                                                    
                                                    <tbody>
                                                        
                                                        <tr>
                                                            
                                                            <td class="fc-axis" style="width:52px"></td>
                                                            
                                                            <?php for($i = 0; $i < 7; ++$i): ?>

                                                                <td>

                                                                    <div class="fc-event-container"></div>

                                                                </td>

                                                            <?php endfor; ?>
                                                            
                                                        </tr>
                                                    
                                                    </tbody>
                                                
                                                </table>
                                                    
                                            </div>
                                                
                                        </div>
                                            
                                    </div>
                                
                                </td>
                            
                            </tr>
                        
                        </tbody>
                    
                    </table>
                        
                </div>
                    
            </div>
                
        </div>

    </div>
    
</div>

<?php

    require 'includes/entry_daily.phtml';
    
?>