<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.js"></script>

<script type="text/javascript">

    jQuery('#calsy_calendar_date_range .datepicker-item').datepicker({

        language: '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>', 
        todayHighlight: true,
        autoclose: true,

        format: 'dd.mm.yyyy'

    });
        
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=PerisianLanguageVariable::getVariable(!isset($result['id']) ? 'p57ab070d8a93a' : 'p57ab071c8d8d8')?>
    </h4>
    
</div>

<div class="form-horizontal" role="form">

    <?php if($action == 'editBookableTime'): ?>
    <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
    <?php endif ?>
        
    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable('p57ab291ad85f7')?></div>
    
    <div class="modal-body">
        
        <?php if($user->hasSetting('is_allowed_editing_all_users_bookable_times')): ?>

            <div class="form-group">

                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_user_id"><?php PerisianLanguageVariable::printVariable(10061) ?></label>
                    
                    <input type="text" id="calsy_calendar_entry_user_id" class="form-control" name="calsy_calendar_entry_user_id" value="<?=$result['selected_user_backend']->{$result['selected_user_backend']->field_fullname}?>" perisian-data-id="<?=$result['selected_user_backend']->{$result['selected_user_backend']->field_pk}?>" data-source="user"/>

                </div>

            </div>

            <script type="text/javascript">

                jQuery(document).ready(function() {

                    jQuery('#calsy_calendar_entry_user_id').focus(function() {

                        PerisianBaseAjax.createAutocomplete({

                            'element': jQuery(this),

                            'fieldToIdentify': 'user_id',
                            'fieldToDisplay': 'user_fullname',
                            'forceEntryFromList': false,
                            'maxDisplayedEntries': -1,

                            'url': Calendar.controller,

                            'data': {

                                'area': Calendar.getAreaSelector().find('option:selected').val()

                            },

                            'renderer': CalsyAutocompleteRenderer.renderUser

                        });

                    }); 

                });

            </script>
        
        <?php endif; ?>
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?php PerisianLanguageVariable::printVariable(10786)?></label><br/>
                
                <div class="input-daterange input-group" id="calsy_calendar_date_range">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_begin_date" id="calsy_calendar_date_range_begin_date" value="<?=@date("d.m.Y", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>
                    
                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_begin_time" id="calsy_calendar_date_range_begin_time" value="<?=@date("H:i", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div><br/>

                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10785)?></span>

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_end_date" id="calsy_calendar_date_range_end_date" value="<?=@date("d.m.Y", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>
                        <div class="form-control-line"></div>

                    </div>
                    
                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_end_time" id="calsy_calendar_date_range_end_time" value="<?=@date("H:i", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>

                </div>
                
            </div>
            
        </div>

        <?php if(CalsyAreaModule::isEnabled()): ?>

            <div class="form-group">
                
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_area"><?php PerisianLanguageVariable::printVariable(11059) ?></label>

                    <select id="calsy_calendar_entry_area" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_area"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                        <option duration="<?=CalsyCalendar::getDefaultEventEndTime()?>" value="0"<?=(@$result['area_selected']->{$result['area_selected']->field_pk} == 0 ? " selected" : "")?>><?=PerisianLanguageVariable::getVariable('p575edf80ea145')?></option>

                        <?php for($j = 0; $j < count($result['list_areas']); ++$j): ?>

                            <option duration="<?=$result['list_areas'][$j][$result['dummy_area']->field_default_duration]?>" value="<?=$result['list_areas'][$j][$result['dummy_area']->field_pk]?>"<?=(@$result['area_selected']->{$result['area_selected']->field_pk} == $result['list_areas'][$j][$result['dummy_area']->field_pk] ? " selected" : "")?>><?=$result['list_areas'][$j][$result['dummy_area']->field_title]?></option>

                        <?php endfor; ?>

                    </select>

                </div>
                
            </div>
            
            
            <script type="text/javascript">

                jQuery(document).ready(function() {

                    jQuery('#calsy_calendar_entry_area').on('change', function() {

                        Calendar.currentTimeDurationElementStep = 0;
                        Calendar.flagUpdateTimeDurationElements = true;

                        var changedElement = jQuery(this);
                        var newDuration = changedElement.find('option:selected').attr('duration');
                        
                        jQuery('#calsy_calendar_date_range_begin_date').trigger('blur');

                        var beginTime = Calendar.getTimestampFromFields("#calsy_calendar_date_range_begin_date", "#calsy_calendar_date_range_begin_time");
                        
                        var endTime = parseInt(beginTime) + parseInt(newDuration);
                                                
                        Calendar.setTimestampForFields("#calsy_calendar_date_range_end_date", "#calsy_calendar_date_range_end_time", endTime);

                    });

                });

            </script>

        <?php endif; ?>

        <div class="form-group">

            <div class="col-sm-12">

                <label for="calsy_calendar_entry_number_bookable"><?php PerisianLanguageVariable::printVariable('p57f37c335557c') ?></label>

                <select id="calsy_calendar_entry_number_bookable" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_number_bookable"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    <option value="0"<?=($result['number_bookable'] == 0 ? " selected" : "")?>><?=PerisianLanguageVariable::getVariable('p57f381721cab9')?></option>

                    <?php for($j = 1; $j <= $result['number_bookable_allowed_maximum']; ++$j): ?>

                        <option value="<?=$j?>"<?=($result['number_bookable'] == $j ? " selected" : "")?>><?=$j?></option>

                    <?php endfor; ?>

                </select>

            </div>

        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_title"><?php PerisianLanguageVariable::printVariable(10234) ?></label>
                <input type="text" id="calsy_calendar_entry_title" class="form-control" name="calsy_calendar_entry_title" value="<?=($action == 'editBookableTime' ? $result['entry']->{$result['entry']->field_title} : PerisianLanguageVariable::getVariable('p57ab295ddf9ec'))?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_description"><?php PerisianLanguageVariable::printVariable(10781) ?></label>
                <textarea type="text" id="calsy_calendar_entry_description" class="form-control" name="calsy_calendar_entry_description"<?=($result['can_edit_entry'] ? "" : " disabled")?>><?=($result['entry']->{$result['entry']->field_description})?></textarea>

            </div>
            
        </div>
            
        <div class="form-group" style="margin-bottom: 0">
            
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_description"><?=$result['field_upload_image_bookable_time']["title"]?></label>

                <form action="<?=$result['field_upload_image_bookable_time']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_upload_image_bookable_time']["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="subjectId" id="subjectId" value="<?=$result['entry']->{$result['entry']->field_pk} ?>">
                    <input type="hidden" name="setting" value="<?=$result['field_upload_image_bookable_time']["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>

                    <input type="hidden" id="<?=$result['field_upload_image_bookable_time']["name"]?>_filename" value="<?=$result['field_upload_image_bookable_time']["image"]["name"]?>"/>

                </form>
                
            </div>

            <script type="text/javascript">

                /**
                 * Fired after a succesful upload.
                 * 
                 * @author Peter Hamm
                 * @param Object data
                 * @param Object response
                 * @returns void
                 */
                var onDropzoneUploadSuccess = function(data, response) 
                {

                    var callback = JSON.parse(response);

                    if(!callback.success)
                    {

                        toastr.error(callback.message);

                    }
                    else
                    {
                    
                        jQuery('#<?=$result['field_upload_image_bookable_time']["name"]?>_filename').val(callback.file);

                        toastr.success(callback.message);

                    }

                    return callback;

                };

                /**
                 * Fired after removing an upload.
                 * 
                 * @author Peter Hamm
                 * @param Object file
                 * @returns void
                 */
                var onDropzoneUploadRemoved = function(file)
                {

                    var settingId = jQuery(this.element).attr('id').replace('form_', '');
                    
                    jQuery('#<?=$result['field_upload_image_bookable_time']["name"]?>_filename').val('');

                    SystemSettings.resetUpload(settingId);

                };

                jQuery(document).ready(function() {

                    var dropzone = new Dropzone('#form_<?=$result['field_upload_image_bookable_time']["name"]?>', {

                        uploadMultiple: false,
                        maxFiles: 1,

                        init: function () {

                            var thisDropzone = (this);

                            thisDropzone.on('success', onDropzoneUploadSuccess);
                            thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                            thisDropzone.on("addedfile", function(file) {

                                file.previewElement.addEventListener("click", function() {

                                    if(confirm(Language.getLanguageVariable(11131)))
                                    {

                                        thisDropzone.removeFile(file);

                                    }

                                });

                            });

                            <?php if(strlen($result['field_upload_image_bookable_time']["image"]["name"]) > 0): ?>

                                var currentFile = { 

                                    name: "<?=$result['field_upload_image_bookable_time']["image"]["name"]?>", 
                                    size: <?=$result['field_upload_image_bookable_time']["image"]["filesize"]?>, 
                                    type: "<?=$result['field_upload_image_bookable_time']["image"]["type"]?>",
                                    url: '<?=$result['field_upload_image_bookable_time']["image"]["url"]?>',
                                    status: Dropzone.ADDED,
                                    accepted: true

                                };

                                thisDropzone.emit("addedfile", currentFile);
                                thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_upload_image_bookable_time']["image"]["url"]?>');
                                thisDropzone.emit("complete", currentFile);

                                thisDropzone.files.push(currentFile);

                            <?php endif; ?>

                        }

                    });

                });

            </script>

        </div>
            
        <div class="form-group" style="margin-top: 20px;">

            <center><div class="col-sm-12 checkbox checkbox-styled">
                 
                <label for="bookable_time_show_annotiations_public_enabled"><input type="checkbox" id="bookable_time_show_annotiations_public_enabled" name="bookable_time_show_annotiations_public_enabled" perisian-data-id=""<?=(CalsyCalendarEntryFlag::getFlagValueForEntry($result['entry']->{$result['entry']->field_pk}, CalsyBookableTimesModule::FLAG_BOOKABLE_TIME_PUBLIC_ANNOTATIONS_ENABLED) == "1" ? " checked" : "")?><?=($result['can_edit_entry'] ? "" : " disabled")?>/><?=PerisianLanguageVariable::getVariable('p5d382ce2e006f')?></label>

            </div></center>

        </div>

    </div>
    
    <?php require __DIR__ . "/../../calendar/element/includes/detail_edit_entry_series.phtml"; ?>
    
</div>

<div class="modal-footer">
        
    <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
    <button type="button" class="btn btn-danger" id="deleteButton" onclick="Calendar.deleteBookableTime()" style="float:left"><i class="md md-delete"></i><?php PerisianLanguageVariable::printVariable(10297) ?></button>
    <?php endif; ?>
    
    <button type="button" class="btn btn-default" id="cancelButton" onclick="Calendar.cancel()"><?php PerisianLanguageVariable::printVariable(10495)?></button>
    
    <?php if($result['can_edit_entry']): ?>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="Calendar.saveBookableTime()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>
    <?php endif; ?>
    
</div>