
.chat-message-row.row-left
{
    
    margin-left: 10%;
    
}

.chat-message-row.row-right
{
    
    margin-right: 10%;
    
}

.chat-main
{
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.chat-message-row.row-left .chat-info
{
    
    border-bottom-left-radius: 10px;
    
}

.chat-message-row.row-right .chat-info
{
    
    border-bottom-right-radius: 10px;
    
}