
.chat-body
{
        
    padding-bottom: 0;
    
    overflow-y: scroll;
    max-height: 400px;
    
}

.chat-body #loading-box
{
    
    margin-top: 12px;
    margin-bottom: 24px;
    
    height: 120px;
    
}

.chat-log
{
    
    background-color: rgb(248, 249, 249);
    
}

#chat-box-empty
{
    
    display: none;
    
    text-align: center;
        
    background-color: #eee;
    border: 1px solid #ccc;
    
    padding: 10px;
        
    min-width: 48px;
    
    margin-bottom: 24px;
    margin-top: 12px;
    
}

#chat-dummy
{
    
    display: none;
    
}

.chat-message-row
{
    
    padding-top: 0px;
    
}

.chat-message-row:first-child
{
    
    padding-top: 6px;
    
}

#chat-message-form
{
    
    font-size: 1em;
    
}

.chat-main,
.chat-message-form-box
{
    
    margin: 0 0 0 0;
    
    background-color: #fff;
    border: 1px solid #ccc;
    
    padding-left: 10px;
    padding-right: 10px;
    
}

.chat-message-form-box
{
    
    margin: 0;
    margin-bottom: 16px;
    
    padding-top: 4px !important;
    padding-bottom: 16px;
    
}


.chat-info
{
    
    clear: both;
    width: auto;
    height: auto;
    line-height: 1.3em;
    font-size: 0.9em;
    color: #9ea0a1;
    position: relative;
    top: -18px;
    
    text-align: right;
    
    border: 1px dashed #ccc;
    
    color: #111;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    background-color: #eee;
    margin-top: 16px;
    border-top: 1px solid #ccc;
    
}

.comment-row.owner .content
{
    
    background-color: #fff;
    word-wrap: break-word;
    top: -2px;
    overflow-x: auto;
    
}

.chat-content
{
    
    padding-bottom: 16px;
    padding-top: 16px;
    
}

.chat-info .username
{
    
    font-weight: bold;
    
}

.chat-info .comment-date
{
    
    
}

.chat-message-row:last-child
{
    
    padding-bottom: 12px;
    
}

.chat-message-row.row-right .user-color-header
{
    
    right: inherit;
    
    left: -46px;
    
}

.chat-message-row.row-left .chat-info
{
        
}
.chat-message-row.row-right .chat-main
{
        
}

.chat-message-row.row-right .chat-main,
.chat-message-row.row-right .eg
{
    
    background-color: #fff;
    
}

.chat-message-row.row-left .chat-content
{
        
}

.chat-message-row.row-right .eg
{
    
    right: inherit;
    left: -10px;
    
}

.chat-message-row.row-right .eg1
{
    
    position: absolute;
    top: -1px;
    left: 0px;
    
    border-bottom: 13px solid #ccc;
    border-right: 11px solid transparent;
    border-left: 0;

}

.chat-message-row.row-right .eg2
{
    
    border-left: 0;
    border-right: 10px solid transparent;
    border-bottom: 14px solid #fff;
    
    left: -1px;
    top: -1px;
    
    width: 10px;
    
}

.chat-message-row.row-left .comment-date
{
        
}

.row-right .status-pending
{
    
    display: none;
    
}

.chat-info .status-pending .loading
{
    
    display: inline-block; 
    
    background-image: url('assets/img/custom/loading_indicator_dark_small.gif');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    width: 10px;
    height: 10px;
    
    margin-right: 2px;
    
}

.row-left .chat-info .status-sent
{
    
    display: none;
    
}

.status-sent .fa
{
    
    margin-right: 2px;
    
}

#box-load-older-messages
{
    
    display: none;
    
    text-align: center;
    
    margin-bottom: 0px;
    margin-top: 12px;
    
}

#box-load-older-messages div
{
    
    background-color: #eee;
    border: 1px dashed #ccc;
    
    padding: 10px;
    
    display: inline-block;
    
    min-height: 48px;
    min-width: 48px;
     
}

#box-load-older-messages div:hover
{
    
    background-color: #ccc;
    
}

#box-load-older-messages #button-load-older-messages
{
    
    cursor: pointer;
    width: 100%;
    
}

#box-load-older-messages #load-older-messages-loading-indicator
{
    
    display: none;
    
    width: 100%;
    
    background-image: url('assets/img/custom/loading_indicator_dark.gif');
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    background-size: 32px 32px;
        
}

.chat-content p
{
    
    margin-bottom: 0;
    
}

.chat-archive-entry,
.chat-log-entry
{
        
    border: 1px dashed #ccc;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    
    margin-top: 12px;
    
    cursor: pointer;

}

.chat-log-entry-active
{
    
    
}

.chat-archive-entry:hover,
.chat-log-entry:hover
{
    
    background-color: #eee;
    
}

#list-chat-archive,
#list-chat-log
{
    
    padding-top: 0px;
    
}

#chat-archive-container,
#chat-log-container
{
    
    max-height: 300px;
    
    overflow-y: scroll;
    
}

.chat-archive-title,
.chat-log-title
{
    
    font-weight: bold;
    
}

.chat-message-row .user-color-header
{
 
    display: none;
    
    float: left;
    position: relative;
    top: -15px;
    
    border-radius: 15px;
    width: 30px;
    height: 30px;
    
}

.row-left .user-color-header
{
    
}

.row-right .user-color-header
{
    
    left: 0px !important;
    
}