<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/mail/Mail.js"></script>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10732) ?></li>
    </ol>
    
</div><!--end .section-header -->

<div class="section-body">
    
    <div class="col-lg-4 mail-distribution-manager" id="mail_distribution_manager">

        <div class="card">
            
            <div class="form floating-label">

                <div class="card-body" style="padding-bottom: 0;">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10735); ?></h2>
                </div>

                <div class="card-body" style="padding-bottom: 0">
                    <?php PerisianLanguageVariable::printVariable(10736); ?>
                </div>
                
                <div class="card-body" style="padding-bottom: 0; padding-top: 10px">
                
                    <div class="form-group">
                        
                        <select id="mail_distribution_manager_type" name="mail_distribution_manager_type" class="form-control">
                            
                        <?php foreach($mailTypes as $mailType): ?>
                            
                            <option value="<?=$mailType["mail_distribution_type_value"]?>"><?php PerisianLanguageVariable::printVariable($mailType["mail_distribution_type_language_variable"]);?></option>

                        <?php endforeach; ?>
                            
                        </select>
                        
                        <label for="mail_distribution_manager_type"><?php PerisianLanguageVariable::printVariable(10747); ?></label>
                        
                    </div>
                
                </div>

                <div class="card-body" style="padding-bottom: 0; padding-top: 4px">
                    
                    <button class="btn btn-primary-bright btn-block ink-reaction" style="height:98px; float: right; margin-top: 28px" onclick="Mail.distributionManager.addEntryFromForm();"><i class="fa fa-plus-circle"></i></button>

                    <div class="form-group">
                        <input type="text" class="form-control" id="mail_distribution_manager_new_name" name="mail_distribution_manager_new_name">
                        <label for="mail_distribution_manager_new_name"><?php PerisianLanguageVariable::printVariable(10737); ?></label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="mail_distribution_manager_new_email" name="mail_distribution_manager_new_email">
                        <label for="mail_distribution_manager_new_email"><?php PerisianLanguageVariable::printVariable(10738); ?></label>
                    </div>

                </div>

                <br/>

                <div class="card-body mail-distribution-manager-list" style="padding-top: 0">

                </div>
                
            </div>
            
        </div>

    </div>
    
    <div class="col-lg-4">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10743); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($emailSendSettingList, 10734) ?>

            </form>

        </div>

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10781); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($workflowEmailSettingList, 10703) ?>

            </form>

        </div>

    </div>
         
    <div class="col-lg-4">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10703); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($emailSettingList, 10703) ?>

            </form>

        </div>

    </div>

</div><!--end .section-body -->

<script type="text/javascript">

jQuery(document).ready(function() {
    
    Mail.distributionManager('#mail_distribution_manager');
    
});

</script>