<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
    
        <input type="hidden" id="editId" value="<?=$result['object']->{$result['object']->field_pk}?>">
        
    <?php endif ?>
    
    <div class="modal-body info-bar"><?=lg(11024)?></div>

    <div class="modal-body">
                
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="<?=$result['dummy']->field_type?>"><?=lg('p5f0333c01b430')?></label>

                <select id="<?=$result['dummy']->field_type?>" name="<?=$result['dummy']->field_type?>" class="form-control">

                    <option value="<?=CalsyQuickLog::TYPE_WATER_EXAMINATION?>"<?=(($action == 'edit' && $result['object']->{$result['object']->field_type} == CalsyQuickLog::TYPE_WATER_EXAMINATION) ? ' selected' : '')?>><?=CalsyQuickLog::getTypeName(CalsyQuickLog::TYPE_WATER_EXAMINATION)?></option>
                    
                </select>

            </div>

        </div>
       
    </div>
                
    <div class="modal-body info-bar" style="border-bottom: 2px solid #fff;">
        
        <?=lg('10964')?> 
            
    </div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <?php
            
                $quickLogTime = ($action == 'edit' ? $result['object']->{$result['object']->field_time} : time());
            
            ?>

            <div class="col-sm-12">

                <div class="input-daterange input-group" id="calsy_quick_log_time_fields">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_quick_log_time_field_date" id="calsy_quick_log_time_field_date" value="<?=date("d.m.Y", $quickLogTime)?>">

                    </div>

                    <span class="input-group-addon"><?=lg(10887)?></span>

                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_quick_log_time_field_time" id="calsy_quick_log_time_field_time" value="<?=date("H:i", $quickLogTime)?>">

                    </div>

                </div>

            </div>
            
        </div>
                
    </div>
    
    <div class="modal-body info-bar">
                    
        <?=lg('p5f032cf424ab6')?>
    
    </div>
                
    <div class="modal-body">
    
        <div class="form-group">
            
            <?php

                $fieldTypes = CalsyQuickLog::getTypeFields(CalsyQuickLog::TYPE_WATER_EXAMINATION); 

            ?>

            <?php foreach($fieldTypes as $key => $data): ?>

                <div class="col-sm-6 calsy_quick_log_type_field" data-quick-log-type-field-key="<?=$key?>" style="margin-bottom: 6px;">

                    <label for="calsy_quick_log_type_field_<?=$key?>">
                        
                        <?=lg($data['title'])?> 
                        
                        <?php if(isset($data['info']) && strlen($data['info']) > 0): ?>

                            <span class="icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=addslashes(lg($data['info']))?>">

                                <i class="fa fa-info-circle"></i>

                            </span>
                        
                        <?php endif; ?>
                    
                    </label>
                    
                    <input type="text" id="calsy_quick_log_type_field_<?=$key?>" class="form-control" name="calsy_quick_log_type_field_<?=$key?>" value="<?=($action == 'edit' ? CalsyQuickLog::getValueFromData($result['object']->{$result['object']->field_data}, $key) : '')?>"/>

                </div>

            <?php endforeach; ?>

        </div>
    
    </div>
            
    <script type="text/javascript">

        jQuery(document).ready(function() {

            QuickLogFrontend.initEditQuickLog();

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="QuickLogFrontend.cancel()"><?=lg(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="QuickLogFrontend.saveQuickLog()"><i class="md md-save"></i> <?=lg(10055)?></button>

</div>