<td>
    
    <?=date("d.m.Y, H:i", $currentEntry['calsy_quick_log_time'])?> <?=lg('10903')?>
    
</td>

<td>
    
    <?php $entryData = CalsyQuickLog::getFormattedData($currentEntry['calsy_quick_log_data']); ?>
    
    <?php if(count($entryData) > 0): ?>
    
        <?php foreach($entryData as $dataEntry): ?>

            <b><?=$dataEntry['title']?>:</b> <?=$dataEntry['value']?><br/>

        <?php endforeach; ?>

    <?php else: ?>
            
        <?=lg('p5f035ba9c899f')?>

    <?php endif; ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="QuickLogFrontend.editQuickLog(<?=PerisianFrameworkToolbox::security($currentEntry['calsy_quick_log_id'])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('10346')?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="QuickLogFrontend.deleteQuickLog(<?=PerisianFrameworkToolbox::security($currentEntry['calsy_quick_log_id'])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('10425')?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
