<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
    <input type="hidden" id="editId" value="<?php echo $editId ?>">
    <?php endif ?>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(11024) ?></div>

    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_area_group_title"><?=PerisianLanguageVariable::getVariable(10848)?></label>
                <input type="text" id="calsy_area_group_title" class="form-control" name="calsy_area_group_title" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_title}; endif?>"/>

            </div>
            
        </div>
                
    </div>
        
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable('p59b7dfff77c00') ?></div>
        
    <div class="modal-body user-selector-container">
    
        <ul class="list divider-full-bleed user-selector" id="area-group-area-selector" style="max-height: 200px">

            <?php for($i = 0; $i < count($result['list_areas']); ++$i): ?>

                <li class="tile user-selector" data-id="<?=$result['list_areas'][$i]["calsy_area_id"]?>">

                    <div class="tile-content">

                        <div class="checkbox checkbox-styled">

                            <label>

                                <input type="checkbox"<?=(in_array($result['list_areas'][$i]["calsy_area_id"], $result['list_areas_selected_identifiers']) ? " checked" : "")?>>
                                <span style="padding-left: 0;"></span>

                            </label>

                        </div>

                        <div class="user-selector-name"><?=$result['list_areas'][$i]["calsy_area_title"]?></div>

                    </div>

                </li>

            <?php endfor; ?>

        </ul>
        
        <script type="text/javascript">

            jQuery(document).ready(function() {

                var areaSelector = jQuery('#area-group-area-selector');

                areaSelector.find("li.user-selector").click(function() {

                    var checkbox = jQuery(this).find(":checkbox");
                    checkbox.prop("checked", !checkbox.prop("checked"))

                });

            });

        </script>

    </div>
    
    <script type="text/javascript">

        jQuery(document).ready(function() {

            AreaGroup.initEditAreaGroup();

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="AreaGroup.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="AreaGroup.saveAreaGroup()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>