<?php if($action == "list"): ?>
<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=PerisianLanguageVariable::getVariable('p59b7d543bebc7')?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 90%">
                                <a href="javascript:void(0)" onclick="AreaGroup.toggleSorting('calsy_area_group_title')"><?php PerisianLanguageVariable::printVariable(10848) ?></a>
                            </th>
                                                                                                                
                            <th style="width: 10%" class="text-right"><?php PerisianLanguageVariable::printVariable(10077) ?></th>
                            
                        </tr>

                    </thead>
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <tr id="table_info_order_<?=$currentEntry['calsy_area_group_id']?>">

                                <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
