<td>
    
    <b><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_area_group_title'])?></b>
        
    <?php
    
        $fieldList = [];
        
                
        {
            
            $areaCount = CalsyAreaGroup::getAreaCountByGroupId($currentEntry['calsy_area_group_id']);
            
            $areaString = ($areaCount > 0 ? (PerisianLanguageVariable::getVariable('p59b7dccece1f1') . ' ' . implode(", ", CalsyAreaGroup::getAreaTitlesByGroupId($currentEntry['calsy_area_group_id']))) : PerisianLanguageVariable::getVariable('p59b7dca7bfe6b'));
            
            array_push($fieldList, $areaString);

        }
        
        echo (count($fieldList) > 0 ? '</br>' : '') . implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="AreaGroup.editAreaGroup(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_area_group_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p59b7dd0b77d77') ?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="AreaGroup.deleteAreaGroup(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_area_group_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p59b7dd2664eed') ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
