<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/AreaGroup.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        AreaGroup.currentOffset = <?php echo $result['offset'] ?>;
        AreaGroup.currentLimit = <?php echo $result['limit'] ?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li><?=PerisianLanguageVariable::getVariable(11015)?></li>
        <li><?=PerisianLanguageVariable::getVariable('p59b7d543bebc7')?></li>
        <li class="active"><?=PerisianLanguageVariable::getVariable(10303)?></li>
        
    </ol>
    
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyAreaModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="height: 176px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {AreaGroup.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="AreaGroup.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="AreaGroup.showEntries(null, null, null, null, true);" type="button" style="position:relative; top:15px;"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="AreaGroup.createNewAreaGroup()" type="button">
                                <span class="md md-description"></span> <?php PerisianLanguageVariable::printVariable('p59b7d9edcca80') ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div>