
<?php $userFrontend = CalsyOrder::getUserFrontendById($currentEntry['calsy_order_user_frontend_id']); ?>
<?php $supplier = CalsySupplier::getSupplierById($currentEntry['calsy_order_supplier_id']); ?>

<td>
        
    <b><a href="javascript:Order.editOrder(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_order_id']) ?>)" onclick=""><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_order_title'])?></a></b>
    
    <?php if(CalsyUserFrontendModule::isEnabled() && ($currentEntry['calsy_order_user_frontend_id'] > 0 || $currentEntry['calsy_order_user_frontend_id'] == CalsyUserFrontend::DEFAULT_USER_ID)): ?>
        <br/><a href="<?=($currentEntry['calsy_order_user_frontend_id'] == CalsyUserFrontend::DEFAULT_USER_ID ? '#' : (PerisianFrameworkToolbox::getServerAddress() . 'user_frontend/overview/?search=' . $currentEntry['calsy_order_user_frontend_id']))?>"><?=PerisianLanguageVariable::getVariable(10798)?>: <?=PerisianFrameworkToolbox::highlightText($result['search'], $userFrontend->getFullName());?></a>
    <?php endif; ?>
        
    <?php if(CalsySupplierModule::isEnabled() && $currentEntry['calsy_order_supplier_id'] > 0): ?>
        <br/><a href="<?=PerisianFrameworkToolbox::getServerAddress()?>supplier/overview/?search=<?=$currentEntry['calsy_order_supplier_id']?>"><?=PerisianLanguageVariable::getVariable(10852)?>: <?=PerisianFrameworkToolbox::highlightText($result['search'], $supplier->getFormattedName());?></a>
    <?php endif; ?>
        
    <span class="table-info-additional">

        <?php

            $fieldList = Array();

            if(false)
            {

                //array_push($fieldList, "");

            }

            echo implode("<br/>", $fieldList); 

        ?>

    </span>

</td>

<td>
    
    <?=PerisianLanguageVariable::getVariable(10804)?>: <?=CalsyOrder::formatApplications(CalsyOrder::getNumberOfExistingApplications($currentEntry['calsy_order_user_frontend_id']), $currentEntry['calsy_order_use_count'])?>
    
    <span class="table-info-additional">
        
        <?php

            $fieldList = Array();

            if(false)
            {

                array_push($fieldList, "");

            }

            echo implode("<br/>", $fieldList); 

        ?>
        
    </span>
    
</td>

<td class="text-right">

    <nobr>
        
        <button onclick="Order.editOrder(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_order_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10799) ?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="Order.deleteOrder(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_order_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10800) ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
