<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Order.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        Perisian.initFieldClearButtons();
        
        Order.filterUserFrontendId = <?=(isset($result['filter_user_frontend_id']) ? $result['filter_user_frontend_id'] : '0')?>;
        Order.currentOffset = <?=$result['offset']?>;
        Order.currentLimit = <?=$result['limit']?>;
        
    });
    
    var showEntries = function() {
        
        Order.showEntries(null, null, null, null, true);
        
    };

    jQuery(document).ready(function() {

        jQuery('#filter_user_frontend_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'calsy_user_frontend_id',
                'fieldToDisplay': 'calsy_user_frontend_fullname',
                'forceEntryFromList': true,

                'url': Order.controller,

                'renderer': CalsyAutocompleteRenderer.renderUserFrontend,
                
                'onSelect': showEntries

            });

        });

        jQuery('#filter_supplier_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'calsy_supplier_id',
                'fieldToDisplay': 'calsy_supplier_fullname_formatted',
                'forceEntryFromList': true,

                'url': Order.controller,

                'renderer': CalsyAutocompleteRenderer.renderSupplier,
                
                'onSelect': showEntries

            });

        });

    });

</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10793) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div><!--end .section-header -->

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyOrderModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {Order.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="Order.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="Order.showEntries(null, null, null, null, true);" type="button" style="position:relative; top:15px; margin-bottom: 16px"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <?php if(CalsyUserFrontendModule::isEnabled() || CalsySupplierModule::isEnabled()): ?>

                <div class="col-lg-4 col-sm-4">

                    <div class="card">

                        <form class="form form-validate floating-label" novalidate="novalidate">

                            <div class="card-body">

                                <?php if(CalsySupplierModule::isEnabled()): ?>

                                    <div class="form-group">
                                        <label for="filter_user_frontend_id"><?php PerisianLanguageVariable::printVariable(10841) ?></label>
                                        <input type="text" id="filter_user_frontend_id" class="form-control btn-clear-field" name="filter_user_frontend_id" value="<?=(is_object(@$result['filter_user_frontend']) ? $result['filter_user_frontend']->getFullName() : '')?>" perisian-data-id="<?=(is_object(@$result['filter_user_frontend']) ? @$result['filter_user_frontend_id'] : '')?>" data-source="user_frontend"/>
                                        <button class="btn btn-default btn-clear" type="button" callback="Order.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                    </div>

                                <?php endif; ?>

                                <?php if(CalsySupplierModule::isEnabled()): ?>

                                    <div class="form-group"><label for="filter_supplier_id">
                                        <?php PerisianLanguageVariable::printVariable(10853) ?></label>
                                        <input type="text" id="filter_supplier_id" class="form-control btn-clear-field" name="filter_supplier_id" value="<?=(is_object(@$result['filter_supplier']) ? $result['filter_supplier']->getFormattedName() : '')?>" perisian-data-id="<?=(is_object(@$result['filter_supplier']) ? $result['filter_supplier_id'] : '')?>" data-source="supplier"/>
                                        <button class="btn btn-default btn-clear" type="button" callback="Order.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                    </div>

                                <?php endif; ?>

                            </div>

                        </form>

                    </div>

                </div>
            
            <?php endif; ?>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="Order.createNewOrder()" type="button">
                                <span class="md md-description"></span> <?php PerisianLanguageVariable::printVariable(10802) ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div><!--end .section-body -->