<div id="menubar-right" class="menubar menubar-right menubar-inverse<?php if($user->hasSetting('user_layout_menu_right_closed')): ?> menubar-right-closed<?php endif; ?>">
    
    <div class="menubar-scroll-panel" style="padding-bottom: 0;">

        <div class="col-sm-12" id="content-right">
            
            <h2 style="margin-top: 10px; margin-bottom: 10px;"><?=PerisianLanguageVariable::getVariable('p59c4044767c46')?></h2>
            
            <?=PerisianLanguageVariable::getVariable('p59c4047f8c9b9')?>
            
            <br/><br/>
            
            <div class="data-set-merge-element data-set-merge-element-empty"><?=PerisianLanguageVariable::getVariable('p59c405dee0252')?> #1</div>
            
            <div class="data-set-merge-element data-set-merge-element-data" style="display: none">
                
                <button onclick="UserFrontend.removeMergeDataSet(0);" class="btn btn-delete"><i class="fa fa-remove"></i></button>
                
                <?=PerisianLanguageVariable::getVariable(11070)?>: <span class="data-set-merge-element-id"></span><br/>
                <?=PerisianLanguageVariable::getVariable(10080)?>: <span class="data-set-merge-element-name"></span><br/>
                <span class="data-set-merge-element-count-calendar-entries"></span> <?=PerisianLanguageVariable::getVariable('p59c50429707fc')?>
                
            </div>
            
            <br/>
            
            <div class="data-set-merge-element data-set-merge-element-empty"><?=PerisianLanguageVariable::getVariable('p59c405dee0252')?> #2</div>
            
            <div class="data-set-merge-element data-set-merge-element-data" style="display: none">
                
                <button onclick="UserFrontend.removeMergeDataSet(1);" class="btn btn-delete"><i class="fa fa-remove"></i></button>
                
                <?=PerisianLanguageVariable::getVariable(11070)?>: <span class="data-set-merge-element-id"></span><br/>
                <?=PerisianLanguageVariable::getVariable(10080)?>: <span class="data-set-merge-element-name"></span><br/>
                <span class="data-set-merge-element-count-calendar-entries"></span> <?=PerisianLanguageVariable::getVariable('p59c50429707fc')?>
                
            </div>
            
            <br/>
            
            <button class="btn btn-primary-bright btn-block ink-reaction" id="button-validate-merge" onclick="UserFrontend.validateMerge();" type="button" disabled><i class="md md-compare"></i> <?=PerisianLanguageVariable::getVariable('p59c407cd1691b')?></button>
            
        </div>
        
        <br style="clear:both;"/>
        
        <div class="menubar-foot-panel"></div>
        
        <div id="menubar-right-handle" class="menubar-right-handle<?php if($user->hasSetting('user_layout_menu_right_closed')): ?> menubar-right-handle-closed<?php endif; ?>">
            
            <span class="fa <?=($user->hasSetting('user_layout_menu_right_closed') ? 'fa-caret-left' : 'fa-caret-right')?>"></span>
            
        </div>
        
    </div>
    
</div>