<?php require(__DIR__ . "/../../registration/registration_header.phtml"); ?>

<script type="text/javascript" src="assets/js/calsy/MasterDataInvitation.js"></script>

<div class="col-lg-12">
    
    <?php require __DIR__ . '/../../registration/element/welcome_image.phtml'; ?>
    
    <h2><?=PerisianLanguageVariable::getVariable('p5e618c6b95f3e')?></h2>

    <script type="text/javascript">

        jQuery(document).ready(function() 
        {
            
        });

    </script>
    
    <div class="form floating-label">
        
        <span class="alert alert-block alert-info" style="text-align: left;"><?=$result["message"]?></span>
        
        <a href="<?=$settings->getSetting('frontend_link_to_website')?>" class="btn btn-primary btn-raised btn-invitation-done" style="float: right; margin-top: 12px; margin-left: 12px;" type="button" id="btn-done"><?=lg('p5e67f67dd6529')?></a>
        
        <a href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>master_data/?e=<?=$result['code']?>" class="btn btn-raised btn-invitation" style="float: right; margin-top: 12px;" type="button" id="btn-edit-again"><?=lg('p5e619aabbe428')?></a>
        
    </div>

</div>

<?php require(__DIR__ . "/../../registration/registration_footer.phtml"); ?>
