<?php require(__DIR__ . "/../../registration/registration_header.phtml"); ?>

<script type="text/javascript" src="assets/js/calsy/MasterDataInvitation.js"></script>

<div class="col-lg-12">
    
    <?php require __DIR__ . '/../../registration/element/welcome_image.phtml'; ?>
    
    <h2><?=PerisianLanguageVariable::getVariable('p5e618c6b95f3e')?></h2>
    
    <?php if($result['isValid']): ?>
    
        <?php 

            $action = 'edit'; 
            $hideEmail = true;
            $customFields = !is_null($result['object']) ? $result['object']->getCustomFields() : Array();
        
        ?>

        <script type="text/javascript">

            jQuery(document).ready(function() 
            {

                MasterDataInvitation.init();

            });

        </script>

        <div class="form floating-label" id="form-master-data">

            <input type="hidden" id="code" value="<?=$result['code']?>"/>

            <span class="alert alert-block alert-<?=($result['isValid'] ? 'info' : 'danger')?>" style="text-align: left;"><?=$result["message"]?></span>
            
            <?php if(strlen($result['text_annotations']) > 0): ?>
            
                <span class="alert alert-block alert-warning" style="margin-top:12px; text-align: left;"><?=lg('p5e67e0ba8344a')?><br/><?=nl2br($result['text_annotations'])?></span>
            
            <?php endif; ?>

            <div class="form-horizontal form-master-data" role="form">

                <?php if($result['invitation']->getCountRequestedFieldsDefault() > 0): ?>
                
                    <div class="modal-body info-bar"><?=lg('p5e6195d835329')?></div>

                    <?php require __DIR__ . '/../../../calsy/user_frontend/edit/data_base.inc.phtml'; ?>

                    <?php require __DIR__ . '/../../../calsy/user_frontend/edit/data_address.inc.phtml'; ?>
                    
                <?php endif; ?>
                
                <?php if(count($customFields) > 0 && $result['invitation']->getCountRequestedFieldsCustom() > 0): ?>
                
                    <div class="modal-body info-bar"><?=lg('p5e6196bdf0bb4')?></div>
                    
                    <div class="modal-body">
                    
                        <div class="form-group">
                            
                            <?php $fieldIndex = 0; ?>

                            <?php foreach($customFields as $field): ?>
                            
                                <?php if(!$result['invitation']->isFieldRequested($field['id'])): continue; endif; ?>
            
                                <div class="col-sm-6 user-custom-input-field">

                                    <label for="custom_field_<?=$field['id']?>"><?=$field['label']?></label>
                                    <input type="text" id="custom_field_<?=$field['id']?>" class="form-control" name="custom_field_<?=$field['id']?>" value="<?=$field['value']?>"/>

                                </div>

                                <?php if($fieldIndex > 0 && ($fieldIndex + 1) % 2 == 0): ?>

                                    </div><div class="form-group">

                                <?php endif; ?>
                                        
                                <?php ++$fieldIndex; ?>

                            <?php endforeach; ?>

                        </div>
                        
                    </div>
                
                <?php endif; ?>
                
                
            </div>
            
            <br/>

            <button class="btn btn-primary btn-raised btn-invitation" style="float: right; margin-bottom: " type="button" id="btn-update-master-data"><?=lg('p5e618c6b95f3e')?></button>

        </div>
        
    <?php else: ?>
        
        <div class="form floating-label">
            
            <div class="alert alert-block alert-warning"><?=nl2br(lg('p5e618ce4174cd'))?></div>
            
        </div>
        
    <?php endif;?>

</div>

<?php require(__DIR__ . "/../../registration/registration_footer.phtml"); ?>