<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/FrontendSettings.js"></script>
<script type="text/javascript" src="assets/js/libs/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="assets/js/libs/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript" src="../assets/js/libs/dropzone/dropzone.min.js"></script>

<script type="text/javascript">

Dropzone.autoDiscover = false;

</script>

<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10878) ?></li>
    </ol>
    
</div><!--end .section-header -->

<div class="section-body">
     
    <div class="col-lg-4">

        <div class="card" style="min-height: 239px;">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10705); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result["list_settings_frontend"], 10705) ?>

            </form>

        </div>

    </div>
    
    <br style="clear:both"/>
    
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result["field_upload_image_welcome_frontend"]["title"]?></h2>
                    <?=$result["field_upload_image_welcome_frontend"]["description"]?>
                </div>
                
                <form action="<?=$result["field_upload_image_welcome_frontend"]["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result["field_upload_image_welcome_frontend"]["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result["field_upload_image_welcome_frontend"]["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    <input type="hidden" id="<?=$result["field_upload_image_welcome_frontend"]["name"]?>_filename" value="<?=$result["field_upload_image_welcome_frontend"]["image"]["name"]?>"/>

                </form>
            </div>
            
        </div>

        <script type="text/javascript">
        
        /**
         * Fired after a succesful upload.
         * 
         * @author Peter Hamm
         * @param Object data
         * @param Object response
         * @returns void
         */
        var onDropzoneUploadSuccess = function(data, response) 
        {

            var callback = JSON.parse(response);

            if(!callback.success)
            {

                toastr.error(callback.message);

            }
            else
            {
                
                
                toastr.success(callback.message);

            }

        }
        
        /**
         * Fired after removing an upload.
         * 
         * @author Peter Hamm
         * @param Object file
         * @returns void
         */
        var onDropzoneUploadRemoved = function(file)
        {
            
            var settingId = jQuery(this.element).attr('id').replace('form_', '');
            
            FrontendSettings.resetUpload(settingId);
            
        };
        
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result["field_upload_image_welcome_frontend"]["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', onDropzoneUploadSuccess);
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result["field_upload_image_welcome_frontend"]["image"]["name"]) > 0): ?>
                    
                        var currentFile = { 

                            name: "<?=$result["field_upload_image_welcome_frontend"]["image"]["name"]?>", 
                            size: <?=$result["field_upload_image_welcome_frontend"]["image"]["filesize"]?>, 
                            type: "<?=$result["field_upload_image_welcome_frontend"]["image"]["type"]?>",
                            url: '<?=$result["field_upload_image_welcome_frontend"]["image"]["url"]?>',
                            status: Dropzone.ADDED,
                            accepted: true

                        };

                        thisDropzone.emit("addedfile", currentFile);
                        thisDropzone.emit("thumbnail", currentFile, '<?=$result["field_upload_image_welcome_frontend"]["image"]["url"]?>');
                        thisDropzone.emit("complete", currentFile);

                        thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>
    
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result["field_upload_image_header_frontend"]["title"]?></h2>
                    <?=$result["field_upload_image_header_frontend"]["description"]?>
                </div>
                
                <form action="<?=$result["field_upload_image_header_frontend"]["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result["field_upload_image_header_frontend"]["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result["field_upload_image_header_frontend"]["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    <input type="hidden" id="<?=$result["field_upload_image_header_frontend"]["name"]?>_filename" value="<?=$result["field_upload_image_header_frontend"]["image"]["name"]?>"/>

                </form>
            </div>
            
        </div>

        <script type="text/javascript">
                
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result["field_upload_image_header_frontend"]["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', onDropzoneUploadSuccess);
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result["field_upload_image_header_frontend"]["image"]["name"]) > 0): ?>
                    
                        var currentFile = { 

                            name: "<?=$result["field_upload_image_header_frontend"]["image"]["name"]?>", 
                            size: <?=$result["field_upload_image_header_frontend"]["image"]["filesize"]?>, 
                            type: "<?=$result["field_upload_image_header_frontend"]["image"]["type"]?>",
                            url: '<?=$result["field_upload_image_header_frontend"]["image"]["url"]?>',
                            status: Dropzone.ADDED,
                            accepted: true

                        };

                        thisDropzone.emit("addedfile", currentFile);
                        thisDropzone.emit("thumbnail", currentFile, '<?=$result["field_upload_image_header_frontend"]["image"]["url"]?>');
                        thisDropzone.emit("complete", currentFile);

                        thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>
        
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result["field_upload_image_icon_favorite_frontend"]["title"]?></h2>
                    <?=$result["field_upload_image_icon_favorite_frontend"]["description"]?>
                </div>
                
                <form action="<?=$result["field_upload_image_icon_favorite_frontend"]["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result["field_upload_image_icon_favorite_frontend"]["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result["field_upload_image_icon_favorite_frontend"]["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    <input type="hidden" id="<?=$result["field_upload_image_icon_favorite_frontend"]["name"]?>_filename" value="<?=$result["field_upload_image_icon_favorite_frontend"]["image"]["name"]?>"/>

                </form>
            </div>
            
        </div>

        <script type="text/javascript">
                
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result["field_upload_image_icon_favorite_frontend"]["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', onDropzoneUploadSuccess);
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result["field_upload_image_icon_favorite_frontend"]["image"]["name"]) > 0): ?>

                        var currentFile = { 

                            name: "<?=$result["field_upload_image_icon_favorite_frontend"]["image"]["name"]?>", 
                            size: <?=$result["field_upload_image_icon_favorite_frontend"]["image"]["filesize"]?>, 
                            type: "<?=$result["field_upload_image_icon_favorite_frontend"]["image"]["type"]?>",
                            url: '<?=$result["field_upload_image_icon_favorite_frontend"]["image"]["url"]?>',
                            status: Dropzone.ADDED,
                            accepted: true

                        };

                        thisDropzone.emit("addedfile", currentFile);
                        thisDropzone.emit("thumbnail", currentFile, '<?=$result["field_upload_image_icon_favorite_frontend"]["image"]["url"]?>');
                        thisDropzone.emit("complete", currentFile);

                        thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>
    
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result["field_upload_image_backdrop_frontend"]["title"]?></h2>
                    <?=$result["field_upload_image_backdrop_frontend"]["description"]?>
                </div>
                
                <form action="<?=$result["field_upload_image_backdrop_frontend"]["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result["field_upload_image_backdrop_frontend"]["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result["field_upload_image_backdrop_frontend"]["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    <input type="hidden" id="<?=$result["field_upload_image_backdrop_frontend"]["name"]?>_filename" value="<?=$result["field_upload_image_backdrop_frontend"]["image"]["name"]?>"/>

                </form>
                
            </div>
            
        </div>

        <script type="text/javascript">
                
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result["field_upload_image_backdrop_frontend"]["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', function(data, response) {
                        
                        var callback = onDropzoneUploadSuccess(data, response);
                        
                        if(callback.success)
                        {
                            
                            // Update the icon in the browser
                            var newFavIconAddress = Perisian.addUrlParam(jQuery("#favicon").attr("href") + "?", "t", (new Date().getTime()));
                            jQuery("#favicon").attr("href", newFavIconAddress);
                            
                        }
                        
                    });
                    
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result["field_upload_image_backdrop_frontend"]["image"]["name"]) > 0): ?>
                    
                        var currentFile = { 

                            name: "<?=$result["field_upload_image_backdrop_frontend"]["image"]["name"]?>", 
                            size: <?=$result["field_upload_image_backdrop_frontend"]["image"]["filesize"]?>, 
                            type: "<?=$result["field_upload_image_backdrop_frontend"]["image"]["type"]?>",
                            url: '<?=$result["field_upload_image_backdrop_frontend"]["image"]["url"]?>',
                            status: Dropzone.ADDED,
                            accepted: true

                        };

                        thisDropzone.emit("addedfile", currentFile);
                        thisDropzone.emit("thumbnail", currentFile, '<?=$result["field_upload_image_backdrop_frontend"]["image"]["url"]?>');
                        thisDropzone.emit("complete", currentFile);

                        thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>
    
    <div class="col-lg-12">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10882); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result["list_settings_frontend_start_page"], 10882) ?>

            </form>

        </div>

    </div>
    
    <div class="col-lg-12">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10974); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result["list_settings_frontend_start_page_registration_closed"], 10974) ?>

            </form>

        </div>

    </div>
    
    <div class="col-lg-12">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10879); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result["list_settings_frontend_contact"], 10879) ?>

            </form>

        </div>

    </div>
    
    <div class="col-lg-12">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(11060); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result["list_settings_frontend_gtc"], 11060) ?>

            </form>

        </div>

    </div>
    
</div><!--end .section-body -->