<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.doubletap.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.longclick.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalendarEntry.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/CalendarContextMenu.js"></script>
<script type="text/javascript" src="../assets/js/calsy/UserFrontend.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../assets/js/libs/moment/moment-with-locales.js"></script>

<?php if(CalsyProcessEngineModule::isEnabled() && CalsyProcessEngineModule::userCanManageProcesses($user)): ?>
    <script type="text/javascript" src="../assets/js/calsy/modules/CalendarProcessEngine.js"></script>
<?php endif; ?>

<?php if(PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId()) != "en"): ?>
    <script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<?php endif; ?>

<script type="text/javascript" src="../assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/fullcalendar/fullcalendar.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10765)?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div>

<div class="section-body">
    
    <div class="col-sm-12" id="calendarContainer">
        
        <script type="text/javascript">
            
            Calendar.languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
            Calendar.defaultEventEndTime = <?=CalsyCalendar::getDefaultEventEndTime()?>;
            Calendar.userId = <?=$user->{$user->field_pk}?>;
            Calendar.userMayEditForOtherUsers = <?=($user->hasSetting('is_allowed_editing_all_users_appointments') == 1 ? "true" : "false")?>;
            Calendar.jumpToTodayAfterSaving = <?=(PerisianSystemSetting::getSettingValue('calendar_on_save_jump_to_today') == 1 ? 'true' : 'false')?>;
            Calendar.editEntryDirectly = <?=(PerisianSystemSetting::getSettingValue('calendar_edit_entry_directly') == 1 ? 'true' : 'false')?>;
            Calendar.isGlobal = <?=$result['flag_is_global']?>;
            
            jQuery(document).on('ready', function() {
                
                Calendar.initialize('user', '<?=$result['timestamp_calendar_start']?>', '<?=$user->{$user->field_pk}?>');
                
                Calendar.showEntryBrowser();
                
                <?php if(isset($result['entry_to_open']) && @$result['entry_to_open'] != null): ?>
                    
                    <?php if(PerisianSystemSetting::getSettingValue('calendar_edit_entry_directly') == 1): ?>
                        
                        Calendar.editEvent(<?=$result['entry_to_open']->{$result['entry_to_open']->field_pk}?>);
                        
                    <?php else: ?>
                        
                        Calendar.infoEvent(<?=$result['entry_to_open']->{$result['entry_to_open']->field_pk}?>);
                        
                    <?php endif; ?>
                    
                <?php endif;?>

            });
            
        </script>
        
    </div>
    
</div>