<script type="text/javascript" src="assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/calsy/CalendarSettings.js"></script>
<script type="text/javascript" src="assets/js/system/LanguageVariable.js"></script>
<script type="text/javascript" src="assets/js/libs/dropzone/dropzone.min.js"></script>

<script type="text/javascript">

    Dropzone.autoDiscover = false;

</script>

<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10135) ?></li>
    </ol>
    
</div>

<div class="section-body">
     
    <div class="col-lg-6">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10776); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings'], 10776) ?>

            </form>

        </div>

    </div>
    
    <div class="col-lg-6">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10857); ?></h2>
                    
                </div>
                
                <div class="card-body" style="padding-bottom: 0;">
                    
                    <div class="col col-lg-11" style="padding-left: 0;">

                        <div class="form-group">

                            <input type="text" class="form-control readonly-edit" id="calsy_appointment_title_default_fallback" name="calsy_appointment_title_default_fallback" data-sub-id="11014" value="<?=PerisianLanguageVariable::getVariable('11014')?>" readonly>

                            <label for="calsy_appointment_title_default_fallback"><?=PerisianLanguageVariable::getVariable('p58ac77264f734')?></label>

                        </div>
                        
                    </div>

                    <div class="col col-lg-1" style="padding-right: 0;">

                        <button class="btn btn-primary-bright ink-reaction" style="width: 100%; margin-top: 18px;" id="button_edit_default_title_fallback" type="button" title="<?=PerisianLanguageVariable::getVariable('p58ab3fd09f119')?>"><span class="md md-edit"></span></button>

                    </div>
                
                </div>

                <div class="card-body info-bar">

                    <b><?=PerisianLanguageVariable::getVariable('p58ab4374d9310')?></b><br/>
                    <?=nl2br(PerisianLanguageVariable::getVariable('p58ab42ad69fff'))?><br/><br/>
                    
                    <b><?=PerisianLanguageVariable::getVariable('10899')?>:</b> <?=PerisianLanguageVariable::getVariable('p58ab483e784be')?>
                    
                </div>
                
                <div class="card-body" style="padding-bottom: 0;">
                    
                    <div class="col col-lg-11" style="padding-left: 0;">

                        <div class="form-group">

                            <input type="text" class="form-control readonly-edit" id="calsy_appointment_title_default_backend" name="calsy_appointment_title_default_backend" data-sub-id="p58ab37027b186" value="<?=PerisianLanguageVariable::getVariable('p58ab37027b186')?>" readonly>

                            <label for="calsy_appointment_title_default_backend"><?=PerisianLanguageVariable::getVariable('p58ab36c545a20')?></label>

                        </div>
                        
                    </div>

                    <div class="col col-lg-1" style="padding-right: 0;">

                        <button class="btn btn-primary-bright ink-reaction" style="width: 100%; margin-top: 18px;" id="button_edit_default_title_backend" type="button" title="<?=PerisianLanguageVariable::getVariable('p58ab3fd09f119')?>"><span class="md md-edit"></span></button>

                    </div>
                    
                    <div class="col col-lg-11" style="padding-left: 0;">

                        <div class="form-group" style="margin-bottom: 0;">

                            <input type="text" class="form-control readonly-edit" id="calsy_appointment_title_default_frontend" name="calsy_appointment_title_default_frontend" data-sub-id="p58ab456403156" value="<?=PerisianLanguageVariable::getVariable('p58ab456403156')?>" readonly>

                            <label for="calsy_appointment_title_default_frontend"><?=PerisianLanguageVariable::getVariable('p58ab4539ec8e3')?></label>

                        </div>
                        
                    </div>

                    <div class="col col-lg-1" style="padding-right: 0;">

                        <button class="btn btn-primary-bright ink-reaction" style="width: 100%; margin-top: 18px;" id="button_edit_default_title_frontend" type="button" title="<?=PerisianLanguageVariable::getVariable('p58ab3fd09f119')?>"><span class="md md-edit"></span></button>

                    </div>
                    
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_appointments'], 10776) ?>
                
            </form>

        </div>
        
        <script type="text/javascript">
            
            var defaultTitleFields = [

                {

                    'input': 'calsy_appointment_title_default_backend',
                    'button': 'button_edit_default_title_backend'

                },

                {

                    'input': 'calsy_appointment_title_default_frontend',
                    'button': 'button_edit_default_title_frontend'

                },

                {

                    'input': 'calsy_appointment_title_default_fallback',
                    'button': 'button_edit_default_title_fallback'

                }

            ];
            
            var initializeDefaultTitleEdit = function()
            {
                
                for(var i = 0; i < defaultTitleFields.length; ++i)
                {
                    
                    var defaultTitleDisplayElement = jQuery('#' + defaultTitleFields[i]['input']);
                    var defaultTitleDisplayElementButtonEdit = jQuery('#' + defaultTitleFields[i]['button']);

                    defaultTitleDisplayElement.click(function() {
                        
                        var defaultTitleSubId = jQuery(this).attr('data-sub-id');

                        LanguageVariable.editVariable(defaultTitleSubId);

                    });

                    defaultTitleDisplayElementButtonEdit.click(function() {
                                                
                        var defaultTitleSubId = '';
                        
                        for(var i = 0; i < defaultTitleFields.length; ++i)
                        {
                            
                            if(defaultTitleFields[i]['button'] == jQuery(this).attr('id'))
                            {
                                
                                defaultTitleSubId = jQuery('#' + defaultTitleFields[i]['input']).attr('data-sub-id');
                                
                            }
                            
                        }

                        LanguageVariable.editVariable(defaultTitleSubId);

                    });
                    
                }
               
                LanguageVariable.onSaveSuccessful = function(data) 
                {
                    
                    for(var i = 0; i < defaultTitleFields.length; ++i)
                    {

                        var defaultTitleDisplayElement = jQuery('#' + defaultTitleFields[i]['input']);
                        var defaultTitleSubId = defaultTitleDisplayElement.attr('data-sub-id');

                        var newValue = Language.getLanguageVariable(defaultTitleSubId, true);
                        defaultTitleDisplayElement.val(newValue);

                    }

                };
                
            };
                    
            jQuery(document).ready(function() {
                
                initializeDefaultTitleEdit();
                               
            });
        
        </script>

    </div>
    
    <div class="col-lg-6">

        <div class="card">

            <div class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable('p5a072fe142f65'); ?></h2>
                    
                    <?=PerisianLanguageVariable::getVariable('p5a07370fba1a1')?>
                    
                </div>
                                
                <div class="card-body" style="padding-top: 0;" id="displayed-days-list">
                    
                    <?php for($i = 0; $i < count($result['list_days']); ++$i): ?>
                    
                        <div class="displayed-days-list-day">

                            <div class="col col-lg-12" style="padding-left: 0; text-align: center;">

                                <h3><?=$result['list_days'][$i]?></h3>

                            </div>

                            <div class="col col-lg-3">

                                <div class="checkbox checkbox-styled">

                                    <label>
                                        <input type="checkbox" id="day_<?=$i?>_yearly" name="day_<?=$i?>_yearly"<?=($result['list_settings_displayed_days'][$i]['year'] == 1 ? ' checked' : '')?>><span></span>
                                        <label for="day_<?=$i?>_yearly"><?=PerisianLanguageVariable::getVariable('10780')?></label>
                                    </label>

                                </div>

                            </div>

                            <div class="col col-lg-3">

                                <div class="checkbox checkbox-styled">

                                    <label>
                                        <input type="checkbox" id="day_<?=$i?>_monthly" name="day_<?=$i?>_monthly"<?=($result['list_settings_displayed_days'][$i]['month'] == 1 ? ' checked' : '')?>><span></span>
                                        <label for="day_<?=$i?>_monthly"><?=PerisianLanguageVariable::getVariable('10768')?></label>
                                    </label>

                                </div>

                            </div>

                            <div class="col col-lg-3">

                                <div class="checkbox checkbox-styled">

                                    <label>
                                        <input type="checkbox" id="day_<?=$i?>_weekly" name="day_<?=$i?>_weekly"<?=($result['list_settings_displayed_days'][$i]['week'] == 1 ? ' checked' : '')?>><span></span>
                                        <label for="day_<?=$i?>_weekly"><?=PerisianLanguageVariable::getVariable('10769')?></label>
                                    </label>

                                </div>

                            </div>

                            <div class="col col-lg-3">

                                <div class="checkbox checkbox-styled">

                                    <label>
                                        <input type="checkbox" id="day_<?=$i?>_daily" name="day_<?=$i?>_daily"<?=($result['list_settings_displayed_days'][$i]['day'] == 1 ? ' checked' : '')?>><span></span>
                                        <label for="day_<?=$i?>_daily"><?=PerisianLanguageVariable::getVariable('10816')?></label>
                                    </label>

                                </div>

                            </div>

                            <hr/>
                            
                        </div>
                    
                    <?php endfor; ?>
                    
                </div>
                
                <div class="card-actionbar">

                    <div class="card-actionbar-row">

                        <button class="btn ink-reaction" type="button" onclick="CalendarSettings.enableAllDisplayableDays()"><?=PerisianLanguageVariable::getVariable('10945')?></button>
                        <button class="btn btn-primary-bright ink-reaction" type="button" onclick="CalendarSettings.saveDisplayableDays()"><?=PerisianLanguageVariable::getVariable('10129')?></button>

                    </div>

                </div>
                                
            </div>

        </div>
        
    </div>
    
</div>