
<button id="btn-table-reservation-approve" onclick="javascript:TableReservationFrontend.approveReservation()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?=lg('p5f71608c2865c')?></button>
<button id="btn-table-reservation-approval-change-selection" onclick="javascript:TableReservationFrontend.changeSelection()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-left"></i>&nbsp;<?=lg('p5f6d74b2b3483')?></button>

<span class="alert alert-block alert-info table-reservation-login-successful-info" style="text-align: left;"><?=nl2br(str_replace("%userName%", $userFrontend->getFullName(), lg('p5f7160433ab94')))?></span>

<br style="clear: both;"/>

<?php 
/*
<div class="col col-sm-12 table-reservation-approval-location-details">

    <?php require('location_details.inc.phtml'); ?>

</div>
 */
?>