
<?php if($result['success']): ?>

    <span class="alert alert-block alert-success" style="text-align: left;"><?=$result['message']?></span>

    <br style="clear: both;"/>
    
    <button id="btn-table-reservation-conformation-to-frontend" onclick="javascript:TableReservationFrontend.goToFrontend()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?=lg('p5f7b36789b53e')?></button>

    <br style="clear: both;"/>  

<?php 
/*
    <div class="col col-sm-12 table-reservation-confirmation-location-details">

        <?php require('location_details.inc.phtml'); ?>

    </div>
 */ 
?>

<?php else: ?>
    
    <span class="alert alert-block alert-danger" style="text-align: left;"><?=$result['message']?></span>
    
    <button id="btn-table-reservation-approval-change-selection-on-error" onclick="javascript:TableReservationFrontend.changeSelection()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-left"></i>&nbsp;<?=lg('p5f6d74b2b3483')?></button>

<?php endif; ?>
