<?php 

if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter)
{

    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/registration_header.phtml");
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/registration_gtc_modal.phtml");
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/dynamic_modal.phtml");
    
}

?>

<link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/libs/wizard/wizard.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/jquery-ui/jquery-ui-theme.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/calsy/appointment_assistant.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/calsy/table_reservation.css"/>

<div class="col-lg-12">
    
    <?php if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter): ?>
    
        <?php require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/element/welcome_image.phtml"); ?>
        
        <h2><?=lg('p5f6d4be4177d1')?></h2>
        
        <span class="alert alert-info" id="info-landing-header" style="display:block;">
            <?=nl2br(lg('p5f6d499063463'))?>
        </span>
        
        <span class="alert alert-info" id="info-landing-header-details"></span>
    
    <?php endif; ?>

    <div id="success-box" style="display: none;">
                
        <span class="alert alert-success" style="display:block"><b><?=PerisianLanguageVariable::getVariable(11049)?></b> <span id="success-box-content"></span></span>

        <br style="clear:both;"/>
        
    </div>

    <div id="table-reservation-content-box">
        
        <div id="table-reservation-loading-indicator" class="loading-indicator"></div>
        
        <?php require 'selection.phtml'; ?>
                 
        <?php if(!isset($userFrontend) || !$userFrontend->isLoggedIn()): ?>

            <?php require 'login.phtml'; ?>
                
        <?php endif; ?>
        
        <div id="table-reservation-approval"></div>

        <div id="table-reservation-confirmation"></div>

    </div>

</div>
        
<script type="text/javascript">

    jQuery(document).ready(function() {
        
        toastr.options.positionClass = 'toast-top-center'
        
        TableReservationFrontend.initializeLandingPage();
        
    });

</script>

<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/calsy/TableReservationFrontend.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/libs/moment/moment-with-locales.js"></script>

<?php if(PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId()) != 'en'): ?>

    <script type="text/javascript" src="assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
    
<?php endif; ?>

<script type="text/javascript" src="assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianFormPager.js"></script>
<script type="text/javascript" src="assets/js/front/AppointmentAssistant.js"></script>

<?php 

if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter)
{
    
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/calsy/frontend/registration/registration_footer.phtml"); 
    
}

?>