
<?php if(strlen($result['location']->{$result['location']->field_image}) > 0): ?>

    <img src="<?=$result['location']->getImageUrl()?>" class="table-reservation-approval-location-details-image"/>

    <br/>

<?php endif; ?>

<?php if(strlen($result['location']->{$result['location']->field_description}) > 0): ?>

    <b><?=lg('10268')?>:</b>
    <br/>
    <?=nl2br($result['location']->{$result['location']->field_description})?>

<?php endif; ?>

<?php if(strlen($result['location']->{$result['location']->field_description}) > 0 && strlen($result['location']->{$result['location']->field_address}) > 0): ?>

    <br/><br/>

<?php endif; ?>

<?php if(strlen($result['location']->{$result['location']->field_address}) > 0): ?>

    <b><?=lg('p5f7165188f8ca')?>:</b>
    <br/>
    <?=nl2br($result['location']->{$result['location']->field_address})?>

<?php endif; ?>
