
<?php if(!$userFrontend || !$userFrontend->isLoggedIn()): ?>

    <div id="table-reservation-login-registration">

        <span class="alert alert-warning" style="display:block;">
            <?=nl2br(lg('p5f6d4e6f3d775'))?>
        </span>

        <?php require __DIR__ . '/../../../appointment_assistant/registration_login.phtml'; ?>

        <button id="btn-table-reservation-login" onclick="javascript:TableReservationFrontend.checkLogin()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?=lg('p5f6d4eb22a48b')?></button>
        <button id="btn-table-reservation-registration" onclick="javascript:TableReservationFrontend.checkRegistration()" style="display: none; width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?=lg('p5f6d4ecd118fe')?></button>

        <button id="btn-table-reservation-change-selection" onclick="javascript:TableReservationFrontend.changeSelection()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-left"></i>&nbsp;<?=lg('p5f6d74b2b3483')?></button>

        <br/>
        <br/>

        <a id="button-pw-forgotten" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>registration/?do=rp"><?=lg(10618)?></a>

        <script type="text/javascript">

            jQuery(document).ready(function() {

                TableReservationFrontend.initLoginRegistration();

            });

        </script>

    </div>

<?php endif; ?>