<div id="table-reservation-selection">
    
    <div class="form-group form-pager" style="margin-bottom: 0;">

        <div class="form-group form-pager" style="margin-bottom: 0;">

            <div class="col-sm-4 form-pager-input-label"><?=lg(11041)?></div>

            <div class="col-sm-4" style="padding: 10px 10px 10px 10px;">

                <input type="text" class="form-control datepicker-item" id="calsy_reservation_time_field_date" name="calsy_reservation_time_field_date" value="<?=@$result['begin_date']?>" style="text-align: center;">

            </div>

            <div class="col-sm-4" style="padding: 10px 10px 10px 10px;">

                <input type="text" class="form-control time-mask" name="calsy_reservation_time_field_time" id="calsy_reservation_time_field_time" value="<?=$result['begin_time']?>" style="text-align: center;">

            </div>

            <br style="clear:both">
            
        </div>
        
    </div>
    
    <div class="form-group form-pager">
        
        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label"><?=lg('p5f6d65df79c6c')?></div>

            <div class="col-sm-8" style="padding: 10px 10px 10px 10px;">

                <input type="number" class="form-control datepicker-item" id="calsy_reservation_number_persons" name="calsy_reservation_number_persons" min="1" value="<?=@$result['number_persons']?>" style="text-align: center;">

            </div>

            <br style="clear:both">

        </div>

    </div>

    <div class="col col-lg-12" style="text-align: center; display: block;">

        <button class="btn btn-primary" id="btn-table-reservation-find-table"><i class="fa fa-arrow-right"></i> <?=lg('p5f6d5a0f6f8eb')?></button>

    </div>
    
    <div style="clear:both;">
    
        <div class="form-group" id="table-reservation-selection-info-box">
            
            <div class="alert alert-success alert-block"></div>
            
            <button class="btn btn-primary" id="btn-book-tables-confirm"><i class="fa fa-check"></i> <?=lg('p5fe3471094b08')?></button>
            
        </div>
        
        <div class="form-group form-pager" id="table-reservation-selection-tiles"></div>
        <div class="form-group form-pager" id="table-reservation-selection-message"></div>
        <div class="loading-indicator" id="table-reservation-selection-loading-indicator"></div>
        
    </div>

</div>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Language.storeToCache('p5fe344099c2ef', '<?=lg('p5fe344099c2ef')?>');
        Language.storeToCache('p5fe344ffdf756', '<?=lg('p5fe344ffdf756')?>');
        Language.storeToCache('p5fe345f89b270', '<?=lg('p5fe345f89b270')?>');
        
    });

</script>
