
<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="modal-body text-center" style="text-align:left;">

    <?=$result['data_additional']?>

</div>

<div class="modal-footer">

    <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="UserFrontend.cancel()"><?php PerisianLanguageVariable::printVariable(10495) ?></button>
    
</div>