<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {

        var element = jQuery("#" + Perisian.containerIdentifier);
        var elementContainer = element.find('.modal-content');
        
        elementContainer.find("li.upcoming-event").click(function() {
            
            var clickedElement = jQuery(this);
            var clickedElementId = clickedElement.attr('data-id');
            
            Calendar.copyEntry(clickedElementId);
            
            Calendar.historyData = null;
            
        });
        
    });

</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">
        
    <div class="modal-body">
        
        <?php if(count($result['list']) == 0): ?>
        
            <center><?=PerisianLanguageVariable::getVariable('p584314b4cc553')?></center>
        
        <?php else: ?>
            
            <ul class="list divider-full-bleed list-events" style="overflow-y: visible;">
            
                <?php for($i = 0; $i < count($result['list']); ++$i): ?>

                    <?php

                        $entry = new CalsyCalendarEntry($result['list'][$i]["calsy_calendar_entry_id"]);
                        
                        $userBackend = new CalsyUserBackend($entry->{$entry->field_user_id});
                        $userFrontendWithOrders = $entry->getUserFrontendWithOrders();
                        $userFrontendList = $entry->getUserFrontendListAsString();
                        
                        $areaObject = null;
                        
                        for($k = 0; $k < count($userFrontendWithOrders); ++$k)
                        {
                            
                            if($userFrontendWithOrders[$k]['object']->{$userFrontendWithOrders[$k]['object']->field_user_frontend_id} == $result['id_user_frontend'])
                            {
                                
                                $areaObject = new CalsyArea($userFrontendWithOrders[$k]['object']->{$userFrontendWithOrders[$k]['object']->field_area_id});
                                
                            }
                            
                        }

                    ?>

                    <li class="tile upcoming-event<?=(CalsyCalendar::isSameDay($result['list'][$i]["calsy_calendar_entry_date_begin_timestamp"], time()) ? " fc-today" : "")?>" data-id="<?=$result['list'][$i]["calsy_calendar_entry_id"]?>">

                        <div class="tile-content">

                            <div class="event-details">

                                <b><?=$result['list'][$i]["calsy_calendar_entry_title"]?></b>

                                <?=CalsyCalendarEntry::getTagsForEntryAsHtml($result['list'][$i]["calsy_calendar_entry_id"])?><br/>
                                
                                <?php if(!is_null($areaObject) && strlen($areaObject->{$areaObject->field_title}) > 0): ?>
                                
                                    <?=$areaObject->{$areaObject->field_title}?>, 
                                
                                <?php endif; ?>
                                    
                                <b><?=$userBackend->{$userBackend->field_fullname}?></b><br/>

                                <?=CalsyCalendarEntry::getFormattedEventTimeString($result['list'][$i]["calsy_calendar_entry_date_begin_timestamp"], $result['list'][$i]["calsy_calendar_entry_date_end_timestamp"])?>

                            </div>

                        </div>

                    </li>

                <?php endfor; ?>
            
            </ul>
            
        <?php endif; ?>

    </div>
    
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="Calendar.handleHistoryBack()">&laquo; <?php PerisianLanguageVariable::printVariable(10380) ?></button>

</div>