<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if($action == 'edit'): ?>
    
        <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
        
    <?php endif ?>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10789) ?></div>
    
    <?php require __DIR__ . '/edit/data_base.inc.phtml'; ?>
            
    <?php require __DIR__ . '/edit/data_address.inc.phtml'; ?>
    
    <?php require __DIR__ . '/edit/data_custom_input.inc.phtml'; ?>
    
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="UserFrontend.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="UserFrontend.saveUserFrontend()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>