<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        Validation.securityPasswordPolicy = '<?=$result['security_policy_password']['type']?>';
        
    });
    
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">

    <div class="modal-body">
        
        <span id="password_error_box" class="text-danger" style="display:none"><i class="fa fa-exclamation-circle"></i> <span></span><br/><br/></span>
        
        <?php if($action != 'edit'): ?>

            <div class="form-group">
                <div class="col-sm-12">

                    <label for="user_frontend_password_1"><?php PerisianLanguageVariable::printVariable(10091) ?></label>
                    <input type="password" id="user_frontend_password_1" class="form-control" name="user_frontend_password_1"/>

                </div>
                
                <div class="col-sm-12">

                    <label for="user_frontend_password_2"><?php PerisianLanguageVariable::printVariable(10092) ?></label>
                    <input type="password" id="user_frontend_password_2" class="form-control" name="user_frontend_password_2"/>

                </div>
                
                <div class="col-sm-12" style="padding: 10px 10px 10px 10px;">

                    <br/><b><?=PerisianLanguageVariable::getVariable('p5aa428c7eecd8')?>:</b><br/>
                    
                    <span class="password-info">

                        <?php for($i = 0; $i < count($result['security_policy_password']['requirements']); ++$i): ?>

                        &bull; <?=$result['security_policy_password']['requirements'][$i]; ?><br/>

                        <?php endfor; ?>

                    </span>

                </div>
                
            </div>
        
        <?php endif; ?>

    </div>
         
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="UserFrontend.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="UserFrontend.savePassword()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>