
<script type="text/javascript">

jQuery(document).ready(function() {
    
    var dropzone = new Dropzone('#import_form', {
        
        uploadMultiple: false,
        maxFiles: 1,
        acceptedFiles: '.txt',
        dictMaxFilesExceeded: "<?php PerisianLanguageVariable::printVariable(10663); ?>",
        dictInvalidFileType: "<?php PerisianLanguageVariable::printVariable(10668); ?>"
        
    });
    
    dropzone.on('success', UserFrontend.onUploadSuccess)
    
});

</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<div class="modal-body text-center">

    <div class="form">

        <div class="form-group" style="text-align: left;">

            <select id="import_type"<?php if(count($result['import_types_enabled']) == 1): ?> disabled<?php endif ?> name="import_type" class="form-control">

                <?php foreach($result['import_types_enabled'] as $key => $value): ?>
                    <option value="<?=$value["identifier"]?>" data-version="<?=$value["version"]?>" <?php if($key == 0):?> selected<?php endif; ?>><?php echo $value["name"] . " " . $value["version"] ?></option>
                <?php endforeach ?>

            </select>

            <label for="import_type"><?php PerisianLanguageVariable::printVariable('p57658aba30894');?></label>

        </div>

    </div>

    <span class="import-selection">

        <form action="<?=PerisianFrameworkToolbox::getServerAddress() . '/ajax/data_import/'?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="import_form">
            
            <input type="hidden" name="do" value="upload"/>
            
            <div class="dz-message">
                <h3><?php PerisianLanguageVariable::printVariable(10662);?></h3>
                <em><?php PerisianLanguageVariable::printVariable(10668);?></em>
            </div>
            
        </form>
        
        <input type="hidden" id="uploaded_file" value=""/>

    </span>

    <span class="import-processing">
        <?php PerisianLanguageVariable::printVariable(10667);?>
    </span>

    <span class="import-result"></span>

</div>

<div class="modal-footer">

    <span class="import-selection">
    
        <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="UserFrontend.cancel()"><?php PerisianLanguageVariable::printVariable(10495) ?></button>
        <button type="button" class="disabled btn btn-primary-bright" id="startButton" onclick="UserFrontend.startImport()"><span class="glyphicon glyphicon-import"></span> <?php PerisianLanguageVariable::printVariable(10660) ?></button>
    
    </span>
    
    <span class="import-processing text-center">

        <img width="33" height="33" src="assets/img/custom/loading_indicator.gif"/>

    </span>
    
    <span class="import-result">
    
        <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="UserFrontend.cancel()"><?php PerisianLanguageVariable::printVariable(10495) ?></button>
    
    </span>
    

</div>