<td>
        
    <b><a href="javascript:UserFrontend.editUserFrontend(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_frontend_id']) ?>)" onclick=""><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_fullname'])?></a></b>
    
    <?php if(strlen($currentEntry['calsy_user_frontend_address_street']) > 0 || strlen($currentEntry['calsy_user_frontend_address_street_number']) > 0): ?>
    
        <br/><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_address_street'])?> <?=$currentEntry['calsy_user_frontend_address_street_number']?><br/>
    
    <?php endif; ?>
    
    <?php if(strlen($currentEntry['calsy_user_frontend_address_additional']) > 0): ?>
    
        <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_address_additional'])?><br/>
    
    <?php endif; ?>
        
    <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_address_zip'])?> <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_address_city'])?>
        
    <?php if(strlen($currentEntry['calsy_user_frontend_address_country']) > 0): ?>
    
        <br/><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_address_country'])?>
    
    <?php endif; ?>
        
    <?php if($currentEntry['calsy_user_frontend_registration_status'] == 'inactive'): ?>

        <br/><span class="alert alert-inline alert-warning"><?=lg('p57a9e6cf72ca2')?></span>

    <?php endif; ?>
                
    <span class="table-info-additional">

        <?php

            $fieldList = Array();

            if($currentEntry['calsy_user_frontend_registration_status'] == 'inactive')
            {

                //array_push($fieldList, '<span class="alert alert-warning">' . lg('p57a9e6cf72ca2') . '</span>');

            }

            echo implode("<br/>", $fieldList); 

        ?>

    </span>

</td>

<td>
    
    <?php
    
        $fieldList = [];
    
        if(strlen($currentEntry['calsy_user_frontend_phone']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10486) . ": " . $currentEntry['calsy_user_frontend_phone']);
            
        }
        
        if(strlen($currentEntry['calsy_user_frontend_fax']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10562) . ": " . $currentEntry['calsy_user_frontend_fax']);
    
        }
        
        if(strlen($currentEntry['calsy_user_frontend_email_contact']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10208) . ": <b>" . $currentEntry['calsy_user_frontend_email_contact'] . "</b><br/>\n(" . PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_email']) . ")");
    
        }
        else if(strlen($currentEntry['calsy_user_frontend_email']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10208) . ": " . PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_frontend_email']));
    
        }
        
        
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td>
    
    <?php if(CalsyOrderModule::isEnabled()): ?>
        <a href="<?=PerisianFrameworkToolbox::getServerAddress()?>order/overview/?p=<?=$currentEntry['calsy_user_frontend_id']?>"><?=PerisianLanguageVariable::getVariable(10837)?> <?=CalsyOrder::getOrderCount(array("userFrontendId" => $currentEntry['calsy_user_frontend_id']))?><br/></a>
    <?php endif; ?>
        
    <?php 
    
        $filter = new CalsyCalendarFilter(); 
        $filter->setUserFrontendIdentifiers($currentEntry['calsy_user_frontend_id']);
    
    ?>
    
    <?=PerisianLanguageVariable::getVariable(10824)?> <?=@CalsyCalendarEntry::getCountCalendarEntriesForFilter($filter, time())?><br/>
    <?=PerisianLanguageVariable::getVariable(10825)?> <?=@CalsyCalendarEntry::getCountCalendarEntriesForFilter($filter, -1, time())?>
    
</td>

<td class="text-right">

    <nobr>
        
        <?php if(CalsyQuickLogModule::isEnabled()): ?>
        
            <button onclick="UserFrontend.showQuickLogSettings(<?=PerisianFrameworkToolbox::security($currentEntry['calsy_user_frontend_id'])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5f033f6409ff7')?>"><i class="fa md <?=CalsyQuickLogModule::getModuleIcon()?>"></i></button>
        
        <?php endif; ?>
            
        <?php if(CalsyUserFrontendModule::isEnabledDataMerging()): ?>
        
            <button onclick="UserFrontend.addMergeDataSet(<?=PerisianFrameworkToolbox::security($currentEntry['calsy_user_frontend_id'])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=PerisianLanguageVariable::getVariable('p59c4090242879')?>"><i class="md md-compare"></i></button>
        
        <?php endif; ?>

        <?php if(strlen($currentEntry['calsy_user_frontend_additional_data']) > 0): ?>
        
            <button onclick="UserFrontend.toggleAdditionalData(<?php echo PerisianFrameworkToolbox::security(PerisianFrameworkToolbox::stripHighlight($currentEntry['calsy_user_frontend_id'])) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p5766b1cf79dc3') ?>"><i class="fa fa-file-text-o"></i></button>
        
        <?php endif; ?>
        
        <button onclick="UserFrontend.editUserFrontend(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_frontend_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10827) ?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="UserFrontend.newPassword(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_frontend_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10087) ?>"><i class="fa fa-lock"></i></button>
                                    
        <button onclick="UserFrontend.deleteUserFrontend(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_frontend_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10828) ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
