
<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="modal-body text-center">

    <div class="form">
        
        <input type="hidden" id="calsy_user_frontend_quick_log_right_user_frontend_id" value="<?=$result['user_frontend_id']?>"/>
        
        <?php foreach($result['rights_available'] as $rightKey => $rightUserSettingKey): ?>


            <div class="form-group calsy_user_frontend_quick_log_right" data-quick-log-right-user-setting-key="<?=$rightUserSettingKey?>">

                <div class="checkbox checkbox-styled">
                    
                    <label>
                        
                        <input type="checkbox" id="calsy_quick_log_right_<?=$rightUserSettingKey?>" name="calsy_quick_log_right_<?=$rightUserSettingKey?>"<?=(in_array($rightUserSettingKey, $result['rights_selected']) ? ' checked' : '')?>><span></span>
                        <label for="calsy_quick_log_right_<?=$rightUserSettingKey?>"><?=PerisianSetting::getTitleForId($rightUserSettingKey)?></label>
                    
                    </label>
                    
                </div>
                
            </div>

        <?php endforeach; ?>

    </div>

</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="UserFrontend.cancel()"><?=lg(10056)?></button>
    <button type="button" class="btn btn-primary-bright" id="saveButton" onclick="UserFrontend.saveQuickLogSettings()"><i class="fa fa-save"></i> <?=lg(10055)?></button>
       
</div>