<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<div class="form-horizontal">
    
    <input type="hidden" id="calsy_user_frontend_id_one" value="<?=$result['object_one']->{$result['object_one']->field_pk}?>"/>
    <input type="hidden" id="calsy_user_frontend_id_two" value="<?=$result['object_two']->{$result['object_two']->field_pk}?>"/>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10560) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_name_first_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_name_first_one" class="form-control" name="calsy_user_frontend_name_first_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_name_first}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_name_first', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_name_first_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_name_first_two" class="form-control" name="calsy_user_frontend_name_first_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_name_first}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_name_first', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_name_first_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_name_first_merge" class="form-control" name="calsy_user_frontend_name_first_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_name_first}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10559) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_name_last_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_name_last_one" class="form-control" name="calsy_user_frontend_name_last_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_name_last}?>"/>
                
                 
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_name_last', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_name_last_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_name_last_two" class="form-control" name="calsy_user_frontend_name_last_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_name_last}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_name_last', 'two')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_name_last_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_name_last_merge" class="form-control" name="calsy_user_frontend_name_last_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_name_last}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10830) ?></div>

    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_sex_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_sex_one" class="form-control" name="calsy_user_frontend_sex_one" readonly enum="<?=$result['object_one']->{$result['object_one']->field_sex}?>" value="<?=CalsyUserFrontend::getGenderForEnum($result['object_one']->{$result['object_one']->field_sex})?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_sex', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_sex_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_sex_two" class="form-control" name="calsy_user_frontend_sex_two" readonly enum="<?=$result['object_two']->{$result['object_two']->field_sex}?>" value="<?=CalsyUserFrontend::getGenderForEnum($result['object_two']->{$result['object_two']->field_sex})?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_sex', 'two')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
            
        </div>
        
        <div class="form-group">

            <div class="col-sm-12">

                <label for="calsy_user_frontend_sex_merge"><?=PerisianLanguageVariable::getVariable('p59c50e1c6a933')?></label>

                <select id="calsy_user_frontend_sex_merge" class="form-control" name="calsy_user_frontend_sex_merge">

                    <option value="none"<?php if($result['object_proposal']->{$result['object_proposal']->field_sex} == "none"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10833) ?></option>
                    <option value="male"<?php if($result['object_proposal']->{$result['object_proposal']->field_sex} == "male"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10831) ?></option>
                    <option value="female"<?php if($result['object_proposal']->{$result['object_proposal']->field_sex} == "female"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10832) ?></option>

                </select>

            </div>

        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10208) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_email_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_email_one" class="form-control" name="calsy_user_frontend_email_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_email}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_email', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_email_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_email_two" class="form-control" name="calsy_user_frontend_email_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_email}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_email', 'two')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_email_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_email_merge" class="form-control" name="calsy_user_frontend_email_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_email}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <?php if(strlen($result['object_one']->{$result['object_one']->field_login_password}) > 0 && strlen($result['object_two']->{$result['object_two']->field_login_password}) > 0): ?>
    
        <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10091) ?></div>

        <div class="modal-body">

            <div class="form-group">

                <div class="col-sm-12" style="text-align: center;">
                                        
                    <div class="radio radio-styled">
                        
                        <label>
                            <input type="radio" name="calsy_user_frontend_login_password_merge" value="0" checked>
                            <span><?=str_replace('%1', '1', PerisianLanguageVariable::getVariable('p59c5196f52257'))?></span>
                        </label>
                        
                    </div>
                                        
                    <div class="radio radio-styled">
                        
                        <label>
                            <input type="radio" name="calsy_user_frontend_login_password_merge" value="1">
                            <span><?=str_replace('%1', '2', PerisianLanguageVariable::getVariable('p59c5196f52257'))?></span>
                        </label>
                        
                    </div>
                    
                </div>

            </div>

        </div>
    
    <?php endif; ?>
        
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10486) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_phone_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_phone_one" class="form-control" name="calsy_user_frontend_phone_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_phone}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_phone', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_phone_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_phone_two" class="form-control" name="calsy_user_frontend_phone_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_phone}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_phone', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_phone_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_phone_merge" class="form-control" name="calsy_user_frontend_phone_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_phone}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10562) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_fax_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_fax_one" class="form-control" name="calsy_user_frontend_fax_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_fax}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_fax', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_fax_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_fax_two" class="form-control" name="calsy_user_frontend_fax_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_fax}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_fax', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_fax_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_fax_merge" class="form-control" name="calsy_user_frontend_fax_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_fax}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10175) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_street_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_address_street_one" class="form-control" name="calsy_user_frontend_address_street_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_address_street}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_street', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_street_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_address_street_two" class="form-control" name="calsy_user_frontend_address_street_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_address_street}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_street', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_address_street_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_address_street_merge" class="form-control" name="calsy_user_frontend_address_street_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_address_street}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10554) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_street_number_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_address_street_number_one" class="form-control" name="calsy_user_frontend_address_street_number_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_address_street_number}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_street_number', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_street_number_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_address_street_number_two" class="form-control" name="calsy_user_frontend_address_street_number_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_address_street_number}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_street_number', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_address_street_number_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_address_street_number_merge" class="form-control" name="calsy_user_frontend_address_street_number_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_address_street_number}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10555) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_additional_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_address_additional_one" class="form-control" name="calsy_user_frontend_address_additional_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_address_additional}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_additional', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_additional_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_address_additional_two" class="form-control" name="calsy_user_frontend_address_additional_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_address_additional}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_additional', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_address_additional_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_address_additional_merge" class="form-control" name="calsy_user_frontend_address_additional_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_address_additional}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10556) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_zip_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_address_zip_one" class="form-control" name="calsy_user_frontend_address_zip_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_address_zip}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_zip', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_zip_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_address_zip_two" class="form-control" name="calsy_user_frontend_address_zip_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_address_zip}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_zip', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_address_zip_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_address_zip_merge" class="form-control" name="calsy_user_frontend_address_zip_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_address_zip}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10565) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_city_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_address_city_one" class="form-control" name="calsy_user_frontend_address_city_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_address_city}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_city', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_city_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_address_city_two" class="form-control" name="calsy_user_frontend_address_city_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_address_city}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_city', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_address_city_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_address_city_merge" class="form-control" name="calsy_user_frontend_address_city_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_address_city}?>"/>

            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10565) ?></div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_country_one"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 1</label>
                <input type="text" id="calsy_user_frontend_address_country_one" class="form-control" name="calsy_user_frontend_address_country_one" readonly value="<?=$result['object_one']->{$result['object_one']->field_address_country}?>"/>
                                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-one" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_country', 'one')"><i class="md md-arrow-drop-down"></i></button>
                 
            </div>
                        
            <div class="col-sm-5" style="">

                <label for="calsy_user_frontend_address_country_two"><?=PerisianLanguageVariable::getVariable('p59c50dd55cd6c')?> 2</label>
                <input type="text" id="calsy_user_frontend_address_country_two" class="form-control" name="calsy_user_frontend_address_country_two" readonly value="<?=$result['object_two']->{$result['object_two']->field_address_country}?>"/>
                
            </div>
            
            <div class="col-sm-1" style="padding-right: 12px;">

                <button style="margin-top: 30px;" class="btn btn-primary btn-block btn-merge-two" onclick="UserFrontend.selectMergeValue('calsy_user_frontend_address_country', 'two')"><i class="md md-arrow-drop-down"></i></button>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_user_frontend_address_country_merge"><?=PerisianLanguageVariable::printVariable('p59c50e1c6a933')?></label>
                <input type="text" id="calsy_user_frontend_address_country_merge" class="form-control" name="calsy_user_frontend_address_country_merge" value="<?=$result['object_proposal']->{$result['object_proposal']->field_address_country}?>"/>

            </div>
            
        </div>
        
    </div>

</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="UserFrontend.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="UserFrontend.mergeData()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable('p59c4079f9942f') ?></button>

</div>