
    <script type="text/javascript" src="../assets/js/libs/dropzone/dropzone.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

    <div class="form-group form-pager" id="approval_appointment_image_container" style="">

        <div class="col-sm-4" style="padding: 10px;"><?=lg('p5d94f2dc1c0dc')?><br/><small><?=lg('p5d95130923a92')?></small></div>

        <div class="col-sm-8" style="padding: 10px;" id="approval_appointment_image_box">
            
            <form action="<?=PerisianFrameworkToolbox::getServerAddress(false)?>ajax/appointment_image_upload/" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_appointment_image">

                <input type="hidden" name="do" value="upload"/>
                <input type="hidden" name="image_id" id="image_id" value=""/>
                <input type="hidden" name="setting" value="appointment_image"/>

                <div class="dz-message">
                    <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                    <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                </div>

                <input type="hidden" id="appointment_image_filename" value=""/>

            </form>
            
        </div>

        <br style="clear:both">

    </div>
    
    <script type="text/javascript">

    Dropzone.autoDiscover = false;

    /**
     * Fired after a succesful upload.
     * 
     * @author Peter Hamm
     * @param Object data
     * @param Object response
     * @returns void
     */
    var onDropzoneUploadSuccess = function(data, response) 
    {

        var callback = JSON.parse(response);
        
        jQuery('#appointment_image_filename').val(callback.file)

        if(!callback.success)
        {

            toastr.error(callback.message);

        }
        else
        {


            toastr.success(callback.message);

        }

        return callback;

    };

    /**
     * Fired after removing an upload.
     * 
     * @author Peter Hamm
     * @param Object file
     * @returns void
     */
    var onDropzoneUploadRemoved = function(file)
    {
        
        jQuery('.dz-message').show();

    };

    jQuery(document).ready(function() {
                
        var dropzone = new Dropzone('#form_appointment_image', {

            uploadMultiple: false,
            maxFiles: 1,

            init: function () {

                var thisDropzone = (this);

                thisDropzone.on('success', onDropzoneUploadSuccess);
                thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                thisDropzone.on("addedfile", function(file) {
                    
                    jQuery('.dz-message').hide();

                    file.previewElement.addEventListener("click", function() {

                        if(confirm(Language.getLanguageVariable(11131)))
                        {

                            thisDropzone.removeFile(file);

                        }

                    });

                });

            }

        });

    });

    </script>