<?php if(!$dontShowFooterHtml): ?>
<div class="col-sm-12 footer-space"></div>
</section>

</div>

<div class="custom-footer">
        
    <div class="no-linebreak copyright">
        <a href="http://www.cons-sys.ag/" target="_blank">&copy;<?=date("Y", time())?> ConsSys IT AG</a>
    </div>

</div>

<?php if($showMenu): require 'menu.phtml'; endif; ?>

</div>

<?php endif; ?>

<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/basic/global.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/spin.js/spin.min.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/toastr/toastr.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/core/source/App.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/core/source/AppNavigation.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/core/source/AppOffcanvas.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/core/source/AppCard.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/core/source/AppForm.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/core/source/AppNavSearch.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/core/source/AppVendor.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/basic/Perisian.js"></script>
<script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/system/Language.js"></script>

<script type="text/javascript">

    toastr.options.closeButton = true;
    toastr.options.progressBar = true;
    toastr.options.positionClass = "toast-bottom-full-width";
    toastr.options.showDuration = 500;
    toastr.options.showEasing = "swing";
    toastr.options.showMethod = "fadeIn";

</script>

</body>
</html>