<!DOCTYPE html>
<html lang="<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>">
    
    <head>
        
        <title><?=PerisianSystemConfiguration::isTestServer() ? "TEST - " : ""?><?=$settings->getSetting('frontend_title_website')?></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/materialadmin.css"/>
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/font-awesome.min.css"/>
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/theme-default/open-sans.css" />
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/material-design-iconic-font.min.css"/>
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/libs/toastr/toastr.css"/>
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/global.css"/>
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/front.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/img/favicon.png"/>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/js/libs/utils/html5shiv.js?1403934957"></script>
        <script type="text/javascript" src="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/js/libs/utils/respond.min.js?1403934956"></script>
        <![endif]-->

        <script type="text/javascript">

            var languageId = <?=PerisianSystemConfiguration::getLanguageId()?>;
            var languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
            var baseUrl = "<?=PerisianFrameworkToolbox::getServerAddress(false)?>";

        </script>

        <script src="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
       
        <meta name="viewport" content="width=device-width, user-scalable=no" />

    </head>

    <body class="menubar-hoverable header-fixed menubar-pin">
        
        <?php if(!$dontShowHeaderHtml): ?>
        
            <header id="header" >
                
                <div class="headerbar">
                    
                    <div class="headerbar-left">
                        
                        <ul class="header-nav header-nav-options">
                            
                            <?php if($showMenu): ?>
                            <li>
                                <a class="btn btn-icon-toggle menubar-toggle" style="left: -10px;" data-toggle="menubar" href="javascript:void(0);">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <?php endif; ?>
                            <li class="header-nav-brand" >
                                <div style="position: relative; left: 4px;" class="brand-holder">
                                    <a href="<?= PerisianFrameworkToolbox::getServerAddress(false); ?>">
                                        <img src="<?=$customHeaderImage?>">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="headerbar-right">
                        
                        <ul class="header-nav header-nav-profile">
                            
                            <li class="dropdown">
                                
                                <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                                    
                                    <?php if(strlen($userFrontend->getImageProfileAddress()) > 0):?> 
                                        <div class="user-color-header" style="background-image: url('<?=$userFrontend->getImageProfileAddress()?>');"></div>
                                    <?php endif;?>
                                
                                    <span class="profile-info" style="margin-top:6px;">
                                        
                                        <?php if($userFrontend->isLoggedIn()): ?>
                                            <?=PerisianLanguageVariable::getVariable(10009)?> <span id="user_frontend_name"><?=$userFrontend->getFullName()?></span>
                                        <?php endif; ?>
                                            
                                        <small><?=PerisianLanguageVariable::getVariable(10798)?></small>
                                        
                                    </span>
                                    
                                </a>
                                    
                                <ul class="dropdown-menu animation-dock">
                                    <li><a href="?do=logout"><i class="fa fa-fw fa-power-off text-danger" style="margin-left: -5px; margin-right: 10px"></i> <?php PerisianLanguageVariable::printVariable(10008); ?></a></li>
                                </ul>
                                
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                </div>
                
            </header>

            <div class="modal fade" id="modalContainer" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                
                <div class="modal-dialog">
                    
                    <div class="modal-content"></div>
                    
                </div>
                
            </div>
            
            <div id="base"<?php if(!$showMenu): ?> style="padding-left: 0"<?php endif; ?>>

                <div class="offcanvas"></div>

                <div id="content">

                    <section>
                    <?php endif; ?>