<div id="menubar" class="menubar-inverse ">
    
    <div class="menubar-scroll-panel">

        <ul id="main-menu" class="gui-controls">
            
        <?php if(count($menuPoints) > 0): ?>

            <?php foreach($menuPoints as $menuPoint): ?>
            
                <?php
                
                $pointClasses = Array();
                
                if(@$menu->activeMenuPoint[$menu->field_pk] == $menuPoint['id'])
                {
                    
                    array_push($pointClasses, "active");
                    
                }
                elseif(@$menu->activeMenuPoint[$menu->field_parent_id] == $menuPoint['id'])
                {
                    
                    array_push($pointClasses, "active");
                    array_push($pointClasses, "expanded");
                    
                }
                
                if(count($menuPoint['children']) > 0)
                {
                    
                    array_push($pointClasses, "gui-folder");
                    
                }
                
                ?>
                
                <li<?php if(count($pointClasses) > 0): echo ' class="' . implode($pointClasses, " ") . '"'; endif;?>>
                    
                    <a<?=(count($menuPoint['children']) > 0 ? "" : ' href="' . $menuPoint['link'] . '"')?> target="<?=$menuPoint['target']?>">
                        <div class="gui-icon"><i class="md fa <?=$menuPoint['icon'] ?>"></i></div>
                        <span class="title"><?=nl2br($menuPoint['title'])?></span>
                    </a>
                
                <?php if(count($menuPoint['children'] > 0)): ?>
                    
                    <ul>
                
                    <?php foreach($menuPoint['children'] as $menuSubPoint): ?>
                        
                        <li<?php echo (@$menu->activeMenuPoint[$menu->field_pk] == $menuSubPoint['id']) ? ' class="active"' : '' ?>>
                            <a href="<?=$menuSubPoint['link'] ?>" target="<?=$menuPoint['target']?>"><span class="title"><?=nl2br($menuSubPoint['title'])?></span></a>
                        </li>

                    <?php endforeach; ?>
                
                    </ul>

                <?php endif ?>
                    
                </li>

            <?php endforeach ?>

        <?php endif ?>
                
        <?php if($settings->getSetting('frontend_link_to_website_is_enabled') == 1): ?>

            <li>

                <a href="<?=$settings->getSetting('frontend_link_to_website')?>">
                    <div class="gui-icon"><i class="md fa fa-globe"></i></div>
                    <span class="title"><?=PerisianLanguageVariable::getVariable(10979)?></span>
                </a>

            </li>
                
        <?php endif; ?> 

        </ul>

        <div class="menubar-foot-panel">
            
        </div>
        
    </div>
    
</div>