<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="form-horizontal">

    <div class="modal-body">
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="mail_sender"><?php PerisianLanguageVariable::printVariable('p59246cef988c7') ?></label>
                <input type="text" id="mail_sender" class="form-control" name="mail_sender" value="<?=PerisianMail::getMailSenderAddress()?> &quot;<?=PerisianMail::getMailSenderName(false)?>&quot;" readonly/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="mail_recipient"><?php PerisianLanguageVariable::printVariable(11164) ?></label>
                <input type="text" id="mail_recipient" class="form-control" name="mail_recipient" value=""/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="mail_subject"><?php PerisianLanguageVariable::printVariable(10848) ?></label>
                <input type="text" id="mail_subject" class="form-control" name="mail_subject" value=""/>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">

                <label for="mail_content"><?php PerisianLanguageVariable::printVariable('10321') ?></label>
                <textarea type="text" id="mail_content" class="form-control" name="mail_content" style="width: 100% !important; min-height: 300px !important;"></textarea>

            </div>
        </div>
        
    </div>
    
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="MailLog.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="MailLog.sendMail()"><i class="md md-email"></i> <?php PerisianLanguageVariable::printVariable(10617) ?></button>

</div>