<td style="padding-left: 0">
    
    <?=PerisianMailLogEntry::getFormattedStatusHtml($currentEntry["status"])?>
    
</td>

<td>
    
    <?php
    
        $fieldList = [];
    
        if(count($currentEntry["data"]["recipients"]) > 0)
        {
            
            $recipientsList = array();
            
            foreach($currentEntry["data"]["recipients"] as $recipient)
            {
                
                $recipient['name'] = utf8_encode(iconv_mime_decode($recipient['name']));
                $recipient['address'] = utf8_encode(iconv_mime_decode($recipient['address']));
                
                array_push($recipientsList, PerisianFrameworkToolbox::highlightText($result['search'], $recipient["name"]) . " &lt;" . PerisianFrameworkToolbox::highlightText($result['search'], $recipient["address"]) . "&gt;");
                
            }
            
            $recipients = implode(", ", $recipientsList);
            
            array_push($fieldList, $recipients);
            
        }
        
        if(count($currentEntry["data"]["recipientsCarbonCopy"]) > 0)
        {
            
            $recipientsList = array();
            
            foreach($currentEntry["data"]["recipientsCarbonCopy"] as $recipient)
            {
                
                $recipient['name'] = utf8_encode(iconv_mime_decode($recipient['name']));
                $recipient['address'] = utf8_encode(iconv_mime_decode($recipient['address']));
                
                array_push($recipientsList, PerisianFrameworkToolbox::highlightText($result['search'], $recipient["name"]) . " &lt;" . PerisianFrameworkToolbox::highlightText($result['search'], $recipient["address"]) . "&gt;");
                
            }
            
            $recipients = implode(", ", $recipientsList);
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(11165) . ": " . $recipients);
            
        }
        
        if(count($currentEntry["data"]["recipientsBlindCarbonCopy"]) > 0)
        {
            
            $recipientsList = array();
            
            foreach($currentEntry["data"]["recipientsBlindCarbonCopy"] as $recipient)
            {
                
                $recipient['name'] = utf8_encode(iconv_mime_decode($recipient['name']));
                $recipient['address'] = utf8_encode(iconv_mime_decode($recipient['address']));
                
                array_push($recipientsList, PerisianFrameworkToolbox::highlightText($result['search'], $recipient["name"]) . " &lt;" . PerisianFrameworkToolbox::highlightText($result['search'], $recipient["address"]) . "&gt;");
                
            }
            
            $recipients = implode(", ", $recipientsList);
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(11166) . ": " . $recipients);
            
        }
                
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td>
    
    <?php 
           
        $currentEntry["data"]["subject"] = PerisianMailLog::decodeString($currentEntry["data"]["subject"]);
    
    ?>
    
    <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry["data"]["subject"])?>
    
</td>

<td>
    
    <?=PerisianFrameworkToolbox::timestampToDateTime(PerisianFrameworkToolbox::sqlTimestampToPhp($currentEntry["date_created"]))?>
    
</td>