<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/MailLog.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        MailLog.currentOffset = <?=$result['offset']?>;
        MailLog.currentLimit = <?=$result['limit']?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li><?php PerisianLanguageVariable::printVariable(11162) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
            
    </ol>
    
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!PerisianMailLog::isEnabled()): ?>
        
            <div class="col-lg-12">
                
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11171)?></div>
                
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="height: 176px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {MailLog.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="MailLog.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="MailLog.showEntries(null, null, null, null, true);" type="button" style="position:relative; top:15px;">
                                <i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?>
                            </button>
                            
                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="MailLog.newMail();" type="button" style="">
                                <i class="md md-email"></i> <?php PerisianLanguageVariable::printVariable('p5924588aaf696'); ?>
                            </button>
                            
                            <button class="btn btn-block btn-danger ink-reaction" onclick="MailLog.clearLog()" type="button">
                                <span class="md md-delete"></span> <?php PerisianLanguageVariable::printVariable(11172) ?>
                            </button>
                            
                        </div>

                    </form>

                </div>

            </div>
            
        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div><!--end .section-body -->