<?php require(__DIR__ . "/../registration/registration_header.phtml"); ?>

<script type="text/javascript">

    jQuery(document).ready(function() {

    });

</script>

<div class="col-lg-12" style="text-align: center;">
    
    <?php require __DIR__ . '/../registration/element/welcome_image.phtml'; ?>
    
    <span class="text-primary">
        
        <?php if($result["success"]): ?>
        
            <span class="alert alert-block alert-success"><?=nl2br($result['output'])?></span> <br/>
            
            <a href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>" type="button" class="btn btn-primary-bright"><?=PerisianLanguageVariable::getVariable('p59f678c9ec7bc')?></a>
        
        <?php else: ?>
        
            <span class="alert alert-block alert-danger"><?=nl2br($result['output'])?></span>
        
        <?php endif; ?>
        
    </span>

</div>

<?php require(__DIR__ . "/../registration/registration_footer.phtml"); ?>