<?php if($action == "list"): ?>

    <script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
    
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=lg('p5f03336e50a8d')?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 20%">
                                <a href="javascript:void(0)" onclick="QuickLog.toggleSorting('calsy_quick_log_time')"><?=lg('10964')?></a>
                            </th>
                                                        
                            <th style="width: 40%">
                                <?=lg('p5f032cf424ab6')?>
                            </th>

                            <th style="width: 20%">
                                <?=lg('p5e616611e37fe')?>
                            </th>
                                                                                    
                            <th style="width: 20%" class="text-right"><?=lg(10077)?></th>
                            
                        </tr>

                    </thead>
                    
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <tr id="table_info_order_<?=$currentEntry['calsy_quick_log_id']?>">

                                <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
