<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/QuickLog.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<script type="text/javascript" src="../assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/moment/moment-with-locales.js"></script>

<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>

<script type="text/javascript">
    
    var showEntries = function(object) {
                
        QuickLog.filterUserFrontendId = object['calsy_user_frontend_id'];
        
        QuickLog.showEntries();  
        
    };
    
    jQuery(document).ready(function() {
    
        QuickLog.currentOffset = <?=$result['offset']?>;
        QuickLog.currentLimit = <?=$result['limit']?>;
        
        Perisian.initFieldClearButtons();
        
        QuickLog.filterUserFrontendId = '<?=$result['filter_user_frontend']->{$result['filter_user_frontend']->field_pk}?>';
        
        jQuery('#filter_user_frontend_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'calsy_user_frontend_id',
                'fieldToDisplay': 'calsy_user_frontend_fullname',
                'forceEntryFromList': true,

                'url': QuickLog.controller,

                'renderer': CalsyAutocompleteRenderer.renderUserFrontend,
                
                'onSelect': showEntries

            });

        });
        
    });
    
</script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li><?=lg('p5f0324ae3d6d4')?></li>
        <li class="active"><?=lg(10303)?></li>
        
    </ol>
    
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyQuickLogModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="padding-bottom: 12px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                
                                <label for="search"><?=lg(10494)?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {QuickLog.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="QuickLog.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                
                            </div>
                                                        
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="QuickLog.showEntries(null, null, null, null, true);" type="button" style="position:relative; top: 12px;"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">

                            <div class="form-group">
                                
                                <label for="filter_user_frontend_id"><?=lg(10841)?></label>
                                <input type="text" id="filter_user_frontend_id" class="form-control btn-clear-field" name="filter_user_frontend_id" value="<?=$result['filter_user_frontend']->getFullName()?>" perisian-data-id="<?=$result['filter_user_frontend_id']?>" data-source="user_frontend"/>
                                <button class="btn btn-default btn-clear" type="button" callback="QuickLog.filterUserFrontendId = null; QuickLog.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                
                            </div>
                            
                            
                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="QuickLog.createNewQuickLog()" type="button">
                                <span class="md md-description"></span> <?=lg('p5f033398c58fa')?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            
            <?php require("list.phtml"); ?>
            
        </div>

    </div>
    
</div>