<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=PerisianLanguageVariable::getVariable('p59f4e5b4891c6')?>
    </h4>
    
</div>

<div class="modal-body">

    <span class="alert alert-success alert-block">
        
        <?=nl2br(PerisianLanguageVariable::getVariable('p59f4ea2d4bf1c'))?>
        
        <br/><br/>
        
        <a type="button" class="btn btn-primary" class="paymentButton" href="<?=$result['payment_url']?>"><?= PerisianLanguageVariable::getVariable('p59f4ebef4bc7a')?></a>
        
    </span>

</div>

<div class="modal-footer">
        
    <span id="button-group-extra">
                    
        <button type="button" class="btn btn-default" class="cancelButton" onclick="Calendar.cancel()"><?= PerisianLanguageVariable::getVariable('10495')?></button>
    
    </span>
    
</div>