<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
                
        Calendar.displayableDaysMonthly = <?=json_encode(CalsyCalendar::getDisplayableIndices('month'))?>;
        Calendar.areaTimes = <?=json_encode($result['list_area_times'])?>;
        
        jQuery('#calsy_calendar_date_range .datepicker-item').datepicker({

            language: '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>', 
            todayHighlight: true,
            autoclose: true,

            format: 'dd.mm.yyyy',
            
            beforeShowDay: function(date) {
                
                var calendarDate = parseInt(date.getDay());
                
                calendarDate -= 1;
                
                if(calendarDate < 0)
                {
                    
                    calendarDate = 6;
                    
                }
                
                return Calendar.displayableDaysMonthly.indexOf(calendarDate) != -1;
                
            }

        });
        
        var updateDuration = function() {
                        
            var timestampBegin = Calendar.getTimestampFromFields("#calsy_calendar_date_range_begin_date", "#calsy_calendar_date_range_begin_time");

            var dstOffset = Calendar.getDstOffsetForTimestamp();
            
            var areaId = jQuery('#calsy_calendar_entry_area_user_frontend').val();
                        
            var timeDistanceElementTime = (Calendar.areaTimes[areaId] && Calendar.areaTimes[areaId].length > 0) ? Calendar.getDurationSumForArea(areaId) : Calendar.defaultEventEndTime;
                        
            var timestampEnd = timestampBegin + parseInt(timeDistanceElementTime);
            timestampEnd += Calendar.isBrowserInDaylightSavingTime() ? dstOffset : 0;

            Calendar.setTimestampForFields("#calsy_calendar_date_range_end_date", "#calsy_calendar_date_range_end_time", timestampEnd);
            
            var enableEditEndTime = true;
            
            if(areaId != 0 && (Calendar.areaTimes[areaId] && Calendar.areaTimes[areaId].length > 1))
            {
                
                enableEditEndTime = false;
                
            }
            
            jQuery('#calsy_calendar_date_range_end_date, #calsy_calendar_date_range_end_time').prop('readonly', !enableEditEndTime);

        }

        jQuery('#calsy_calendar_date_range_begin_date, #calsy_calendar_date_range_begin_time').blur(updateDuration);
        jQuery('#calsy_calendar_entry_area_user_frontend').change(updateDuration);
        
        Calendar.initEditAutoTitle('p58ab37027b186');
    
    });
    
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=PerisianLanguageVariable::getVariable(!isset($result['id']) ? 10347 : 10346)?></h4>
    
    <?php if($result['can_edit_entry']): ?>
    
        <div class="alert alert-warning" style="margin-top: 8px; margin-bottom: 0;"><b><?=PerisianLanguageVariable::getVariable(10899)?>:</b> 
            
            <?php if(CalsyUserFrontendRegistrationAndCalendarModule::userFrontendMayCancelAppointment()): ?>
            
                <?php if(CalsyUserFrontendRegistrationAndCalendarModule::autoConfirmFrontendAppointments()): ?>
            
                    <?=PerisianLanguageVariable::getVariable('p58bbbb8a708c4')?>
            
                <?php else: ?>
            
                    <?=PerisianLanguageVariable::getVariable('p58bbb9cd7ee89'); ?>
            
                <?php endif; ?>
            
            <?php else: ?>

                <?php if(CalsyUserFrontendRegistrationAndCalendarModule::autoConfirmFrontendAppointments()): ?>
            
                    <?=PerisianLanguageVariable::getVariable('p58a9e35fbc665')?>
            
                <?php else: ?>
                    
                    <?=PerisianLanguageVariable::getVariable($result['id'] > 0 ? 10897 : 10898)?>
            
                <?php endif; ?>
            
            <?php endif; ?>
        
        </div>
    
    <?php else: ?>
    
        <?php if($result['is_entry_confirmed_for_user_frontend']): ?>
        
            <div class="alert alert-success" style="margin-top: 8px; margin-bottom: 0;"><b><?=PerisianLanguageVariable::getVariable(10899)?>:</b> <?=PerisianLanguageVariable::getVariable(10895)?></div>
            
        <?php elseif($result['is_entry_canceled_for_user_frontend']): ?>
        
            <div class="alert alert-danger" style="margin-top: 8px; margin-bottom: 0;"><b><?=PerisianLanguageVariable::getVariable(10899)?>:</b> <?=PerisianLanguageVariable::getVariable(11161)?></div>
            
            <?php if(is_object(@$result['object_user_frontend_order']) && strlen(@$result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_status_confirmation_message}) > 0): ?>
                        
                <div class="alert alert-warning" style="margin-top:8px; margin-bottom: 0;"><b><?=PerisianLanguageVariable::getVariable('p575ecd6d29468')?>:</b> <?=$result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_status_confirmation_message}?></div>
            
            <?php endif; ?>
            
        <?php endif; ?>
            
    <?php endif; ?>
    
</div>

<div class="form-horizontal" role="form">

    <?php if($action == 'edit'): ?>
    
        <input type="hidden" id="editId" value="<?=$result['id']?>">
        
    <?php endif; ?>
        
    <?php if($result['is_entry_copy']): ?>
    
        <input type="hidden" id="copyId" value="<?=$result['id_entry_copy']?>">
        
    <?php endif; ?>
        
    <?php if(CalsyAreaModule::isEnabled() || $result['user_frontend_can_pick_user_backend'] || ($action == "edit" && !$result['can_edit_entry'])): ?>
    
        <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(10329)?></div>

        <div class="modal-body">

            <?php if(CalsyAreaModule::isEnabled()): ?>

                <div class="form-group">
                    
                    <div class="col-sm-12">

                        <label for="calsy_calendar_entry_area_user_frontend"><?php PerisianLanguageVariable::printVariable(11059) ?></label>

                        <select id="calsy_calendar_entry_area_user_frontend" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_area_user_frontend"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                            <option duration="<?=CalsyCalendar::getDefaultEventEndTime()?>" value="0"<?=(@$result['area_selected']->{$result['area_selected']->field_pk} == 0 ? " selected" : "")?>><?=PerisianLanguageVariable::getVariable(10925)?></option>

                            <?php for($j = 0; $j < count($result['list_areas']); ++$j): ?>

                                <option duration="<?=$result['list_areas'][$j][$result['dummy_area']->field_default_duration]?>" value="<?=$result['list_areas'][$j][$result['dummy_area']->field_pk]?>"<?=(@$result['area_selected']->{$result['area_selected']->field_pk} == $result['list_areas'][$j][$result['dummy_area']->field_pk] ? " selected" : "")?>><?=$result['list_areas'][$j][$result['dummy_area']->field_title]?></option>

                            <?php endfor; ?>

                        </select>

                    </div>

                </div>

            <?php endif; ?>

            <?php if($result['user_frontend_can_pick_user_backend'] || ($action == "edit" && !$result['can_edit_entry'])): ?>
            
                <div class="user-frontend-order">

                    <div class="form-group">
                        <div class="col-sm-12">
                            
                            <label for="calsy_calendar_entry_user_id"><?=PerisianLanguageVariable::getVariable(10896)?></label>
                            <input type="text" id="calsy_calendar_entry_user_id" class="form-control" name="calsy_calendar_entry_user_id"  perisian-data-id="<?=(!is_null($result['selected_user_backend']) ? $result['selected_user_backend']->{$result['selected_user_backend']->field_pk} : '')?>" data-source="user"  value="<?=(!is_null($result['selected_user_backend']) ? $result['selected_user_backend']->{$result['selected_user_backend']->field_fullname} : '')?>" <?=$result['can_edit_entry'] ? "" : " disabled"?>/>

                        </div>
                    </div>

                </div>

            <?php endif; ?>

        </div>

    <?php endif; ?>
        
    <?php if($result['can_cancel_user_frontend']): ?>
        
        <div class="modal-body info-bar">
        
            <?=PerisianLanguageVariable::getVariable('p58bbc0f016661')?>
            
            <button type="button" class="btn btn-danger" id="cancelEntryButton" onclick="Calendar.cancelEntry()" style="float: right; position: relative; top: -6px;"><i class="md md-cancel"></i> <?php PerisianLanguageVariable::printVariable('p58bbc1ed691de') ?></button>
        
        </div>
        
        <div class="modal-body">

            <div class="form-group">

                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_cancellation_reason"><?php PerisianLanguageVariable::printVariable('p575ecd6d29468') ?></label>
                    <textarea type="text" id="calsy_calendar_entry_cancellation_reason" class="form-control" name="calsy_calendar_entry_cancellation_reason"></textarea>

                </div>

            </div>

        </div>
        
    <?php endif; ?>
        
    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(10788)?></div>
    
    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?php PerisianLanguageVariable::printVariable(10786)?></label><br/>
                
                <div class="input-daterange input-group" id="calsy_calendar_date_range">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_begin_date" id="calsy_calendar_date_range_begin_date" value="<?=date("d.m.Y", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>
                    
                    <span class="input-group-addon"><?=PerisianLanguageVariable::getVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_begin_time" id="calsy_calendar_date_range_begin_time" value="<?=date("H:i", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div><br/>

                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10785)?></span>

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_end_date" id="calsy_calendar_date_range_end_date" value="<?=date("d.m.Y", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>
                        <div class="form-control-line"></div>

                    </div>
                    
                    <span class="input-group-addon"><?=PerisianLanguageVariable::getVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_end_time" id="calsy_calendar_date_range_end_time" value="<?=date("H:i", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>

                </div>
                
            </div>
            
        </div>
        
        <?php if(PerisianSystemSetting::getSettingValue('module_setting_calsy_user_frontend_registration_and_calendar_enable_custom_titles') == 1): ?>
        
            <div class="form-group">

                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_title"><?php PerisianLanguageVariable::printVariable(10234) ?></label>
                    <input type="text" id="calsy_calendar_entry_title" class="form-control" name="calsy_calendar_entry_title" value="<?=@$result['entry']->{$result['entry']->field_title}?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

                </div>

            </div>
        
        <?php endif; ?>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_description"><?php PerisianLanguageVariable::printVariable(10781) ?></label>
                <textarea type="text" id="calsy_calendar_entry_description" class="form-control" name="calsy_calendar_entry_description"<?=($result['can_edit_entry'] ? "" : " disabled")?>><?=@$result['entry']->{$result['entry']->field_description}?></textarea>

            </div>
            
        </div>

        <?php if(!is_null($result['object_user_frontend_order']) && strlen($result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_message_to_client}) > 0): ?>

            <div class="form-group">

                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_message_to_client"><?php PerisianLanguageVariable::printVariable('p5cd021804d872') ?></label>
                    <textarea type="text" readonly id="calsy_calendar_entry_message_to_client" class="form-control" name="calsy_calendar_entry_message_to_client"><?=$result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_message_to_client}?></textarea>

                </div>

            </div>

        <?php endif; ?>

    </div>
    
    <?php if(@!$result['is_entry_canceled_for_user_frontend'] && CalsyCalendarNotification::isEnabled($userFrontend)): ?>
    
        <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(11190)?></div>

        <div class="modal-body">
            
            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_notification_time"><?=PerisianLanguageVariable::getVariable(11191)?></label>
                    <select id="calsy_calendar_entry_notification_time" name="calsy_calendar_entry_notification_time" class="form-control static-dirty"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                        <option value="0"<?php if(!$result['entry_settings_notifications']['enabled']): ?> selected<?php endif; ?>><?=PerisianLanguageVariable::getVariable(11192)?></option>
                        
                        <?php foreach($result['times_notification_possible'] as $possibleNotificationTime => $possibleNotificationLabel): ?>
                        
                            <option value="<?=$possibleNotificationTime?>" <?php if($result['entry_settings_notifications']['enabled'] && $result['entry_settings_notifications']['time'] == $possibleNotificationTime): ?> selected<?php endif; ?>><?=$possibleNotificationLabel?></option>
                        
                        <?php endforeach; ?>
                        
                    </select>
                    
                </div>
            </div>
            
        </div>
        
    <?php endif; ?>

    <?php if(PerisianSystemSetting::getSettingValue('calendar_is_enabled_image_upload') == 1): ?>

        <?php require "detail_edit_entry_image.phtml"; ?>

    <?php endif; ?>
    
</div>


<div class="modal-footer">

    <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
    
        <button type="button" class="btn btn-danger" id="deleteButton" onclick="Calendar.deleteEntry()" style="float:left"><i class="md md-delete"></i><?php PerisianLanguageVariable::printVariable(10297) ?></button>
        
    <?php endif; ?>
    
    <button type="button" class="btn btn-default" id="cancelButton" onclick="Calendar.cancel()"><?php PerisianLanguageVariable::printVariable($action == "edit" && !$result['can_edit_entry'] ? 10495 : 10056)?></button>
    
    <?php if($result['can_edit_entry']): ?>
    
        <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="Calendar.saveEntry()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>
        
    <?php endif; ?>

    <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
        
        <button type="button" class="btn btn-primary" class="cancelButton" style="float:left" onclick="Calendar.infoEvent(<?=$result['id']?>)"><i class="fa fa-info-circle"></i> <?=PerisianLanguageVariable::getVariable('p5a105bc5d3d82')?></button>
        
    <?php endif; ?>
        
    <?php if(@$result['is_entry_canceled_for_user_frontend']): ?>
        
        <button type="button" class="btn btn-primary-bright" id="copyButton" onclick="Calendar.copyEntry()"><i class="fa fa-copy"></i> <?php PerisianLanguageVariable::printVariable('p574355e5e7ee0') ?></button>
        
    <?php endif; ?>
    
</div>