
<h2><?=PerisianLanguageVariable::getVariable(10907)?></h2>

<ul class="list divider-full-bleed list-events<?=(!isset($result['event_next']) ? " event-list-empty" : "")?>">
    
    <?php if(isset($result['event_next'])): ?>

        <li class="tile upcoming-event<?=(CalsyCalendar::isSameDay($result['event_next']["calsy_calendar_entry_date_begin_timestamp"], time()) ? " fc-today" : "")?>" data-id="<?=$result['event_next']["calsy_calendar_entry_id"]?>">

            <div class="tile-content">

                <div class="event-color" style="background-color: <?=CalsyCalendarEntryUserFrontendOrder::getColorForConfirmationStatus($result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_status_confirmation});?>"></div>

                <div class="event-details">

                    <b><?=$result['event_next']["calsy_calendar_entry_title"]?></b>
                    
                    <?php if(CalsyResource::isSpecialItem('home_visit', $result['event_next']["calsy_calendar_entry_resource_id"])): ?>
                        &nbsp;<span class="alert alert-info alert-inline"><?=PerisianLanguageVariable::getVariable(10926)?></span>
                    <?php endif; ?>
                    
                    <br/>
                    
                    <?=$result['string_status_confirmation']?><br/>
                    <?=($result['event_next'][$result['dummy_event']->field_user_id] > 0 ? "<b>" . PerisianLanguageVariable::getVariable(10883) . ":</b> " . CalsyUserBackend::getUserFullname($result['event_next'][$result['dummy_event']->field_user_id]) . "<br>" : "")?>
                    
                    <?=CalsyCalendarEntry::getFormattedEventTimeString($result['event_next']["calsy_calendar_entry_date_begin_timestamp"], $result['event_next']["calsy_calendar_entry_date_end_timestamp"], true)?>

                </div>

            </div>

        </li>

    <?php else: ?>
        
        <center><?=PerisianLanguageVariable::getVariable(@$showPast ? 10892 : 10893)?></center>
        
    <?php endif; ?>
    
</ul>

<h2><?=PerisianLanguageVariable::getVariable(10900)?></h2>

<div class="card">
    
    <div class="list divider-full-bleed list-events event-list-empty">
        
        <?=nl2br(PerisianLanguageVariable::getVariable(10901))?><br/><br/>
        
        <?php if($result['user_frontend_can_pick_user_backend']): ?>
        
            <?=nl2br(PerisianLanguageVariable::getVariable(10997))?>
        
        <?php endif; ?>

        <?php if(CalsyOpeningTimesModule::isEnabled()): ?>
            
            <div class="alert alert-block alert-info" style="text-align: left;">
                
                <b><?=PerisianLanguageVariable::getVariable(10902)?></b><hr style="margin-top: 10px; margin-bottom: 10px;">
                <?=nl2br($result['string_opening_times'])?>

            </div>
            
        <?php elseif(CalsyBookableTimesModule::isEnabled()): ?>
                        
            <div class="alert alert-block alert-info" style="text-align: left;">
                
                <?=nl2br(PerisianLanguageVariable::getVariable('p57ab60f0b4632'))?>

            </div>

        <?php endif; ?>
        
    </div>
    
</div>
    
<?php if($result['user_frontend_can_pick_user_backend']): ?>

    <h2><?=PerisianLanguageVariable::getVariable(10994)?></h2>

    <div class="card" style="margin-top: 10px">
        <div class="card-body">
            <div class="form-group" style="margin-bottom: 0">

                <input type="text" id="calsy_calendar_entry_user_id" name="calsy_calendar_entry_user_id" class="form-control" value="<?=PerisianLanguageVariable::getVariable(10925)?>" perisian-default-value="<?=PerisianLanguageVariable::getVariable(10925)?>" perisian-data-id="" data-source="user"/>
                <button class="btn btn-default btn-clear" type="button" callback="Calendar.filterByUsers(-1);"><i class="md md-clear"></i></button>

            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        
    var refreshUser = function() {
         
         Calendar.filterByUsers(PerisianBaseAjax.getAutocompleteFieldIdentifier('#calsy_calendar_entry_user_id'));
         
    };
    
    jQuery(document).ready(function() {
        
        Perisian.initFieldClearButtons();
        
        jQuery('#calsy_calendar_entry_user_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'user_id',
                'fieldToDisplay': 'user_fullname',
                'forceEntryFromList': false,
                'maxDisplayedEntries': -1,
                'onSelect': refreshUser,

                'url': Calendar.controller,

                'renderer': CalsyAutocompleteRenderer.renderUser

            });

        });
        
    });
    
    </script>
    
<?php endif; ?>