<!DOCTYPE html>
<html lang="<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>">
    
    <head>
        
        <title><?=PerisianSystemConfiguration::isTestServer() ? "TEST - " : ""?><?=$settings->getSetting(PerisianFrameworkToolbox::getConfig('system/setting_id/page_title'))?></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/theme-default/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/theme-default/materialadmin.css" />
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/theme-default/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/theme-default/open-sans.css" />
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/theme-default/material-design-iconic-font.min.css" />
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/theme-default/libs/toastr/toastr.css" />
        <link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/css/global.css" />
        <link rel="shortcut icon" id="favicon" type="image/x-icon" href="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/img/favicon.png"/>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/utils/html5shiv.js?1403934957"></script>
        <script type="text/javascript" src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/utils/respond.min.js?1403934956"></script>
        <![endif]-->

        <script type="text/javascript">

            var languageId = <?=PerisianSystemConfiguration::getLanguageId()?>;
            var languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
            var baseUrl = "<?=PerisianFrameworkToolbox::getServerAddress()?>";

        </script>

        <script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
       
        <meta name="viewport" content="width=device-width, user-scalable=no" />

    </head>

    <body class="menubar-hoverable header-fixed menubar-pin">
        
        <?php if(isset($user) && $user->isLoggedIn() && !$dontShowHeaderHtml): ?>
        
            <header id="header" >
                
                <div class="headerbar">
                    
                    <div class="headerbar-left">
                        
                        <ul class="header-nav header-nav-options">
                            
                            <?php if($showMenu): ?>
                            
                                <li>
                                    <a class="btn btn-icon-toggle menubar-toggle" style="left: -10px;" data-toggle="menubar" href="javascript:void(0);">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                                
                            <?php endif; ?>
                                
                            <li class="header-nav-brand" >
                                <div style="position: relative; left: 4px;" class="brand-holder">
                                    <a href="<?=PerisianFrameworkToolbox::getServerAddress(); ?>">
                                        <img src="<?=$customHeaderImage?>">
                                    </a>
                                </div>
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                    <div class="headerbar-right">
                        
                        <ul class="header-nav header-nav-profile">
                            
                            <li class="dropdown">
                                
                                <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                                    
                                    <div class="user-color-header" style="background-color: <?=$user->{$user->field_color}?>;<?php if(strlen($user->getImageProfileAddress()) > 0):?> background-image: url('<?=$user->getImageProfileAddress()?>');<?php endif;?>"></div>
                                
                                    <span class="profile-info" style="margin-top:6px;">
                                        <?php if($user->isLoggedIn()): ?>
                                            <?php PerisianLanguageVariable::printVariable(10009); ?> <?php echo $user->{$user->field_fullname} ?>
                                        <?php endif; ?>
                                        <small><?=$user->getRoleString();?></small>
                                    </span>
                                
                                </a>
                                
                                <ul class="dropdown-menu animation-dock">
                                    
                                    <?php if($user->hasSetting('is_system_admin') && $user->hasSetting('is_system_developer')): ?>
                                    
                                        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress()?>language/missing/"><i class="md md-error" style="margin-left: -5px; margin-right: 10px"></i> <?php PerisianLanguageVariable::printVariable('p576c123a1459b'); ?></a></li>
                                     
                                    <?php endif; ?>
                                    
                                    <?php if($user->hasSetting('is_system_admin') && $user->hasSetting('is_system_developer')): ?>
                                    
                                        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress()?>system/database/"><i class="fa fa-fw fa-database" style="margin-left: -5px; margin-right: 10px"></i> <?php PerisianLanguageVariable::printVariable('p57b443846a696'); ?></a></li>
                                     
                                    <?php endif; ?>
                                    
                                    <?php if($user->hasSetting('is_system_admin')): ?>
                                    
                                        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress()?>system/status/"><i class="fa fa-fw fa-question-circle" style="margin-left: -5px; margin-right: 10px"></i> <?php PerisianLanguageVariable::printVariable(11077); ?></a></li>
                                     
                                    <?php endif; ?>
                                        
                                    <li><a href="<?=PerisianFrameworkToolbox::getServerAddress()?>user_backend/settings/"><i class="md fa md-mood" style="margin-left: -5px; margin-right: 10px"></i> <?=lg('10026')?></a></li>
                                    
                                    <li><a href="?do=logout"><i class="fa fa-fw fa-power-off text-danger" style="margin-left: -5px; margin-right: 10px"></i> <?php PerisianLanguageVariable::printVariable(10008); ?></a></li>
                                    
                                </ul>
                                
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                </div>
                
            </header>
            
            <div class="modal fade" id="modalContainer" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                
                <div class="modal-dialog">
                    
                    <div class="modal-content"></div>
                    
                </div>
                
            </div>

            <div id="base" class="<?php if(isset($renderer) && strlen(@$renderer['page_menu_right']) > 0):?>base-menu-right<?php if($user->hasSetting('user_layout_menu_right_closed')): ?> base-menu-right-closed<?php endif; ?><?php endif; ?>"<?php if(!$showMenu): ?> style="padding-left: 0"<?php endif; ?>>

                <div class="offcanvas"></div>

                <div id="content">

                    <section>
                    <?php endif; ?>