<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">
    
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="chat-title"><?php PerisianLanguageVariable::printVariable(10848) ?></label>
                <input type="text" id="chat-title" class="form-control" name="chat-title" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_name_first}; endif?>"/>

            </div>
            
        </div>
        
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable('p595409cc7869d') ?></div>
        
    <div class="modal-body user-selector-container">
    
        <ul class="list divider-full-bleed user-selector" id="chat-user-selector" style="max-height: 200px">

            <?php for($i = 0; $i < count($result['list_users']); ++$i): ?>
            
                <?php if(!isset($result['list_users'][$i])): continue; endif; ?>

                <li class="tile user-selector" data-id="<?=$result['list_users'][$i]["user_id"]?>" data-key="<?=$result['list_users'][$i]["vmoso_key"]?>">

                    <div class="tile-content">

                        <div class="user-color" style="background-color: <?=$result['list_users'][$i]["user_color"]?>"></div>

                        <div class="checkbox checkbox-styled">

                            <label>

                                <input type="checkbox">
                                <span style="padding-left: 0;"></span>

                            </label>

                        </div>

                        <div class="user-selector-name"><?=$result['list_users'][$i]["user_fullname"]?></div>

                    </div>

                </li>

            <?php endfor; ?>

        </ul>
        
        <script type="text/javascript">

            jQuery(document).ready(function() {

                var userSelector = jQuery('#chat-user-selector');

                userSelector.find("li.user-selector").click(function() {

                    var checkbox = jQuery(this).find(":checkbox");
                    checkbox.prop("checked", !checkbox.prop("checked"))

                });

            });

        </script>

    </div>
            
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="VmosoChat.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="VmosoChat.createNewChat()"><i class="md md-chat"></i> <?php PerisianLanguageVariable::printVariable('p59540bf57f1c5') ?></button>

</div>