<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/modules/VmosoChat.js"></script>
<script type="text/javascript" src="../assets/js/calsy/modules/VmosoChatBackend.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        VmosoChat.setChatKey('<?=@$result['key']?>');
        VmosoChat.setup('<?=$user->{$user->field_fullname}?>', '<?=$user->getImageProfileAddress()?>');
        
        <?php if(isset($result['participants'])): ?>
            VmosoChat.setParticipants(<?=json_encode($result['participants'])?>);
        <?php endif; ?>
        
        setTimeout(function() {
            
            VmosoChat.refreshLatestMessages();
            
        }, 100);
                
    });
    
</script>

<style type="text/css">
    
.chat-message-row.row-right .chat-main
{
    
    background-color: <?=PerisianSystemSetting::getSettingValue('backend_color_main_alternative') ?> !important;
    
}
    
</style>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li class="active"><?=PerisianLanguageVariable::getVariable('p592c40ed01fc6')?></li>
        
    </ol>
    
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!class_exists("CalsyVmosoBackendModule") || !CalsyVmosoBackendModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php else: ?>
        
            <?php require_once('includes/chat_message_container_and_log.phtml'); ?>

        <?php endif; ?>

    </div>
    
</div>

<link type="text/css" rel="stylesheet" href="assets/css/calsy/vmoso/vmoso.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/calsy/vmoso/chat.<?=$result['key_layout_chat']?>.css"/>