<?php 

    try
    {
        
        $entryUser = new CalsyUserBackend($currentEntry['calsy_calendar_entry_user_id']); 
    
    }
    catch(Exception $e)
    {
        
    }

    try
    {
        
        $entryOrder = new CalsyOrder($currentEntry['calsy_calendar_entry_user_frontend_order_order_id']); 
    
    }
    catch(Exception $e)
    {
        
    }
    
    $actualEntryId = !empty($currentEntry['calsy_calendar_entry_parent_entry_id']) && $currentEntry['calsy_calendar_entry_parent_entry_id'] != '0' ? $currentEntry['calsy_calendar_entry_parent_entry_id'] : $currentEntry['calsy_calendar_entry_id'];
    
    try
    {
        
        $entryObject = new CalsyCalendarEntry($actualEntryId); 
        $entryUserFrontendWithOrders = $entryObject->getUserFrontendWithOrders();     
        $resourceInfo = new CalsyResource($currentEntry['calsy_calendar_entry_resource_id']);
        
    }
    catch(PerisianException $e)
    {
        
    }
    
?>
<td>
        
    <b><a href="javascript:Event.infoEvent(<?=$actualEntryId?>)" onclick=""><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_calendar_entry_title'])?></a></b>

    <?=CalsyCalendarEntry::getTagsForEntryAsHtml($actualEntryId)?>
    
    <br/><?=gmdate("d.m.Y, H:i", $currentEntry['calsy_calendar_entry_date_begin_timestamp'])?> <?=PerisianLanguageVariable::getVariable(10785)?><br/><?=gmdate("d.m.Y, H:i", $currentEntry['calsy_calendar_entry_date_end_timestamp'])?>
        
    <span class="table-info-additional"></span>

</td>

<td>
    
    <?php if(strlen($currentEntry['calsy_calendar_entry_description']) > 0): ?>
        <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_calendar_entry_description'])?>
    <?php endif; ?>
    
    <span class="table-info-additional">
        
        <?php

            $fieldList = Array();

            if(false)
            {

                array_push($fieldList, "");

            }

            echo implode("<br/>", $fieldList); 

        ?>
        
    </span>
    
</td>

<td>

    <?php

        $fieldList = Array();
        
        if(is_object(@$entryUser) && $entryUser->{$entryUser->field_pk} > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10061) . ": " . PerisianFrameworkToolbox::highlightText($result['search'], $entryUser->{$entryUser->field_fullname}));
            
        }
        else
        {
            
            array_push($fieldList, '<span class="alert alert-warning alert-inline">' . PerisianLanguageVariable::getVariable(10935) . '</span>');
            
        }
        
        if(CalsyResourceModule::isEnabled() && $resourceInfo->{$resourceInfo->field_pk} > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10916) . ": " . $resourceInfo->{$resourceInfo->field_title});
        
        }
        
        if(!CalsyCalendarEntry::hasNoUserFrontend($actualEntryId))
        {
            
            $userFrontendString = PerisianLanguageVariable::getVariable(count($entryUserFrontendWithOrders) == 1 ? 10798 : 10806) . ": ";
            
            $entryUserFrontend = array();

            foreach($entryUserFrontendWithOrders as $entryUserFrontendWithOrder)
            {
                
                if(!is_object($entryUserFrontendWithOrder['user_frontend']))
                {
                    
                    continue;
                    
                }

                $userFrontendPartString = $entryUserFrontendWithOrder['user_frontend']->getFullName();
                $dataToggleString = '';
                        
                if(CalsyOrderModule::isEnabled() && strlen($entryUserFrontendWithOrder['order']->{$entryUserFrontendWithOrder['order']->field_title}) > 0)
                {
                    
                    $orderString = PerisianLanguageVariable::getVariable(10782) . ": " . $entryUserFrontendWithOrder['order']->{$entryUserFrontendWithOrder['order']->field_title};
                    $dataToggleString = 'data-toggle="tooltip" data-original-title="' . $orderString . '" ';
                    
                }
                    
                $userFrontendPartString = '<a ' . $dataToggleString . 'href="' . PerisianFrameworkToolbox::getServerAddress() . 'user_frontend/overview/?search=' . $entryUserFrontendWithOrder['user_frontend']->{$entryUserFrontendWithOrder['user_frontend']->field_pk} . '">' . $userFrontendPartString;
                $userFrontendPartString .= '</a>';
                
                array_push($entryUserFrontend, $userFrontendPartString);

            }
            
            if(count($entryUserFrontend) > 0)
            {
                
                array_push($fieldList, ($userFrontendString . implode(", ", $entryUserFrontend)));
                
            }
            
        }
        
        echo implode("<br/>", $fieldList); 

    ?>
    
</td>

<td class="text-right">

    <nobr>
        
        <button onclick="Event.exportIcs(<?=$actualEntryId?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=PerisianLanguageVariable::getVariable('p59d244270472b')?>"><i class="fa fa-calendar"></i></button>
        
        <button onclick="Event.infoEvent(<?=$actualEntryId?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=PerisianLanguageVariable::getVariable('p5a0f25425be0b')?>"><i class="fa fa-info-circle"></i></button>
        
        <button onclick="Event.editEvent(<?=$actualEntryId?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=PerisianLanguageVariable::getVariable(10861)?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="Event.deleteEvent(<?=$actualEntryId?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=PerisianLanguageVariable::getVariable(10862)?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
