<?php if($action == "list"): ?>
<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=PerisianLanguageVariable::getVariable($result['title_list'])?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 30%">
                                <?php PerisianLanguageVariable::printVariable(10863) ?>
                            </th>
                            
                            <th style="width: 30%">
                                <?php PerisianLanguageVariable::printVariable(10781) ?>
                            </th>
                            
                            <th style="width: 30%">
                                <?php PerisianLanguageVariable::printVariable(10826) ?>
                            </th>
                            
                            <th style="width: 10%" class="text-right"><?php PerisianLanguageVariable::printVariable(10077) ?></th>
                            
                        </tr>

                    </thead>
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <tr id="table_info_entry_<?=@$currentEntry['calsy_calendar_entry_id']?>">

                            <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
