<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalendarEntry.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Event.js"></script>
<script type="text/javascript" src="../assets/js/calsy/UserFrontend.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<script type="text/javascript" src="../assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/moment/moment-with-locales.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        Perisian.initFieldClearButtons();
        
        Event.filterUserFrontendId = <?=$result['filter_user_frontend_id']?>;
        Event.filterOrderId = <?=$result['filter_order_id']?>;
        Event.filterUserId = <?=$result['filter_user_backend_id']?>;
        Event.filterResourceId = <?=$result['filter_resource_id']?>;
        Event.filterAreaId = <?=$result['filter_area_id']?>;
        Event.filterShowUnconfirmed = <?=$result['filter_show_unconfirmed']?>;
        Event.filterShowCanceled = <?=$result['filter_show_canceled']?>;
        
        Event.currentOffset = <?=$result['offset']?>;
        Event.currentLimit = <?=$result['limit']?>;

        Event.timestampBegin = <?=$result['timestamp_calendar_start']?>;
        Event.timestampEnd = <?=$result['timestamp_calendar_end']?>;
        
        Calendar.languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
            
        Calendar.onRefreshContainer = function(){
            
            Event.showEntries(); 
            
        };
        
        <?php if(isset($result['entry_to_open']) && @$result['entry_to_open'] != null): ?>

            Calendar.editEvent(<?=$result['entry_to_open']->{$result['entry_to_open']->field_pk}?>);

        <?php endif;?>
        
    });
    
    var showEntries = function() {
        
        Event.showEntries(null, null, null, null, true);  
        
    };

    jQuery(document).ready(function() {

        jQuery('#filter_user_frontend_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'calsy_user_frontend_id',
                'fieldToDisplay': 'calsy_user_frontend_fullname',
                'forceEntryFromList': true,

                'url': Event.controller,

                'renderer': CalsyAutocompleteRenderer.renderUserFrontend,
                
                'onSelect': showEntries

            });

        });

        jQuery('#filter_user_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'user_id',
                'fieldToDisplay': 'user_fullname',
                'forceEntryFromList': true,

                'url': Event.controller,

                'renderer': CalsyAutocompleteRenderer.renderUser,
                
                'onSelect': showEntries

            });

        });

        jQuery('#filter_resource_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'calsy_calendar_resource_id',
                'fieldToDisplay': 'calsy_calendar_resource_title',
                'forceEntryFromList': true,

                'url': Event.controller,
                
                'onSelect': showEntries

            });

        });

        jQuery('#filter_area_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'calsy_area_id',
                'fieldToDisplay': 'calsy_area_title',
                'forceEntryFromList': true,

                'url': Event.controller,
                
                'onSelect': showEntries

            });

        });

    });

</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10857) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div><!--end .section-header -->

<div class="section-body">
    
    <div id="inner">

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {Event.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="Event.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="Event.showEntries(null, null, null, null, true);" type="button" style="position:relative; top:15px; margin-bottom: 16px"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <?php if(CalsyUserFrontendModule::isEnabled()): ?>

                                <div class="form-group">
                                    <label for="filter_user_frontend_id"><?php PerisianLanguageVariable::printVariable(10841) ?></label>
                                    <input type="text" id="filter_user_frontend_id" class="form-control btn-clear-field" name="filter_user_frontend_id" value="<?=$result['filter_user_frontend']->getFullName()?>" perisian-data-id="<?=$result['filter_user_frontend_id']?>" data-source="user_frontend"/>
                                    <button class="btn btn-default btn-clear" type="button" callback="Event.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                </div>
                            
                            <?php endif; ?>
                            
                            <div class="form-group">
                                <label for="filter_user_id"><?php PerisianLanguageVariable::printVariable(10859) ?></label>
                                <input type="text" id="filter_user_id" class="form-control btn-clear-field" name="filter_user_id" value="<?=$result['filter_user_backend']->{$result['filter_user_backend']->field_fullname}?>" perisian-data-id="<?=$result['filter_user_backend_id']?>" data-source="user"/>
                                <button class="btn btn-default btn-clear" type="button" callback="Event.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <?php if(CalsyAreaModule::isEnabled()): ?>

                                <div class="form-group">
                                    <label for="filter_area_id"><?=lg('p5f87402c52790')?></label>
                                    <input type="text" id="filter_area_id" class="form-control btn-clear-field" name="filter_area_id" value="<?=$result['filter_area']->{$result['filter_area']->field_title}?>" perisian-data-id="<?=$result['filter_area_id']?>" data-source="area"/>
                                    <button class="btn btn-default btn-clear" type="button" callback="Event.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                </div>
                            
                            <?php endif; ?>
                            
                            <?php if(CalsyResourceModule::isEnabled()): ?>
                            
                                <div class="form-group">
                                    <label for="filter_resource_id"><?php PerisianLanguageVariable::printVariable(10918) ?></label>
                                    <input type="text" id="filter_resource_id" class="form-control" name="filter_resource_id" value="<?=$result['filter_resource']->{$result['filter_resource']->field_title}?>" perisian-data-id="<?=$result['filter_resource']->{$result['filter_resource']->field_pk}?>" data-source="resource"/>
                                    <button class="btn btn-default btn-clear" type="button" callback="Event.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                </div>
                            
                            <?php endif; ?>
                            
                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="Event.createNewEvent()" type="button">
                                <span class="md md-description"></span> <?php PerisianLanguageVariable::printVariable(10864) ?>
                            </button>
                            
                            <?php if(!$isMenuPointOnCanceled && CalsyUserFrontendModule::isEnabled()): ?>
                            
                                <button id="filter_show_unconfirmed" class="btn btn-primary-bright btn-block ink-reaction" onclick="Event.showUnconfirmed();" type="button" style="position:relative; top:15px; margin-bottom: 16px; display: <?=$result['filter_show_unconfirmed'] ? "none" : "block" ?>">
                                    <i class="fa fa-warning"></i> <?php PerisianLanguageVariable::printVariable(10919); ?>
                                </button>   

                                <button id="filter_show_confirmed" class="btn btn-primary-bright btn-block ink-reaction" onclick="Event.showConfirmed();" type="button" style="position:relative; top:15px; margin-bottom: 16px; display: <?=$result['filter_show_unconfirmed'] ? "block" : "none" ?>">
                                    <i class="md md-check"></i> <?php PerisianLanguageVariable::printVariable(10920); ?>
                                </button>   
                            
                            <?php endif; ?>
                
                            <button id="event-button-show-past" class="btn btn-primary-bright btn-block ink-reaction" onclick="Event.showPast();" type="button" style="position:relative; top:15px; margin-bottom: 16px; display: <?=$result['filter_show_past'] ? "none" : "block" ?>">
                                <i class="md md-arrow-back"></i> <?php PerisianLanguageVariable::printVariable(10866); ?>
                            </button>    
                            
                            <button id="event-button-show-future" class="btn btn-primary-bright btn-block ink-reaction" onclick="Event.showFuture();" type="button" style="position:relative; top:15px; margin-bottom: 16px; display: <?=$result['filter_show_past'] ? "block" : "none" ?>">
                                <i class="md-arrow-forward"></i> <?php PerisianLanguageVariable::printVariable(10865); ?>
                            </button>

                        </div>
                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            
            <?php require("list.phtml"); ?>
            
        </div>
        
        <div class="col col-lg-12" style="display: none;" id="list-loading-indicator">
            
            <div class="loading-indicator"></div>
            
        </div>
        
    </div>
    
</div>