 <?php 
 
    $requiredStreetAddress = (isset($result['invitation']) && ($result['invitation']->isFieldRequested('calsy_user_frontend_address_street') || $result['invitation']->isFieldRequested('calsy_user_frontend_address_street_number')));
    $requiredAddressAdditional = (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_address_additional'));
    $requiredCity = (isset($result['invitation']) && ($result['invitation']->isFieldRequested('calsy_user_frontend_address_zip') || $result['invitation']->isFieldRequested('calsy_user_frontend_address_city')));
    $requiredCountry = (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_address_country'));
    
?>

<?php if(!isset($result['invitation']) || $requiredStreetAddress || $requiredAddressAdditional || $requiredCity || $requiredCountry): ?>

    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10512) ?></div>

    <div class="modal-body">

        <?php if(!isset($result['invitation']) || $requiredStreetAddress): ?>

            <div class="form-group">

                <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_address_street_number'))): ?>

                    <div class="col-sm-9">

                        <label for="calsy_user_frontend_address_street"><?php PerisianLanguageVariable::printVariable(10175) ?></label>
                        <input type="text" id="calsy_user_frontend_address_street" class="form-control" name="calsy_user_frontend_address_street" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_street}; endif?>"/>

                    </div>

                <?php endif; ?>

                <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_address_street_number'))): ?>

                    <div class="col-sm-3">

                        <label for="calsy_user_frontend_address_street_number"><?php PerisianLanguageVariable::printVariable(10554) ?></label>
                        <input type="text" id="calsy_user_frontend_address_street_number" class="form-control" name="calsy_user_frontend_address_street_number" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_street_number}; endif?>"/>

                    </div>

                <?php endif; ?>

            </div>

        <?php endif; ?>

        <?php if(!isset($result['invitation']) || $requiredAddressAdditional): ?>

            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_user_frontend_address_additional"><?php PerisianLanguageVariable::printVariable(10555) ?></label>
                    <input type="text" id="calsy_user_frontend_address_additional" class="form-control" name="calsy_user_frontend_address_additional" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_additional}; endif?>"/>

                </div>
            </div>

        <?php endif; ?>

        <?php if(!isset($result['invitation']) || $requiredCity): ?>

            <div class="form-group">

                <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_address_zip'))): ?>

                    <div class="col-sm-3">

                        <label for="calsy_user_frontend_address_zip"><?php PerisianLanguageVariable::printVariable(10556) ?></label>
                        <input type="text" id="calsy_user_frontend_address_zip" class="form-control" name="calsy_user_frontend_address_zip" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_zip}; endif?>"/>

                    </div>

                <?php endif; ?>

                <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_address_city'))): ?>

                    <div class="col-sm-9">

                        <label for="calsy_user_frontend_address_city"><?php PerisianLanguageVariable::printVariable(10565) ?></label>
                        <input type="text" id="calsy_user_frontend_address_city" class="form-control" name="calsy_user_frontend_address_city" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_city}; endif?>"/>

                    </div>

                <?php endif; ?>

            </div>

        <?php endif; ?>

        <?php if(!isset($result['invitation']) || $requiredCountry): ?>

            <div class="form-group">

                <div class="col-sm-12">

                    <label for="calsy_user_frontend_address_country"><?php PerisianLanguageVariable::printVariable(10177) ?></label>
                    <input type="text" id="calsy_user_frontend_address_country" class="form-control" name="calsy_user_frontend_address_country" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_country}; endif?>"/>

                </div>

            </div>

        <?php endif; ?>

    </div>

<?php endif; ?>