
<div class="modal-body">

    <?php if(!isset($result['invitation']) || (isset($result['invitation']) && ($result['invitation']->isFieldRequested('calsy_user_frontend_name_first') || $result['invitation']->isFieldRequested('calsy_user_frontend_name_last')))): ?>
    
        <div class="form-group">

            <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_name_first'))): ?>
    
                <div class="col-sm-6">

                    <label for="calsy_user_frontend_name_first"><?php PerisianLanguageVariable::printVariable(10560) ?></label>
                    <input type="text" id="calsy_user_frontend_name_first" class="form-control" name="calsy_user_frontend_name_first" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_name_first}; endif?>"/>

                </div>

            <?php endif; ?>
            
            <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_name_last'))): ?>

                <div class="col-sm-6">

                    <label for="calsy_user_frontend_name_last"><?php PerisianLanguageVariable::printVariable(10559) ?></label>
                    <input type="text" id="calsy_user_frontend_name_last" class="form-control" name="calsy_user_frontend_name_last" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_name_last}; endif?>"/>

                </div>
            
            <?php endif; ?>

        </div>
    
    <?php endif; ?>

    <div class="form-group">

        <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_sex'))): ?>

            <div class="col-sm-6">

                <label for="calsy_user_frontend_sex"><?php PerisianLanguageVariable::printVariable(10830) ?></label>

                <select id="calsy_user_frontend_sex" class="form-control" name="calsy_user_frontend_sex">

                    <option value="none"<?php if($action == 'edit' && $result['object']->{$result['object']->field_sex} == "none"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10833) ?></option>
                    <option value="male"<?php if($action == 'edit' && $result['object']->{$result['object']->field_sex} == "male"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10831) ?></option>
                    <option value="female"<?php if($action == 'edit' && $result['object']->{$result['object']->field_sex} == "female"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10832) ?></option>

                </select>

            </div>

        <?php endif; ?>

        <?php if(isset($user) && $user->isAdmin()): ?>

            <div class="col-sm-6">

                <label for="calsy_user_frontend_registration_status"><?=lg('10636')?></label>

                <select id="calsy_user_frontend_registration_status" class="form-control" name="calsy_user_frontend_registration_status">

                    <option value="inactive"<?php if($action != 'edit' || $result['object']->{$result['object']->field_registration_status} == "inactive"): ?> selected<?php endif;?>><?=lg('p57a9e6cf72ca2')?></option>
                    <option value="active"<?php if($action == 'edit' && $result['object']->{$result['object']->field_registration_status} == "active"): ?> selected<?php endif;?>><?=lg('p57a9e6c37538b')?></option>

                </select>

            </div>

        <?php endif; ?>

    </div>
    
    <?php if(!$hideEmail): ?>
    
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_user_frontend_email"><?php PerisianLanguageVariable::printVariable(10208) ?></label>
                <input type="text" id="calsy_user_frontend_email" class="form-control" name="calsy_user_frontend_email" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_email}; endif?>"/>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_user_frontend_email_contact"><?php PerisianLanguageVariable::printVariable('p5e4c6f81e5543') ?></label>
                <input type="text" id="calsy_user_frontend_email_contact" class="form-control" name="calsy_user_frontend_email_contact" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_email_contact}; endif?>"/>

            </div>
        </div>
    
    <?php endif; ?>

    <?php if(!isset($result['invitation']) || (isset($result['invitation']) && ($result['invitation']->isFieldRequested('calsy_user_frontend_phone') || $result['invitation']->isFieldRequested('calsy_user_frontend_fax')))): ?>

        <div class="form-group">

            <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_phone'))): ?>

                <div class="col-sm-6">

                    <label for="calsy_user_frontend_phone"><?php PerisianLanguageVariable::printVariable(10486) ?></label>
                    <input type="text" id="calsy_user_frontend_phone" class="form-control" name="calsy_user_frontend_phone" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_phone}; endif?>"/>

                </div>

            <?php endif; ?>

            <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_fax'))): ?>

                <div class="col-sm-6">

                    <label for="calsy_user_frontend_fax"><?php PerisianLanguageVariable::printVariable(10562) ?></label>
                    <input type="text" id="calsy_user_frontend_fax" class="form-control" name="calsy_user_frontend_fax" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_fax}; endif?>"/>

                </div>

            <?php endif; ?>

        </div>
    
    <?php endif; ?>
    
    <?php if(!isset($result['invitation']) || (isset($result['invitation']) && ($result['invitation']->isFieldRequested('calsy_user_frontend_phone_mobile')))): ?>

        <div class="form-group">

            <?php if(!isset($result['invitation']) || (isset($result['invitation']) && $result['invitation']->isFieldRequested('calsy_user_frontend_phone_mobile'))): ?>

                <div class="col-sm-6">

                    <label for="calsy_user_frontend_phone_mobile"><?=lg('p5e7278d605a1d')?></label>
                    <input type="text" id="calsy_user_frontend_phone_mobile" class="form-control" name="calsy_user_frontend_phone_mobile" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_phone_mobile}; endif?>"/>

                </div>

            <?php endif; ?>

        </div>
    
    <?php endif; ?>

</div>
