
<div class="modal-body info-bar"><?=lg('p5e5e697dc503b')?></div>
    
<div class="modal-body user-custom-input">

    <?php foreach($result['object']->getCustomFields() as $field): ?>

        <div class="form-group user-custom-input-field" id="custom_field_<?=$field['id']?>" data-id="<?=$field['id']?>">

            <div class="col-sm-3 user-custom-input-box-label">

                <input type="text" class="form-control user-custom-input-field-label" value="<?=$field['label']?>" placeholder="<?=lg('10796')?>"/>

            </div>

            <div class="col-sm-6">

                <input type="text" class="form-control user-custom-input-field-value" value="<?=$field['value']?>" placeholder="<?=lg('11093')?>"/>

            </div>

            <div class="col-sm-3">

                <button tabIndex="-1" type="button" class="user-custom-input-button user-custom-input-button-add">+</button>
                <button tabIndex="-1" type="button" data-id="<?=$field['id']?>" class="user-custom-input-button user-custom-input-button-remove">-</button>

            </div>

        </div>

    <?php endforeach; ?>

    <script type="text/javascript">

        jQuery(document).ready(function() {

            UserFrontend.initCustomFields();

        });

    </script>

</div>
