<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
    <input type="hidden" id="editId" value="<?php echo $editId ?>">
    <?php endif ?>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(11024) ?></div>

    <div class="modal-body">
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_user_backend_group_name"><?php PerisianLanguageVariable::printVariable(10848) ?></label>
                <input type="text" id="calsy_user_backend_group_name" class="form-control" name="calsy_user_backend_group_name" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_name}; endif?>"/>

            </div>
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(11025) ?></div>
    
    <div class="modal-body user-selector-container">
    
        <ul class="list divider-full-bleed user-selector" id="group-user-selector" style="max-height: 200px">

            <?php for($i = 0; $i < count($result['list_users']); ++$i): ?>

                <li class="tile user-selector" data-id="<?=$result['list_users'][$i]["user_id"]?>">

                    <div class="tile-content">

                        <div class="user-color" style="background-color: <?=$result['list_users'][$i]["user_color"]?>"></div>

                        <div class="checkbox checkbox-styled">

                            <label>

                                <input type="checkbox"<?=(in_array($result['list_users'][$i]["user_id"], $result['list_users_selected_identifiers']) ? " checked" : "")?>>
                                <span style="padding-left: 0;"></span>

                            </label>

                        </div>

                        <div class="user-selector-name"><?=$result['list_users'][$i]["user_fullname"]?></div>

                    </div>

                </li>

            <?php endfor; ?>

        </ul>
        
        <script type="text/javascript">

            jQuery(document).ready(function() {

                var userSelector = jQuery('#group-user-selector');

                userSelector.find("li.user-selector").click(function() {

                    var checkbox = jQuery(this).find(":checkbox");
                    checkbox.prop("checked", !checkbox.prop("checked"))

                });

            });

        </script>

    </div>
    
    <?php if(count($result['list_groups']) > 0): ?>

        <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable('p58eb877a506fc') ?></div>

        <div class="modal-body user-selector-container">

            <ul class="list divider-full-bleed user-selector" id="group-view-rights-selector" style="max-height: 200px">

                <?php for($i = 0; $i < count($result['list_groups']); ++$i): ?>

                    <li class="tile user-selector" data-id="<?=$result['list_groups'][$i]["calsy_user_backend_group_id"]?>">

                        <div class="tile-content">

                            <div class="checkbox checkbox-styled">

                                <label>

                                    <input type="checkbox"<?=(in_array($result['list_groups'][$i]["calsy_user_backend_group_id"], $result['list_groups_selected_identifiers']) ? " checked" : "")?>>
                                    <span style="padding-left: 0;"></span>

                                </label>

                            </div>

                            <div class="user-selector-name"><?=$result['list_groups'][$i]["calsy_user_backend_group_name"]?></div>

                        </div>

                    </li>

                <?php endfor; ?>

            </ul>

            <script type="text/javascript">

                jQuery(document).ready(function() {

                    var groupSelector = jQuery('#group-view-rights-selector');

                    groupSelector.find("li.user-selector").click(function() {

                        var checkbox = jQuery(this).find(":checkbox");
                        checkbox.prop("checked", !checkbox.prop("checked"))

                    });

                });

            </script>

        </div>
        
    <?php endif; ?>
        
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="UserBackendGroup.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="UserBackendGroup.saveUserBackendGroup()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>