<td>
    
    <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_backend_group_name'])?>

</td>

<td>
    
    <?php
    
        $fieldList = [];
                
        {
            
            $userCount = CalsyUserBackendGroupMember::getCountForGroup($currentEntry['calsy_user_backend_group_id']);
            
            $userCountString = ($userCount > 0 ? ($userCount . " " . PerisianLanguageVariable::getVariable(11022)) : PerisianLanguageVariable::getVariable(11021));
            
            $userString = PerisianLanguageVariable::getVariable(10020) . ": " . $userCountString;

            array_push($fieldList, $userString);

        }
        
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="UserBackendGroup.editUserBackendGroup(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_backend_group_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p58eb84229f63d') ?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="UserBackendGroup.deleteUserBackendGroup(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_backend_group_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p58eb8445e9d34') ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
