<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/front/account/AccountSettings.js"></script>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?=PerisianLanguageVariable::printVariable(11185)?></li>
        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>account/settings/"><?=PerisianLanguageVariable::printVariable(10120)?></a></li>
        <li class="active"><?=PerisianLanguageVariable::getVariable('p5aedd1d0f0482')?></li>
    </ol>
    
</div>

<div class="section-body">
     
    <div id="inner">
                
        <div class="col-lg-12">

            <div class="card">

                <div class="form-group" style="margin-bottom: 0">

                    <div class="card-body">

                        <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p5aedd9837a90e')?></h2>
                        
                        <br/>
                        
                        <?php foreach($result['data_disclosure'] as $item): ?>
                        
                            <?=$item['title']?>: <?=$item['count_entries']?> <?=PerisianLanguageVariable::getVariable('10429')?><br/>
                        
                        <?php endforeach; ?>

                    </div>

                </div>

            </div>

        </div>
        
        <div class="col-lg-6">

            <div class="card">

                <div class="form-group" style="margin-bottom: 0">

                    <div class="card-body">

                        <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p5aede44827c0f')?></h2>
                        
                        <br/>
                        
                        <pre style="max-height: 400px;"><?=(print_r($result['data_user'], true))?></pre>

                    </div>

                </div>

            </div>

        </div>
        
        <div class="col-lg-6">

            <div class="card">

                <div class="form-group" style="margin-bottom: 0">

                    <div class="card-body">

                        <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p5aeddf62cc7b2')?></h2>
                        
                        <br/>
                        
                        <pre style="max-height: 400px;"><?=(print_r($result['data_disclosure']['calendar']['data'], true))?></pre>

                    </div>

                </div>

            </div>

        </div>
        
        <?php if(CalsyOrderModule::isEnabled() && count(@$result['data_disclosure']['order']['data']) > 0): ?>
        
            <div class="col-lg-6">

                <div class="card">

                    <div class="form-group" style="margin-bottom: 0">

                        <div class="card-body">

                            <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('10793')?></h2>

                            <br/>

                            <?php print_r($result); ?>
                            
                            <pre style="max-height: 400px;"><?=(print_r($result['data_disclosure']['order']['data'], true))?></pre>

                        </div>

                    </div>

                </div>

            </div>
        
        <?php endif; ?>
        
    </div>
    
</div>