<section class="section-account">
        
    <div class="card contain-sm">
        <div class="card-body">
            <div class="row">
                
                <div class="col-lg-12">

                    <h2><?=PerisianLanguageVariable::getVariable('p5aee2126aff51')?></h2>
                    
                    <?=nl2br(PerisianLanguageVariable::getVariable('p5aedd57466065'))?>
                    
                    <br/>
                    <br/>
                                        
                    <pre style="max-height: 600px;"><?php print_r($result['data_user'])?><br/><?php print_r($result['data_disclosure'])?></pre>

                    <br/>

                    <a href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>" class="btn btn-block btn-primary btn-raised"><?=PerisianLanguageVariable::getVariable('p5aee1fb227f22')?></a>

                    </form>

                </div>

            </div>
        </div>
    </div>
</section>