<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/front/account/AccountSettings.js"></script>
<script type="text/javascript" src="assets/js/libs/dropzone/dropzone.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/colorpicker/colorpicker.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/colorpicker/colorpicker.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(11185); ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10120) ?></li>
    </ol>
    
</div>

<div class="section-body">
     
    <div id="inner">
        
        <?php if(CalsyCalendarNotification::isEnabled($userFrontend)): ?>
        
            <div class="col-lg-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body" style="padding-bottom: 0">
                            <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable(11184)?></h2>
                        </div>

                        <?php if(count($result['list_settings_calendar_notifications']) > 0): ?>
                            <?php PerisianSetting::printSettingList($result['list_settings_calendar_notifications'], 11184) ?>
                        <?php endif?>

                    </form>

                </div>

            </div>
            
        <?php endif; ?>
        
        <div class="col-lg-4">

            <div class="card">
                
                <form class="form form-validate floating-label" novalidate="novalidate">

                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable(10026)?></h2>
                    </div>

                    <div class="card-body">

                        <div class="form-group">

                            <select id="user_frontend_language" name="user_frontend_language" class="form-control">

                                <?php foreach ($result['list_languages'] as $languageItem): ?>

                                    <option value="<?=$languageItem['language_id']?>"<?php if($languageItem['language_id'] == $userFrontend->{$userFrontend->field_language_id}): ?> selected<?php endif ?>><?=$languageItem['language_name']?></option>

                                <?php endforeach ?>

                            </select>

                            <label for="user_frontend_language"><?= PerisianLanguageVariable::getVariable('10124')?></label>

                        </div>
                        
                    </div>

                    <div class="card-actionbar">

                        <div class="card-actionbar-row">

                            <button class="btn btn-primary-bright ink-reaction" id="button_language" type="button" onclick="AccountSettings.changeLanguage();"><?php PerisianLanguageVariable::printVariable(10129) ?></button>

                        </div>

                    </div>

                </form>

            </div>
            
        </div>
        
        <?php if(isset($result['list_settings_vmoso_chat'])): ?>
        
            <div class="col-lg-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body" style="padding-bottom: 0">
                            <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p58e239fbc1d70')?></h2>
                        </div>

                        <?php if(count($result['list_settings_vmoso_chat']) > 0): ?>
                            <?php PerisianSetting::printSettingList($result['list_settings_vmoso_chat'], 'p58e239fbc1d70') ?>
                        <?php endif?>

                    </form>

                </div>

            </div>
            
        <?php endif; ?>
        
        <div class="col-lg-4">

            <div class="card">

                <div class="form-group" style="margin-bottom: 0">

                    <div class="card-body">

                        <h2 style="margin: 0;"><?=$result['field_upload_image_profile']["title"]?></h2>
                        <?=$result['field_upload_image_profile']["description"]?>

                    </div>

                    <form action="<?=$result['field_upload_image_profile']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_upload_image_profile']["name"]?>">

                        <input type="hidden" name="do" value="upload"/>
                        <input type="hidden" name="subjectId" id="subjectId" value="<?=$result['object']->{$result['object']->field_pk} ?>">
                        <input type="hidden" name="setting" value="<?=$result['field_upload_image_profile']["name"]?>"/>

                        <div class="dz-message">
                            <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                            <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                        </div>

                        <input type="hidden" id="<?=$result['field_upload_image_profile']["name"]?>_filename" value="<?=$result['field_upload_image_profile']["image"]["name"]?>"/>

                    </form>
                </div>

            </div>

            <script type="text/javascript">

            /**
             * Fired after a succesful upload.
             * 
             * @author Peter Hamm
             * @param Object data
             * @param Object response
             * @returns void
             */
            var onDropzoneUploadSuccess = function(data, response) 
            {

                var callback = JSON.parse(response);

                if(!callback.success)
                {

                    toastr.error(callback.message);

                }
                else
                {

                    toastr.success(callback.message);

                }

                return callback;

            };

            /**
             * Fired after removing an upload.
             * 
             * @author Peter Hamm
             * @param Object file
             * @returns void
             */
            var onDropzoneUploadRemoved = function(file)
            {

                var settingId = jQuery(this.element).attr('id').replace('form_', '');

                SystemSettings.resetUpload(settingId);

            };

            jQuery(document).ready(function() {

                var dropzone = new Dropzone('#form_<?=$result['field_upload_image_profile']["name"]?>', {

                    uploadMultiple: false,
                    maxFiles: 1,

                    init: function () {

                        var thisDropzone = (this);

                        thisDropzone.on('success', onDropzoneUploadSuccess);
                        thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                        thisDropzone.on("addedfile", function(file) {

                            file.previewElement.addEventListener("click", function() {

                                if(confirm(Language.getLanguageVariable(11131)))
                                {

                                    thisDropzone.removeFile(file);

                                }

                            });

                        });

                        <?php if(strlen($result['field_upload_image_profile']["image"]["name"]) > 0): ?>

                            var currentFile = { 

                                name: "<?=$result['field_upload_image_profile']["image"]["name"]?>", 
                                size: <?=$result['field_upload_image_profile']["image"]["filesize"]?>, 
                                type: "<?=$result['field_upload_image_profile']["image"]["type"]?>",
                                url: '<?=$result['field_upload_image_profile']["image"]["url"]?>',
                                status: Dropzone.ADDED,
                                accepted: true

                            };

                            thisDropzone.emit("addedfile", currentFile);
                            thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_upload_image_profile']["image"]["url"]?>');
                            thisDropzone.emit("complete", currentFile);

                            thisDropzone.files.push(currentFile);

                        <?php endif; ?>

                    }

                });

            });

            </script>

        </div>
        
        <div class="col-lg-4">

            <div class="card">
                
                <form class="form form-validate floating-label" novalidate="novalidate">

                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p5aedd1928b799')?></h2>
                    </div>

                    <div class="card-body">

                        <?=nl2br(PerisianLanguageVariable::getVariable('p5aedd48556493'))?>
                        
                    </div>

                    <div class="card-actionbar">

                        <div class="card-actionbar-row">

                            <button class="btn btn-primary-bright ink-reaction" id="button_privacy_disclosure" style="margin-bottom: 2px;" type="button" onclick="AccountSettings.privacyDisclosure();"><i class="fa fa-info-circle"></i> <?=PerisianLanguageVariable::printVariable('p5aedd1d0f0482')?></button>
                            <button class="btn btn-danger ink-reaction" id="button_privacy_delete_account" style="margin-bottom: 2px;" type="button" onclick="AccountSettings.privacyDeleteAccount();"><i class="fa fa-warning"></i> <?=PerisianLanguageVariable::printVariable('p5aedd1586c8f0')?></button>

                        </div>

                    </div>

                </form>

            </div>
            
        </div>
        
    </div>
    
</div>