<div id="menubar-right" class="menubar menubar-right menubar-inverse<?php if($user->hasSetting('user_layout_menu_right_closed')): ?> menubar-right-closed<?php endif; ?>">
    
    <div class="menubar-scroll-panel" style="padding-bottom: 0;">

        <div class="col-sm-12" id="workPlanDetail">
            
            <div class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card" style="margin-top: 10px;">

                    <div class="card-body">

                        <div class="form-group" style="margin-bottom: 12px;">

                            <label for="plan_selector"><?=PerisianLanguageVariable::getVariable('p5a340dbeaf5af')?></label>

                            <select id="plan_selector" name="group_selector" class="form-control dirty static">

                                <option value="-1"<?=($result['id'] == -1 ? ' selected' : '')?> disabled><?=PerisianLanguageVariable::getVariable('10925')?></option>

                                <?php for($i = 0; $i < count($result['list_work_plans']); ++$i): ?>

                                    <option value="<?=$result['list_work_plans'][$i][$result['dummy']->field_pk]?>"<?php if($result['list_work_plans'][$i][$result['dummy']->field_pk] == $result['id']):?> selected<?php endif; ?>><?=$result['list_work_plans'][$i][$result['dummy']->field_title]?></option>

                                <?php endfor; ?>

                            </select>

                        </div>

                    </div>
                    
                    <script type="text/javascript">

                        jQuery(document).ready(function() {

                            jQuery('#plan_selector').change(function() {

                                WorkPlan.loadWorkPlan(jQuery(this).val());

                            });

                        });

                    </script>
                    
                </div>

            </div>
            
            <div class="form form-validate floating-label" novalidate="novalidate">

                <button class="btn btn-block btn-primary-bright ink-reaction" onclick="WorkPlan.createNewWorkPlan()" type="button">
                    <span class="md md-description"></span> <?=PerisianLanguageVariable::getVariable('p5a343269d271f')?>
                </button>

            </div>
            
            <div id="work-plan-detail-container" style="margin-top: 5px;"></div>
            
        </div>
        
        <br style="clear:both;"/>

        <div class="menubar-foot-panel"></div>
        
        <div id="menubar-right-handle" class="menubar-right-handle<?php if($user->hasSetting('user_layout_menu_right_closed')): ?> menubar-right-handle-closed<?php endif; ?>">
            
            <span class="fa <?=($user->hasSetting('user_layout_menu_right_closed') ? 'fa-caret-left' : 'fa-caret-right')?>"></span>
            
        </div>
        
    </div>
    
</div>