
<div class="form form-validate floating-label" novalidate="novalidate">

    <button class="btn btn-block btn-primary-bright ink-reaction" onclick="WorkPlan.editWorkPlan(<?=$result['id']?>)" type="button">
        <span class="md md-edit"></span> <?=PerisianLanguageVariable::getVariable('p5a356da7a22f4')?>
    </button>
    
    <button class="btn btn-block btn-danger ink-reaction" onclick="WorkPlan.deleteWorkPlan(<?=$result['id']?>)" type="button">
        <span class="md md-delete"></span> <?=PerisianLanguageVariable::getVariable('p5a343bfd2b07d')?>
    </button>
    
    <br/>
    
    <button class="btn btn-block btn-primary-bright ink-reaction" onclick="WorkPlan.applyWorkPlan(<?=$result['id']?>)" type="button">
        <span class="fa fa-calendar-check-o"></span> <?=PerisianLanguageVariable::getVariable('p5a3fdfc2be2b9')?>
    </button>

</div>
