<html>
    
    <head>
        
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        
        <title></title>

        <style type="text/css">

            body 
            {
                font-family: 'thesans', Fallback, sans-serif;
            }
            
            img
            {

                margin-top: 12px;
                margin-right: 0px;
                margin-bottom: 12px;
                margin-left: 0px;
                padding: 0px 0px 0px 0px;
                
                
                display:inline;
                float:left;
                
            }
            
            a:hover 
            { 
                
                text-decoration: none !important; 
            
            }
            
        </style>
        
    </head>
    
    <body bgcolor="#e1e0de" style="text-align: left; padding: 0; margin: 0; margin-top:10px; background: #e1e0de">

        <table cellspacing="0" border="0" cellpadding="0" width="600" align="center" style="width:600px;">
            
            <tbody>
                
                <tr>
                    
                    <td width="600" align="left" style="width:600px; padding: 0 0 0px; font-family: Helvetica, Arial, sans-serif;">
                        <font color="#333333" size="1"><span style="margin: 30px 0px" ></span></font>
                    </td>
                    
                </tr>
                
            </tbody>
            
        </table>
        
        <table cellspacing="0" border="0" cellpadding="0" width="600" align="center" style="width:600px;">
            
            <tbody>
                
                <tr style="background-color: {{color-header}};" bgcolor="{{color-header}}">
                    
                    <td height="40" width="12" style="width:12px; height: 40px; padding: 0;"></td>
                    
                    <td height="40" width="576" align="left" style="width:576px; height: 40px; padding: 0;">
                        
                        <img src="{{imageHeader}}" border="0" padding="0" height="50" width="auto" style="max-height: 50px; width: auto;"/>
                                                                        
                    </td>
                    
                    <td height="40" width="12" style="width:12px; height: 40px;padding: 0; "></td>

                </tr>

                <tr>
                    
                    <td  style="padding: 0px 0px 0; background-color:#FFF; background:#FFF;" bgcolor="#FFFFFF"></td>

                    <td  width="576" style="width:576px; padding: 0px 0px ; background-color:#FFF; background:#FFF;" bgcolor="#FFFFFF">
                        <h1 style="margin: 24px 0px 12px; font-weight:400; font-size:18px; color:#666666;">
                            {{subject}}
                        </h1>
                    </td>
                    
                    <td  style="padding: 0px 0px 0; background-color:#FFF; background:#FFF;" bgcolor="#FFFFFF"></td>

                </tr>
                
            </tbody>
            
        </table>
        
        <table cellspacing="0" border="0" cellpadding="0" width="600" align="center" style="width:600px;">
            
            <tbody>

                <tr>
                    <td style="padding: 0; margin: 0; width:600px; height:1px; background-color: #cccccc;" height="1" colspan="3" width="600" bgcolor="#cccccc"></td>
                </tr>
                
            </tbody>
            
        </table>
        
        <table cellspacing="0" border="0" cellpadding="0" width="600" align="center" style="width:600px;">
            
            <tbody>

                <tr>

                    <td bgcolor="#ffffff" style="width:12px; background-color:#FFF; background:#FFF;" width="12"></td>

                    <td valign="top" bgcolor="#fff" width="576" style="width:576px; padding: 0; font-family: Helvetica, Arial, sans-serif; background: #fff;">
                        <div style=" margin-top:21px; margin-bottom:10px;" > 
                            {{content}}  
                        </div> 
                    </td>
                    
                    <td bgcolor="#ffffff" style="width:12px; background-color:#FFF; background:#FFF;" width="12"></td>

                </tr>

                <tr>
                    
                    <td bgcolor="#fff" style="background-color: #fff; padding: 0; width: 12px; height: 4px;" width="12" height="4"></td>
                    <td bgcolor="#fff" style="background-color: #fff; padding: 0; height: 4px;" height="4" ></td>
                    <td bgcolor="#fff" style="background-color: #fff; padding: 0; width: 12px; height: 4px; " width="12" height="4"></td>

                </tr>
            </tbody>
            
        </table>  

    </body>
    
</html>