<td style="padding-left: 0">
    
    <?=CalsyProcessEngineLogEntry::getFormattedStatusHtml($currentEntry["status"])?>
    
</td>

<td>
    
    <?php
    
        $fieldList = [];
    
        array_push($fieldList, $currentEntry["status_message"]);
        
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td>
    
    <?=PerisianFrameworkToolbox::highlightText($search, $currentEntry["data"]["instanceId"])?>
    
</td>

<td>
    
    <?=PerisianFrameworkToolbox::timestampToDateTime(PerisianFrameworkToolbox::sqlTimestampToPhp($currentEntry["date_created"]))?>
    
</td>