<?php if($do == "list"): ?>
<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=PerisianLanguageVariable::getVariable('10171')?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>
  
                            <th style="width: 10%">
                                <?=PerisianLanguageVariable::getVariable(10522)?>
                            </th>
                            
                            <th style="width: 30%">
                                <?=PerisianLanguageVariable::getVariable('p58a22b627dfa6')?>
                            </th>
                            
                            <th style="width: 30%">
                                <?=PerisianLanguageVariable::getVariable('p58a7351644513')?>
                            </th>  
                                                                  
                            <th style="width: 30%">
                                <a href="javascript:void(0)" onclick="ProcessEngineLog.toggleSorting('process_engine_log_date_created')"><?php PerisianLanguageVariable::printVariable(10964) ?></a>
                            </th>  
                            
                        </tr>

                    </thead>
                    <tbody>

                        <?php for($i = 0, $m = count($entryList); $i < $m; ++$i): $currentEntry = $entryList[$i]; ?>
                        
                            <tr id="table_info_<?=$currentEntry['id']?>">

                            <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
