<?php

if(!isset($navigationCount)): $navigationCount = 0; endif;

++$navigationCount; 

if($navigationCount == 2): 
    
    require "list_navigation_page.phtml";
    
endif; 

?>

<?php if($offset+$limit < $entryCount): ?>
    <button class="btn btn-primary-bright ink-reaction"
        type="button"
        onclick="ProcessEngineLog.showEntries(<?php echo $offset+$limit ?>, <?php echo $limit ?>)"
        style="float: right; margin-left: 5px; margin-bottom:5px;"><?php PerisianLanguageVariable::printVariable(10043) ?> <i class="md md-navigate-next"></i></button>
<?php endif ?>

<?php if($offset-$limit >= 0): ?>
    <button class="btn btn-primary-bright ink-reaction"
        type="button"
        onclick="ProcessEngineLog.showEntries(<?php echo $offset-$limit ?>, <?php echo $limit ?>)"
        style="float: right; margin-bottom:5px;"><i class="md md-navigate-before"></i> <?php PerisianLanguageVariable::printVariable(10042) ?></button>
<?php endif ?>