<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
    
        <input type="hidden" id="editId" value="<?=$result['object']->{$result['object']->field_pk}?>">
        
    <?php endif ?>
    
    <div class="modal-body info-bar"><?=lg(11024)?></div>

    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="<?=$result['dummy']->field_description?>"><?=lg('p5ee8e7636e3da')?></label>
                <input type="text" id="<?=$result['dummy']->field_description?>" class="form-control" name="<?=$result['dummy']->field_description?>" value="<?=($action == 'edit' ? $result['object']->{$result['object']->field_description} : lg('p5ee8e73cb0fcd'))?>" readonly/>

            </div>
            
        </div>
               
    </div>
                
    <div class="modal-body info-bar" style="border-bottom: 2px solid #fff;">
        
        <?=lg('p5ee9033fcf8f5')?> 
            
    </div>
    
    <div class="modal-body">

        <div class="form-group">
            
            <?php
            
                $checkInTimeIn = ($action == 'edit' ? $result['object']->{$result['object']->field_time_in} : time());
                $checkInTimeOut = ($action == 'edit' ? $result['object']->{$result['object']->field_time_out} : 0);
            
            ?>

            <div class="col-sm-12">

                <label><?=lg('p5ee8de444dbed')?></label><br/>

                <div class="input-daterange input-group" id="calsy_checkin_time_in_fields">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_checkin_time_in_field_date" id="calsy_checkin_time_in_field_date" value="<?=date("d.m.Y", $checkInTimeIn)?>">

                    </div>

                    <span class="input-group-addon"><?=lg(10887)?></span>

                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_checkin_time_in_field_time" id="calsy_checkin_time_in_field_time" value="<?=date("H:i", $checkInTimeIn)?>">

                    </div>

                </div>

            </div>
            
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label><?=lg('p5ee8deaa787b5')?></label><br/>

                <div class="input-daterange input-group" id="calsy_checkin_time_out_fields">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_checkin_time_out_field_date" id="calsy_checkin_time_out_field_date" value="<?=((int)$checkInTimeOut > 0 ? date("d.m.Y", $checkInTimeOut) : '')?>">

                    </div>

                    <span class="input-group-addon"><?=lg(10887)?></span>

                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_checkin_time_out_field_time" id="calsy_checkin_time_out_field_time" value="<?=((int)$checkInTimeOut > 0 ? date("H:i", $checkInTimeOut) : '')?>">

                    </div>

                </div>

            </div>


        </div>
        
    </div>
            
    <script type="text/javascript">

        jQuery(document).ready(function() {

            CheckInFrontend.initEditCheckIn();

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="CheckInFrontend.cancel()"><?=lg(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="CheckInFrontend.saveCheckIn()"><i class="md md-save"></i> <?=lg(10055)?></button>

</div>