<td>
    
    <?=date("d.m.Y, H:i", $currentEntry['calsy_checkin_time_in'])?> <?=lg('10903')?>
    
</td>

<td>
    
    <?=((int)$currentEntry['calsy_checkin_time_out'] > 0 ? date("d.m.Y, H:i", $currentEntry['calsy_checkin_time_out']) . ' ' . lg('10903') : "-")?>
    
</td>

<td>
    
    <?=lg('p5ee8e7636e3da')?>: "<?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_checkin_description'])?>"
    <br/>
    <?=lg('p5ee8e77f7f1be')?>: <?=($currentEntry['calsy_checkin_status'] == CalsyCheckIn::STATUS_OPEN ? '<b class="checkin-status-open">' . lg('p5ee8e7d286fc9') . '</b>' : '<b class="checkin-status-closed">' . lg('p5ee8e7e89a615')) . '</b>'?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="CheckInFrontend.editCheckIn(<?=PerisianFrameworkToolbox::security($currentEntry['calsy_checkin_id'])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5ee8e2ac3226c')?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="CheckInFrontend.deleteCheckIn(<?=PerisianFrameworkToolbox::security($currentEntry['calsy_checkin_id'])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5ee8ed70312e1')?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
