<?php if($action == "list"): ?>

    <script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
    
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=lg('p5ee90e3114b01')?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 25%">
                                <a href="javascript:void(0)" onclick="CheckInFrontend.toggleSorting('calsy_checkin_time_in')"><?=lg('p5ee8de444dbed')?></a>
                            </th>
                            
                            <th style="width: 25%">
                                <a href="javascript:void(0)" onclick="CheckInFrontend.toggleSorting('calsy_checkin_time_out')"><?=lg('p5ee8deaa787b5')?></a>
                            </th>
                            
                            <th style="width: 25%">
                                <?=lg('10888')?>
                            </th>
                                                                                    
                            <th style="width: 25%" class="text-right"><?=lg(10077)?></th>
                            
                        </tr>

                    </thead>
                    
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <tr id="table_info_order_<?=$currentEntry['calsy_checkin_id']?>">

                                <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
