<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CheckInFrontend.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CheckInFrontend.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<script type="text/javascript" src="../assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/moment/moment-with-locales.js"></script>

<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>

<script type="text/javascript">
        
    jQuery(document).ready(function() {
    
        CheckInFrontend.currentOffset = <?=$result['offset']?>;
        CheckInFrontend.currentLimit = <?=$result['limit']?>;
        
        Perisian.initFieldClearButtons();
        
        CheckInFrontend.filterUserFrontendId = '<?=$result['filter_user_frontend']->{$result['filter_user_frontend']->field_pk}?>';
                
    });
    
</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?=lg('p5ee8de444dbed')?></li>
        <li class="active"><?=lg(10303)?></li>
    </ol>
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyCheckInModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="padding-bottom: 12px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                
                                <label for="search"><?=lg(10494)?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {CheckInFrontend.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="CheckInFrontend.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                
                            </div>
                                                        
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="CheckInFrontend.showEntries(null, null, null, null, true);" type="button" style="position:relative; top: 12px;"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
                        
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="CheckInFrontend.createNewCheckIn()" type="button">
                                <span class="md md-description"></span> <?=lg('p5ee8e29ee694b')?>
                            </button>
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="CheckInFrontend.goToQuickCheckIn()" type="button">
                                <span class="fa fa-arrow-down"></span> <?=lg('p5eee28af7473a')?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div>