
<script type="text/javascript">

jQuery(document).ready(function() {
    
    var dropzone = new Dropzone('#import_form', {
        
        uploadMultiple: false,
        maxFiles: 1,
        acceptedFiles: '.sql',
        dictMaxFilesExceeded: "<?php PerisianLanguageVariable::printVariable(10663); ?>",
        dictInvalidFileType: "<?php PerisianLanguageVariable::printVariable(10668); ?>"
        
    });
    
    dropzone.on('success', PerisianDatabase.onUploadSuccess)
    
});

</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $formTitle ?></h4>
    
</div>

<div class="modal-body text-center">

    <span class="import-selection">

        <form action="<?=PerisianFrameworkToolbox::getServerAddress() . '/system/database/'?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="import_form">
            
            <input type="hidden" name="do" value="upload_database_file"/>
            
            <div class="dz-message">
                <h3><?php PerisianLanguageVariable::printVariable(10662);?></h3>
                <em><?php PerisianLanguageVariable::printVariable(10668);?></em>
            </div>
            
        </form>
        
        <input type="hidden" id="uploaded_file" value=""/>

    </span>

    <span class="import-processing">
        <?php PerisianLanguageVariable::printVariable(10667);?>
    </span>

    <span class="import-result"></span>

</div>

<div class="modal-footer">

    <span class="import-selection">
    
        <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="PerisianDatabase.cancel()"><?php PerisianLanguageVariable::printVariable(10495) ?></button>
        <button type="button" class="disabled btn btn-primary-bright" id="startButton" onclick="PerisianDatabase.loadDiff()"><span class="md md-compare"></span> <?php PerisianLanguageVariable::printVariable('p57b5922151086') ?></button>
    
    </span>
    
    <span class="import-processing text-center">

        <img width="33" height="33" src="assets/img/custom/loading_indicator.gif"/>

    </span>
    
    <span class="import-result">
    
        <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="PerisianDatabase.cancel()"><?php PerisianLanguageVariable::printVariable(10495) ?></button>
    
    </span>
    

</div>