<td style="padding-left: 0">
    
    <pre><?=($currentEntry[$result['dummy']->field_filter])?></pre>
    
</td>

<td>
    
    <pre><?=($currentEntry[$result['dummy']->field_result])?></pre>
    
</td>

<td>
    
    <?php if(strlen($currentEntry[$result['dummy']->field_query]) > 0): ?>
    
        <pre><?=$currentEntry[$result['dummy']->field_query]?></pre>
    
    <?php endif; ?>
    
</td>

<td>
    
    <?=PerisianFrameworkToolbox::timestampToDateTime(PerisianFrameworkToolbox::sqlTimestampToPhp($currentEntry[$result['dummy']->field_time]))?>
    
</td>