<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/AppointmentAssistantLog.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/developer.css"/>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        AppointmentAssistantLog.currentOffset = <?=$result['offset']?>;
        AppointmentAssistantLog.currentLimit = <?=$result['limit']?>;
                
    });
    
</script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li><?=PerisianLanguageVariable::getVariable('p5ab7d030c76ac')?></li>
        <li class="active"><?=PerisianLanguageVariable::getVariable('10303')?></li>
            
    </ol>
    
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyAppointmentAssistantLog::isEnabled()): ?>
        
            <div class="col-lg-12">
                
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11171)?></div>
                
            </div>
        
        <?php endif; ?>

        <div id="infobox">
                        
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="AppointmentAssistantLog.refreshLog();" type="button" style="">
                                <i class="md md-refresh"></i> <?php PerisianLanguageVariable::printVariable('p5ab7dc3d89df2'); ?>
                            </button>
                            
                            <button class="btn btn-block btn-danger ink-reaction" onclick="AppointmentAssistantLog.clearLog()" type="button">
                                <span class="md md-delete"></span> <?=PerisianLanguageVariable::getVariable(11172)?>
                            </button>
                            
                        </div>

                    </form>

                </div>

            </div>
            
        </div>

        <br style="clear:both"/>
        
        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div>