<?php require("registration_header.phtml"); ?>

<div class="col-lg-12">
    
    <?php require 'element/welcome_image.phtml'; ?>
    
    <span class="text-lg text-bold text-primary"><?=$settings->getSetting('23')?></span>

    <?php if($isFailedLoginAttempt): ?>

        <i class="fa fa-exclamation-circle text-danger"></i> <span class="text-danger"><?php PerisianLanguageVariable::printVariable($user->{$user->field_status} == 'inactive' ? 10639 : 10635);?></span><br/><br/>

    <?php endif; ?>

    <div class="form-group language-selection">

        <label><?=PerisianLanguageVariable::getVariable(10124)?></label>

        <select class="form-control" id="language_selector">

            <?php for($i = 0; $i < count($languageList); ++$i): ?>

            <option code="<?=PerisianLanguage::getLanguageCode($languageList[$i]["language_id"])?>" value="<?=$languageList[$i]["language_id"]?>"<?php if(PerisianSystemConfiguration::getLanguageId() == $languageList[$i]["language_id"]): ?> selected<?php endif; ?>><?=PerisianFrameworkToolbox::securityRevert($languageList[$i]["language_name"])?></option>

            <?php endfor; ?>

        </select>  

    </div>

    <h2><?=PerisianLanguageVariable::getVariable(10873)?></h2>

    <br/>

    <script type="text/javascript">

        jQuery(document).ready(function() {

            jQuery('#language_selector').change(function(e) {

                var selectedOption = jQuery(this).find(':selected');

                var newLanguageCode = selectedOption.attr('code');
                var documentLanguageCode = jQuery('html').attr('lang');

                if(newLanguageCode != documentLanguageCode)
                {

                    var newLanguageId = selectedOption.val();

                    document.location.search = Perisian.addUrlParam(document.location.search, "lg", newLanguageId);

                }

            });

        });

    </script>
    
    <form class="form floating-label" action="<?=PerisianFrameworkToolbox::getServerAddress()?>login/" accept-charset="utf-8" method="post">

        <?php if(isset($redirectAfterLogin) && substr($redirectAfterLogin, -7) != "/login/"): ?>
            <input type="hidden" value="<?=$redirectAfterLogin?>" name="redirect">
        <?php endif; ?>

        <input type="hidden" value="login" name="do">

        <div class="form-group">
            <input type="text" class="form-control" id="login_name" name="login_name" value="<?php echo PerisianFrameworkToolbox::getRequest('login_name') ?>">
            <label for="login_name"><?php PerisianLanguageVariable::printVariable(10079);?></label>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="login_password" name="login_password">
            <label for="login_password"><?php PerisianLanguageVariable::printVariable(10091);?></label>
        </div>

        <br/>
        <br/>
        <button class="btn btn-block btn-primary btn-raised" type="submit"><?php PerisianLanguageVariable::printVariable(10616); ?></button>

    </form>

</div>

<?php require("registration_footer.phtml"); ?>