
<div class="ajax-login-hint">
    
    <span class="alert alert-block alert-info"><?=nl2br(lg(PerisianFrameworkToolbox::getRequest('do') == 'saveOwnPassword' ? 'p60253bc4d6b48' : 10977))?></span>
    
    <br/>
    
    <button class="btn btn-primary-bright ink-reaction" onclick="Perisian.reloadPage()"><?=PerisianLanguageVariable::getVariable(10978)?></button>

</div>