<section class="section-account">
    
    <?php if(PerisianSystemSetting::getSettingValue('system_show_backdrop_image') == 1): ?>
    
        <?php
        
            $customBackdropData = PerisianSystemSetting::getImageUploadData('backend_backdrop_image');
            $backendBackdropImage = 'assets/img/custom/background_login.png';
            
            if(isset($customBackdropData['image']) && strlen($customBackdropData['image']['name']) > 0)
            {
                
                $backendBackdropImage = $customBackdropData['image']['url'];
                
            }
        
        ?>
    
        <div class="img-backdrop" style="background-image: url('<?=$backendBackdropImage?>')"></div>
        <div class="spacer"></div>
        
    <?php endif; ?>
    
    <div class="card contain-sm">
        <div class="card-body">
            <div class="row">