<?php

if(!isset($navigationCount)): $navigationCount = 0; endif;

++$navigationCount; 

if($navigationCount == 2): 
    
    require "list_navigation_page.phtml";
    
endif; 

?>

<?php if($result['offset'] + $result['limit'] < $result['count']): ?>
    <button class="btn btn-primary-bright ink-reaction"
        type="button"
        onclick="CheckIn.showEntries(<?=($result['offset'] + $result['limit'])?>, <?=$result['limit']?>)"
        style="float: right; margin-left: 5px; margin-bottom:5px;"><?=lg(10043)?> <i class="md md-navigate-next"></i></button>
<?php endif ?>

<?php if($result['offset'] - $result['limit'] >= 0): ?>
    <button class="btn btn-primary-bright ink-reaction"
        type="button"
        onclick="CheckIn.showEntries(<?=($result['offset'] - $result['limit'])?>, <?=$result['limit']?>)"
        style="float: right; margin-bottom:5px;"><i class="md md-navigate-before"></i> <?=lg(10042)?></button>
<?php endif ?>