
<div class="form-horizontal calendar-form-time-element"<?=(!isset($entryIndex) ? ' id="calendar-form-time-element-dummy"' : '')?> role="form" style="display:none;">
    
    <div class="modal-body info-bar">
        
        <span class="time-duration-title alert alert-info" style="margin: 0; width: 100%; display: inline-block;">
       
            <?=isset($elementTitle) ? $elementTitle : ''?>
            <i title="<?=PerisianLanguageVariable::getVariable('p58ffc956964be')?>" class="md md-call-split split-time-icon"></i>
        
        </span>
    
    </div>
    
    <?php require "detail_edit_entry_time_user_backend_resource.phtml"; ?>
    
    <?php if(!is_null($entry)): ?>
        
        <script type="text/javascript">

            jQuery(document).ready(function() {

                var timeElement = jQuery("[perisian-data-entry-id='<?=$entry->{$entry->field_pk}?>']");

                Calendar.initDatePicker(timeElement);
                
                Calendar.initAutoCompleteForUserBackendWithResource(<?=@$entryIndex;?>)

            });

        </script>
    
    <?php endif; ?>
            
</div>
