
<?php if(CalsyCalendarEntryUserFrontendOrder::getShowConfirmationCancellation($selectedUserFrontendOrderObject)): ?>

    <div class="form-group">

        <center><div class="col-sm-12 checkbox checkbox-styled">

            <?php if(CalsyCalendarEntryUserFrontendOrder::getShowConfirmation($selectedUserFrontendOrderObject)): ?>

                <label for="calsy_calendar_entry_confirmed_<?=$i?>"><input type="checkbox" id="calsy_calendar_entry_confirmed_<?=$i?>" name="calsy_calendar_entry_confirmed_<?=$i?>" perisian-data-id=""<?=(isset($selectedUserFrontendOrderObject) && $selectedUserFrontendOrderObject->isConfirmed() ? " checked" : "")?><?=($result['can_edit_entry'] ? "" : " disabled")?>/><?php PerisianLanguageVariable::printVariable(10906) ?></label>

            <?php endif; ?>

            <?php if(CalsyCalendarEntryUserFrontendOrder::getShowCancellation($selectedUserFrontendOrderObject)): ?>

                <label for="calsy_calendar_entry_canceled_<?=$i?>" style="margin-left:20px"><input type="checkbox" id="calsy_calendar_entry_canceled_<?=$i?>" name="calsy_calendar_entry_canceled_<?=$i?>" perisian-data-id=""<?=(isset($selectedUserFrontendOrderObject) && $selectedUserFrontendOrderObject->isCanceled() ? " checked" : "")?><?=($result['can_edit_entry'] ? "" : " disabled")?>/><?php PerisianLanguageVariable::printVariable(11157) ?></label>

            <?php endif; ?>

        </div></center>

    </div>

<?php endif; ?>
