
<?php if(CalsyAreaModule::isEnabled()): ?>

    <div class="form-group">

        <div class="col-sm-12">

            <label for="calsy_calendar_entry_area_<?=$i?>"><?php PerisianLanguageVariable::printVariable(11059) ?></label>

            <select id="calsy_calendar_entry_area_<?=$i?>" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_area_<?=$i?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                <option duration="<?=CalsyCalendar::getDefaultEventEndTime()?>" gender="none" value="0"<?=(@$selectedArea->{$selectedArea->field_pk} == 0 ? " selected" : "")?>><?=PerisianLanguageVariable::getVariable(10925)?></option>

                <?php for($j = 0; $j < count($result['list_areas']); ++$j): ?>

                    <option duration="<?=$result['list_areas'][$j][$result['dummy_area']->field_default_duration]?>" gender="<?=$result['list_areas'][$j][$result['dummy_area']->field_gender]?>" value="<?=$result['list_areas'][$j][$result['dummy_area']->field_pk]?>"<?=(@$selectedArea->{$selectedArea->field_pk} == $result['list_areas'][$j][$result['dummy_area']->field_pk] ? " selected" : "")?>><?=$result['list_areas'][$j][$result['dummy_area']->field_title]?></option>

                <?php endfor; ?>

            </select>

        </div>

    </div>

    <script type="text/javascript">

        jQuery(document).ready(function() {

            jQuery('#calsy_calendar_entry_area_<?=$i?>').on('change', function() {

                Calendar.currentTimeDurationElementStep = 0;
                Calendar.flagUpdateTimeDurationElements = true;

                var changedElement = jQuery(this);
                var newValue = changedElement.val();

                jQuery('#calsy_calendar_date_range_begin_date').trigger('blur');

                Calendar.updateTimeDurationElementsByArea(newValue);

            });

        });

    </script>

<?php endif; ?>