
<div class="form-group">
    
    <div class="col-sm-12">

        <label for="calsy_calendar_entry_message_to_client_<?=$i?>"><?=PerisianLanguageVariable::getVariable('p5cd01b7459cbd')?></label>
        <textarea type="text" id="calsy_calendar_entry_message_to_client_<?=$i?>" class="form-control" name="calsy_calendar_entry_message_to_client_<?=$i?>"><?php if($action == 'edit'): echo @$result['list_user_frontend'][$i]['message_to_client']; endif?></textarea>

    </div>
    
</div>
