<?php if($result['id'] == 0 || $result['entry_is_in_series']): ?>

    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(10888)?></div>

    <div class="modal-body">

        <?php if($result['id'] == 0): ?>
        
            <div class="form-group" style="display:none;" id="calsy_calendar_entry_repetition_box">

                <div class="col-sm-9">

                    <label for="calsy_calendar_entry_repetition_interval"><?=PerisianLanguageVariable::getVariable(11139)?></label>
                    <select id="calsy_calendar_entry_repetition_interval" name="calsy_calendar_entry_repetition_interval" class="form-control static-dirty">

                        <option value="86400" selected><?=PerisianLanguageVariable::getVariable(11140)?></option>
                        <option value="<?=(86400 * 2)?>"><?=str_replace('%', '2', PerisianLanguageVariable::getVariable(11144))?></option>
                        <option value="<?=(86400 * 3)?>"><?=str_replace('%', '3', PerisianLanguageVariable::getVariable(11144))?></option>
                        <option value="<?=(86400 * 4)?>"><?=str_replace('%', '4', PerisianLanguageVariable::getVariable(11144))?></option>
                        <option value="<?=(86400 * 5)?>"><?=str_replace('%', '5', PerisianLanguageVariable::getVariable(11144))?></option>
                        <option value="<?=(86400 * 6)?>"><?=str_replace('%', '6', PerisianLanguageVariable::getVariable(11144))?></option>
                        <option value="604800"><?=PerisianLanguageVariable::getVariable(11141)?></option>
                        <option value="<?=(604800 * 2)?>"><?=PerisianLanguageVariable::getVariable(11142)?></option>
                        <option value="<?=(604800 * 3)?>"><?=str_replace('%', '3', PerisianLanguageVariable::getVariable(11143))?></option>
                        <option value="<?=(604800 * 4)?>"><?=str_replace('%', '4', PerisianLanguageVariable::getVariable(11143))?></option>
                        <option value="<?=(604800 * 5)?>"><?=str_replace('%', '5', PerisianLanguageVariable::getVariable(11143))?></option>
                        <option value="<?=(604800 * 6)?>"><?=str_replace('%', '6', PerisianLanguageVariable::getVariable(11143))?></option>
                        <option value="<?=(604800 * 7)?>"><?=str_replace('%', '7', PerisianLanguageVariable::getVariable(11143))?></option>
                        <option value="<?=(604800 * 8)?>"><?=str_replace('%', '8', PerisianLanguageVariable::getVariable(11143))?></option>

                    </select>

                </div>

                <div class="col-sm-3">

                    <label for="calsy_calendar_entry_repetition_end"><?=PerisianLanguageVariable::getVariable(10774)?></label>
                    <input type="text" class="form-control datepicker-item" name="calsy_calendar_entry_repetition_end" id="calsy_calendar_entry_repetition_end" value="<?=date("d.m.Y", $result['entry_timestamp_begin'] + 604800)?>" style="text-align:center;">

                </div>

            </div>

            <div class="form-group">

                <center>

                    <div class="col-sm-12 checkbox checkbox-styled">

                        <label for="calsy_calendar_entry_is_in_series"><input type="checkbox" id="calsy_calendar_entry_is_in_series" name="calsy_calendar_entry_is_in_series"/><?=PerisianLanguageVariable::getVariable($action == 'createBookableTime' ? 'p59fc79dd75f2e' : 11136)?></label>

                    </div>

                </center>

            </div>

        <?php elseif($result['entry_is_in_series']): ?>
            
            <div class="form-group">

                <center>

                    <?=PerisianLanguageVariable::getVariable(11145)?><br style="margin-bottom: 10px"/>

                    <?php if($result['series']['previous'] != null): ?>

                        <button class="btn btn-default" onclick="Calendar.edit<?=(@$result['is_process'] ? 'Process' : 'Event')?>(<?=$result['series']['previous']?>)"><i class="fa fa-angle-left"></i> <?=PerisianLanguageVariable::getVariable(11137)?></button>

                    <?php endif; ?>

                    <?php if($result['series']['next'] != null): ?>

                        <button class="btn btn-default" onclick="Calendar.edit<?=(@$result['is_process'] ? 'Process' : 'Event')?>(<?=$result['series']['next']?>)"><?=PerisianLanguageVariable::getVariable(11138)?> <i class="fa fa-angle-right"></i></button>

                    <?php endif; ?>

                    <br style="clear:both;"/>
                    
                    <button id="deleteButtonGroup" class="btn btn-danger" onclick="Calendar.deleteGroup(<?=$result['series']['id']?>)" style="margin-top: 10px;"><i class="md md-delete"></i> <?=PerisianLanguageVariable::getVariable(11146)?></button>

                </center>

            </div>

        <?php endif; ?>

    </div>
    
    <script type="text/javascript">

        jQuery(document).ready(function() {

            jQuery('#calsy_calendar_entry_repetition_end').datepicker({

                language: '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>', 
                todayHighlight: true,
                autoclose: true,

                format: 'dd.mm.yyyy'

            });

        });

    </script>

<?php endif; ?>
