<div class="fc fc-ltr fc-unthemed">

    <div class="calendar-year-month">

        <div class="calendar-year-month-holder" style="margin: 0; box-shadow: none; border: 1px solid #eee;">

            <div class="calendar-year-month-header season-<?=CalsyCalendar::getSeasonForMonth(date("m", $entryTimestampBegin))?> season-icon"
                style="cursor: auto;"
                data-time="<?=PerisianTimeZone::getFirstDayOfMonthAsTimestamp($entryTimestampBegin)?>"><?=PerisianFrameworkToolbox::getMonthName(date("m", $entryTimestampBegin) - 1)?></div>

            <div class="calendar-year-month-content">

                <table class="table table-bordered" style="margin-bottom: 0;">

                    <tr>

                        <?php for($k = 0; $k < 7; ++$k): ?>

                            <?php if(CalsyCalendar::isDayDisplayableForView($k, 'month')): ?>

                                <td class="calendar-year-month-header-day" style="padding: 0;"><?=CalsyCalendar::getDayNameShort($k)?></td>

                            <?php endif; ?>

                        <?php endfor; ?>

                    </tr>

                    <tr>

                        <td colspan="<?=CalsyCalendar::getCountDisplayableWeekDayForView('month')?>" class="fc-day-header fc-widget-header-seperator" style="padding: 0;"><hr class="fc-widget-header" style="margin: 0;"></td>

                    </tr>

                    <?php for($j = 0; $j < count($result['data_calendar']["matrix"]); ++$j): ?>

                        <?php if(($j) % 7 == 0):?>

                            <tr>

                        <?php endif; ?>

                            <?php if(CalsyCalendar::isDayDisplayableForView($j % 7, 'month')): ?>

                                <td class="calendar-year-day <?php 
                                    if(!$result['data_calendar']["matrix"][$j]["isBookable"]): ?> non-bookable<?php 
                                    endif; ?><?php 
                                    if($result['data_calendar']["matrix"][$j]["isOtherMonth"]): ?> other-month<?php 
                                    endif; ?><?php 
                                    if($result['data_calendar']["matrix"][$j]["isOtherYear"]): ?> other-year<?php 
                                    endif; ?><?php 
                                    if($result['data_calendar']["matrix"][$j]["isToday"]): ?> calendar-display-year-today<?php 
                                    endif; ?>"
                                    data-time="<?=$result['data_calendar']["matrix"][$j]["time"]?>" style="padding: 0; cursor: auto;">

                                    <?php if($result['entry']->isEventOrChildOnDay($result['data_calendar']["matrix"][$j]["time"])): ?>
                                        <div class="calendar-display-year-day-has-event"></div>
                                    <?php endif; ?>

                                    <div><?=date("d", $result['data_calendar']["matrix"][$j]["time"])?></div>

                                </td>

                            <?php endif; ?>

                        <?php if(($j + 1) % 7 == 0 || ($j + 1) == count($result['data_calendar']["matrix"])):?>

                            </tr>

                        <?php endif; ?>

                    <?php endfor; ?>

                </table>

            </div>

        </div>

    </div>

</div>