
<?php if(CalsyTableReservationModule::isEnabled()): ?>

    <div class="modal-body info-bar">

        <h4 class="modal-title" id="formModalLabel">
            <?=lg('p5f69064970ff0')?>
        </h4>

    </div>

    <div class="modal-body">
            
        <div class="form-group" id="calsy_calendar_entry_table_reservation">

            <div class="col-sm-12">
                
                <label for="calsy_calendar_entry_table_reservation_location"><?=lg('p5f717a354645b')?></label>
                
                <select id="calsy_calendar_entry_table_reservation_location" name="calsy_calendar_entry_table_reservation_location" class="form-control static-dirty">

                    <option value="0"<?=(is_null($result['selected_location']) ? " selected" : "")?>>- <?=lg('10925')?> - </option>
                    
                    <?php foreach($result['list_locations'] as $location): ?>
                        
                        <option value="<?=$location->{$location->field_pk}?>"<?=(!is_null($result['selected_location']) && $location->{$location->field_pk} == $result['selected_location'] ? " selected" : "")?>><?=$location->{$location->field_title}?></option>
                        
                    <?php endforeach; ?>

                </select>

            </div>

            <div id="calsy_calendar-entry_table_reservation_table_selector" class="col-sm-12"<?=(is_null($result['selected_location']) ? ' style="display: none;"' : '')?>>
                
                <label for="calsy_calendar_entry_table_reservation_table"><?=lg('p5f785137d962c')?></label>
                
                <select id="calsy_calendar_entry_table_reservation_table" name="calsy_calendar_entry_table_reservation_table" class="form-control static-dirty">

                    <option value="0"<?=(is_null($result['selected_table']) ? " selected" : "")?>>- <?=lg('10925')?> -</option>
                    
                    <?php if(!is_null($result['selected_location_tables'])): ?>
                    
                        <?php foreach($result['selected_location_tables'] as $table): ?>
                    
                            <option value="<?=$table->{$table->field_pk}?>"<?=(!is_null($result['selected_table']) && $table->{$table->field_pk} == $result['selected_table'] ? " selected" : "")?>><?=$table->{$table->field_title}?></option>
                        
                        <?php endforeach; ?>
                    
                    <?php endif; ?>

                </select>

            </div>

            <div class="col-sm-12">

                <label for="calsy_calendar_entry_table_reservation_number_persons"><?=lg('p5f717d12c5297')?></label>
                <input type="number" id="calsy_calendar_entry_table_reservation_number_persons" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_table_reservation_number_persons" value="<?=($result['number_persons'])?>"/>

            </div>

        </div>
        
    </div>

    <script type="text/javascript">
        
        jQuery(document).ready(function() {
            
            jQuery('#calsy_calendar_entry_table_reservation_location').on('change', CalendarTableReservation.onLocationChange);
            
            var listLocations = {
                
                <?php foreach($result['list_locations'] as $location): ?>
                         
                    '<?=$location->{$location->field_pk}?>': {
                        
                        'title': '<?=stripslashes($location->{$location->field_title})?>',
                        'tables': {
                            
                            <?php foreach($location->getTableObjects() as $table): ?>
                                    
                                '<?=$table->{$table->field_pk}?>': {
                                    
                                    'title': '<?=stripslashes($table->{$table->field_title})?>'
                                    
                                },
                                    
                            <?php endforeach; ?>
                            
                        }
                        
                    },
                            
                <?php endforeach; ?>
                
            };
            
            CalendarTableReservation.setLocationTableStructure(listLocations);
            
        });
        
    </script>

<?php endif; ?>
