

<?php

    $countUnanswered = CalsyCalendarEntrySurvey::getCountUnansweredForCalendarEntry($entry->{$entry->field_pk});
    $countAccepted = CalsyCalendarEntrySurvey::getCountAcceptedForCalendarEntry($entry->{$entry->field_pk});
    $countRejected = CalsyCalendarEntrySurvey::getCountRejectedForCalendarEntry($entry->{$entry->field_pk});

?>

<script type="text/javascript" src="<?=PerisianFrameworkToolbox::getServerAddress()?>assets/js/libs/chartJs/Chart.min.js"></script>

<script type="text/javascript">

    var config = {

        type: 'pie',
        
        data: {
            
            datasets: [{
                    
                data: [
                    
                    <?=$countUnanswered?>,
                    <?=$countAccepted?>,
                    <?=$countRejected?>
                    
                ],
                
                backgroundColor: [
                    
                    'rgb(255, 205, 86)',
                    'rgb(33, 255, 33)',
                    'rgb(255, 33, 33)'
                    
                ],
                
                label: ''
                
            }],
        
            labels: [
                
                '<?=lg("p5e5dfbd04dfc2")?>',
                '<?=lg("p5e5dfbde68898")?>', 
                '<?=lg("p5e5dfbee6d96a")?>'
                
            ]
            
        },
        
        options: {
            
            responsive: true
            
        }
        
    };

    jQuery(document).ready(function() {
        
        var context = jQuery('#calendar-entry-survey-statistics-pie')[0].getContext('2d');
        window.myPie = new Chart(context, config);
        
        
    });

</script>

<div class="calendar-entry-survey-statistics">
    
    <canvas id="calendar-entry-survey-statistics-pie"></canvas>

</div>
