<div class="modal-body data-container" perisian-data-entry-id="<?=(is_object($entry) ? $entry->{$entry->field_pk} : '')?>">
    
    <?php if(!@$result['is_work_plan'] || (@$result['is_work_plan'] && @$result['is_work_plan_booking'])): ?>
    
        <?php if(@$result['is_work_plan'] && @$result['is_work_plan_booking'] && @$result['work_plan_area_id'] > 0): ?>
    
            <div class="form-group">

                <div class="col-sm-12">

                    <label for="work_plan_area_id"><?php PerisianLanguageVariable::printVariable(11059) ?></label>

                    <select id="work_plan_area_id" class="calsy_calendar_entry_order form-control" name="work_plan_area_id" disabled>

                        <option value="<?=@$result['work_plan_area_id']?>" selected><?=@$result['work_plan_area_title']?></option>

                    </select>

                </div>

            </div>
    
        <?php endif; ?>
    
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_user_id<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>"><?php PerisianLanguageVariable::printVariable(10061) ?></label>
                <input type="text" id="calsy_calendar_entry_user_id<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" class="form-control" name="calsy_calendar_entry_user_id<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" value="<?=is_null($selectedUserBackend) ? "" : CalsyUserBackend::getUserFullname($selectedUserBackend->{$selectedUserBackend->field_pk})?>" perisian-data-id="<?=is_null($selectedUserBackend) ? "" : $selectedUserBackend->{$selectedUserBackend->field_pk}?>" data-source="user" <?=$user->canManageEventsForOthers() ? "" : " disabled"?>/>

            </div>
        </div>

        <?php if(CalsyResourceModule::isEnabled()): ?>

            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_resource_id<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>"><?php PerisianLanguageVariable::printVariable(10916) ?></label>
                    <input type="text" id="calsy_calendar_entry_resource_id<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" class="form-control" name="calsy_calendar_entry_resource_id<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" value="<?=is_null($selectedResource) ? "" : $selectedResource->{$selectedResource->field_title}?>" perisian-data-id="<?=is_null($selectedResource) ? "" : $selectedResource->{$selectedResource->field_pk}?>" data-source="resource"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

                </div>
            </div>

        <?php endif; ?>
    
    <?php endif; ?>

    <div class="form-group">

        <div class="col-sm-12">

            <label><?php PerisianLanguageVariable::printVariable(10786)?></label><br/>

            <div class="input-daterange input-group" id="calsy_calendar_date_range<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>">

                <div class="input-group-content">

                    <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_begin_date<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" id="calsy_calendar_date_range_begin_date<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" value="<?=date("d.m.Y", $entryTimestampBegin)?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                </div>

                <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>

                <div class="input-group-content">

                    <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_begin_time<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" id="calsy_calendar_date_range_begin_time<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" value="<?=date("H:i", $entryTimestampBegin)?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                </div><br/>

                <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10785)?></span>

                <div class="input-group-content">

                    <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_end_date<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" id="calsy_calendar_date_range_end_date<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" value="<?=date("d.m.Y", $entryTimestampEnd)?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>
                    <div class="form-control-line"></div>

                </div>

                <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>

                <div class="input-group-content">

                    <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_end_time<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" id="calsy_calendar_date_range_end_time<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" value="<?=date("H:i", $entryTimestampEnd)?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                </div>

            </div>

        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-12">

            <label for="calsy_calendar_entry_title<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>"><?php PerisianLanguageVariable::printVariable(10234) ?></label>
            <input type="text" id="calsy_calendar_entry_title<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" class="form-control" name="calsy_calendar_entry_title<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" value="<?php if(is_object($entry)): echo $entry->{$entry->field_title}; endif?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

        </div>
    </div>

    <?php if(!@$result['is_work_plan'] || (@$result['is_work_plan'] && @$result['is_work_plan_booking'])): ?>
    
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_description<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>"><?=PerisianLanguageVariable::getVariable(10781)?> <?=PerisianLanguageVariable::getVariable('p5a11ca1655022')?></label>
                <textarea type="text" id="calsy_calendar_entry_description<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>" class="form-control" name="calsy_calendar_entry_description<?=(@$entryIndex > 0 ? '_' . $entryIndex : '')?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>><?php if(is_object($entry)): echo $entry->{$entry->field_description}; endif?></textarea>

            </div>
        </div>
    
    <?php endif; ?>

</div>