<?php if(@$result['list_images'] && count($result['list_images']) > 0): ?>

    <script type="text/javascript" src="assets/js/libs/dropzone/dropzone.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable('p5d94f1c67b1ca')?></div>

    <div class="modal-body">

        <div class="form-group" style="margin-bottom: 0">
            
            <div class="col-md-12">

                <div>
                    <h2 style="margin: 0;"><?=lg('p5d94f2dc1c0dc')?></h2>
                    <?=lg('p5d95130923a92')?>
                </div>

                <form action="<?=$result['list_images'][0]["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['list_images'][0]["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="image_id" id="image_id" value="<?=$result['list_images'][0]["image_id"]?>"/>
                    <input type="hidden" name="setting" value="<?=$result['list_images'][0]["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>

                    <input type="hidden" id="<?=$result['list_images'][0]["name"]?>_filename" value="<?=(isset($result['list_images'][0]['image']) ? $result['list_images'][0]['image']["name"] : "")?>"/>

                </form>

            </div>
            
        </div>


    </div>

    <script type="text/javascript">

    /**
     * Fired after a succesful upload.
     * 
     * @author Peter Hamm
     * @param Object data
     * @param Object response
     * @returns void
     */
    var onDropzoneUploadSuccess = function(data, response) 
    {

        var callback = JSON.parse(response);
        
        jQuery('#<?=$result['list_images'][0]["name"]?>_filename').val(callback.file)

        if(!callback.success)
        {

            toastr.error(callback.message);

        }
        else
        {


            toastr.success(callback.message);

        }

        return callback;

    };

    /**
     * Fired after removing an upload.
     * 
     * @author Peter Hamm
     * @param Object file
     * @returns void
     */
    var onDropzoneUploadRemoved = function(file)
    {
        
        jQuery('.dz-message').show();

    };

    jQuery(document).ready(function() {

        var dropzone = new Dropzone('#form_<?=$result['list_images'][0]["name"]?>', {

            uploadMultiple: false,
            maxFiles: 1,

            init: function () {

                var thisDropzone = (this);

                thisDropzone.on('success', onDropzoneUploadSuccess);
                thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                thisDropzone.on("addedfile", function(file) {

                    file.previewElement.addEventListener("click", function() {

                        <?php if((int)$result['id'] == 0): ?>
                                
                            if(confirm(Language.getLanguageVariable(11131)))
                            {

                                thisDropzone.removeFile(file);

                            }
                            
                        <?php else: ?>
                            
                            return;
                            
                        <?php endif; ?>

                    });

                });

                <?php if(is_array($result['list_images'][0]['image']) && strlen($result['list_images'][0]['image']["name"]) > 0): ?>

                    var currentFile = { 

                        name: "<?=$result['list_images'][0]['image']["name"]?>", 
                        size: <?=$result['list_images'][0]['image']["filesize"]?>, 
                        type: "<?=$result['list_images'][0]['image']["type"]?>",
                        url: '<?=$result['list_images'][0]['image']["url"]?>',
                        status: Dropzone.ADDED,
                        accepted: true

                    };

                    thisDropzone.emit("addedfile", currentFile);
                    thisDropzone.emit("thumbnail", currentFile, '<?=$result['list_images'][0]['image']["url"]?>');
                    thisDropzone.emit("complete", currentFile);

                    thisDropzone.files.push(currentFile);

                <?php endif; ?>

            }

        });

    });

    </script>

<?php endif; ?>
