
<?php if(CalsyOrderModule::isEnabled()): ?>

    <div class="form-group">
        <div class="col-sm-12">

            <label for="calsy_calendar_entry_order_<?=$i?>"><?php PerisianLanguageVariable::printVariable(10782) ?></label>
            <input type="text" id="calsy_calendar_entry_order_id_<?=$i?>" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_order_id_<?=$i?>" value="<?=(isset($selectedOrder) ? $selectedOrder->{$selectedOrder->field_title} : "")?>" perisian-data-id="<?=(isset($selectedOrder) ? $selectedOrder->{$selectedOrder->field_pk} : "")?>" data-source="order"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

        </div>
    </div>

<?php endif; ?>
