
<div class="form-group">
    
    <div class="col-sm-12">

        <label for="calsy_calendar_entry_info_additional_<?=$i?>"><?=PerisianLanguageVariable::printVariable(11097) ?> <?=PerisianLanguageVariable::getVariable('p5a11c97c0b237')?></label>
        <textarea type="text" id="calsy_calendar_entry_info_additional_<?=$i?>" class="form-control" name="calsy_calendar_entry_info_additional_<?=$i?>"><?php if($action == 'edit'): echo @$result['list_user_frontend'][$i]['info_additional']; endif?></textarea>

    </div>
    
</div>