<a class="fc-time-grid-event fc-event <?=(CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START) ? "fc-process " : "")?> <?=($entry["calsy_calendar_entry_is_holiday"] == 1 ? "fc-holiday " : "")?><?=(isset($entry["isBlockedForUser"]) && $entry["isBlockedForUser"] == 1 ? "fc-blocked " : "")?>fc-<?=(!$entry["startsToday"] || $entry["overspansToday"] ? "not-" : "")?>start fc-<?=(!$entry["endsToday"] || $entry["overspansToday"] ? "not-" : "")?>end<?php if(CalsyCalendarEntry::hasUserFrontendButIsUnconfirmed($actualEntryId)): ?> fc-event-unconfirmed<?php endif; ?>" 
   data-id="<?=$actualEntryId?>" 
   data-id-secondary="<?=$entry["calsy_calendar_entry_id"]?>"
   accesskey=""
   data-begin="<?=$entry["calsy_calendar_entry_date_begin_timestamp"]?>" 
   data-end="<?=$entry["calsy_calendar_entry_date_end_timestamp"]?>" 
   data-begin-time="<?=date("H:i", $entry["calsy_calendar_entry_date_begin_timestamp"])?>" 
   data-end-time="<?=date("H:i", $entry["calsy_calendar_entry_date_end_timestamp"])?>" 
   data-starts-today="<?=($entry["startsToday"] ? "1" : "0")?>" 
   data-ends-today="<?=($entry["endsToday"] ? "1" : "0")?>" 
   data-is-holiday="<?=$entry["calsy_calendar_entry_is_holiday"]?>"
   data-is-blocked="<?=@$entry["isBlockedForUser"]?>"
   data-is-bookable-time="<?=@$entry["isBookableTime"]?>"
   style="z-index: <?=($i * 7 + $j)?>; left: 0%; right: 0%; background-color: <?=$entry["displayColor"]?>;">

    <div class="fc-content">

        <div class="fc-title">
            
            <?php if(CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START)): ?>

                <i style="margin-left: 1px" class="fa md <?=CalsyProcessEngineModule::getModuleIcon()?>"></i>

            <?php endif; ?>
                
            <?php if(!$entry["calsy_calendar_entry_is_holiday"] && !CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START) && (CalsyCalendarEntry::hasUserFrontendButIsUnconfirmed($actualEntryId) || CalsyCalendarEntry::isCanceledForAnyUserFrontend($actualEntryId))): ?>

                <i class="fa fa-warning"></i>

            <?php endif; ?>
                
            <?php if($entry["calsy_calendar_entry_is_survey"]): ?>

                <i class="md md-poll"></i>

            <?php endif; ?>
                
            <?=$entry["calsy_calendar_entry_title"]?>

            <?php if(@$entry["isBlockedForUser"] != 1): ?>

                <?php if(CalsyResource::isSpecialItem('home_visit', $entry["calsy_calendar_entry_resource_id"])): ?>

                    <i class="fa fa-home"></i>

                <?php endif; ?>

            <?php endif; ?>

        </div>
        
        <?php if(!isset($entry["wholeDay"]) || !$entry["wholeDay"]): ?>

            <?php if($entry["startsToday"] && $entry["endsToday"]): ?>

            <div class="fc-time"><span><?=date("H:i", $entry["calsy_calendar_entry_date_begin_timestamp"])?><?php if(!$isProcess): ?> - <?=date("H:i", $entry["calsy_calendar_entry_date_end_timestamp"])?><?php endif; ?></span></div>

            <?php elseif($entry["startsToday"]): ?>

            <div class="fc-time"><span><?=PerisianLanguageVariable::getVariable(10773)?> <?=date("H:i", $entry["calsy_calendar_entry_date_begin_timestamp"])?></span></div>

            <?php elseif($entry["endsToday"]): ?>

            <div class="fc-time"><span><?=PerisianLanguageVariable::getVariable(10774)?> <?=date("H:i", $entry["calsy_calendar_entry_date_end_timestamp"])?></span></div>

            <?php endif; ?>

        <?php endif; ?>

    </div>

</a>