<table>

    <tbody>
        
        <?php $hourlyTimes = @$result['times_hourly'] ? $result['times_hourly'] : CalsyCalendar::getHourlyTimes(); ?>

        <?php for($i = 0; $i < 24; ++$i): ?>

            <tr class="full-hour" 
                style="<?=(($i < $hourlyTimes['begin'] || $i > $hourlyTimes['end']) ? "display: none;" : "")?>"
                data-unix-time="<?=((int)date("H", mktime($i, 0, 0, 0, 0, 0)) * 3600)?>"
                data-time="<?=(int)date("Hi", mktime($i, 0, 0, 0, 0, 0))?>">

                <td class="fc-axis fc-time fc-widget-content"><span><?=date("H:i", mktime($i, 0, 0, 0, 0, 0))?></span></td>

                    <td class="fc-widget-content fc-widget-content-clickable<?php 

                        if(isset($dayTime) && !CalsyCalendar::isMinuteBookable($dayTime + ($i * 3600))): ?> non-bookable<?php 

                    endif; ?>"></td>

            </tr>
            
            <?php $segmentInterval = CalsyCalendar::getHourlySegmentInterval(); ?>

            <?php for($segment = $segmentInterval, $segmentLoop = 1; $segment < 3600; $segment += $segmentInterval, ++$segmentLoop): ?>
            
                <tr class="fc-minor" 
                    style="<?=(($i < $hourlyTimes['begin'] || $i > $hourlyTimes['end']) ? "display: none;" : "")?>"
                    data-unix-time="<?=((int)date("H", mktime($i, 0, 0, 0, 0, 0)) * 3600 + $segmentLoop * $segmentInterval)?>"
                    data-time="<?=(int)date("Hi", mktime($i, 30, 0, 0, 0, 0))?>">

                    <td class="fc-axis fc-time fc-widget-content"><span><?=($segmentLoop % 2 == 0 ? date("H:i", (($i - 1) * 3600 + $segmentLoop * $segmentInterval)) : '')?></span></td>

                    <td class="fc-widget-content fc-widget-content-clickable<?php 

                        if(isset($dayTime) && !CalsyCalendar::isMinuteBookable($dayTime + ($i * 3600) + 1800)): ?> non-bookable<?php 

                        endif; ?>"></td>

                </tr>
            
            <?php endfor; ?>
            
        <?php endfor; ?>

        <tr class="full-hour" 
            data-unix-time="86400"
            data-time="2400"></tr>
                
    </tbody>

</table>