
<div class="tools">

    <div class="btn-group">

        <?php if(PerisianSystemSetting::isSettingTrue('calendar_is_enabled_printing')): ?>
            <a id="calendar-print" class="btn btn-icon-toggle ink-reaction" title="<?=htmlentities(PerisianLanguageVariable::getVariable('p5a60e0d7c8003'), ENT_QUOTES)?>"><i class="fa fa-print"></i>
        <?php endif; ?>

        <a id="calendar-today" class="btn btn-icon-toggle ink-reaction" title="<?=htmlentities(PerisianLanguageVariable::getVariable('p5a61015835697'), ENT_QUOTES)?>"><i class="fa fa-arrow-up"></i></a>
        <a id="calendar-entry-new" class="btn btn-icon-toggle ink-reaction" title="<?=htmlentities(PerisianLanguageVariable::getVariable('10347'), ENT_QUOTES)?>"><i class="fa fa-plus"></i></a>
        <a id="calendar-prev" class="btn btn-icon-toggle ink-reaction" title="<?=htmlentities(PerisianLanguageVariable::getVariable('11137'), ENT_QUOTES)?>"><i class="fa fa-angle-left"></i></a>
        <a id="calendar-next" class="btn btn-icon-toggle ink-reaction" title="<?=htmlentities(PerisianLanguageVariable::getVariable('11138'), ENT_QUOTES)?>"><i class="fa fa-angle-right"></i></a>

    </div>

    <div class="btn-group pull-right"></div>

</div>

<ul class="nav nav-tabs tabs-text-contrast tabs-accent" data-toggle="tabs">

    <li id="calendar-display-year"<?=($result['data_calendar']['type'] == 'year' ? ' class="active"' : '')?>><a href="#"><?=PerisianLanguageVariable::getVariable(10780)?></a></li>
    <li id="calendar-display-month"<?=($result['data_calendar']['type'] == 'month' ? ' class="active"' : '')?>><a href="#"><?=PerisianLanguageVariable::getVariable(10768)?></a></li>
    <li id="calendar-display-week"<?=($result['data_calendar']['type'] == 'week' ? ' class="active"' : '')?>><a href="#"><?=PerisianLanguageVariable::getVariable(10769)?></a></li>
    <li id="calendar-display-day"<?=($result['data_calendar']['type'] == 'day' ? ' class="active"' : '')?>><a href="#"><?=PerisianLanguageVariable::getVariable(10770)?></a></li>

</ul>
