<script type="text/javascript" src="assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/global.js"></script>
<script type="text/javascript" src="assets/js/calsy/Calendar.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/git.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/developer.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(11077) ?></li>
    </ol>
    
</div>

<div class="section-body">
    
    <div class="col-lg-12">

        <div class="card">
            
            <div class="card-body">
                
                <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable(11077)?></h2>
                
                <br/>
                
                <code class="neutral-code">
                    
                    <?php foreach($result['status_system'] as $identifier => $data): ?>
                    
                        [<?=$data['label']?>] => 
                            
                        <?php if(is_array($data['value'])): ?>

                            <?php print_r($data['value']); ?>

                        <?php elseif(is_bool($data['value'])): ?>

                            <?=PerisianLanguageVariable::getVariable($data['value'] ? 11081 : 11082)?>

                        <?php else: ?>

                            <?=$data['value']?>
                                    
                        <?php endif; ?>
                        
                        <br/>
                        
                    <?php endforeach; ?>
                    
                </code>
                
            </div>

        </div>
        
    </div>
    
    <div class="col-lg-12">

        <div class="card">
            
            <div class="card-body">
                
                <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p589e1720bd5c9')?></h2>
                
                <br/>
                
                <code class="neutral-code">
                    
                    <?php foreach($result['status_calendar'] as $identifier => $data): ?>
                    
                        <?=PerisianLanguageVariable::getVariable('p58a8a580068cb')?> - <?=$data['label']?>:        
                        
                        <?php if(is_array($data['value'])): ?>

                            <?php print_r($data['value']); ?>

                        <?php elseif(is_bool($data['value'])): ?>

                            <?=PerisianLanguageVariable::getVariable($data['value'] ? 11081 : 11082)?>

                        <?php else: ?>

                            <?=$data['value']?>
                                    
                        <?php endif; ?>
                        
                        <br/>
                        
                    <?php endforeach; ?>
                    
                    <?=PerisianLanguageVariable::getVariable('p58a89e8315534')?> - <?=PerisianLanguageVariable::getVariable('10964')?>: <span id="time-javascript"></span><br/>
                    <?=PerisianLanguageVariable::getVariable('p58a89e8315534')?> - <?=PerisianLanguageVariable::getVariable('p58a8a821102ab')?>: <span id="time-javascript-offset"></span><br/>
                    <?=PerisianLanguageVariable::getVariable('p58a89e8315534')?> - <?=PerisianLanguageVariable::getVariable('p58a8a25aa0758')?>: <span id="time-javascript-offset-gmt"></span><br/>
                    <?=PerisianLanguageVariable::getVariable('p58a89e8315534')?> - <?=PerisianLanguageVariable::getVariable('p589e16df5bc54')?>: <span id="time-javascript-switch-dst"></span><br/>
                    <?=PerisianLanguageVariable::getVariable('p58a89e8315534')?> - <?=PerisianLanguageVariable::getVariable('p589e16f508fd9')?>: <span id="time-javascript-switch-normal"></span>
                    
                </code>
                
                <script type="text/javascript">
                    
                    // Browser time
                    {
                        var date = new Date();
                        
                        var dateTime = date.toString();
                        
                        {
                            
                            var hours = date.getHours();
                            hours = (hours < 10 ? '0' : '') + hours;
                            
                            var minutes = date.getMinutes();
                            minutes = (minutes < 10 ? '0' : '') + minutes;
                            
                            var day = date.getDate();
                            day = (day < 10 ? '0' : '') + day;
                            
                            var month = date.getMonth();
                            month = (month < 10 ? '0' : '') + month;
                            
                        }
                        
                        var dateTimeString = hours + ':' + minutes + ', ' + day + '.' + month + '.' + date.getFullYear();

                    }
                    
                    // Browser GMT offset
                    {
                        
                        var dateTimeOffsetStringGmt = dateTime.substr(dateTime.indexOf('GMT') + 3, 5);

                        var hoursOffsetGmt = dateTimeOffsetStringGmt.substr(0, 3);
                        var minuteOffsetGmt = dateTimeOffsetStringGmt.substr(3, 2);

                        dateTimeOffsetStringGmt = hoursOffsetGmt + ':' + minuteOffsetGmt + 'h';
                    
                    }
                    
                    // Browser / Server offset
                    {
                        
                        var offsetSignGmt = hoursOffsetGmt.substr(0, 1) == '-' ? -1 : 1;
                        
                        var offsetTimestampGmt = parseInt(hoursOffsetGmt.substr(1, 2)) * 60 * 60 + parseInt(minuteOffsetGmt) * 60;
                        offsetTimestampGmt = offsetSignGmt * offsetTimestampGmt - <?=PerisianTimeZone::getTimeZoneOffsetInSeconds()?>;
                                                
                        var hoursOffset = Math.floor(offsetTimestampGmt / 3600);
                        var minuteOffset = Math.floor(offsetTimestampGmt % 3600);

                        var dateTimeOffsetString = hoursOffset + ':' + (minuteOffset < 10 ? "0" : "") + minuteOffset + 'h'; //
                                            
                    }
                    
                    // Browser DST change times
                    {
                        
                        var dstSwitchDates = Calendar.getDstSwitchDatesUpcoming();
                        
                        var dateTimeSwitchStringDst = "-";
                        var dateTimeSwitchStringNormal = "-";
                        
                        if(dstSwitchDates.dst !== null)
                        {
                            
                            var dateSwitch = dstSwitchDates.dst;
                            
                            var formattedSwitchMonth = dateSwitch.getMonth() + 1;
                            formattedSwitchMonth = (formattedSwitchMonth < 10 ? '0' : '') + formattedSwitchMonth;
                            
                            var formattedSwitchDay = dateSwitch.getDate();
                            formattedSwitchDay = (formattedSwitchDay < 10 ? '0' : '') + formattedSwitchDay;
                            
                            var formattedSwitchHour = dateSwitch.getHours() + 1;
                            var formattedSwitchHourTarget = formattedSwitchHour + 1;
                            
                            formattedSwitchHour = (formattedSwitchHour < 10 ? '0' : '') + formattedSwitchHour;
                            formattedSwitchHourTarget = (formattedSwitchHourTarget < 10 ? '0' : '') + formattedSwitchHourTarget;
                            
                            var formattedSwitchMinute = dateSwitch.getMinutes() + 1;
                            formattedSwitchMinute -= (formattedSwitchMinute >= 60 ? 60 : 0);
                            formattedSwitchMinute = (formattedSwitchMinute < 10 ? '0' : '') + formattedSwitchMinute;
                            
                            dateTimeSwitchStringDst = formattedSwitchDay + '.' + formattedSwitchMonth + '.' + dateSwitch.getFullYear() + ', ';
                            dateTimeSwitchStringDst += formattedSwitchHour + ':' + formattedSwitchMinute + ' => ' + formattedSwitchHourTarget + ':' + formattedSwitchMinute;
                                                        
                        }
                        
                        if(dstSwitchDates.normal !== null)
                        {
                            
                            var dateSwitch = dstSwitchDates.normal;
                            
                            var formattedSwitchMonth = dateSwitch.getMonth() + 1;
                            formattedSwitchMonth = (formattedSwitchMonth < 10 ? '0' : '') + formattedSwitchMonth;
                            
                            var formattedSwitchDay = dateSwitch.getDate();
                            formattedSwitchDay = (formattedSwitchDay < 10 ? '0' : '') + formattedSwitchDay;
                            
                            var formattedSwitchHour = dateSwitch.getHours() + 1;
                            var formattedSwitchHourTarget = formattedSwitchHour - 1;
                            
                            formattedSwitchHour = (formattedSwitchHour < 10 ? '0' : '') + formattedSwitchHour;
                            formattedSwitchHourTarget = (formattedSwitchHourTarget < 10 ? '0' : '') + formattedSwitchHourTarget;
                            
                            var formattedSwitchMinute = dateSwitch.getMinutes() + 1;
                            formattedSwitchMinute -= (formattedSwitchMinute >= 60 ? 60 : 0);
                            formattedSwitchMinute = (formattedSwitchMinute < 10 ? '0' : '') + formattedSwitchMinute;
                            
                            dateTimeSwitchStringNormal = formattedSwitchDay + '.' + formattedSwitchMonth + '.' + dateSwitch.getFullYear() + ', ';
                            dateTimeSwitchStringNormal += formattedSwitchHour + ':' + formattedSwitchMinute + ' => ' + formattedSwitchHourTarget + ':' + formattedSwitchMinute;
                                                        
                        }
                                         
                    }
                
                    jQuery('#time-javascript').html(dateTimeString);
                    jQuery('#time-javascript-offset').html(dateTimeOffsetString);
                    jQuery('#time-javascript-offset-gmt').html(dateTimeOffsetStringGmt);
                    jQuery('#time-javascript-switch-dst').html(dateTimeSwitchStringDst);
                    jQuery('#time-javascript-switch-normal').html(dateTimeSwitchStringNormal);
                
                </script>
                
            </div>

        </div>
        
    </div>

    <div class="col-lg-12">

        <div class="card">

            <div class="card-body" style="padding-bottom: 0">
                <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable(11078);?></h2>
            </div>

            <div class="card-body git-scroll-container" id="calendar-bookable-times">
                
                <?php for($i = 0; $i < count($result['list_updates_latest']); ++$i):?>

                    <div class="git-commit">
                        <code class="git-code"><?=nl2br($result['list_updates_latest'][$i]['message'])?></code>
                        <div class="git-code-details"><?=PerisianUser::getUserFullnameShortcut($result['list_updates_latest'][$i]['author'])?> - <?=date("d.m.Y, H:i:s", $result['list_updates_latest'][$i]['timestamp'])?></div>
                    </div>

                <?php endfor; ?>
                
                <?php if(@$result['error']): ?>
                
                    <code style="display:block;"><?=nl2br($result['message'])?></code>
                
                <?php endif; ?>
                
            </div>

        </div>

    </div>
         
</div>
