<script type="text/javascript" src="assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/calsy/CalendarSettings.js"></script>
<script type="text/javascript" src="assets/js/libs/dropzone/dropzone.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/colorpicker/colorpicker.js"></script>

<script type="text/javascript">

Dropzone.autoDiscover = false;

</script>

<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/colorpicker/colorpicker.css" />

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable('p5aa423af308f4') ?></li>
    </ol>
    
</div>

<div class="section-body">
    
    <div class="col-lg-4">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable('p583c63119b61c'); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_display'], 'p583c63119b61c') ?>

            </form>

        </div>

    </div>
    
    <div class="col-lg-4">

        <script type="text/javascript">

            var initColorPicker = function(identifier) {

                var pickerColor = jQuery(identifier).css('backgroundColor');
                pickerColor = pickerColor.substr(0, 1) != "#" ? Perisian.rgbToHex(pickerColor) : pickerColor;

                jQuery(identifier).ColorPicker({

                    color: pickerColor,

                    onShow: function(picker) {

                        jQuery(picker).fadeIn(0);

                        return false;

                    },
                    onHide: function(picker) {

                        jQuery(picker).fadeOut(0);

                        return false;

                    },
                    onChange: function (hsb, hex, rgb) {

                        jQuery(identifier).css('backgroundColor', '#' + hex);

                    }

                });

            }

            jQuery(document).ready(function() {

                initColorPicker("#color_main");
                initColorPicker("#color_main_alternative");
                initColorPicker("#color_main_alternative_two");
                initColorPicker("#color_secondary");

            });

        </script>

        <div class="card">

            <form id="calendar_settings" class="form form-validate floating-label" novalidate="novalidate">

                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(11125); ?></h2>
                </div>

                <div class="card-body">

                    <div class="form-group">
                        <label for="color_main"><?php PerisianLanguageVariable::printVariable(11126); ?></label>
                        <div class="color-picker-box" id="color_main" style="background-color: <?=$result['list_colors_system']['current']['main']?>"></div>
                    </div>
                    
                    <div class="form-group">
                        <label for="color_main_alternative"><?php PerisianLanguageVariable::printVariable(11129); ?></label>
                        <div class="color-picker-box" id="color_main_alternative" style="background-color: <?=$result['list_colors_system']['current']['main_alternative']?>"></div>
                    </div>
                    
                    <div class="form-group">
                        <label for="color_main_alternative_two"><?php PerisianLanguageVariable::printVariable(11130); ?></label>
                        <div class="color-picker-box" id="color_main_alternative_two" style="background-color: <?=$result['list_colors_system']['current']['main_alternative_two']?>"></div>
                    </div>

                    <div class="form-group">
                        <label for="color_secondary"><?php PerisianLanguageVariable::printVariable(11127); ?></label>
                        <div class="color-picker-box" id="color_secondary" style="background-color: <?=$result['list_colors_system']['current']['secondary']?>"></div>
                    </div>

                </div>
                
                <div class="card-actionbar">

                    <div class="card-actionbar-row">

                        <button class="btn btn-primary-bright ink-reaction" style="float:left;" type="button" onclick="SystemSettings.resetColors()"><?=PerisianLanguageVariable::getVariable(11133)?></button>
                        <button class="btn btn-primary-bright ink-reaction" type="button" onclick="SystemSettings.saveColors()"><?=PerisianLanguageVariable::getVariable(10129)?></button>

                    </div>

                </div>

            </form>

        </div>

    </div>
        
    <br style="clear:both"/>
    
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result['field_upload_image_welcome_backend']["title"]?></h2>
                    <?=$result['field_upload_image_welcome_backend']["description"]?>
                </div>
                
                <form action="<?=$result['field_upload_image_welcome_backend']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_upload_image_welcome_backend']["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result['field_upload_image_welcome_backend']["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    <input type="hidden" id="<?=$result['field_upload_image_welcome_backend']["name"]?>_filename" value="<?=$result['field_upload_image_welcome_backend']["image"]["name"]?>"/>

                </form>
            </div>
            
        </div>

        <script type="text/javascript">
        
        /**
         * Fired after a succesful upload.
         * 
         * @author Peter Hamm
         * @param Object data
         * @param Object response
         * @returns void
         */
        var onDropzoneUploadSuccess = function(data, response) 
        {

            var callback = JSON.parse(response);

            if(!callback.success)
            {

                toastr.error(callback.message);

            }
            else
            {
                
                
                toastr.success(callback.message);

            }
            
            return callback;

        };
        
        /**
         * Fired after removing an upload.
         * 
         * @author Peter Hamm
         * @param Object file
         * @returns void
         */
        var onDropzoneUploadRemoved = function(file)
        {
            
            var settingId = jQuery(this.element).attr('id').replace('form_', '');
            
            SystemSettings.resetUpload(settingId);
            
        };
        
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result['field_upload_image_welcome_backend']["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', onDropzoneUploadSuccess);
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result['field_upload_image_welcome_backend']["image"]["name"]) > 0): ?>

                        var currentFile = { 

                            name: "<?=$result['field_upload_image_welcome_backend']["image"]["name"]?>", 
                            size: <?=$result['field_upload_image_welcome_backend']["image"]["filesize"]?>, 
                            type: "<?=$result['field_upload_image_welcome_backend']["image"]["type"]?>",
                            url: '<?=$result['field_upload_image_welcome_backend']["image"]["url"]?>',
                            status: Dropzone.ADDED,
                            accepted: true

                        };

                        thisDropzone.emit("addedfile", currentFile);
                        thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_upload_image_welcome_backend']["image"]["url"]?>');
                        thisDropzone.emit("complete", currentFile);

                        thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>
    
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result['field_upload_image_header_backend']["title"]?></h2>
                    <?=$result['field_upload_image_header_backend']["description"]?>
                </div>
                
                <form action="<?=$result['field_upload_image_header_backend']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_upload_image_header_backend']["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result['field_upload_image_header_backend']["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    
                    <input type="hidden" id="<?=$result['field_upload_image_header_backend']["name"]?>_filename" value="<?=$result['field_upload_image_header_backend']["image"]["name"]?>"/>

                </form>
            </div>
            
        </div>

        <script type="text/javascript">
        
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result['field_upload_image_header_backend']["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', onDropzoneUploadSuccess);
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result['field_upload_image_header_backend']["image"]["name"]) > 0): ?>
                    
                    var currentFile = { 
                        
                        name: "<?=$result['field_upload_image_header_backend']["image"]["name"]?>", 
                        size: <?=$result['field_upload_image_header_backend']["image"]["filesize"]?>, 
                        type: "<?=$result['field_upload_image_header_backend']["image"]["type"]?>",
                        url: '<?=$result['field_upload_image_header_backend']["image"]["url"]?>',
                        status: Dropzone.ADDED,
                        accepted: true
                    
                    };
                    
                    thisDropzone.emit("addedfile", currentFile);
                    thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_upload_image_header_backend']["image"]["url"]?>');
                    thisDropzone.emit("complete", currentFile);

                    thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>
        
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result['field_upload_image_icon_favorite_backend']["title"]?></h2>
                    <?=$result['field_upload_image_icon_favorite_backend']["description"]?>
                </div>
                
                <form action="<?=$result['field_upload_image_icon_favorite_backend']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_upload_image_icon_favorite_backend']["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result['field_upload_image_icon_favorite_backend']["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    <input type="hidden" id="<?=$result['field_upload_image_icon_favorite_backend']["name"]?>_filename" value="<?=$result['field_upload_image_icon_favorite_backend']["image"]["name"]?>"/>

                </form>
                
            </div>
            
        </div>

        <script type="text/javascript">
                
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result['field_upload_image_icon_favorite_backend']["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', function(data, response) {
                        
                        var callback = onDropzoneUploadSuccess(data, response);
                        
                        if(callback.success)
                        {
                            
                            // Update the icon in the browser
                            var newFavIconAddress = Perisian.addUrlParam(jQuery("#favicon").attr("href") + "?", "t", (new Date().getTime()));
                            jQuery("#favicon").attr("href", newFavIconAddress);
                            
                        }
                        
                    });
                    
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result['field_upload_image_icon_favorite_backend']["image"]["name"]) > 0): ?>
                    
                    var currentFile = { 
                        
                        name: "<?=$result['field_upload_image_icon_favorite_backend']["image"]["name"]?>", 
                        size: <?=$result['field_upload_image_icon_favorite_backend']["image"]["filesize"]?>, 
                        type: "<?=$result['field_upload_image_icon_favorite_backend']["image"]["type"]?>",
                        url: '<?=$result['field_upload_image_icon_favorite_backend']["image"]["url"]?>',
                        status: Dropzone.ADDED,
                        accepted: true
                    
                    };
                    
                    thisDropzone.emit("addedfile", currentFile);
                    thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_upload_image_icon_favorite_backend']["image"]["url"]?>');
                    thisDropzone.emit("complete", currentFile);

                    thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>
    
    <div class="col-lg-4">

        <div class="card">
            
            <div class="form-group" style="margin-bottom: 0">
                
                <div class="card-body">
                    <h2 style="margin: 0;"><?=$result['field_upload_image_backdrop_backend']["title"]?></h2>
                    <?=$result['field_upload_image_backdrop_backend']["description"]?>
                </div>
                
                <form action="<?=$result['field_upload_image_backdrop_backend']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_upload_image_backdrop_backend']["name"]?>">

                    <input type="hidden" name="do" value="upload"/>
                    <input type="hidden" name="setting" value="<?=$result['field_upload_image_backdrop_backend']["name"]?>"/>

                    <div class="dz-message">
                        <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                        <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                    </div>
                    
                    <input type="hidden" id="<?=$result['field_upload_image_backdrop_backend']["name"]?>_filename" value="<?=$result['field_upload_image_backdrop_backend']["image"]["name"]?>"/>

                </form>
                
            </div>
            
        </div>

        <script type="text/javascript">
                
        jQuery(document).ready(function() {

            var dropzone = new Dropzone('#form_<?=$result['field_upload_image_backdrop_backend']["name"]?>', {

                uploadMultiple: false,
                maxFiles: 1,
                
                init: function () {
                    
                    var thisDropzone = (this);

                    thisDropzone.on('success', function(data, response) {
                        
                        var callback = onDropzoneUploadSuccess(data, response);
                        
                        if(callback.success)
                        {
                            
                            // Update the icon in the browser
                            var newFavIconAddress = Perisian.addUrlParam(jQuery("#favicon").attr("href") + "?", "t", (new Date().getTime()));
                            jQuery("#favicon").attr("href", newFavIconAddress);
                            
                        }
                        
                    });
                    
                    thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                    thisDropzone.on("addedfile", function(file) {

                        file.previewElement.addEventListener("click", function() {

                            if(confirm(Language.getLanguageVariable(11131)))
                            {
                                
                                thisDropzone.removeFile(file);
                                
                            }

                        });

                    });
                    
                    <?php if(strlen($result['field_upload_image_backdrop_backend']["image"]["name"]) > 0): ?>
                    
                    var currentFile = { 
                        
                        name: "<?=$result['field_upload_image_backdrop_backend']["image"]["name"]?>", 
                        size: <?=$result['field_upload_image_backdrop_backend']["image"]["filesize"]?>, 
                        type: "<?=$result['field_upload_image_backdrop_backend']["image"]["type"]?>",
                        url: '<?=$result['field_upload_image_backdrop_backend']["image"]["url"]?>',
                        status: Dropzone.ADDED,
                        accepted: true
                    
                    };
                    
                    thisDropzone.emit("addedfile", currentFile);
                    thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_upload_image_backdrop_backend']["image"]["url"]?>');
                    thisDropzone.emit("complete", currentFile);

                    thisDropzone.files.push(currentFile);
                    
                    <?php endif; ?>
                    
                }

            });

        });

        </script>

    </div>

</div>