<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianDatabase.js"></script>
<script type="text/javascript" src="../assets/js/libs/dropzone/dropzone.min.js"></script>

<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/git.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/developer.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable('p57b443846a696') ?></li>
    </ol>
    
</div>

<div class="section-body">

    <?php if($isExportPossible): ?>

        <div class="col-lg-4">

            <div class="card">

                <div class="card-body">

                    <button class="btn btn-block btn-primary-bright ink-reaction" id="btn-dump-database" onclick="javascript:PerisianDatabase.exportDump();"><span class="glyphicon glyphicon-export"></span> <?=PerisianLanguageVariable::getVariable('p57b443dba059f');?></button>

                </div>

            </div>

        </div>

        <br style="clear:both;"/>

    <?php endif; ?>
    
    <div class="col-lg-12">

        <div class="card">
            
            <div class="card-body">
                
                <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p57b587ec6adc1')?></h2>
                
                <br/>
                
                <code class="neutral-code">
                    
                    <?php foreach($databaseInfo as $key => $value): ?>
                    
                        [<?=$key?>] => <?php if(is_array($value)): ?><?php print_r($value); ?><?php else: ?><?=$value?><?php endif; ?><br/>
                        
                    <?php endforeach; ?>
                    
                </code>
                
            </div>

        </div>
        
    </div>
        
    <?php if($isExportPossible): ?>

        <div class="col-lg-4">

            <div class="card">

                <div class="card-body">

                    <button class="btn btn-block btn-primary-bright ink-reaction" id="btn-dump-database" onclick="javascript:PerisianDatabase.diffDatabase();"><span class="md md-compare"></span> <?=PerisianLanguageVariable::getVariable('p57b587a0c56ce');?></button>

                </div>

            </div>

        </div>

        <br style="clear:both;"/>

        <div class="col-lg-12" id="database-diff-result">

            <div class="card">

                <div class="card-body">

                    <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p57b587cfbaefb')?></h2>

                    <br/>

                    <code class="neutral-code">

                    </code>

                </div>

            </div>

        </div>

    <?php endif; ?>
         
</div>
