
<script type="text/javascript" src="assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/calsy/CalendarSettings.js"></script>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10135) ?></li>
    </ol>
    
</div>

<div class="section-body">
     
    <div class="col-lg-4">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10705); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_system'], 10705) ?>

            </form>
            
            <script type="text/javascript">
            
                jQuery(document).ready(function() {
                    
                   jQuery('[name-descriptive="system_is_packaging_enabled"]').prop("checked", false).prop('disabled', true);
                    
                });
            
            </script>

        </div>

    </div>
    
    <div class="col-lg-4">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10877); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_smtp'], 10877) ?>

            </form>
            
            <script type="text/javascript">
            
                jQuery(document).ready(function() {
                   
                   SystemSettings.onChangeMailService();
                   
                   jQuery('[name-descriptive="system_default_smtp_service"]').change(SystemSettings.onChangeMailService);
                    
                });
            
            </script>

        </div>

    </div>
    
    <div class="col-lg-4">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable('p5aa42245a6700'); ?></h2>
                </div>
                
                <div class="card-body info-bar" style="">
                    
                    <b><?=PerisianLanguageVariable::getVariable('p5aa42dd8b8dcb')?></b><br/>
                    
                    <?php foreach($result['list_security_password_options_details'] as $policy): ?>

                        <br/><b><?= PerisianLanguageVariable::getVariable('p5aa42eb96fa6e')?> "<?=$policy['title']?>":</b><br/>

                        <?php for($i = 0; $i < count($policy['requirements']); ++$i): ?>

                            &bull; <?=$policy['requirements'][$i]?><br/>

                        <?php endfor; ?>

                    <?php endforeach; ?>
                    
                </div>
                                
                <?php PerisianSetting::printSettingList($result['list_settings_security'], 10877) ?>
                
            </form>

        </div>

    </div>
    
</div>