<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Calendar.togglePlusButton(true);
        
    });

</script>

<div class="card">
    
    <div class="card-head style-primary">
        
        <header class="season-icon-fake"><i class="fa fa-calendar"></i><?=date("Y", $result['data_calendar']["begin"])?></header>
        
        <?php require __DIR__ . '/includes/menu_top.phtml'; ?>

    </div>
    
    <div class="card-body no-padding">
        
	<div class="fc fc-ltr fc-unthemed" id="calendar">
            
            <div class="fc-view-container" style="padding-top: 20px">
                
                <?php for($i = 0; $i < count($result['data_calendar']["matrix"]["months"]); ++$i): ?>
                
                    <?php 
                    
                        $dayInMiddleOfMonthTimestamp = $result['data_calendar']["matrix"]["months"][$i][floor(count($result['data_calendar']["matrix"]["months"][$i]) / 2)]["time"];
                    
                    ?>
                
                    <div class="col-sm-4 calendar-year-month">
                        
                        <div class="calendar-year-month-holder">
                            
                            <div class="calendar-year-month-header season-<?=CalsyCalendar::getSeasonForMonth(date("m", $dayInMiddleOfMonthTimestamp))?> season-icon"
                                data-time="<?=PerisianTimeZone::getFirstDayOfMonthAsTimestamp($dayInMiddleOfMonthTimestamp)?>"><?=PerisianFrameworkToolbox::getMonthName(date("m", $dayInMiddleOfMonthTimestamp) - 1)?></div>
                            
                            <div class="calendar-year-month-content">
                                
                                <table>
                                    
                                    <tr>
                                        
                                        <?php for($k = 0; $k < 7; ++$k): ?>
                                        
                                            <?php if(CalsyCalendar::isDayDisplayableForView($k, 'year')): ?>
                                        
                                                <td class="calendar-year-month-header-day"><?=CalsyCalendar::getDayNameShort($k)?></td>
                                            
                                            <?php endif; ?>

                                        <?php endfor; ?>
                                            
                                    </tr>
                                    
                                    <tr>
                                        
                                        <td colspan="<?=CalsyCalendar::getCountDisplayableWeekDayForView('year')?>" class="fc-day-header fc-widget-header-seperator"><hr class="fc-widget-header"></td>
                                        
                                    </tr>
                                    
                                    <?php for($j = 0; $j < count($result['data_calendar']["matrix"]["months"][$i]); ++$j): ?>

                                        <?php if(($j) % 7 == 0):?>
                                    
                                            <tr>
                                                
                                        <?php endif; ?>
                                                
                                            <?php if(CalsyCalendar::isDayDisplayableForView($j % 7, 'year')): ?>

                                                <td class="calendar-year-day <?php 
                                                    if(!$result['data_calendar']["matrix"]["months"][$i][$j]["isBookable"]): ?> non-bookable<?php 
                                                    endif; ?><?php 
                                                    if($result['data_calendar']["matrix"]["months"][$i][$j]["isOtherMonth"]): ?> other-month<?php 
                                                    endif; ?><?php 
                                                    if($result['data_calendar']["matrix"]["months"][$i][$j]["isOtherYear"]): ?> other-year<?php 
                                                    endif; ?><?php 
                                                    if($result['data_calendar']["matrix"]["months"][$i][$j]["isToday"]): ?> calendar-display-year-today<?php 
                                                    endif; ?>"
                                                    data-time="<?=$result['data_calendar']["matrix"]["months"][$i][$j]["time"]?>">

                                                    <?php if(count($result['data_calendar']["matrix"]["months"][$i][$j]["entries"]) > 0): ?>
                                                        <div class="calendar-display-year-day-has-event"></div>
                                                    <?php endif; ?>

                                                    <div><?=date("d", $result['data_calendar']["matrix"]["months"][$i][$j]["time"])?></div>

                                                </td>
                                                
                                            <?php endif; ?>

                                        <?php if(($j + 1) % 7 == 0 || ($j + 1) == count($result['data_calendar']["matrix"]["months"][$i])):?>
                                            
                                            </tr>
                                                
                                        <?php endif; ?>
                                    
                                    <?php endfor; ?>
                                    
                                </table>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                        
                <?php endfor; ?>
            
            </div>
        
        </div>
	
    </div>
    
</div>