<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Calendar.togglePlusButton(true);
        
    });

</script>

<div class="card">
    
    <div class="card-head style-primary season-<?=CalsyCalendar::getSeasonForMonth(date("m", $result['data_calendar']["begin"]))?>">
        
        <header class="season-icon"><?=PerisianFrameworkToolbox::getMonthName(date("n", $result['data_calendar']["begin"]) - 1)?> <?=date("Y", $result['data_calendar']["begin"])?></header>
        
        <?php require __DIR__ . '/includes/menu_top.phtml'; ?>

    </div>
    
    <div class="card-body no-padding">
        
	<div class="fc fc-ltr fc-unthemed" id="calendar">

            <div style="" class="fc-view-container">
                
                <div style="" class="fc-view fc-month-view fc-basic-view">
                    
                    <table>
                        
                        <thead>
                            
                            <tr>
                                
                                <td class="fc-widget-header">
                                    
                                    <div class="fc-row fc-widget-header">
                                        
                                        <table>
                                            
                                            <thead>
                                                
                                                <tr>
                                                    
                                                    <?php for($i = 0; $i < 7; ++$i): ?>
                                                    
                                                        <?php if(CalsyCalendar::isDayDisplayableForView($i, 'month')): ?>
                                                    
                                                            <th class="fc-day-header fc-widget-header fc-<?=strtolower(CalsyCalendar::getDayNameShortInternational($i))?>"><?=CalsyCalendar::getDayNameShort($i)?></th>
                                                        
                                                        <?php endif; ?>
                                                    
                                                    <?php endfor; ?>
                                                </tr>
                                            
                                            </thead>
                                        
                                        </table>
                                    
                                    </div>
                                
                                </td>
                            
                            </tr>
                        
                        </thead>
                        
                        <tbody>
                            
                            <tr>
                                <td class="fc-widget-content">
                                    
                                    <div style="" class="fc-day-grid-container">
                                        
                                        <div class="fc-day-grid">
                                            
                                            <?php for($i = 0; $i < count(@$result['data_calendar']["matrix"]["weeks"]); ++$i): ?>
                                            
                                                <div class="fc-row fc-week fc-widget-content">

                                                    <div class="fc-bg">

                                                        <table>

                                                            <tbody>

                                                                <tr>
                                                                    
                                                                    <?php for($j = 0; $j < count($result['data_calendar']["matrix"]["weeks"][$i]); ++$j): ?>
                                                                    
                                                                        <?php if(CalsyCalendar::isDayDisplayableForView($j, 'month')): ?>

                                                                            <td class="fc-day fc-widget-content fc-<?=$result['data_calendar']["matrix"]["weeks"][$i][$j]["day"]?><?php 

                                                                            if(!$result['data_calendar']["matrix"]["weeks"][$i][$j]["isBookable"]): ?> non-bookable<?php 

                                                                            endif; ?><?php if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isOtherMonth"]): ?> fc-other-month<?php endif; ?><?php 

                                                                            if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isPast"]): ?> fc-past<?php 

                                                                            endif; ?><?php 

                                                                            if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isFuture"]): ?> fc-future<?php 

                                                                            endif; ?><?php 

                                                                            if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isToday"]): ?> fc-today<?php 

                                                                            endif; ?>" 
                                                                            data-date="<?=date("Y-m-d", $result['data_calendar']["matrix"]["weeks"][$i][$j]["time"])?>" 
                                                                            data-time="<?=$result['data_calendar']["matrix"]["weeks"][$i][$j]["time"]?>"></td>
                                                                            
                                                                        <?php endif; ?>
                                                                                                                                            
                                                                    <?php endfor; ?>

                                                                </tr>

                                                            </tbody>

                                                        </table>

                                                    </div>

                                                    <div class="fc-content-skeleton">

                                                        <table>

                                                            <thead>

                                                                <tr>
                                                                    
                                                                    <?php for($j = 0; $j < count($result['data_calendar']["matrix"]["weeks"][$i]); ++$j): ?>
                                                                    
                                                                        <?php if(CalsyCalendar::isDayDisplayableForView($j, 'month')): ?>

                                                                            <td class="fc-day-number fc-<?=$result['data_calendar']["matrix"]["weeks"][$i][$j]["day"]?><?php 

                                                                                if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isOtherMonth"]): ?> fc-other-month<?php 

                                                                                endif; ?><?php 

                                                                                if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isPast"]): ?> fc-past<?php 

                                                                                endif; ?><?php 

                                                                                if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isFuture"]): ?> fc-future<?php 

                                                                                endif; ?><?php 

                                                                                if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isToday"]): ?> fc-today<?php 

                                                                                endif; ?>" 
                                                                                data-date="<?=date("Y-m-d", $result['data_calendar']["matrix"]["weeks"][$i][$j]["time"])?>"
                                                                                data-time="<?=$result['data_calendar']["matrix"]["weeks"][$i][$j]["time"]?>">

                                                                            <?php if($result['data_calendar']["matrix"]["weeks"][$i][$j]["isBookable"]): ?><div class="button-add-entry-day"><i class="fa fa-plus-circle"></i></div><?php endif; ?>

                                                                            <div class="button-day-number<?php 

                                                                            if(!$result['data_calendar']["matrix"]["weeks"][$i][$j]["isBookable"]): ?> non-bookable<?php 

                                                                            endif; ?>"><?=date("d", $result['data_calendar']["matrix"]["weeks"][$i][$j]["time"])?></div>

                                                                            </td>
                                                                            
                                                                        <?php endif; ?>
                                                                    
                                                                    <?php endfor; ?>
                                                                    
                                                                </tr>

                                                            </thead>

                                                            <tbody>

                                                                <tr>
                                                                    
                                                                    <?php for($j = 0; $j < count($result['data_calendar']["matrix"]["weeks"][$i]); ++$j): ?>
                                                                    
                                                                        <?php if(CalsyCalendar::isDayDisplayableForView($j, 'month')): ?>

                                                                            <!-- Events on a day -->

                                                                            <td class="fc-event-container" data-time="<?=$result['data_calendar']["matrix"]["weeks"][$i][$j]["time"]?>">

                                                                                <?php for($k = 0; $k < count($result['data_calendar']["matrix"]["weeks"][$i][$j]["entries"]); ++$k): ?>

                                                                                    <?php 

                                                                                        $entry = $result['data_calendar']["matrix"]["weeks"][$i][$j]["entries"][$k]; 
                                                                                        $actualEntryId = !empty($entry["calsy_calendar_entry_parent_entry_id"]) ? $entry["calsy_calendar_entry_parent_entry_id"] : $entry["calsy_calendar_entry_id"];

                                                                                    ?>

                                                                                    <a class="fc-day-grid-event <?=(CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START) ? "fc-process " : "")?> <?=($entry["calsy_calendar_entry_is_holiday"] == 1 ? "fc-holiday " : "")?><?=(isset($entry["isBlockedForUser"]) && @$entry["isBlockedForUser"] == 1 ? "fc-blocked " : "")?>fc-event<?php if(CalsyCalendarEntry::hasUserFrontendButIsUnconfirmed($actualEntryId)): ?> fc-event-unconfirmed<?php endif; ?>" 
                                                                                        data-id="<?=$actualEntryId?>" 
                                                                                        data-id-secondary="<?=$entry["calsy_calendar_entry_id"]?>"
                                                                                        data-is-holiday="<?=$entry["calsy_calendar_entry_is_holiday"]?>"
                                                                                        data-is-blocked="<?=@$entry["isBlockedForUser"]?>"
                                                                                        data-is-bookable-time="<?=@$entry["isBookableTime"]?>"
                                                                                        data-begin="<?=$entry["calsy_calendar_entry_date_begin_timestamp"]?>" 
                                                                                        data-end="<?=$entry["calsy_calendar_entry_date_end_timestamp"]?>" 
                                                                                        data-begin-time="<?=date("H:i", $entry["calsy_calendar_entry_date_begin_timestamp"])?>" 
                                                                                        data-end-time="<?=date("H:i", $entry["calsy_calendar_entry_date_end_timestamp"])?>" 
                                                                                        data-owner="<?=$entry["calsy_calendar_entry_user_id"]?>"
                                                                                        style="background-color: <?=($entry["displayColor"])?>; border-color: <?=$entry["displayColor"]?>;">

                                                                                        <div class="fc-content">

                                                                                            <?php if(!isset($entry["wholeDay"]) || !$entry["wholeDay"]): ?>

                                                                                                <?php if($entry["startsToday"] && $entry["endsToday"]): ?>

                                                                                                    <span class="fc-time">
                                                                                                        
                                                                                                        <?=date("H:i", $entry["calsy_calendar_entry_date_begin_timestamp"])?>

                                                                                                        <?php if(isset($entry["isBlockedForUser"]) && $entry["isBlockedForUser"] == 1): ?>

                                                                                                            - <?=date("H:i", $entry["calsy_calendar_entry_date_end_timestamp"])?>

                                                                                                        <?php endif; ?>

                                                                                                    </span>

                                                                                                <?php elseif($entry["startsToday"]): ?>

                                                                                                    <span class="fc-time"><?=PerisianLanguageVariable::getVariable(10773)?> <?=date("H:i", $entry["calsy_calendar_entry_date_begin_timestamp"])?></span>

                                                                                                <?php elseif($entry["endsToday"]): ?>

                                                                                                    <span class="fc-time"><?=PerisianLanguageVariable::getVariable(10774)?> <?=date("H:i", $entry["calsy_calendar_entry_date_end_timestamp"])?></span>

                                                                                                <?php endif; ?>

                                                                                            <?php endif; ?>

                                                                                            <span class="fc-title">
                                                                                                
                                                                                                <?php if(CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START)): ?>
                                                                                                
                                                                                                    <i style="margin-left: 1px" class="fa md <?=CalsyProcessEngineModule::getModuleIcon()?>"></i>
                                                                                                    
                                                                                                <?php endif; ?>

                                                                                                <?php if(!$entry["calsy_calendar_entry_is_holiday"] && !CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START) && (CalsyCalendarEntry::hasUserFrontendButIsUnconfirmed($actualEntryId) || CalsyCalendarEntry::isCanceledForAnyUserFrontend($actualEntryId))): ?>

                                                                                                    <i class="fa fa-warning"></i>

                                                                                                <?php endif; ?>
                                                                                                    
                                                                                                <?php if($entry["calsy_calendar_entry_is_survey"]): ?>

                                                                                                    <i class="md md-poll"></i>

                                                                                                <?php endif; ?>

                                                                                                <?=$entry["calsy_calendar_entry_title"]?>

                                                                                                <?php if(!isset($entry["isBlockedForUser"]) || !$entry["isBlockedForUser"]): ?>

                                                                                                    <?php if(CalsyResource::isSpecialItem("home_visit", $entry["calsy_calendar_entry_resource_id"])): ?>

                                                                                                        <i class="fa fa-home"></i>

                                                                                                    <?php endif; ?>

                                                                                                <?php endif; ?>

                                                                                            </span>

                                                                                        </div>

                                                                                    </a>

                                                                                <?php endfor; ?>

                                                                            </td>
                                                                                
                                                                        <?php endif; ?>
                                                                    
                                                                    <?php endfor; ?>
                                                                    
                                                                </tr>

                                                            </tbody>

                                                        </table>

                                                    </div>

                                                </div>
                                            
                                            <?php endfor; ?>
                                            
                                        </div>
                                    
                                    </div>
                                      
                                </td>
                            </tr>
                        
                        </tbody>
                    
                    </table>
                
                </div>
            
            </div>
        
        </div>
	
    </div>
    
</div>