<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Calendar.togglePlusButton(true);
        
    });

</script>

<div class="card">
    
    <div class="card-head style-primary season-<?=CalsyCalendar::getSeasonForMonth(date("m", $result['data_calendar']["begin"]))?>">
        
        <header class="season-icon"><?=PerisianLanguageVariable::getVariable(10771)?> <?=date("W", $result['data_calendar']["begin"])?> - <?=PerisianFrameworkToolbox::getMonthName(date("n", $result['data_calendar']["begin"]) - 1)?> <?=date("Y", $result['data_calendar']["begin"])?></header>
        
        <?php require __DIR__ . '/includes/menu_top.phtml'; ?>

    </div>
    
    <div class="card-body no-padding">
        
	<div id="calendar" class="fc fc-ltr fc-unthemed calendar-hourly<?php if($result['count_entities'] > 1): ?> calendar-week-multi<?php endif; ?>">
            
            <div class="fc-view-container" style="">
                
                <div class="fc-view fc-agendaWeek-view fc-agenda-view">
                    
                    <table class="autosize" style="width: <?=(50 + ($result['count_entities'] > 0 ? $result['count_entities'] : 1) * 50)?>%;">
                        
                        <tbody>
                            
                            <tr>
                                
                                <td class="fc-widget-content">
                                    
                                    <div class="fc-time-grid-container fc-scroller">
                                        
                                        <!-- Main scroller -->
                                        
                                        <div id="hourly-header">
                                        
                                            <table width="100%">

                                                <thead>

                                                    <tr>
                                                        
                                                        <td class="fc-widget-header" style="border: 0;">

                                                            <div class="fc-row fc-widget-header" style="border: 0;">

                                                                <table class="autosize fc-hourly-header<?=($result['count_entities'] > 1 ? '-multi' : '')?>" style="border: 0;">

                                                                    <thead>

                                                                        <tr>

                                                                            <th class="fc-axis fc-widget-header"></th>

                                                                            <?php for($i = 0; $i < count($result['data_calendar']["matrix"]["days"]); ++$i): ?>
                                                                            
                                                                                <?php if(CalsyCalendar::isDayDisplayableForView($i, 'week')): ?>

                                                                                    <th data-time="<?=$result['data_calendar']["matrix"]["days"][$i]["time"]?>"
                                                                                        colspan="<?=(@$result['count_entities'] ? $result['count_entities'] : 1)?>" class="fc-day-header fc-weekly-day-header fc-day-header-element fc-widget-header<?php 

                                                                                        if($result['data_calendar']["matrix"]["days"][$i]["isToday"]): ?> fc-today<?php 

                                                                                        endif; ?> fc-<?=$result['data_calendar']["matrix"]["days"][$i]["day"]?>"><?=($result['count_entities'] > 1 ? CalsyCalendar::getDayName($i) : CalsyCalendar::getDayNameShort($i))?>, <?=date("d.m.", $result['data_calendar']["matrix"]["days"][$i]["time"])?></th>
                                                                                    
                                                                                <?php endif; ?>
                                                                                    
                                                                            <?php endfor; ?>
                                                                                
                                                                        </tr>

                                                                        <?php if($result['count_entities'] > 1): ?>

                                                                            <tr id="multi-user-header">

                                                                                <th class="fc-axis fc-widget-header"></th>

                                                                                <?php for($i = 0; $i < count($result['data_calendar']["matrix"]["days"]); ++$i): ?>
                                                                                
                                                                                    <?php if(CalsyCalendar::isDayDisplayableForView($i, 'week')): ?>

                                                                                        <?php for($j = 0; $j < $result['count_entities']; ++$j): ?>

                                                                                            <th data-user-id="<?=$result['filter_user_backend'][$j]?>" class="fc-day-header fc-widget-header fc-user-header<?php 

                                                                                                if($result['data_calendar']["matrix"]["days"][$i]["isToday"]): ?> fc-today<?php 

                                                                                                endif; ?> fc-<?=$result['data_calendar']["matrix"]["days"][$i]["day"]?>">

                                                                                                    <?php if(PerisianSystemSetting::getSettingValue('calendar_view_daily_weekly_hide_user_colors') != 1): ?>
                                                                                                        <div class="user-color" style="background-color: <?=CalsyUserBackend::getUserColor($result['filter_user_backend'][$j])?>; background-image: url('<?=CalsyUserBackend::getUserImageProfile($result['filter_user_backend'][$j])?>');"></div>
                                                                                                    <?php endif; ?>

                                                                                                    <?=CalsyCalendar::getUserNameForDailyWeeklyView($result['filter_user_backend'][$j])?></th>

                                                                                        <?php endfor; ?>
                                                                                            
                                                                                    <?php endif; ?>

                                                                                <?php endfor; ?>

                                                                            </tr>

                                                                        <?php endif; ?>

                                                                    </thead>

                                                                </table>

                                                            </div>

                                                        </td>
                                                    </tr>

                                                </thead>

                                            </table>
                                        
                                            <hr class="fc-widget-header">
                                            
                                        </div>
                                                    
                                        <div class="fc-time-grid">
                                            
                                            <div class="fc-bg">
                                                
                                                <table>
                                                    
                                                    <tbody>
                                                        
                                                        <tr>
                                                            
                                                            <td class="fc-axis fc-widget-content"></td>
                                                            
                                                            <?php for($i = 0; $i < count($result['data_calendar']["matrix"]["days"]); ++$i): ?>
                                                            
                                                                <?php if(CalsyCalendar::isDayDisplayableForView($i, 'week')): ?>

                                                                    <?php for($j = 0; $j < (@$result['count_entities'] ? $result['count_entities'] : 1); ++$j): ?>

                                                                    <th class="fc-day fc-widget-content<?php if((@$result['count_entities'] ? $result['count_entities'] : 1) - 1 == $j):?> day-seperator<?php endif; ?><?php 

                                                                        if($result['data_calendar']["matrix"]["days"][$i]["isPast"]): ?> fc-past<?php 

                                                                        endif; ?><?php 

                                                                        if($result['data_calendar']["matrix"]["days"][$i]["isToday"]): ?> fc-today<?php 

                                                                        endif; ?><?php 

                                                                        if($result['data_calendar']["matrix"]["days"][$i]["isFuture"]): ?> fc-future<?php 

                                                                        endif; ?> fc-<?=$result['data_calendar']["matrix"]["days"][$i]["day"]?>" data-date="<?=date("Y-m-d", $result['data_calendar']["matrix"]["days"][$i]["time"])?>"></th>

                                                                    <?php endfor; ?>
                                                                    
                                                                <?php endif; ?>

                                                            <?php endfor; ?>
                                                            
                                                        </tr>
                                                    
                                                    </tbody>
                                                
                                                </table>
                                            
                                            </div>
                                            
                                            <div class="fc-slats">
                                                                                                                                                
                                                <?php require('includes/entry_daily_hours.phtml'); ?>
                                            
                                            </div>
                                            
                                            <hr class="fc-widget-header" style="display: none;">
                                            
                                            <div class="fc-content-skeleton">
                                                
                                                <table>
                                                    
                                                    <tbody>
                                                        
                                                        <tr>
                                                            
                                                            <td class="fc-axis" style="width:52px"></td>
                                                            
                                                            <?php for($i = 0; $i < count($result['data_calendar']["matrix"]["days"]); ++$i): ?>
                                                            
                                                                <?php if(CalsyCalendar::isDayDisplayableForView($i, 'week')): ?>

                                                                    <?php for($k = 0; $k < (@$result['count_entities'] ? $result['count_entities'] : 1); ++$k): ?>

                                                                        <td>

                                                                            <div class="fc-event-container">

                                                                                <?php for($j = 0; $j < count($result['data_calendar']["matrix"]["days"][$i]["entries"]); ++$j): ?>

                                                                                    <?php 

                                                                                        $entry = $result['data_calendar']["matrix"]["days"][$i]["entries"][$j]; 
                                                                                        $actualEntryId = !empty($entry["calsy_calendar_entry_parent_entry_id"]) ? $entry["calsy_calendar_entry_parent_entry_id"] : $entry["calsy_calendar_entry_id"];
                                                                                        $isProcess = CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START);

                                                                                        if(!$isProcess)
                                                                                        {

                                                                                            if((@$result['filter_user_backend'] && $entry["calsy_calendar_entry_user_id"] != $result['filter_user_backend'][$k]) && $entry["calsy_calendar_entry_is_holiday"] != 1 && @$entry["isBlockedForUser"] != 1)
                                                                                            { 

                                                                                                continue; 

                                                                                            }; 

                                                                                        }

                                                                                    ?>

                                                                                    <?php require('includes/entry_daily.phtml'); ?>

                                                                                <?php endfor; ?>

                                                                            </div>

                                                                        </td>

                                                                    <?php endfor; ?>
                                                                        
                                                                <?php endif; ?>

                                                            <?php endfor; ?>
                                                            
                                                        </tr>
                                                    
                                                    </tbody>
                                                
                                                </table>
                                                    
                                            </div>
                                                
                                        </div>
                                            
                                    </div>
                                
                                </td>
                            
                            </tr>
                        
                        </tbody>
                    
                    </table>
                        
                </div>
                    
            </div>
                
        </div>

    </div>
    
</div>