<script type="text/javascript">

    Calendar.displayableDaysDaily = <?=json_encode(CalsyCalendar::getDisplayableIndices('day'))?>;

    jQuery(document).ready(function() {
        
        Calendar.togglePlusButton(<?=($result['data_calendar']["matrix"]['isBookable'] ? 'true' : 'false')?>);
        
    });

</script>

<div class="card">
    
    <div class="card-head style-primary season-<?=CalsyCalendar::getSeasonForMonth(date("m", $result['data_calendar']["begin"]))?>">
        
        <header class="season-icon">
            
            <?=PerisianLanguageVariable::getVariable(10771)?> <?=date("W", $result['data_calendar']["begin"])?> - 
            <?=date("d.", $result['data_calendar']["begin"])?> <?=PerisianFrameworkToolbox::getMonthName(date("n", $result['data_calendar']["begin"]) - 1)?> <?=date("Y", $result['data_calendar']["begin"])?>
        
        </header>
        
        <?php require __DIR__ . '/includes/menu_top.phtml'; ?>

    </div>
    
    <div class="card-body no-padding">
        
        <div id="calendar" class="fc fc-ltr fc-unthemed calendar-hourly<?php if($result['count_entities'] > 1): ?> calendar-day-multi<?php endif; ?><?php if($result['count_entities'] > 5 && PerisianSystemSetting::getSettingValue('calendar_view_daily_no_scrolling_horizontal') != 1): ?> calendar-day-multi-scroll<?php endif; ?>">
            
            <div class="fc-view-container" style="">
                
                <div class="fc-view fc-agendaWeek-view fc-agendaDay-view fc-agenda-view" style="">
                    
                    <table<?php if($result['count_entities'] > 5): ?> class="autosize" style="width: <?=(PerisianSystemSetting::getSettingValue('calendar_view_daily_no_scrolling_horizontal') == 1 ? '100%' : ($result['count_entities'] * 20))?>%;"<?php endif; ?>>
                        
                        <tbody>
                            
                            <tr>
                                
                                <td class="fc-widget-content">
                                                               
                                    <div class="fc-time-grid-container fc-scroller fc-scroller-day">
                                        
                                        <!-- Main scroller -->
                                        
                                        <div id="hourly-header">
                                        
                                            <table width="100%" class="fc-hourly-header-daily<?=($result['count_entities'] > 1 ? '-multi' : '')?>">

                                                <thead>

                                                    <tr>
                                                        
                                                        <td style="vertical-align: bottom; border: 0;">

                                                            <div class="fc-widget-header">

                                                                <table>

                                                                    <thead>

                                                                        <tr>

                                                                            <th class="fc-axis fc-widget-header"></th>

                                                                            <th data-time="<?=$result['data_calendar']["matrix"]["time"]?>"
                                                                                style="height: 160px;"
                                                                                class="fc-day-header fc-day-header-element fc-widget-header<?php

                                                                                if(CalsyCalendar::isSameDay($result['data_calendar']["matrix"]["time"], time())): ?> fc-today<?php 

                                                                                endif; ?> fc-<?=$result['data_calendar']["matrix"]["day"]?>"><?=CalsyCalendar::getDayName(date("N", $result['data_calendar']["matrix"]["time"]) - 1)?>, <?=date("d.m.", $result['data_calendar']["matrix"]["time"])?></th>

                                                                        </tr>

                                                                    </thead>

                                                                </table>

                                                            </div>

                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    <?php if($result['count_entities'] > 1): ?>

                                                        <tr style="height: 20px;">

                                                            <td style="border: 0;">

                                                                <div class="fc-widget-header">

                                                                    <table width="100%">

                                                                        <thead>

                                                                            <tr id="multi-user-header">

                                                                                <th class="fc-axis fc-widget-header"></th>

                                                                                <?php for($j = 0; $j < $result['count_entities']; ++$j): ?>

                                                                                    <th data-user-id="<?=$result['filter_user_backend'][$j]?>" class="fc-day-header fc-user-header fc-widget-header<?php 

                                                                                        if($result['data_calendar']["matrix"]["isToday"]): ?> fc-today<?php 

                                                                                        endif; ?>">

                                                                                            <?php if(PerisianSystemSetting::getSettingValue('calendar_view_daily_weekly_hide_user_colors') != 1): ?>
                                                                                                <div class="user-color" style="background-color: <?=CalsyUserBackend::getUserColor($result['filter_user_backend'][$j])?>; background-image: url('<?=CalsyUserBackend::getUserImageProfile($result['filter_user_backend'][$j])?>');"></div>
                                                                                            <?php endif; ?>

                                                                                            <?=CalsyCalendar::getUserNameForDailyWeeklyView($result['filter_user_backend'][$j])?></th>

                                                                                <?php endfor; ?>

                                                                            </tr>

                                                                        </thead>

                                                                    </table>

                                                                </div>

                                                            </td>

                                                        </tr>

                                                    <?php endif; ?>

                                                </thead>

                                            </table>
                                        
                                            <hr class="fc-widget-header">
                                            
                                        </div>
                                        
                                        <div class="fc-time-grid">
                                            
                                            <div class="fc-bg">
                                                
                                                <table>
                                                    
                                                    <tbody>
                                                        
                                                        <tr>
                                                            
                                                            <td class="fc-day fc-widget-content" style="width: 60px"></td>
                                                            
                                                            <?php for($i = 0; $i < (@$result['count_entities'] ? $result['count_entities'] : 1); ++$i): ?>

                                                                <th class="fc-day fc-widget-content<?php 

                                                                    if($result['data_calendar']["matrix"]["isPast"]): ?> fc-past<?php 

                                                                    endif; ?><?php 

                                                                    if($result['data_calendar']["matrix"]["isFuture"]): ?> fc-future<?php 

                                                                    endif; ?> <?php

                                                                    if(CalsyCalendar::isSameDay($result['data_calendar']["matrix"]["time"], time())): ?> fc-today<?php 

                                                                    endif; ?>"></th>

                                                            <?php endfor; ?>
                                                            
                                                        </tr>
                                                    
                                                    </tbody>
                                                
                                                </table>
                                            
                                            </div>
                                            
                                            <div class="fc-slats">
                                                                                                
                                                <?php $dayTime = $result['data_calendar']["matrix"]["time"]; ?>
                                                
                                                <?php require('includes/entry_daily_hours.phtml'); ?>
                                            
                                            </div>
                                            
                                            <hr class="fc-widget-header" style="display: none;">
                                            
                                            <div class="fc-content-skeleton">
                                                
                                                <table>
                                                    
                                                    <tbody>
                                                        
                                                        <tr>
                                                            
                                                            <td class="fc-axis" style="width:52px"></td>
                                                                                                                        
                                                            <?php for($k = 0; $k < (@$result['count_entities'] ? $result['count_entities'] : 1); ++$k): ?>
                                                            
                                                                <td style="border: 1px solid #E5E6E6;">

                                                                    <div class="fc-event-container" style="margin: 0px">

                                                                        <?php for($j = 0; $j < count($result['data_calendar']["matrix"]["entries"]); ++$j): ?>

                                                                            <?php 
                                                                            
                                                                                $entry = $result['data_calendar']["matrix"]["entries"][$j]; 
                                                                                $actualEntryId = !empty($entry["calsy_calendar_entry_parent_entry_id"]) ? $entry["calsy_calendar_entry_parent_entry_id"] : $entry["calsy_calendar_entry_id"];

                                                                                $isProcess = CalsyCalendarEntryFlag::entryHasFlag($actualEntryId, CalsyProcessEngineModule::FLAG_PROCESS_TO_START);

                                                                                if(!$isProcess)
                                                                                {
                                                                                
                                                                                    if((@$result['filter_user_backend'] && $entry["calsy_calendar_entry_user_id"] != $result['filter_user_backend'][$k]) && $entry["calsy_calendar_entry_is_holiday"] != 1 && @$entry["isBlockedForUser"] != 1){ 

                                                                                        continue;

                                                                                    }
                                                                                
                                                                                }
                                                                            
                                                                            ?>

                                                                            <?php require('includes/entry_daily.phtml'); ?>

                                                                        <?php endfor; ?>

                                                                    </div>

                                                                </td>
                                                            
                                                            <?php endfor; ?>
                                                        
                                                        </tr>
                                                    
                                                    </tbody>
                                                
                                                </table>
                                                    
                                            </div>
                                                
                                        </div>
                                            
                                    </div>
                                
                                </td>
                            
                            </tr>
                        
                        </tbody>
                    
                    </table>
                        
                </div>
                    
            </div>
                
        </div>
        
    </div>
    
</div>