<div class="calendar-opening-time-entry">

    <div class="col-lg-12" style="padding-left: 0; padding-right: 0;">

        <div class="form-group">

            <select id="calendar-opening-time-entry-day" class="form-control">

                <?php foreach($result['list_days'] as $dayKey => $dayName): ?>

                    <option value="<?=$dayKey?>"><?=$dayName?></option>

                <?php endforeach; ?>

            </select>

        </div>

        <div class="form-group" style="padding-top: 0px;">

            <div class="col-lg-4" style="padding-left: 0; padding-right: 0;">

                <span style="display: inline-block; width: 30px">

                    <?=PerisianLanguageVariable::getVariable(10773)?>:

                </span>
                
                <input type="text" class="form-control time-mask" id="calendar-opening-time-entry-from" value="">

            </div>

            <div class="col-lg-4" style="padding-left: 0; padding-right: 0;">

                <span style="display: inline-block; width: 30px">

                    <?=PerisianLanguageVariable::getVariable(10774)?>: 

                </span>
                
                <input type="text" class="form-control time-mask" id="calendar-opening-time-entry-to" value="">

            </div>

            <div class="col-lg-4" style="padding-left: 0; padding-right: 0;">

                <button class="btn btn-default btn-delete" type="button" onclick="OpeningTimes.removeOpeningTime(this)" style="position:relative; float:right; width:100%;"><i class="md md-clear"></i></button>

            </div>

        </div>

    </div>

</div>