<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.js"></script>

<script type="text/javascript">

    jQuery('#calsy_calendar_date_range .datepicker-item').datepicker({
        
        language: '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>', 
        todayHighlight: true,
        autoclose: true,
            
        format: 'dd.mm.yyyy'
    
    });
        
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=PerisianLanguageVariable::getVariable(!isset($result['id']) ? 'p58a20cd0e6d7e' : 'p58a20ce06f12a')?>
    </h4>
    
</div>

<div class="form-horizontal" role="form">

    <?php if($action == 'editProcess'): ?>
        <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
    <?php endif ?>
    
    <?php if(!CalsyProcessEngineModule::isEnabled()): ?>
        <div class="modal-body info-bar warning"><b><?=PerisianLanguageVariable::getVariable(10899)?>:</b> <?=PerisianLanguageVariable::getVariable('p58a22d853dbf4')?></div>
    <?php endif; ?>
        
    <?php if(isset($result['error'])): ?>
        
        <div class="modal-body info-bar warning">
            
            <b><?=PerisianLanguageVariable::getVariable(10623)?>:</b> <?=PerisianLanguageVariable::getVariable('p59e75ad19929b')?>
        
            <?php if(PerisianSystemConfiguration::isDebugMode()): ?>
            
                <br/><b><?=PerisianLanguageVariable::getVariable(10131)?></b> <?=$result['error']?>
            
            <?php endif; ?>
        
        </div>
        
    <?php else: ?>

        <div class="modal-body">

            <div class="form-group">

                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_process_id"><?php PerisianLanguageVariable::printVariable('p58a22b627dfa6') ?></label>

                    <select id="calsy_calendar_entry_process_id" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_process_id"<?=(count($result['list_processes']) > 0 ? "" : " disabled")?>>

                        <?php for($j = 0; $j < count($result['list_processes']); ++$j): ?>

                            <option value="<?=$result['list_processes'][$j]['id']?>"<?=($action == 'editProcess' && CalsyCalendarEntryFlag::getFlagValueForEntry($result['id'], CalsyProcessEngineModule::FLAG_PROCESS_TO_START) == $result['list_processes'][$j]['id'] ? " selected" : "")?>><?=$result['list_processes'][$j]['name']?></option>

                        <?php endfor; ?>

                    </select>

                </div>

            </div>

            <div class="form-group">

                <div class="col-sm-12">

                    <label><?php PerisianLanguageVariable::printVariable(10786)?></label><br/>

                    <div class="input-daterange input-group" id="calsy_calendar_date_range">

                        <div class="input-group-content">

                            <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_begin_date" id="calsy_calendar_date_range_begin_date" value="<?=date("d.m.Y", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                        </div>

                        <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>

                        <div class="input-group-content">

                            <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_begin_time" id="calsy_calendar_date_range_begin_time" value="<?=date("H:i", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                        </div><br/>

                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_title"><?php PerisianLanguageVariable::printVariable(10234) ?></label>
                    <input type="text" id="calsy_calendar_entry_title" class="form-control" name="calsy_calendar_entry_title" value="<?php if($action == 'editProcess'): echo $result['entry']->{$result['entry']->field_title}; endif?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_description"><?php PerisianLanguageVariable::printVariable(10781) ?></label>
                    <textarea type="text" id="calsy_calendar_entry_description" class="form-control" name="calsy_calendar_entry_description"<?=($result['can_edit_entry'] ? "" : " disabled")?>><?php if($action == 'editProcess'): echo $result['entry']->{$result['entry']->field_description}; endif?></textarea>

                </div>
            </div>

        </div>

        <?php require "includes/detail_edit_entry_series.phtml"; ?>
        
    <?php endif; ?>
    
</div>

<div class="modal-footer">
    
    <?php if($result['id'] == 0): ?>
    <button type="button" class="btn btn-default" id="holidayButton" onclick="Calendar.toggleFormProcess(true)" style="float: left;" title="<?=PerisianLanguageVariable::getVariable(10803)?>"><i class="md md-arrow-back"></i></button>
    <?php endif; ?>
    
    <?php if($result['id'] > 0 && $result['can_edit_entry'] && !isset($result['error'])): ?>
        <button type="button" class="btn btn-danger" id="deleteButton" onclick="Calendar.deleteEntry()" style="float:left"><i class="md md-delete"></i><?php PerisianLanguageVariable::printVariable(10297) ?></button>
    <?php endif; ?>
    
    <button type="button" class="btn btn-default" id="cancelButton" onclick="Calendar.cancel()"><?php PerisianLanguageVariable::printVariable((($user->canManageEventsForOthers() || (!$user->canManageEventsForOthers() && $result['filter']['selected_user_backend']->{$result['filter']['selected_user_backend']->field_pk} == $user->{$user->field_pk}))) ? 10056 : 10495)?></button>
    
    <?php if($result['can_edit_entry'] && !isset($result['error'])): ?>
        <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="Calendar.saveProcess()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>
    <?php endif; ?>
    
</div>