
<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.js"></script>

<script type="text/javascript">

/*
    jQuery('#calsy_calendar_date_range .datepicker-item').datepicker({
        
        language: '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>', 
        todayHighlight: true,
        autoclose: true,
            
        format: 'dd.mm.yyyy'
    
    });
    */
    
    jQuery(document).ready(function() {
        
        //Calendar.initEditEntry();
        
    });
        
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=PerisianLanguageVariable::getVariable(!isset($result['id']) ? 10984 : 10985)?>
    </h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if($action == 'editHoliday'): ?>
    <input type="hidden" id="editId" value="<?=$result['id']?>">
    <?php endif ?>
        
    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(10987)?></div>
    
    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?php PerisianLanguageVariable::printVariable(10786)?></label><br/>
                
                <div class="input-daterange input-group" id="calsy_calendar_date_range">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_begin_date" id="calsy_calendar_date_range_begin_date" value="<?=date("d.m.Y", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>
                    
                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_begin_time" id="calsy_calendar_date_range_begin_time" value="<?=date("H:i", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div><br/>

                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10785)?></span>

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_end_date" id="calsy_calendar_date_range_end_date" value="<?=date("d.m.Y", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>
                        <div class="form-control-line"></div>

                    </div>
                    
                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_end_time" id="calsy_calendar_date_range_end_time" value="<?=date("H:i", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>

                </div>
                
            </div>
            
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_title"><?php PerisianLanguageVariable::printVariable(10234) ?></label>
                <input type="text" id="calsy_calendar_entry_title" class="form-control" name="calsy_calendar_entry_title" value="<?php if($action == 'editHoliday'): echo $result['entry']->{$result['entry']->field_title}; endif?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

            </div>
        </div>
        
        <?php if(!isset($result['id']) || $result['id'] <= 0): ?>
        
            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_holiday_user"><?php PerisianLanguageVariable::printVariable(11025) ?></label>

                    <select id="calsy_calendar_entry_holiday_user" class="calsy_calendar_entry_order form-control" name="calsy_calendar_entry_holiday_user">

                        <option value="0" selected><?=PerisianLanguageVariable::getVariable('p596bde41e46cb')?></option>

                        <?php for($j = 0; $j < count($result['list_users']); ++$j): ?>

                            <option value="<?=$result['list_users'][$j]['user_id']?>"><?=$result['list_users'][$j]['user_fullname']?></option>

                        <?php endfor; ?>

                    </select>
                </div>
            </div>
        
        <?php else: ?>
        
            <div class="form-group">
                <div class="col-sm-12">
                    
                    <label for="user_name"><?=PerisianLanguageVariable::getVariable(11025)?></label>
                    <input type="text" id="user_name" class="form-control" name="user_name" value="<?=CalsyUserBackend::getUserFullname($result['user_id']); ?>" readonly/>

                </div>
            </div>
        
        <?php endif; ?>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_description"><?php PerisianLanguageVariable::printVariable(10781) ?></label>
                <textarea type="text" id="calsy_calendar_entry_description" class="form-control" name="calsy_calendar_entry_description"<?=($result['can_edit_entry'] ? "" : " disabled")?>><?php if($action == 'editHoliday'): echo $result['entry']->{$result['entry']->field_description}; endif?></textarea>

            </div>
        </div>

    </div>
    
</form>

<div class="modal-footer">
    
    <?php if($result['id'] == 0): ?>
    <button type="button" class="btn btn-default" id="holidayButton" onclick="Calendar.toggleFormHoliday(true)" style="float: left;" title="<?=PerisianLanguageVariable::getVariable(10803)?>"><i class="md md-arrow-back"></i></button>
    <?php endif; ?>
    
    <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
    <button type="button" class="btn btn-danger" id="deleteButton" onclick="Calendar.deleteEntry()" style="float:left"><i class="md md-delete"></i><?php PerisianLanguageVariable::printVariable(10297) ?></button>
    <?php endif; ?>
    
    <button type="button" class="btn btn-default" id="cancelButton" onclick="Calendar.cancel()"><?php PerisianLanguageVariable::printVariable((($user->canManageEventsForOthers() || (!$user->canManageEventsForOthers() && $result['filter']['selected_user_backend']->{$result['filter']['selected_user_backend']->field_pk} == $user->{$user->field_pk}))) ? 10056 : 10495)?></button>
    
    <?php if($result['can_edit_entry']): ?>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="Calendar.saveHoliday()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>
    <?php endif; ?>
    
</div>