<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Calendar.areaTimes = <?=json_encode($result['list_area_times'])?>;
        Calendar.languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
        Calendar.displayableDaysMonthly = <?=json_encode(CalsyCalendar::getDisplayableIndices('month'))?>;
        
        var container = Calendar.initDatePicker();
                    
    });
    
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=$result['title_form']?>
    </h4>
    
</div>

<div class="form-horizontal" id="calendar-form-main" role="form">
   
    <input type="hidden" id="workPlanId" value="<?=$result['work_plan_id']?>">
        
    <?php 
    
        $entryIndex = -1;
        $entry = $result['entry'];
        $entryTimestampBegin = $result['entry_timestamp_begin'];
        $entryTimestampEnd = $result['entry_timestamp_end'];
        $selectedResource = @$result['selected_resource'];
        $selectedUserBackend = @$result['selected_user_backend'];
        
        require "includes/detail_edit_entry_time_user_backend_resource.phtml"; 
    
    ?>
    
    <?php if(CalsyCalendarNotification::isEnabled($user) && !@$result['is_work_plan']): ?>
    
        <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(11190)?></div>

        <div class="modal-body">
            
            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_notification_time"><?=PerisianLanguageVariable::getVariable(11191)?></label>
                    <select id="calsy_calendar_entry_notification_time" name="calsy_calendar_entry_notification_time" class="form-control static-dirty">

                        <option value="0"<?php if(!$result['entry_settings_notifications']['enabled']): ?> selected<?php endif; ?>><?=PerisianLanguageVariable::getVariable(11192)?></option>
                        
                        <?php foreach($result['times_notification_possible'] as $possibleNotificationTime => $possibleNotificationLabel): ?>
                        
                            <option value="<?=$possibleNotificationTime?>" <?php if($result['entry_settings_notifications']['enabled'] && $result['entry_settings_notifications']['time'] == $possibleNotificationTime): ?> selected<?php endif; ?>><?=$possibleNotificationLabel?></option>
                        
                        <?php endforeach; ?>
                        
                    </select>
                    
                </div>
                
            </div>
            
        </div>
    
    <?php endif; ?>
    
</div>

<div class="modal-footer">
        
    <span id="button-group-extra">
                    
        <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
            <button type="button" class="btn btn-primary" class="cancelButton" style="float:left" onclick="Calendar.infoEvent(<?=$result['id']?>)"><i class="fa fa-info-circle"></i> <?=PerisianLanguageVariable::getVariable('p5a105bc5d3d82')?></button>
        <?php endif; ?>
            
        <button type="button" class="btn btn-default" class="cancelButton" onclick="Calendar.cancel()"><?=PerisianLanguageVariable::getVariable(10056)?></button>
    
    </span>
    
    <?php if($result['can_edit_entry']): ?>
        <button type="button" class="btn btn-primary-bright" id="button-save-main" class="submitButton" style="display: inline-block" onclick="Calendar.saveEntryWorkPlan()"><i class="md md-save"></i> <?=PerisianLanguageVariable::getVariable(10055)?></button>
    <?php endif; ?>
    
</div>