<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Calendar.languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
    });
    
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=PerisianLanguageVariable::getVariable('p5a0f25425be0b')?>
    </h4>
    
</div>

<input type="hidden" id="infoId" value="<?=$result['id']?>">

<?php 

    $entryIndex = -1;
    $entry = $result['entry'];
    $entryTimestampBegin = $result['entry_timestamp_begin'];
    $entryTimestampEnd = $result['entry_timestamp_end'];
    
    $selectedResource = @$result['selected_resource'];
    $selectedArea = isset($result['list_user_frontend']) ? @$result['list_user_frontend'][0]['area'] : @$result['area_selected']; 
        
    // All related backend users
    {
        
        $listUserBackend = Array();
        $listUserBackendFiltered = Array();
        $listUserBackendIdsFiltered = Array();
        
        array_push($listUserBackend, @$result['selected_user_backend']);
        array_push($listUserBackendFiltered, @$result['selected_user_backend']);
        array_push($listUserBackendIdsFiltered, @$result['selected_user_backend']->{$result['selected_user_backend']->field_pk});

        if($result['entry']->countChildren > 0)
        {

            for($i = 0; $i < count($result['list_children']); ++$i)
            {
                
                $currentUserBackend = $result['list_children'][$i]->getUserBackend();
                                
                array_push($listUserBackend, $currentUserBackend);
                
                if(!in_array($currentUserBackend->{$currentUserBackend->field_pk}, $listUserBackendIdsFiltered))
                {

                    array_push($listUserBackendFiltered, $currentUserBackend);
                    array_push($listUserBackendIdsFiltered, $currentUserBackend->{$currentUserBackend->field_pk});
                
                }

            }

        }
            
    }
    
?>

<div class="modal-body">

    <div class="col-sm-8" style="padding-left: 0px;">

        <table class="table table-bordered" style="margin-bottom: 15px;">

            <tr>

                <td style="width: 20%; background-color: #eee;">

                    <b><?=PerisianLanguageVariable::getVariable(10234)?></b>                     

                </td>

                <td style="width: 80%">

                    <?=$entry->{$entry->field_title}?>

                </td>

            </tr>
            
            <?php if(is_object($selectedArea)): ?>
            
                <?php if(strlen($selectedArea->{$selectedArea->field_title}) > 0): ?>
            
                    <tr>

                        <td style="width: 20%; background-color: #eee;">

                            <b><?=PerisianLanguageVariable::getVariable(11059)?></b>                     

                        </td>

                        <td style="width: 80%">

                            <?=$selectedArea->{$selectedArea->field_title}?>

                        </td>

                    </tr>

                <?php endif; ?>
                
            <?php endif; ?>
                
            <?php if(isset($result['object_user_frontend_order'])): ?>
                
                <tr>

                    <td style="width: 20%; background-color: #eee;">

                        <b><?=PerisianLanguageVariable::getVariable(10522)?></b>                     

                    </td>

                    <td style="width: 80%">
                        
                        <span class="alert alert-inline alert-<?=($result['object_user_frontend_order']->getStatus() == 'confirmed' ? 'success' : ($result['object_user_frontend_order']->getStatus() == 'canceled' ? 'danger' : 'warning'))?>">

                            <?=$result['object_user_frontend_order']->getStatusString()?>

                        </span>
                        
                        <?php if(@$result['payment_required_for_area']): ?>
                        
                            <?php if(@$result['payment_required']): ?>
                        
                                &nbsp;<span class="alert alert-inline alert-danger">

                                    <?=PerisianLanguageVariable::getVariable('p5a31c84f0b4f7')?>

                                </span>
                        
                            <?php elseif(@$result['payment_received']): ?>
                        
                                &nbsp;<span class="alert alert-inline alert-success">

                                    <?=PerisianLanguageVariable::getVariable('10004')?>

                                </span>
                        
                            <?php endif; ?>
                        
                        <?php endif; ?>

                    </td>

                </tr>
                
            <?php endif; ?>

            <?php if(count($listUserBackendFiltered) == 1 && ($listUserBackendFiltered[0]->{$listUserBackendFiltered[0]->field_pk} == CalsyUserBackend::DEFAULT_USER_ID || $listUserBackendFiltered[0]->{$listUserBackendFiltered[0]->field_pk} > 0) && !@$result['is_work_plan']): ?>
                
                <tr>

                    <td style="background-color: #eee;">

                        <b><?=PerisianLanguageVariable::getVariable(10883)?></b>                     

                    </td>

                    <td style="">

                        <?php $currentUserBackend = $listUserBackendFiltered[0]; ?>

                        <div class="user-color-header" style="top: 5px; margin-left: 4px; margin-right: 4px; background-color: <?=CalsyUserBackend::getUserColor($currentUserBackend->{$currentUserBackend->field_pk})?>; background-image: url('<?=CalsyUserBackend::getUserImageProfile($currentUserBackend->{$currentUserBackend->field_pk})?>');"></div>
                        <?=CalsyUserBackend::getUserFullname($currentUserBackend->{$currentUserBackend->field_pk})?>

                    </td>

                </tr>

            <?php endif; ?>
                
            <?php if(strlen(@$result['work_plan_area_title']) > 0): ?>

                <tr>

                    <td style="background-color: #eee;">

                        <b><?=PerisianLanguageVariable::getVariable('11059')?></b>                     

                    </td>

                    <td style="">

                       <?=$result['work_plan_area_title']?>

                    </td>

                </tr>

            <?php endif; ?>

            <?php if(strlen(@$result['work_plan_title']) > 0): ?>

                <tr>

                    <td style="background-color: #eee;">

                        <b><?=PerisianLanguageVariable::getVariable('p5a340dbeaf5af')?></b>                     

                    </td>

                    <td style="">

                       <?=$result['work_plan_title']?>

                    </td>

                </tr>

            <?php endif; ?>
                
            <?php if(@$result['payment_required_for_area']): ?>

                <?php if(@$result['payment_received']): ?>

                    <tr>

                        <td style="background-color: #eee;">

                            <b><?=PerisianLanguageVariable::getVariable(10004)?></b>                     

                        </td>

                        <td style="">

                            <?=$result['payment_name_formatted']?>, <?= PerisianFrameworkToolbox::timestampToDateTime($result['payment_date_received'])?>

                        </td>

                    </tr>

                <?php endif; ?>

            <?php endif; ?>

            <?php if(CalsyResourceModule::isEnabled() && !is_null($selectedResource) && strlen($selectedResource->{$selectedResource->field_title}) > 0): ?>

                <tr>

                    <td style="background-color: #eee;">

                        <b><?=PerisianLanguageVariable::getVariable(10916)?></b>                     

                    </td>

                    <td style="">

                        <?=$selectedResource->{$selectedResource->field_title}?>

                    </td>

                </tr>

            <?php endif; ?>
                
        </table>
        
        <?php if($result['entry']->countChildren == 0): ?>

            <table class="table table-bordered" style="margin-bottom: 15px;">

                <tr>

                    <td style="width: 20%; background-color: #eee;">

                        <b><?=PerisianLanguageVariable::getVariable('p5a1095db17bed')?></b>                     

                    </td>

                    <td style="width: 80%;">

                        <?=$result['entry']->getFormattedTimeString()?>

                    </td>

                </tr>

                <?php if(strlen($result['entry']->{$result['entry']->field_description}) > 0): ?>

                    <tr>

                        <td style="width: 20%; background-color: #eee;">

                            <b><?=PerisianLanguageVariable::getVariable('10781')?></b>                     

                        </td>

                        <td style="width: 80%;">

                            <?=nl2br($result['entry']->{$result['entry']->field_description})?>

                        </td>

                    </tr>

                <?php endif; ?>

            </table>

        <?php else: ?>

            <table class="table table-bordered" style="margin-bottom: 15px;">

                <tr>

                    <td style="width: 20%; background-color: #eee;">

                        <b><?=str_replace("%1", 1, PerisianLanguageVariable::getVariable('p5a1090fcba804'))?></b>                

                    </td>

                    <td style="width: 80%;">
                        
                        <?=$result['entry']->getFormattedTimeString()?> - <?=$result['list_area_times_actual'][$selectedArea->{$selectedArea->field_pk}][0]['title']?>
                        
                    </td>

                </tr>

                <?php if(count($listUserBackendIdsFiltered) > 1): ?>
                
                    <?php $currentUserBackend = $listUserBackend[0]; ?>

                    <tr>

                        <td style="width: 20%; background-color: #eee;">

                            <b><?=PerisianLanguageVariable::getVariable('10061')?></b>

                        </td>

                        <td style="width: 80%;">

                            <div class="user-color-header" style="top: 5px; margin-left: 4px; margin-right: 4px; background-color: <?=CalsyUserBackend::getUserColor($currentUserBackend->{$currentUserBackend->field_pk})?>; background-image: url('<?=CalsyUserBackend::getUserImageProfile($currentUserBackend->{$currentUserBackend->field_pk})?>');"></div>
                            <?=$currentUserBackend->{$currentUserBackend->field_fullname}?>

                        </td>

                    </tr>

                <?php endif; ?>

                <?php if(strlen($result['entry']->{$result['entry']->field_description}) > 0): ?>

                    <tr>

                        <td style="width: 20%; background-color: #eee;">

                            <b><?=PerisianLanguageVariable::getVariable('10781')?></b>                     

                        </td>

                        <td style="width: 80%;">

                            <?=nl2br($result['entry']->{$result['entry']->field_description})?>

                        </td>

                    </tr>

                <?php endif; ?>
                
            </table>

            <?php for($i = 0; $i < count($result['list_children']); ++$i): ?>

                <?php

                    $entryIndex = $i + 1;
                    $entry = $result['list_children'][$i];

                    $entryTimestampBegin = $entry->{$entry->timestamp_begin};
                    $entryTimestampEnd = $entry->{$entry->timestamp_end};

                ?>
            
                <table class="table table-bordered" style="margin-bottom: 15px;">

                    <tr>

                        <td style="width: 20%; background-color: #eee;">

                            <b><?=str_replace("%1", ($i + 2), PerisianLanguageVariable::getVariable('p5a1090fcba804'))?></b>

                        </td>

                        <td style="width: 80%;">

                            <?=$entry->getFormattedTimeString()?> - <?=$result['list_area_times_actual'][$selectedArea->{$selectedArea->field_pk}][$i + 1]['title']?>
                            
                        </td>

                    </tr>
                    
                    <?php if(count($listUserBackendIdsFiltered) > 1): ?>
                    
                        <?php $currentUserBackend = $listUserBackend[$i + 1]; ?>
                    
                        <tr>

                            <td style="width: 20%; background-color: #eee;">

                                <b><?=PerisianLanguageVariable::getVariable('10061')?></b>

                            </td>

                            <td style="width: 80%;">
                                
                                <div class="user-color-header" style="top: 5px; margin-left: 4px; margin-right: 4px; background-color: <?=CalsyUserBackend::getUserColor($currentUserBackend->{$currentUserBackend->field_pk})?>; background-image: url('<?=CalsyUserBackend::getUserImageProfile($currentUserBackend->{$currentUserBackend->field_pk})?>');"></div>
                                <?=$currentUserBackend->{$currentUserBackend->field_fullname}?>

                            </td>

                        </tr>
                    
                    <?php endif; ?>
                    
                    <?php if(strlen($entry->{$entry->field_description}) > 0): ?>

                        <tr>

                            <td style="width: 20%; background-color: #eee;">

                                <b><?=PerisianLanguageVariable::getVariable('10781')?></b>                     

                            </td>

                            <td style="width: 80%;">

                                <?=nl2br($entry->{$entry->field_description})?>

                            </td>

                        </tr>

                    <?php endif; ?>
                
                </table>

            <?php endfor; ?>

        <?php endif; ?>
        
        <?php if(CalsyTableReservation::isCalendarEntryTableReservation($result['entry']->{$result['entry']->field_pk})): ?>
        
            <table class="table table-bordered" style="margin-bottom: 15px;">

                <tr>

                    <td style="width: 20%; background-color: #eee;">

                        <b><?=lg('p5f717a354645b')?></b>                     

                    </td>

                    <td style="width: 80%;">

                        <?=CalsyTableReservation::getLocationTitleForTable(CalsyTableReservation::getTableIdForCalendarEntry($result['entry']->{$result['entry']->field_pk}))?>

                    </td>

                </tr>
                
                <tr>

                    <td style="width: 20%; background-color: #eee;">

                        <b><?=lg('p5f717ca53b770')?></b>                     

                    </td>

                    <td style="width: 80%;">

                        <?=CalsyTableReservation::getTableTitle(CalsyTableReservation::getTableIdForCalendarEntry($result['entry']->{$result['entry']->field_pk}))?>

                    </td>

                </tr>
                
                <tr>

                    <td style="width: 20%; background-color: #eee;">

                        <b><?=lg('p5f717d12c5297')?></b>                     

                    </td>

                    <td style="width: 80%;">

                        <?=str_replace("%1", CalsyTableReservation::getNumberOfPersonsForCalendarEntry($result['entry']->{$result['entry']->field_pk}), lg('p5f717d5ac9159'))?>

                    </td>

                </tr>
                
            </table>
        
        <?php endif; ?>
                
        <?php if(isset($userFrontend)): ?>
        
            <?php if(!is_null($result['object_user_frontend_order']) && strlen($result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_message_to_client}) > 0): ?>

                <table class="table table-bordered" style="margin-bottom: 15px;">

                    <tr>

                        <td style="width: 20%; background-color: #eee;">

                            <b><?=PerisianLanguageVariable::getVariable('p5cd021804d872')?></b>

                        </td>

                        <td style="width: 80%;">

                            <?=nl2br($result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_message_to_client})?>
                            
                        </td>

                    </tr>
        
                </table>
                    
            <?php endif; ?>
        
        <?php endif; ?>

    </div>

    <div class="col-sm-4" style="padding-left: 0px; padding-right: 0; margin-bottom: 15px;">

        <?php require('includes/detail_info_entry_calendar_year.phtml'); ?>
        
        <?php if($entry->{$entry->field_is_survey} == 1): ?>
        
            <?php require('includes/detail_info_entry_survey_statistics.phtml'); ?>
        
        <?php endif; ?>

    </div>
    
    <br style="clear:both;"/>

    <?php if(CalsyUserFrontendModule::isEnabled() && count(@$result['list_user_frontend']) > 0): ?>

        <?php for($i = 0; $i < (count(@$result['list_user_frontend']) > 0 ? count($result['list_user_frontend']) : 1); ++ $i): ?>

            <?php 

                $selectedUserFrontendOrderObject = @$result['list_user_frontend'][$i]['object']; 
                $selectedUserFrontend = @$result['list_user_frontend'][$i]['user_frontend']; 
                $selectedOrder = @$result['list_user_frontend'][$i]['order']; 
                $selectedArea = @$result['list_user_frontend'][$i]['area']; 
                
                if(@$result['list_user_frontend'][$i]['user_frontend']->{@$result['list_user_frontend'][$i]['user_frontend']->field_pk} <= 0)
                {
                    
                    continue;
                    
                }

            ?>

            <table class="table table table-bordered" style="margin-bottom: 0px;">

                <tr style="background-color: #eee;">

                    <th style="width: 25%;"><?=PerisianLanguageVariable::getVariable(10784)?></th>

                    <?php if(CalsyOrderModule::isEnabled() && is_object($selectedOrder) && strlen($selectedOrder->{$selectedOrder->field_title}) > 0): ?>

                        <th style="width: 25%;"><?=PerisianLanguageVariable::getVariable(10782)?></th>

                    <?php endif; ?>

                    <?php if(CalsyAreaModule::isEnabled() && is_object($selectedArea) && strlen($selectedArea->{$selectedArea->field_title}) > 0): ?>

                        <th style="width: 25%;"><?=PerisianLanguageVariable::getVariable(11059)?></th>

                    <?php endif; ?>

                    <th style="width: 25%;"><?=PerisianLanguageVariable::getVariable(10522)?></th>

                </tr>

                <tr>

                    <td>

                        <?=$selectedUserFrontend->getFullName()?>

                    </td>

                    <?php if(CalsyOrderModule::isEnabled() && is_object($selectedOrder) && strlen($selectedOrder->{$selectedOrder->field_title}) > 0): ?>

                        <td>

                            <?=$selectedOrder->{$selectedOrder->field_title}?>

                        </td>

                    <?php endif; ?>

                    <?php if(CalsyAreaModule::isEnabled() && is_object($selectedArea) && strlen($selectedArea->{$selectedArea->field_title}) > 0): ?>

                        <td>

                            <?=$selectedArea->{$selectedArea->field_title}?>

                        </td>

                    <?php endif; ?>

                    <td>

                        <span class="alert alert-inline alert-<?=($selectedUserFrontendOrderObject->getStatus() == 'confirmed' ? 'success' : ($selectedUserFrontendOrderObject->getStatus() == 'canceled' ? 'danger' : 'warning'))?>">

                            <?=$selectedUserFrontendOrderObject->getStatusString()?>

                        </span>
                                  
                        <?php if(@$result['list_user_frontend'][$i]['payment_required_for_area']): ?>
                        
                            <?php if(@$result['list_user_frontend'][$i]['payment_required']): ?>
                        
                                &nbsp;<span class="alert alert-inline alert-danger">

                                    <?=PerisianLanguageVariable::getVariable('p5a31c84f0b4f7')?>

                                </span>
                        
                            <?php elseif(@$result['list_user_frontend'][$i]['payment_received']): ?>
                        
                                &nbsp;<span class="alert alert-inline alert-success">

                                    <?=PerisianLanguageVariable::getVariable('10004')?>

                                </span>
                        
                            <?php endif; ?>
                        
                        <?php endif; ?>

                    </td>

                </tr>

                <?php if(strlen($result['list_user_frontend'][$i]['info_additional']) > 0): ?>

                    <tr>

                        <td colspan="4">

                            <b><?=PerisianLanguageVariable::getVariable(11097)?> <?=PerisianLanguageVariable::getVariable('p5a11c97c0b237')?>:</b><br/>
                            <?=nl2br($result['list_user_frontend'][$i]['info_additional'])?>

                        </td>

                    </tr>

                <?php endif; ?>

                <?php if($selectedUserFrontendOrderObject->isCanceled() && strlen($selectedUserFrontendOrderObject->{$selectedUserFrontendOrderObject->field_status_confirmation_message}) > 0): ?>

                    <tr>

                        <td colspan="4">

                            <b><?=PerisianLanguageVariable::getVariable('p575ecd6d29468')?>:</b><br/>
                            <?=nl2br($selectedUserFrontendOrderObject->{$selectedUserFrontendOrderObject->field_status_confirmation_message})?>

                        </td>

                    </tr>

                <?php endif; ?>

            </table>

        <?php endfor; ?>

    <?php else: ?>
    
        <?php if(isset($result['object_user_frontend_order']) && $result['object_user_frontend_order']->isCanceled() && strlen($result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_status_confirmation_message}) > 0): ?>
    
            <div class="alert alert-block alert-danger" style="text-align: left;">

                <b><?=PerisianLanguageVariable::getVariable('p575ecd6d29468')?>:</b><br/>
                <?=nl2br($result['object_user_frontend_order']->{$result['object_user_frontend_order']->field_status_confirmation_message})?>
                
            </div>
    
        <?php endif; ?>
    
    <?php endif; ?>
    
    <?php if(isset($result['list_images']) && count($result['list_images']) > 0 && is_array($result['list_images'][0]['image'])): ?>
    
        <br style="clear:both;"/>
    
        <table class="table table table-bordered" style="margin-bottom: 0px;">

            <tr style="background-color: #eee;">

                <th style="width: 100%;"><?=PerisianLanguageVariable::getVariable('p5d94f1c67b1ca')?></th>

            </tr>

            <tr>

                <td>

                    <a href="<?=$result['list_images'][0]['image']['url']?>" target="_blank"><img alt="<?=$result['list_images'][0]['title']?>" src="<?=$result['list_images'][0]['image']['url']?>" class="calendar_entry_info_uploaded_image"></a>
                    
                </td>

            </tr>

        </table>

    <?php endif; ?>

</div>

<div class="modal-footer">
        
    <span id="button-group-extra">
        
        <?php if(@$result['can_edit_entry']): ?>
        
            <button type="button" class="btn btn-primary-bright" style="float: left" onclick="Calendar.editEvent(<?=$result['id']?>)"><i class="fa fa-edit"></i> <?=PerisianLanguageVariable::getVariable('p58ab3fd09f119')?></button>
            
        <?php endif; ?>    
            
        <?php if(@$result['payment_required']): ?>
            
            <button type="button" class="btn btn-primary" class="paymentButton" onclick="Calendar.showPaymentOptions(<?=$result['id']?>)"><?= PerisianLanguageVariable::getVariable('p59f4ebef4bc7a')?></button>
            
        <?php endif; ?>
            
        <?php if(@$result['is_work_plan']): ?>

            <input type="hidden" id="isWorkPlan" value="1">
            <button type="button" class="btn btn-primary" class="bookWorkPlanButton" onclick="Calendar.bookWorkPlan(<?=$result['id']?>)"><i class="md md-work"></i> <?= PerisianLanguageVariable::getVariable('p5a57a3f4d72a2')?></button>

        <?php endif; ?>
            
        <button type="button" class="btn btn-default" class="cancelButton" onclick="Calendar.cancel()"><?= PerisianLanguageVariable::getVariable('10495')?></button>
    
    </span>
    
</div>