<?php if(CalsyWorkPlanModule::isEnabled()): ?>

    <br/>

    <h2><?=PerisianLanguageVariable::getVariable('p5a340dbeaf5af')?></h2>
    <?=PerisianLanguageVariable::getVariable('p5a564338976bc')?><br/>

    <div class="card" style="margin-top: 10px">
        <div class="card-body" style="padding: 12px;">
            <div class="form-group" style="margin-bottom: 0">

                <select id="work_plan_selector" name="work_plan_selector" class="form-control">

                    <option value="0"><?=PerisianLanguageVariable::getVariable('10925')?></option>

                    <?php for($j = 0; $j < count($result['list_work_plans']); ++$j): ?>

                        <option value="<?=$result['list_work_plans'][$j][$result['work_plan_selected']->field_pk]?>"<?=(@$selectedWorkPlan->{$selectedWorkPlan->field_pk} == $result['list_work_plans'][$j][$result['work_plan_selected']->field_pk] ? " selected" : "")?>><?=$result['list_work_plans'][$j][$result['work_plan_selected']->field_title]?></option>

                    <?php endfor; ?>

                </select>
                
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        
        jQuery(document).ready(function() {
            
            jQuery('#work_plan_selector').change(function() {
                
               var workPlanId = jQuery(this).find('option:selected').val();
               
               Calendar.displayWorkPlan(workPlanId);
                
            });
            
        });
        
    </script>

<?php endif; ?>
