<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.tablereservation.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Calendar.areaTimes = <?=json_encode($result['list_area_times'])?>;
        Calendar.languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
        Calendar.filterAreaByGender = <?=(PerisianSystemSetting::getSettingValue('calendar_on_select_account_filter_gender') == 1 ? 'true' : 'false')?>;
        Calendar.displayableDaysMonthly = <?=json_encode(CalsyCalendar::getDisplayableIndices('month'))?>;
        
        Calendar.initEditEntry();
        Calendar.initEditAutoTitle('p58ab456403156');
            
    });
    
</script>

<div class="modal-header">

    <span style="float:right">
        
        <?php if($result['id'] == 0 && $user->isAdmin()): ?>
            <button type="button" class="close" style="margin-left: 4px; font-size: 12px; position: relative; top: 1px; float: none;" id="holidayButtonTop" onclick="Calendar.toggleFormHoliday()" title="<?=PerisianLanguageVariable::getVariable(10984)?>"><i class="fa fa-birthday-cake"></i></button>
        <?php endif; ?>

        <?php if($result['id'] == 0 && CalsyProcessEngineModule::isEnabled() && CalsyProcessEngineModule::userCanManageProcesses($user)): ?>
            <button type="button" class="close" style="margin-left: 4px; font-size: 12px; position: relative; top: 1px; float: none;" id="processEngineButtonTop" onclick="Calendar.toggleFormProcess()" title="<?=PerisianLanguageVariable::getVariable('p58a20cd0e6d7e')?>"><i class="fa md <?= CalsyProcessEngineModule::getModuleIcon()?>"></i></button>
        <?php endif; ?>

        <button type="button" class="close" style="margin-left: 14px; padding-top: 0px; position: relative; top: 3px; float: none;" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    </span>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=$result['title_form']?>
    </h4>
    
</div>

<div class="form-horizontal" id="calendar-form-main" role="form">

    <?php if($action == 'edit'): ?>
    
        <?php if(!$result['is_copy']): ?>
            <input type="hidden" id="editId" value="<?=$result['id']?>">
        <?php endif; ?>
                    
    <?php endif ?>
        
    <?php if(CalsyUserFrontendModule::isEnabled() && !@$result['is_work_plan']): ?>
        
        <?php for($i = 0; $i < (count($result['list_user_frontend']) > 0 ? count($result['list_user_frontend']) : 1); ++ $i): ?>

            <?php 
            
                $selectedUserFrontendOrderObject = @$result['list_user_frontend'][$i]['object']; 
                $selectedUserFrontend = @$result['list_user_frontend'][$i]['user_frontend']; 
                $selectedOrder = @$result['list_user_frontend'][$i]['order']; 
                $selectedArea = @$result['list_user_frontend'][$i]['area']; 
                                            
            ?>
        
            <?php if(is_object(@$selectedUserFrontend)): ?>
        
                <script type="text/javascript">

                    jQuery(document).ready(function() {

                        Calendar.onSelectUserFrontend(<?=$i?>, <?=json_encode($selectedUserFrontend->getFieldValues())?>);

                    });

                </script>
            
            <?php endif; ?>

            <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(10789)?></div>

            <div class="modal-body">

                <div class="user-frontend-order">

                    <div class="form-group">
                        
                        <div class="col-sm-10" style="padding-right: 0;">

                            <label for="calsy_calendar_entry_user_frontend_id_<?=$i?>"><?php PerisianLanguageVariable::printVariable(10784) ?></label>
                            <input type="text" id="calsy_calendar_entry_user_frontend_id_<?=$i?>" class="calsy_calendar_entry_user_frontend form-control" name="calsy_calendar_entry_user_frontend_id_<?=$i?>" value="<?=(isset($selectedUserFrontend) ? $selectedUserFrontend->getFullName() : "")?>" perisian-data-id="<?=(isset($selectedUserFrontend) ? $selectedUserFrontend->{$selectedUserFrontend->field_pk} : "")?>" data-source="user_frontend"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

                        </div>
                        
                        <div class="col-sm-2" style="padding-left: 8px; padding-top: 29px; white-space: nowrap;">
                            
                            <?php if(strlen($result['id']) == 0 && CalsyUserFrontendModule::isEnabledHistory()): ?>
                                                        
                                <button <?php if(!isset($selectedUserFrontend)): ?>disabled <?php endif; ?>title="<?=PerisianLanguageVariable::getVariable('p5842fe4e8e6dc')?>" class="btn btn-primary btn-block" id="button-show-history-user-frontend" style="display: inline-block; margin-top: 0; width: 50%;"><i class="fa fa-history"></i></button>
                                
                            <?php endif; ?>
                            
                            <button title="<?=PerisianLanguageVariable::getVariable(10822)?>" class="btn btn-primary btn-block" id="button-add-new-user-frontend" style="display: inline-block; margin-top: 0; width: <?=((strlen($result['id']) == 0 && CalsyUserFrontendModule::isEnabledHistory()) ? 50 : 100)?>%;">+</button>
                            
                        </div>
                        
                    </div>
                    
                    <?php require(__DIR__ . '/includes/detail_edit_entry_order.phtml'); ?>
                    <?php require(__DIR__ . '/includes/detail_edit_entry_area.phtml'); ?>
                    <?php require(__DIR__ . '/includes/detail_edit_entry_info_additional.phtml'); ?>
                    <?php require(__DIR__ . '/includes/detail_edit_entry_info_message_to_client.phtml'); ?>
                    <?php require(__DIR__ . '/includes/detail_edit_entry_confirmation_status.phtml'); ?>
                    
                    <div id="calsy_calendar_entry_info_status_confirmation_message_container_<?=$i?>" class="form-group" style="display: <?=(isset($selectedUserFrontendOrderObject) && $selectedUserFrontendOrderObject->isCanceled() ? "block" : "none")?>">
                        
                        <div class="col-sm-12">

                            <label for="calsy_calendar_entry_info_status_confirmation_message_<?=$i?>"><?php PerisianLanguageVariable::printVariable('p575ecd6d29468') ?></label>
                            <textarea type="text" id="calsy_calendar_entry_info_status_confirmation_message_<?=$i?>" class="form-control" name="calsy_calendar_entry_info_status_confirmation_message_<?=$i?>" required><?php if($action == 'edit'): echo @$selectedUserFrontendOrderObject->{$selectedUserFrontendOrderObject->field_status_confirmation_message}; endif?></textarea>

                        </div>
                        
                        <?php if($result['can_edit_entry']): ?>
                        
                            <div class="col-sm-12" style="padding-top:12px;">
                                
                                <button type="button" class="btn btn-primary-bright" class="submitButton" style="float:right;" onclick="Calendar.saveEntry()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable('p5821dfaa508a3') ?></button>
                                
                            </div>
                                
                        <?php endif; ?>

                    </div>

                </div>

            </div>

        <?php endfor; ?>

    <?php endif; ?>
        
    <?php require(__DIR__ . '/includes/detail_edit_entry_table_reservation.phtml'); ?>
            
    <div class="modal-body info-bar">
        
        <span id="time-title" style="display: <?=($action == 'edit' && $result['entry']->countChildren == 0)? "inline-block" : "none"?>"><?=PerisianLanguageVariable::getVariable(10788)?></span>
        
        <span id="time-duration-title" class="alert alert-info" style="margin: 0; width: 100%; display: <?=($action == 'edit' && $result['entry']->countChildren > 0) ? "inline-block" : "none"?>">
                
            <?=(str_replace("%1", "1", str_replace("%2", count($result['list_area_times_actual'][$selectedArea->{$selectedArea->field_pk}]), str_replace("%3", $result['list_area_times_actual'][$selectedArea->{$selectedArea->field_pk}][0]['title'], PerisianLanguageVariable::getVariable('p58f714011cfb8')))))?>
            <i title="<?=PerisianLanguageVariable::getVariable('p58ffc956964be')?>" class="md md-call-split split-time-icon"></i>
        
        </span>
    
    </div>
    
    <?php 
    
        $entryIndex = -1;
        $entry = $result['entry'];
        $entryTimestampBegin = $result['entry_timestamp_begin'];
        $entryTimestampEnd = $result['entry_timestamp_end'];
        $selectedResource = @$result['selected_resource'];
        $selectedUserBackend = @$result['selected_user_backend'];
                
        require "includes/detail_edit_entry_time_user_backend_resource.phtml"; 
    
    ?>
            
    <?php if(PerisianSystemSetting::getSettingValue('calendar_is_enabled_image_upload') == 1): ?>
            
        <?php require "includes/detail_edit_entry_image.phtml"; ?>
            
    <?php endif; ?>
    
    <?php if(CalsyCalendarNotification::isEnabled($user) && !@$result['is_work_plan']): ?>
    
        <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable(11190)?></div>

        <div class="modal-body">
            
            <div class="form-group">
                <div class="col-sm-12">

                    <label for="calsy_calendar_entry_notification_time"><?=PerisianLanguageVariable::getVariable(11191)?></label>
                    <select id="calsy_calendar_entry_notification_time" name="calsy_calendar_entry_notification_time" class="form-control static-dirty">

                        <option value="0"<?php if(!$result['entry_settings_notifications']['enabled']): ?> selected<?php endif; ?>><?=PerisianLanguageVariable::getVariable(11192)?></option>
                        
                        <?php foreach($result['times_notification_possible'] as $possibleNotificationTime => $possibleNotificationLabel): ?>
                        
                            <option value="<?=$possibleNotificationTime?>" <?php if($result['entry_settings_notifications']['enabled'] && $result['entry_settings_notifications']['time'] == $possibleNotificationTime): ?> selected<?php endif; ?>><?=$possibleNotificationLabel?></option>
                        
                        <?php endforeach; ?>
                        
                    </select>
                    
                </div>
                
            </div>
            
        </div>
    
    <?php endif; ?>
    
    <?php require "includes/detail_edit_entry_series.phtml"; ?>
    
</div>

<?php 

    // Dummy element for JS

    unset($entryIndex);
    $entry = null;
    $entryTimestampBegin = null;
    $entryTimestampEnd = null;
    $selectedResource = null;
    $selectedUserBackend = null;

    require "includes/detail_edit_entry_time_element.phtml"; 

?>

<div id="calendar-form-time-element-container" style="display: none;">
        
    <?php 
    
        for($i = 0; $i < count($result['list_children']); ++$i):
    
            $entryIndex = $i + 1;
            $entry = $result['list_children'][$i];
            $entryTimestampBegin = $entry->{$entry->timestamp_begin};
            $entryTimestampEnd = $entry->{$entry->timestamp_end};
            $selectedResource = $entry->getResource();
            $selectedUserBackend = $entry->getUserBackend();
            
            $elementTitle = str_replace("%3", $result['list_area_times_actual'][$selectedArea->{$selectedArea->field_pk}][$i + 1]['title'], PerisianLanguageVariable::getVariable('p58f714011cfb8'));
            $elementTitle = str_replace("%2", count($result['list_area_times_actual'][$selectedArea->{$selectedArea->field_pk}]), $elementTitle);
            $elementTitle = (str_replace("%1", $i + 2, $elementTitle));
            
            require "includes/detail_edit_entry_time_element.phtml";
                        
        endfor;
    
        unset($elementTitle);
        
    ?>
    
</div>

<div class="modal-footer">
        
    <span id="button-group-extra">
        
        <?php if($result['id'] == 0 && $user->isAdmin()): ?>
            <button type="button" class="btn btn-default" id="holidayButton" onclick="Calendar.toggleFormHoliday()" style="float: left;" title="<?=PerisianLanguageVariable::getVariable(10984)?>"><i class="fa fa-birthday-cake"></i></button>
        <?php endif; ?>
            
        <?php if($result['id'] == 0 && $user->isAdmin()): ?>
            <button type="button" class="btn btn-default" id="surveyButton" onclick="Calendar.toggleFormSurvey()" style="float: left;" title="<?=PerisianLanguageVariable::getVariable('p5e4ae1e941fc9')?>"><i class="md md-poll"></i></button>
        <?php endif; ?>

        <?php if($result['id'] == 0 && CalsyProcessEngineModule::isEnabled() && CalsyProcessEngineModule::userCanManageProcesses($user)): ?>
            <button type="button" class="btn btn-default" id="processEngineButton" onclick="Calendar.toggleFormProcess()" style="float: left;" title="<?=PerisianLanguageVariable::getVariable('p58a20cd0e6d7e')?>"><i class="fa md <?= CalsyProcessEngineModule::getModuleIcon()?>"></i></button>
        <?php endif; ?>

        <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
            <button type="button" class="btn btn-danger" id="button-delete-main" class="deleteButton" onclick="Calendar.deleteEntry()" style="float:left"><i class="md md-delete"></i><?php PerisianLanguageVariable::printVariable(10297) ?></button>
        <?php endif; ?>
            
        <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
            <button type="button" class="btn btn-primary" class="cancelButton" style="float:left" onclick="Calendar.infoEvent(<?=$result['id']?>)"><i class="fa fa-info-circle"></i> <?=PerisianLanguageVariable::getVariable('p5a105bc5d3d82')?></button>
        <?php endif; ?>
            
        <button type="button" class="btn btn-default" class="cancelButton" onclick="Calendar.cancel()"><?php PerisianLanguageVariable::printVariable((($user->canManageEventsForOthers() || (!$user->canManageEventsForOthers() && $result['selected_user_backend']->{$result['selected_user_backend']->field_pk} == $user->{$user->field_pk}))) ? 10056 : 10495)?></button>
    
    </span>
    
    <button type="button" class="btn btn-primary-bright" id="button-block-previous" class="previousBlockButton" style="display: none;" onclick="Calendar.previousTimeDurationElement()"><i class="fa fa-arrow-left"></i> <?php PerisianLanguageVariable::printVariable('p58f3c3bb4f2c2') ?></button>
    <button type="button" class="btn btn-primary-bright" id="button-block-next" class="nextBlockButton" style="display: <?=($action == 'edit' && $result['entry']->countChildren > 0) ? "inline-block" : "none"?>" onclick="Calendar.nextTimeDurationElement()"><i class="fa fa-arrow-right"></i> <?php PerisianLanguageVariable::printVariable('p58f3c1fff40e4') ?></button>
        
    <?php if($result['can_edit_entry']): ?>
        <button type="button" class="btn btn-primary-bright" id="button-save-main" class="submitButton" style="display: <?=($action != "edit" || ($action == 'edit' && $result['entry']->countChildren == 0)) ? "inline-block" : "none"?>" onclick="Calendar.saveEntry()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>
    <?php endif; ?>
    
</div>