<?php if(CalsyResourceModule::isEnabled()): ?>

    <br/>

    <h2><?=PerisianLanguageVariable::getVariable(10918)?></h2>
    <?=PerisianLanguageVariable::getVariable(10924)?><br/>

    <div class="card" style="margin-top: 10px">
        <div class="card-body">
            <div class="form-group" style="margin-bottom: 0">

                <input type="text" id="resource_selector" name="resource_selector" class="form-control" value="<?=PerisianLanguageVariable::getVariable(10925)?>" perisian-default-value="<?=PerisianLanguageVariable::getVariable(10925)?>" perisian-data-id="" data-source="resource"/>
                <button class="btn btn-default btn-clear" type="button" callback="Calendar.filterByUsersAndResource(Calendar.getSelectedUsers(true), PerisianBaseAjax.getAutocompleteFieldIdentifier('#resource_selector'));"><i class="md md-clear"></i></button>

            </div>
        </div>
    </div>

<?php endif; ?>