<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Calendar.languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
    });
    
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=$result['title_form']?>
    </h4>
    
</div>

<div class="modal-body">

    <div class="col-sm-12" style="padding-left: 0px;">
        
        <?php if(count($result['bookable_times_info']) == 0): ?>
        
            <span class="alert alert-block alert-danger"><?=PerisianLanguageVariable::getVariable('p5a298588517ab')?></span>
        
        <?php else: ?>

            <?php for($i = 0; $i < count($result['bookable_times_info']); ++$i): ?>

                <table class="table table-bordered" style="margin-bottom: <?=($i < count($result['bookable_times_info']) - 1 ? '15' : '0')?>px;">

                    <tr style="background-color: #eee;">

                        <td colspan="<?=count($result['bookable_times_info'][$i]['fields'])?>">
                            
                            <b style="position:relative; top: 6px;"><?=$result['bookable_times_info'][$i]['title']?></b>
                        
                            <button<?=($result['bookable_times_info'][$i]['count_free_bookings'] == 0 ? " disabled" : "")?> style="float: right" type="button" class="btn btn-default btn-primary" onclick="Calendar.handleClickHourlyElement('<?=$result['timestamp_begin']?>', '<?=$result['bookable_times_info'][$i]['user_backend_id']?>', '<?=$result['bookable_times_info'][$i]['area_id']?>')"><i class="md md-book"></i> <?= PerisianLanguageVariable::getVariable('p5a298d23b7cf9')?></button>
                        
                        </td>

                    </tr>

                    <tr>

                        <?php for($j = 0; $j < count($result['bookable_times_info'][$i]['fields']); ++$j): ?>

                            <td style="width: <?=floor(100 / count($result['bookable_times_info'][$i]['fields']))?>%"><b><?=$result['bookable_times_info'][$i]['fields'][$j]['title']?>:</b> <?=$result['bookable_times_info'][$i]['fields'][$j]['value']?></td>

                        <?php endfor; ?>

                    </tr>
                    
                </table>

            <?php endfor; ?>


        <?php endif; ?>

    </div>

    <br style="clear:both;"/>

</div>

<div class="modal-footer">
        
    <span id="button-group-extra">
                    
        <button type="button" class="btn btn-default" class="cancelButton" onclick="Calendar.cancel()"><?= PerisianLanguageVariable::getVariable('10495')?></button>
    
    </span>
    
</div>