<h2 style="margin-bottom: 12px;"><?=$result['title_form']?></h2>

<ul class="list divider-full-bleed list-events<?=(count($result['list']) == 0 ? " event-list-empty" : "")?>">
    
    <?php for($i = 0; $i < count($result['list']); ++$i): ?>
    
        <?php
        
            $entry = new CalsyCalendarEntry($result['list'][$i]["calsy_calendar_entry_id"]);
            $userFrontendWithOrders = $entry->getUserFrontendWithOrders();
            $userFrontendList = $entry->getUserFrontendListAsString();
        
        ?>

        <li class="tile upcoming-event<?=(CalsyCalendar::isSameDay($result['list'][$i]["calsy_calendar_entry_date_begin_timestamp"], time()) ? " fc-today" : "")?>" data-id="<?=$result['list'][$i]["calsy_calendar_entry_id"]?>">

            <div class="tile-content">

                <div class="event-color" style="background-color: <?=$user->getColor();?>"></div>

                <div class="event-details">

                    <b><?=$result['list'][$i]["calsy_calendar_entry_title"]?></b>
                    
                    <?=CalsyCalendarEntry::getTagsForEntryAsHtml($result['list'][$i]["calsy_calendar_entry_id"])?>
                    
                    <?=((CalsyUserFrontendModule::isEnabled() && !CalsyCalendarEntry::hasNoUserFrontend($result['list'][$i]["calsy_calendar_entry_id"])) ? ("<br/>" . (PerisianLanguageVariable::getVariable(count($userFrontendWithOrders) == 1 ? 10784 : 10806) . ": " . $userFrontendList)) : "")?><br/>
                    <?=CalsyCalendarEntry::getFormattedEventTimeString($result['list'][$i]["calsy_calendar_entry_date_begin_timestamp"], $result['list'][$i]["calsy_calendar_entry_date_end_timestamp"])?>

                </div>

            </div>

        </li>

    <?php endfor; ?>
        
    <?php if(count($result['list']) == 0): ?>
        
        <center><?=PerisianLanguageVariable::getVariable($result['show_past'] ? 10892 : 10893)?></center>
        
    <?php endif; ?>
    
</ul>

<?php if($result['offset'] == 0): ?>

<div class="col-sm-6" style="padding-left:0;">
    <button class="btn btn-primary-bright btn-block ink-reaction" onclick="Calendar.showEntryBrowser(<?=($result['show_past'] ? "false" : "true")?>, 0);" type="button"><i class="md md-arrow-<?=$result['show_past'] ? "forward" : "back"?>"></i> <?php PerisianLanguageVariable::printVariable($result['show_past'] ? 10865 : 10866); ?></i></button>
</div>

<?php endif; ?>

<?php if($result['offset'] > 0): ?>

<div class="col-sm-6" style="padding-left:0;">
    <button class="btn btn-primary-bright btn-block ink-reaction" onclick="Calendar.showEntryBrowser(<?=($result['show_past'] ? "true" : "false")?>, <?=($result['offset'] - $result['limit'])?>);" type="button"><i class="md md-keyboard-arrow-left"></i><?php PerisianLanguageVariable::printVariable(10803); ?></button>
</div>

<?php endif; ?>

<?php if($result['more_entries_available']): ?>

<div class="col-sm-6" style="padding-right: 0px;">
    <button class="btn btn-primary-bright btn-block ink-reaction" onclick="Calendar.showEntryBrowser(<?=($result['show_past'] ? "true" : "false")?>, <?=($result['offset'] + $result['limit'])?>);" type="button"><i class="md md-keyboard-arrow-right"></i><?php PerisianLanguageVariable::printVariable($result['offset'] == 0 ? 10891 : 10379); ?></button>
</div>

<?php endif; ?>