
<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/edit.js"></script>

<script type="text/javascript">

    /*
    jQuery('#calsy_calendar_date_range .datepicker-item').datepicker({
        
        language: '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>', 
        todayHighlight: true,
        autoclose: true,
            
        format: 'dd.mm.yyyy'
    
    });
    */
    
    jQuery(document).ready(function() {
        
        //Calendar.initEditEntry();
        
    });
        
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=PerisianLanguageVariable::getVariable(!isset($result['id']) ? 'p5e4ae1e941fc9' : 'p5e4ae9448aea7')?>
    </h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if((int)$result['id'] > 0): ?>
    
        <input type="hidden" id="editId" value="<?=$result['id']?>">
        
    <?php endif ?>
        
    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable('p5e4ae9692a7d6')?></div>
    
    <div class="modal-body">
        
        <?php
        
            $selectedArea = $result['area_selected'];
            $i = 0;
            
        ?>
        
        <?php require(__DIR__ . '/includes/detail_edit_entry_order.phtml'); ?>
        <?php require(__DIR__ . '/includes/detail_edit_entry_area.phtml'); ?>
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?php PerisianLanguageVariable::printVariable(10786)?></label><br/>
                
                <div class="input-daterange input-group" id="calsy_calendar_date_range">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_begin_date" id="calsy_calendar_date_range_begin_date" value="<?=date("d.m.Y", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>
                    
                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_begin_time" id="calsy_calendar_date_range_begin_time" value="<?=date("H:i", $result['entry_timestamp_begin'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div><br/>

                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10785)?></span>

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="calsy_calendar_date_range_end_date" id="calsy_calendar_date_range_end_date" value="<?=date("d.m.Y", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>
                        <div class="form-control-line"></div>

                    </div>
                    
                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="calsy_calendar_date_range_end_time" id="calsy_calendar_date_range_end_time" value="<?=date("H:i", $result['entry_timestamp_end'])?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>>

                    </div>

                </div>
                
            </div>
            
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_calendar_entry_title"><?php PerisianLanguageVariable::printVariable(10234) ?></label>
                <input type="text" id="calsy_calendar_entry_title" class="form-control" name="calsy_calendar_entry_title" value="<?php if((int)$result['id'] > 0): echo $result['entry']->{$result['entry']->field_title}; endif?>"<?=($result['can_edit_entry'] ? "" : " disabled")?>/>

            </div>
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">
                
                <label for="calsy_calendar_entry_description"><?php PerisianLanguageVariable::printVariable(10781) ?></label>
                <textarea type="text" id="calsy_calendar_entry_description" class="form-control" name="calsy_calendar_entry_description"<?=($result['can_edit_entry'] ? "" : " disabled")?>><?php if((int)$result['id'] > 0): echo $result['entry']->{$result['entry']->field_description}; endif?></textarea>

            </div>
            
        </div>

    </div>
    
    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable('p5e4c3fb132cd1')?></div>
    
    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?=lg('p5e4af2deca15c')?></label><br/>
                
                <div class="calsy-user-selector-multi">

                    <?php foreach($result['list_users_survey'] as $index => $userSurvey): ?>

                        <div class="calsy-user-selector-multi-element">

                            <div class="checkbox checkbox-styled">

                                <div class="col-sm-12 checkbox checkbox-styled">

                                    <label for="calsy-user-selector-multi-survey-<?=$index?>">
                                        
                                        <input type="checkbox" id="calsy-user-selector-multi-survey-<?=$index?>" name="calsy-user-selector-multi-survey-<?=$index?>" value="<?=$userSurvey['id']?>"<?=($userSurvey['selected'] ? ' checked' : '')?>/>
                                        
                                        <?=$userSurvey['name']?>
                                                                                
                                        <?php if(strlen($userSurvey['callback_code']) > 0): ?>
                                        
                                            <?php $tooltipPlacement = ($index > count($result['list_users_survey']) - 3 ? 'top' : 'bottom'); ?>
                                        
                                            <div class="calsy-user-selector-multi-survey-details-box">

                                                <?php if($userSurvey['invitation_sent']): ?>
                                                
                                                    <div class="calsy-user-selector-multi-survey-status calsy-user-selector-multi-survey-status-invitation-sent" data-toggle="tooltip" data-placement="<?=$tooltipPlacement?>" data-trigger="hover" data-original-title="<?=(lg('p5e4c33c8ca13f') . PerisianFrameworkToolbox::timestampToDateTime($userSurvey['invitation_sent_time']))?>">
                                                        
                                                        <i class="md md-mail"></i>
                                                        
                                                    </div>
                                                                                                    
                                                <?php endif; ?>
                                                
                                                <?php if($userSurvey['status_accepted']): ?>
                                                
                                                    <div class="calsy-user-selector-multi-survey-status calsy-user-selector-multi-survey-status-invitation-accepted" data-toggle="tooltip" data-placement="<?=$tooltipPlacement?>" data-trigger="hover" data-original-title="<?=(lg('p5e4c372ed6b2c') . PerisianFrameworkToolbox::timestampToDateTime($userSurvey['status_accepted_time']))?>">
                                                        
                                                        <i class="fa fa-check-square-o"></i>
                                                        
                                                    </div>
                                                                                                    
                                                <?php endif; ?>
                                                
                                                <?php if($userSurvey['status_rejected']): ?>
                                                
                                                    <div class="calsy-user-selector-multi-survey-status calsy-user-selector-multi-survey-status-invitation-rejected" data-toggle="tooltip" data-placement="<?=$tooltipPlacement?>" data-trigger="hover" data-original-title="<?=(lg('p5e4c374115650') . PerisianFrameworkToolbox::timestampToDateTime($userSurvey['status_rejected_time']))?>">
                                                        
                                                        <i class="md md-not-interested"></i>
                                                        
                                                    </div>
                                                                                                    
                                                <?php endif; ?>

                                            </div>
                                        
                                        <?php endif; ?>
                                    
                                    </label>

                                </div>

                            </div>

                        </div>

                    <?php endforeach; ?>

                </div>
                
                <script type="text/javascript">
                    
                    jQuery(".calsy-user-selector-multi").tooltip({selector: '[data-toggle=tooltip]'});
                
                </script>
                
            </div>
            
        </div>
        
    </div>
    
</form>

<div class="modal-footer">
    
    <?php if($result['id'] == 0): ?>
    <button type="button" class="btn btn-default" id="surveyButton" onclick="Calendar.toggleFormSurvey(true)" style="float: left;" title="<?=PerisianLanguageVariable::getVariable(10803)?>"><i class="md md-arrow-back"></i></button>
    <?php endif; ?>
    
    <?php if($result['id'] > 0 && $result['can_edit_entry']): ?>
    <button type="button" class="btn btn-danger" id="deleteButton" onclick="Calendar.deleteEntry()" style="float:left"><i class="md md-delete"></i><?php PerisianLanguageVariable::printVariable(10297) ?></button>
    <?php endif; ?>
    
    <button type="button" class="btn btn-default" id="cancelButton" onclick="Calendar.cancel()"><?php PerisianLanguageVariable::printVariable((($user->canManageEventsForOthers() || (!$user->canManageEventsForOthers() && $result['filter']['selected_user_backend']->{$result['filter']['selected_user_backend']->field_pk} == $user->{$user->field_pk}))) ? 10056 : 10495)?></button>
    
    <?php if($result['can_edit_entry']): ?>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="Calendar.saveSurvey()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>
    <?php endif; ?>
    
</div>