<h2><?=PerisianLanguageVariable::getVariable(10777)?></h2>
<?=$result['text_detail_user_selector']?><br/>

<ul class="list divider-full-bleed user-selector">
    
    <?php for($i = 0; $i < count($result['list_user_backend']); ++$i): ?>
    
    <div data-id="<?=$result['list_user_backend'][$i]["user_id"]?>" class="user-selector user-selector-ellipsis" style="position:relative">
        
        <div class="user-color-box" style="background-color: <?=CalsyUserBackend::getUserColor($result['list_user_backend'][$i]["user_id"])?>"></div>

        <div class="user-checkbox-box">

            <div class="checkbox checkbox-styled">

                <label>

                    <input type="checkbox"<?=($result['list_user_backend'][$i]["selected"] ? " checked" : "")?>>
                    <span style="padding-left: 0;"></span>

                </label>

            </div>

        </div>
        
        <div>

            <div class="user-name-box">
                <?=CalsyUserBackend::getUserFullname($result['list_user_backend'][$i]["user_id"])?>
            </div>
            
        </div>
          
    </div>
    
    <br style="clear:both"/>
    
    <?php endfor; ?>
    
</ul>

<button class="btn btn-primary-bright btn-block ink-reaction" onclick="Calendar.toggleSelectAllUsers();" type="button"><i class="fa fa-check-square"></i> <?php PerisianLanguageVariable::printVariable(10945); ?></button>