<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.doubletap.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.longclick.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalendarEntry.js"></script>
<script type="text/javascript" src="../assets/js/calsy/calendar/CalendarContextMenu.js"></script>
<script type="text/javascript" src="../assets/js/calsy/modules/CalendarBookableTimes.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<script type="text/javascript" src="../assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/moment/moment-with-locales.js"></script>
<script type="text/javascript" src="../assets/js/libs/dropzone/dropzone.min.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/fullcalendar/fullcalendar.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/bookable_times.css"/>
<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable('p57a8e9ed626d3')?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div>

<div class="section-body">
    
    <?php if(!CalsyBookableTimesModule::isEnabled()): ?>

        <div class="col-lg-12">
            <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
        </div>
    
    <?php else: ?>
    
        <div class="col-sm-9" id="calendarContainer">

            <script type="text/javascript">

                Calendar.languageCode = '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>';
                Calendar.editEntryDirectly = true;
                Calendar.defaultEventEndTime = <?=CalsyCalendar::getDefaultEventEndTime()?>;

                jQuery(document).on('ready', function() {

                    Calendar.initialize('user', '<?=$result['timestamp_calendar_start']?>', '<?=$result['filter_user_backend']?>', null, {'<?=CalsyBookableTimesModule::FLAG_BOOKABLE_TIME?>': {'operator': '=', 'value': '1'}});
                    
                    Calendar.showBookableTimesSettings();

                });

            </script>

        </div>

        <div class="col-sm-3" id="calendarDetail"></div>

    <?php endif; ?>
    
</div>

<script type="text/javascript">
    
    Calendar.userId = <?=$user->{$user->field_pk}?>;
    
</script>