<div id="menubar-right" class="menubar menubar-right menubar-inverse<?php if($user->hasSetting('user_layout_menu_right_closed')): ?> menubar-right-closed<?php endif; ?>">
    
    <div class="menubar-scroll-panel" style="padding-bottom: 0;">

        <div class="col-sm-12" id="calendarDetail"></div>
        
        <br style="clear:both;"/>

        <div class="menubar-foot-panel"></div>
        
        <div id="menubar-right-handle" class="menubar-right-handle<?php if($user->hasSetting('user_layout_menu_right_closed')): ?> menubar-right-handle-closed<?php endif; ?>">
            
            <span class="fa <?=($user->hasSetting('user_layout_menu_right_closed') ? 'fa-caret-left' : 'fa-caret-right')?>"></span>
            
        </div>
        
    </div>
    
</div>