<?php 

if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter)
{

    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/registration_header.phtml");
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/registration_gtc_modal.phtml");
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/dynamic_modal.phtml");
    
}

?>

<link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/libs/wizard/wizard.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/jquery-ui/jquery-ui-theme.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/calsy/appointment_assistant.css"/>

<div class="col-lg-12">
    
    <?php if(file_exists(__DIR__ . '/../../../../asset-data/img/custom/checkin-' . strtolower($result['data']['description']) . '.jpg')): ?>
    
        <img class="welcome-image" src="<?=PerisianFrameworkToolbox::getServerAddress(false)?>/assets/img/custom/checkin-<?=strtolower($result['data']['description'])?>.jpg">
        
        <br/>
        <br/>
    
    <?php endif; ?>

    <?php if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter): ?>
        
        <h2><?=$result['data']['description']?> - <?=lg('p5ee8de444dbed')?></h2>
        
        <span class="alert alert-info" id="info-landing-header" style="display:block;">
            <?=nl2br(lg('p5ee9aa6ee4207'))?>
        </span>
    
    <?php endif; ?>

    <div id="success-box" style="display: none;">
                
        <span class="alert alert-success" style="display:block"><b><?=PerisianLanguageVariable::getVariable(11049)?></b> <span id="success-box-content"></span></span>

        <br style="clear:both;"/>
        
    </div>

    <div id="checkin-content-box">
                
        <?php if(!isset($userFrontend) || !$userFrontend->isLoggedIn()): ?>

            <?php require 'login.phtml'; ?>
        
        <?php else: ?>
        
            <div class="loading-indicator"></div>
        
        <?php endif; ?>
        
    </div>

</div>
        
<script type="text/javascript">

    jQuery(document).ready(function() {
        
        toastr.options.positionClass = 'toast-top-center'
        
        CheckInFrontend.initializeLandingPage(<?=(isset($userFrontend) && $userFrontend->isLoggedIn() ? 'true' : 'false')?>);
        
    });

</script>

<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/calsy/CheckInFrontend.js"></script>
<script type="text/javascript" src="assets/js/calsy/QuickLogFrontend.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/libs/moment/moment-with-locales.js"></script>

<?php if(PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId()) != 'en'): ?>
<script type="text/javascript" src="assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<?php endif; ?>

<script type="text/javascript" src="assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianFormPager.js"></script>
<script type="text/javascript" src="assets/js/front/AppointmentAssistant.js"></script>

<?php 

if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter)
{
    
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/calsy/frontend/registration/registration_footer.phtml"); 
    
}

?>