
<span class="alert alert-warning" style="display:block;">
    <?=nl2br(lg('p5ee9ac46cadc0'))?>
</span>

<?php require __DIR__ . '/../../../appointment_assistant/registration_login.phtml'; ?>

<button id="btn-checkin-login" onclick="javascript:CheckInFrontend.checkLogin()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?=lg('10015')?></button>
<button id="btn-checkin-registration" onclick="javascript:CheckInFrontend.checkRegistration()" style="display: none; width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?=lg('10640')?></button>

<br/>
<br/>

<a id="button-pw-forgotten" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>registration/?do=rp"><?=lg(10618)?></a>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        CheckInFrontend.initLoginRegistration();
        
    });

</script>