
<div class="row">
    
    <div class="col-md-12">
        
        <div class="box-checkin-status-landing">
            
            <?=lg('p5eee06b87dfdd')?>
            
            <br/>
            
            <div class="checkin-landing-status-<?=($result['status'])?>">
            
                <?=lg($result['status'] == CalsyCheckIn::STATUS_OPEN ? 'p5eee0a1d87a03' : 'p5eee07342ae93')?>
                
            </div>
            
                
            <?php if($result['status_since'] > 0): ?>
            
                <?=lg('10525')?>: <?=date("d.m.Y, H:i", $result['status_since'])?>
            
            <?php endif; ?>
            
        </div>
        
    </div>
    
</div>

<div class="row">
    
    <div class="col-md-6">

        <?php if($result['status'] == CalsyCheckIn::STATUS_OPEN): ?>
        
            <button id="btn-checkin-checkout" onclick="javascript:CheckInFrontend.doCheckOut()" style="margin-bottom: 12px; display: block; width: 100%;" class="btn btn-primary btn-raised" type="button"><i class="fa fa-arrow-up"></i>&nbsp; <?=lg('p5eee0b3d72c23')?></button>

        <?php else: ?>
        
            <button id="btn-checkin-checkin" onclick="javascript:CheckInFrontend.doCheckIn()" style="margin-bottom: 12px; display: block; width: 100%;" class="btn btn-primary btn-raised" type="button"><i class="fa fa-arrow-down"></i>&nbsp; <?=lg('p5eee0b20c9428')?></button>

        <?php endif; ?>
        
    </div>
    
    <div class="col-md-6">

        <button id="btn-checkin-load-status" onclick="javascript:CheckInFrontend.loadCheckInStatus()" style="margin-bottom: 12px; display: block; width: 100%;" class="btn btn-primary btn-raised checkin-swimming-button" type="button"><i class="fa fa-refresh"></i>&nbsp; <?=lg('p5eee053848403')?></button>

    </div>
    
</div>

<div class="row">

    <div class="col-md-6">

        <button id="btn-checkin-logout" onclick="javascript:CheckInFrontend.doLogout()" style="margin-bottom: 12px; display: block; width: 100%;" class="btn btn-primary btn-raised checkin-swimming-button" type="button"><?=lg('10008')?></button>

    </div>
    
    <div class="col-md-6">

        <button id="btn-checkin-overview" onclick="javascript:CheckInFrontend.goToOverview()" style="margin-bottom: 12px; display: block; width: 100%;" class="btn btn-primary btn-raised checkin-swimming-button" type="button"><?=lg('p5eee0609d86e7')?></button>

    </div>
    
</div>

<?php if(CalsyQuickLogModule::isEnabled()): ?>

    <div class="row">

        <div class="col-md-12">

            <button id="btn-checkin-logout" onclick="javascript:QuickLogFrontend.doQuickLog()" style="margin-bottom: 12px; display: block; width: 100%;" class="btn btn-primary btn-raised quick-log-button" type="button"><i class="fa md <?=CalsyQuickLogModule::getModuleIcon()?>"></i> <?=lg('p5f035cd79c5e0')?></button>

        </div>

    </div>

<?php endif; ?>