<span class="alert alert-warning" style="display:block;">

    <?=lg('p5eedffa8ab887')?>
    
    <br/>
    <br/>
    
    <?=lg('p5eee001bdc119')?>
    
    <br/>
    <br/>
    
    <button id="btn-checkin-reload" onclick="javascript:CheckInFrontend.reloadPage()" style="display: block; width: 100%;" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?=lg('p5eee005c18ec8')?></button>
    
</span>