
<span class="alert alert-warning" style="display:block" id="approval-hint"><?=nl2br(PerisianLanguageVariable::getVariable(11043))?></span>

<div class="form-group form-pager" id="approval_user_frontend_login">

    <div class="form-group form-pager">

        <div class="col-sm-4" style="padding: 10px;"><?=nl2br(PerisianLanguageVariable::getVariable(11045))?></div>

        <div class="col-sm-8" style="padding: 10px;"></div>

        <br style="clear:both">

    </div>

</div>

<div id="approval_user_frontend_registration" tyle="display:none;">
    
    <div class="form-group form-pager">

        <div class="form-group form-pager" style="margin-bottom: 0 !important;">

            <div class="col-sm-4" style="padding: 10px;"><?=PerisianLanguageVariable::getVariable(10427)?></div>

            <div class="col-sm-8" style="padding: 10px;" id="aa_registration_email_one_approval"></div>

            <br style="clear:both">

        </div>

        <div class="form-group form-pager" style="margin-bottom: 0 !important;">

            <div class="col-sm-4" style="padding: 10px;"><?=PerisianLanguageVariable::getVariable(10560)?></div>

            <div class="col-sm-8" style="padding: 10px;" id="aa_registration_name_first_approval"></div>

            <br style="clear:both">

        </div>

        <div class="form-group form-pager" style="margin-bottom: 0 !important;">

            <div class="col-sm-4" style="padding: 10px;"><?=PerisianLanguageVariable::getVariable(10559)?></div>

            <div class="col-sm-8" style="padding: 10px;" id="aa_registration_name_second_approval"></div>

            <br style="clear:both">

        </div>

        <div class="form-group form-pager" style="margin-bottom: 0 !important;">

            <div class="col-sm-4" style="padding: 10px;"><?=PerisianLanguageVariable::getVariable(10830)?></div>

            <div class="col-sm-8" style="padding: 10px;" id="aa_registration_sex_approval"></div>

            <br style="clear:both">

        </div>

        <div class="form-group form-pager" style="margin-bottom: 0 !important;">

            <div class="col-sm-4" style="padding: 10px;"><?=PerisianLanguageVariable::getVariable(10486)?></div>

            <div class="col-sm-8" style="padding: 10px;" id="aa_registration_phone_approval"></div>

            <br style="clear:both">

        </div>

    </div>

</div>

<div class="form-group form-pager">

    <div class="form-group form-pager" style="margin-bottom: 0 !important;">

        <div class="col-sm-4" style="padding: 10px;"><?=nl2br(PerisianLanguageVariable::getVariable(11014))?></div>

        <div class="col-sm-8" style="padding: 10px; font-weight: bold;" id="approval_appointment_time"></div>

        <br style="clear:both">

    </div>
    
    <?php if($areaModule->isModuleEnabled()): ?>
    
        <div class="form-group form-pager" style="margin-bottom: 0 !important;">

            <div class="col-sm-4" style="padding: 10px;"><?=nl2br(PerisianLanguageVariable::getVariable(11018))?></div>

            <div class="col-sm-8" style="padding: 10px;" id="approval_appointment_area"></div>

            <br style="clear:both">

        </div>
    
    <?php endif; ?>
    
    <div class="form-group form-pager" id="approval_appointment_user_backend_container" style="display:none; margin-bottom: 0 !important;">

        <div class="col-sm-4" style="padding: 10px;"><?=nl2br(PerisianLanguageVariable::getVariable(10896))?></div>

        <div class="col-sm-8" style="padding: 10px;" id="approval_appointment_user_backend"></div>

        <br style="clear:both">

    </div>
                 
    <?php if(PerisianSystemSetting::getSettingValue('calendar_is_enabled_image_upload') == 1): ?>
    
        <div class="form-group form-pager" id="approval_appointment_annotations_image_container" style="display:none; margin-bottom: 0 !important;">

            <div class="col-sm-4" style="padding: 10px;"><?=nl2br(PerisianLanguageVariable::getVariable('p5d94f1c67b1ca'))?></div>

            <div class="col-sm-8" style="padding: 10px;" id="approval_appointment_annotations_image"></div>

            <br style="clear:both">

        </div>
    
    <?php endif; ?>
    
    <div class="form-group form-pager" id="approval_appointment_annotations_container" style="display:none; margin-bottom: 0 !important;">

        <div class="col-sm-4" style="padding: 10px;"><?=nl2br(PerisianLanguageVariable::getVariable(11030))?></div>

        <div class="col-sm-8" style="padding: 10px;" id="approval_appointment_annotations"></div>

        <br style="clear:both">

    </div>
        
</div>

<div class="form-group form-pager" id="approval_multiple_booking" style="display:none;"></div>

<div id="approval_multiple_booking_dummy" style="display: none">

    <div class="col-sm-4" style="padding: 10px;"><?=lg('p5e390dd03214b')?></div>

    <div class="col-sm-8" style="padding: 10px;">%approval_multiple_booking_title</div>
    
    <br style="clear:both">

</div>

<div class="form-group form-pager" id="additional_fields_approval" style="display:none;"></div>

<div class="form-group form-pager" id="area_price_approval" style="display:none;"></div>

<div class="form-group form-pager" style="margin-bottom: 0 !important; display:none;" id="field-dummy">

    <div class="col-sm-4" style="padding: 10px;" id="container-key"></div>

    <div class="col-sm-8" style="padding: 10px;" id="container-value"></div>

    <br style="clear:both">

</div>