
<div class="form-group form-pager">
    
    <div class="form-group form-pager">

        <div class="col-sm-4 form-pager-input-label"><?=PerisianLanguageVariable::getVariable(11041)?></div>

        <div class="col-sm-4" style="padding: 10px 10px 10px 10px;">

            <input type="text" class="form-control datepicker-item" id="aa_date_selection_earliest_possible_date" name="aa_date_selection_earliest_possible_date" data-timestamp-earliest="<?=@$field['begin_timestamp_earliest']?>" value="<?=$field['begin_date']?>" style="text-align: center;">
            
        </div>
        
        <div class="col-sm-4" style="padding: 10px 10px 10px 10px;">

            <input type="text" class="form-control time-mask" name="aa_date_selection_earliest_possible_time" id="aa_date_selection_earliest_possible_time" data-timestamp-earliest="<?=@$field['begin_timestamp_earliest']?>" value="<?=$field['begin_time']?>" style="text-align: center;">
            
        </div>
        
        <br style="clear:both">

    </div>

</div>

<div class="form-group form-pager">

    <div class="form-group form-pager">

        <div class="col-sm-4 form-pager-input-label" style="padding-top: 14px"><?=PerisianLanguageVariable::getVariable(11040)?></div>

        <div id="appointment_proposal" class="col-sm-8" style="padding: 10px 10px 10px 10px;"></div>

        <br style="clear:both">

    </div>

</div>