<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
         
    });
    
</script>

<div class="modal-header">

    <span style="float:right">
        
        <button type="button" class="close" style="margin-left: 14px; padding-top: 0px; position: relative; top: 3px; float: none;" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    </span>
    
    <h4 class="modal-title" id="formModalLabel">
        
        <?=$result['title_form']?>
        
    </h4>
    
</div>

<div class="form-horizontal" id="calendar-form-main" role="form">

    <div class="modal-body">

        <div class="form-group">
            
            <?php if($result['data'] == null): ?>
            
                <div class="col-sm-12">

                    <span class="alert alert-block alert-info"><?=PerisianLanguageVariable::getVariable('p5d384cd000125')?></span>

                </div>
            
            <?php else: ?>

                <?php if(strlen(@$result['data']['description']) > 0): ?>
            
                    <div class="col-sm-12">

                        <span class="alert alert-block alert-info"><?=nl2br(@$result['data']['description'])?></span>

                    </div>

                <?php endif; ?>
                        
                <?php if(strlen(@$result['data']['image']) > 0): ?>
            
                    <div class="col-sm-12" style="text-align: center; padding-top: 20px;">

                        <img src="<?=$result['data']['image']?>" style="max-width: 100%;">

                    </div>

                <?php endif; ?>
            
            <?php endif; ?>
            
        </div>

    </div>
    
    
</div>

<div class="modal-footer">
        
    <span id="button-group-extra">
        
        <button type="button" class="btn btn-primary" class="cancelButton" onclick="AppointmentAssistant.closeModal()"><?=PerisianLanguageVariable::getVariable(10069)?></button>
    
    </span>
    
    
</div>
