
<div class="form-group form-pager" id="multiple-booking-box">

    <div class="form-group form-pager">

        <div class="col-sm-4" style="padding: 10px;"><?=nl2br(PerisianLanguageVariable::getVariable('p5e390d8ee252f'))?></div>

        <div class="col-sm-8" style="padding: 10px;">
            
            <select class="form-control input-margin" id="multiple-booking-amount" name="multiple-booking-amount">

                <option value="1" selected><?=PerisianLanguageVariable::getVariable('p5e390d9c56e04')?></option>

                <?php for($amountBookings = 2; $amountBookings <= 10; ++$amountBookings): ?>

                    <option value="<?=$amountBookings?>"><?=($amountBookings . ' ' . lg('p5e391489944af'))?></option>

                <?php endfor; ?>

            </select>    
            
            <script type="text/javascript">
                
                jQuery(document).ready(function() {
                    
                    AppointmentAssistant.initMultipleBookings();
                    
                });
            
            </script>
            
        </div>
        
        <div id="multiple-booking-dummy" style="display:none;">
            
            <div class="multiple-booking-title-element">
            
                <div class="col-sm-4" style="padding: 10px;" class="multiple-booking-title"><?=lg('p5e390dd03214b')?></div>

                <div class="col-sm-8" style="padding: 10px;"><input type="text" class="form-control" placeholder="<?=lg(p5e3915db865dc)?>"/></div>
            
            </div>
        
        </div>
        
        <div id="multiple-booking-title-container"></div>

        <br style="clear:both">

    </div>

</div>
