<?php 

if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter)
{

    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/registration_header.phtml");
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/registration_gtc_modal.phtml");
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/dynamic_modal.phtml");
    
}

?>

<link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/theme-default/libs/wizard/wizard.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/jquery-ui/jquery-ui-theme.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/calsy/appointment_assistant.css"/>

<div class="col-lg-12">

    <?php if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter): ?>
    
        <?php require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/{$style}/frontend/registration/element/welcome_image.phtml"); ?>
    
        <h2><?=PerisianLanguageVariable::getVariable(11005)?></h2>
        
        <span class="alert alert-warning" style="display:block;">
            <?=PerisianLanguageVariable::getVariable(11004)?>
            <?=PerisianLanguageVariable::getVariable(11008)?>
        </span>
    
    <?php endif; ?>

    <div id="success-box" style="display: none">
                
        <span class="alert alert-success" style="display:block"><b><?=PerisianLanguageVariable::getVariable(11049)?></b> <span id="success-box-content"></span></span>

        <a class="btn btn-block btn-raised btn-primary" id="btn-success-login" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?><?=(isset($userFrontend) && $userFrontend->isLoggedIn()) ? 'calendar/overview/' : '?do=l'?>"><?php PerisianLanguageVariable::printVariable(10379); ?></a>
        <a class="btn btn-block btn-raised btn-primary" id="btn-success-payment" style="display: none;" href="#"><?php PerisianLanguageVariable::printVariable('p59f4ebef4bc7a'); ?></a>

        <br style="clear:both;"/>
        
    </div>
        
    <?php if(CalsyUserFrontendRegistrationAndCalendarModule::isEnabledTileProposals()): ?>
        
        <?php require "tiles_proposals.phtml"; ?>
        
    <?php endif; ?>
        
    <div id="appointment-assistant" class="form-wizard form-wizard-horizontal">
        
        <form class="form floating-label">
            
            <div class="form-wizard-nav">
                
                <div class="progress"><div class="progress-bar progress-bar-primary"></div></div>
                
                <ul class="nav nav-justified">
                    
                    <?php for($i = 0; $i < count($pageFormData); ++$i): ?>
                    
                        <li<?php if($i == 0): ?> class="active"<?php endif; ?>><a href="#"><span class="step"><?=($i+1)?></span> <span class="title"><?=$pageFormData[$i]["title"]?></span></a></li>
                    
                    <?php endfor; ?>
                        
                </ul>
                
            </div>
        </form>
        
        <br>
        
        <div id="warning-box" style="display: none">
            
            <span class="alert alert-danger" style="display:block"><b><?=PerisianLanguageVariable::getVariable(10623)?>:</b> <span id="warning-box-content"></span></span>
            
        </div>
        
        <div id="loading-box" style="display: block;"></div>
        
        <div id="content-box" style="display: none;">
        
            <?php for($i = 0, $imageUploadShown = false; $i < count($pageFormData); ++$i): ?>

                <div class="form-page<?php if($i == 0): ?> active<?php endif; ?>">

                    <?php foreach($pageFormData[$i]["fields"] as $field): ?>
                    
                        <?php if($i == 1 && !$imageUploadShown): ?>
                    
                            <?php if(PerisianSystemSetting::getSettingValue('calendar_is_enabled_image_upload') == 1): ?>
                    
                                <?php require_once 'includes/appointment_image.inc.phtml'; ?>

                            <?php endif; ?>
                    
                        <?php endif; ?>

                        <?php if(@$field["is_additional"]): ?>

                            <div class="additional-field"<?php if($i > 0): ?> style="display:none"<?php endif; ?> id="field_<?=$field["identifier"]?>">
                                
                                <script type="text/javascript">
                                
                                    jQuery(document).ready(function() {

                                        PerisianFormPager.addCondition(<?=$i?>, function() {
                                            
                                            <?php if(@$field["type"] == "area-filter"): ?>
                                                    
                                                <?php if(CalsyAreaModule::isEnabled()): ?>

                                                    if(<?=$field["condition"]?>)
                                                    {
                                                        
                                                        PerisianFormPager.filterArea(<?=$field["value"]?>);
                                                        
                                                        return true;

                                                    }
                                                    
                                                    return false;
                                                    
                                                <?php endif; ?>
                                                
                                            <?php elseif(@$field["type"] == "area-group-filter"): ?>
                                                    
                                                <?php if(CalsyAreaModule::isEnabled()): ?>

                                                    if(<?=$field["condition"]?>)
                                                    {
                                                        
                                                        PerisianFormPager.filterAreaGroup(<?=$field["value"]?>);
                                                        
                                                        return true;

                                                    }
                                                    
                                                    return false;
                                                    
                                                <?php endif; ?>
                                                    
                                            <?php else: ?>

                                                var solution = <?=$field["condition"]?>;
                                                
                                                jQuery('#field_<?=$field["identifier"]?>').css('display', (solution) ? 'block' : 'none');
                                                
                                                return solution;
                                            
                                            <?php endif; ?>

                                        }, '<?=(strlen(@$field["identifier"]) > 0 ? $field["identifier"] : uniqid())?>');

                                    });
                                
                                </script>

                        <?php endif; ?>

                        <?php if(@$field["type"] == "text"): ?>

                            <div class="form-group form-pager form-pager-text">

                                <div class="col-sm-4"><?=$field["title"]?><?php if(@$field["required"] == 'true'): ?><sup>*</sup><?php endif; ?></div>

                                <div class="col-sm-8">

                                    <input type="text" class="form-control input-margin" id="<?=$field["identifier"]?>" name="<?=$field["identifier"]?>" value="<?=(strlen(@$field["prefillValue"]) > 0 ? @$field['prefillValue'] : @$field['value'])?>"<?php if(@$field["required"] == 'true'): ?> required<?php endif;?>>

                                </div>

                                <br style="clear:both">

                            </div>

                        <?php elseif(@$field["type"] == "textarea"): ?>

                            <div class="form-group form-pager form-pager-text">

                                <div class="col-sm-4"><?=$field["title"]?><?php if(@$field["required"] == 'true'): ?><sup>*</sup><?php endif; ?></div>

                                <div class="col-sm-8">

                                    <textarea class="form-control input-margin" id="<?=$field["identifier"]?>" name="<?=$field["identifier"]?>"<?php if(@$field["required"] == 'true'): ?> required<?php endif;?>><?=(strlen(@$field["prefillValue"]) > 0 ? @$field['prefillValue'] : @$field['value'])?></textarea>

                                </div>

                                <br style="clear:both">

                            </div>
                                
                        <?php elseif(@$field["type"] == "select" && $field["identifier"] == 'user_backend'): ?>

                            <div class="form-group form-pager-select">

                                <div class="col-sm-4"><?=$field["title"]?><?php if(@$field["required"] == 'true'): ?><sup>*</sup><?php endif; ?></div>

                                <div class="col-sm-8">

                                    <select class="form-control input-margin" id="<?=$field["identifier"]?>" name="<?=$field["identifier"]?>"<?php if(@$field["required"] == 'true'): ?> required<?php endif;?>>

                                        <option value="__none"<?=((strlen(@$field["prefillValue"]) > 0 && $field['prefillValue'] == '__none') ? ' selected' : '')?>><?=PerisianLanguageVariable::getVariable(11039)?></option>
                                                                                
                                        <?php foreach($field["values"] as $value => $title): ?>
                                        
                                            <option style="<?php if(strlen(CalsyUserBackend::getUserImageProfile($value)) > 0): ?>background-image: url('<?=CalsyUserBackend::getUserImageProfile($value)?>'); <?php endif; ?>background-color: <?=CalsyUserBackend::getUserColor($value)?>;" value="<?=$value?>"<?=((strlen(@$field["prefillValue"]) > 0 && $field['prefillValue'] == $value) ? ' selected' : '')?> class="user-backend-option"><?=$title?></option>

                                        <?php endforeach; ?>
                                        
                                    </select>
                                    
                                    <?php if((strlen(@$field["prefillValue"]) > 0 && $field['prefillValue'] != '__none')): ?>
                                    
                                        <script type="text/javascript">
                                            
                                            jQuery(document).ready(function() {
                                                
                                                AppointmentAssistant.updateSelectedUserBackendImage();
                                                
                                            });
                                            
                                        </script>
                                    
                                    <?php endif; ?>
                                    
                                    <div id="user-backend-image-container"></div>

                                </div>

                                <br style="clear:both">

                            </div>

                        <?php elseif(@$field["type"] == "select"): ?>

                            <div class="form-group form-pager-select">

                                <div class="col-sm-4"><?=$field["title"]?><?php if(@$field["required"] == 'true'): ?><sup>*</sup><?php endif; ?></div>

                                <div class="col-sm-8">

                                    <select class="form-control input-margin" id="<?=$field["identifier"]?>" name="<?=$field["identifier"]?>"<?php if(@$field["required"] == 'true'): ?> required<?php endif;?>>

                                        <option value="__none"<?=((strlen(@$field["prefillValue"]) > 0 && $field['prefillValue'] == '__none') ? ' selected' : '')?>><?=PerisianLanguageVariable::getVariable(10925)?></option>
                                                                                
                                        <?php foreach($field["values"] as $value => $title): ?>
                                        
                                            <option value="<?=$value?>"<?=((strlen(@$field["prefillValue"]) > 0 && $field['prefillValue'] == $value) ? ' selected' : '')?>><?=$title?></option>

                                        <?php endforeach; ?>

                                    </select>

                                </div>

                                <br style="clear:both">

                            </div>

                        <?php elseif(@$field["type"] == "radio"): ?>

                            <div class="form-group form-pager-radio">

                                <div class="col-sm-4"><?=$field["title"]?><?php if(@$field["required"] == 'true'): ?><sup>*</sup><?php endif; ?></div>

                                <div class="col-sm-8" style="padding: 10px 10px 10px 0;">

                                    <?php foreach($field["values"] as $value => $title): ?>
                                    
                                        <span>

                                            <label class="appointment-assistant-item radio-styled radio-primary">

                                                <input type="radio" name="<?=$field["identifier"]?>" id="<?=$field["identifier"]?>" value="<?=$value?>" label="<?=$title?>"<?php if(@$field["required"] == 'true'): ?> required<?php endif;?><?=((strlen(@$field["prefillValue"]) > 0 && $field['prefillValue'] == $value) ? ' checked' : '')?>/>
                                                <span><?=$title?></span>

                                            </label><br/>

                                        </span>

                                    <?php endforeach; ?>

                                </div>

                                <br style="clear:both">

                            </div>

                        <?php elseif(@$field["type"] == "registration_login"): ?>

                            <?php require PerisianFrameworkToolbox::getConfig('basic/project/folder') . '/templates/calsy/frontend/appointment_assistant/registration_login.phtml'; ?>

                        <?php elseif(@$field["type"] == "date_selection"): ?>

                            <?php require PerisianFrameworkToolbox::getConfig('basic/project/folder') . '/templates/calsy/frontend/appointment_assistant/date_selection.phtml'; ?>

                        <?php elseif(@$field["type"] == "approval"): ?>

                            <?php require PerisianFrameworkToolbox::getConfig('basic/project/folder') . '/templates/calsy/frontend/appointment_assistant/approval.phtml'; ?>

                        <?php elseif(@$field["type"] == "multiple-booking"): ?>
                                
                            <?php require PerisianFrameworkToolbox::getConfig('basic/project/folder') . '/templates/calsy/frontend/appointment_assistant/multiple-booking.phtml'; ?>
                                
                        <?php endif; ?>

                        <?php if(@$field["is_additional"]): ?>

                            </div>

                        <?php endif; ?>

                    <?php endforeach; ?>

                    <?php if(!isset($userFrontend) || !$userFrontend->isLoggedIn() && $i == 0): ?>

                        <a class="btn btn-raised btn-primary" style="float: left;" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>?do=l"><?php PerisianLanguageVariable::printVariable(11006); ?></a>
                        
                    <?php endif; ?>
                        
                    <?php if((!isset($userFrontend) || !$userFrontend->isLoggedIn()) && isset($backendUser) && $backendUser->isLoggedIn() && ($backendUser->isAdmin() || $backendUser->hasSetting('is_enabled_show_link_generator_appointment_assistant')) && $i > 0 && $i < 3): ?>

                        <a class="btn btn-raised btn-primary" style="float: left;" href="javascript:AppointmentAssistant.getTabLink()"><?php PerisianLanguageVariable::printVariable('p57add7fdf0f6b'); ?></a>

                    <?php endif; ?>
                        
                    <?php if(CalsyUserFrontendRegistrationAndCalendarModule::isEnabledTileProposals()): ?>

                        <button class="btn btn btn-raised btn-primary appointment-assistant-tile-proposals-btn-show-tiles" type="button"><i class="fa fa-bars"></i> <?=lg('p5e17d13ca559f')?></button>
                        
                    <?php endif; ?>

                    <?php if($i < count($pageFormData) - 1): ?>

                        <button class="btn btn-raised btn-primary btn-next" style="float:right"><?=PerisianLanguageVariable::getVariable(10379)?></button>

                    <?php elseif($i == count($pageFormData) - 1): ?>

                        <button class="btn btn-raised btn-primary btn-next" id="btn-confirm" style="float:right"><?=PerisianLanguageVariable::getVariable(11044)?></button>

                    <?php endif; ?>

                    <?php if($i > 0): ?>

                        <button class="btn btn-raised btn-primary btn-previous" style="float:right; margin-right: 10px;"><?=PerisianLanguageVariable::getVariable(10380)?></button>

                    <?php endif; ?>

                </div>

            <?php endfor; ?>
            
            <?php if((!isset($userFrontend) || !$userFrontend->isLoggedIn()) && isset($backendUser) && $backendUser->isLoggedIn() && ($backendUser->isAdmin() || $backendUser->hasSetting('is_enabled_show_link_generator_appointment_assistant'))): ?>

                <div id="aa-page-link-container">

                    <br style="clear:both;"/><br/>

                    <div class="alert alert-info" style="margin-bottom: 0;">

                        <textarea class="form-control" id="aa-page-link"></textarea>

                    </div>

                </div>
            
            <?php endif; ?>
            
            <br style="clear:both"/>
            
            <?php if(!isset($userFrontend) || !$userFrontend->isLoggedIn()): ?>

                <a id="button-pw-forgotten" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>registration/?do=rp"><?=PerisianLanguageVariable::getVariable(10618)?></a>

            <?php endif; ?>

            <div style="float:right;">* <?=PerisianLanguageVariable::getVariable('p58e3ec69578d8')?></div>

        </div>
        
    </div>

</div>
        
<script type="text/javascript">

    jQuery(document).ready(function() {
        
        PerisianFormPager.areaGroups = <?=json_encode(CalsyAreaGroup::getAreaGroupsWithContentKeys())?>;
        
        AppointmentAssistant.allowBookingsToday = <?=(PerisianSystemSetting::getSettingValue('module_setting_calsy_user_frontend_registration_and_calendar_is_enabled_booking_same_day') == '1' ? 'true' : 'false')?>;
        
        AppointmentAssistant.initialize(null, null, <?=$targetTabIndex?>);
        
    });

</script>

<script type="text/javascript" src="assets/js/libs/TweenMax/TweenMax.min.js"></script>
<script type="text/javascript" src="assets/js/libs/TweenMax/easing/EasePack.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianFormPager.js"></script>
<script type="text/javascript" src="assets/js/front/AppointmentAssistant.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/libs/moment/moment-with-locales.js"></script>

<?php if(PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId()) != 'en'): ?>
<script type="text/javascript" src="assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<?php endif; ?>

<script type="text/javascript" src="assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/calsy/Calendar.js"></script>

<?php 

if(!isset($hideRegistrationHeaderAndFooter) || !$hideRegistrationHeaderAndFooter)
{
    
    require(PerisianFrameworkToolbox::getConfig('basic/project/folder') . "/templates/calsy/frontend/registration/registration_footer.phtml"); 
    
}

?>