<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10776)?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(11005) ?></li>
    </ol>
</div>

<div class="section-body">
    
    <div class="col-sm-9">
        
        <div class="card">
            
            <div class="card-body">
                
                <input type="hidden" id="isUserLoggedIn" value="<?=(isset($userFrontend) && $userFrontend->isLoggedIn() ? "1" : "0")?>">
                
                <?php 
                
                    $hideRegistrationHeaderAndFooter = true;

                    include 'overview.phtml'; 
                
                ?>
                
            </div>
        
        </div>
        
    </div>
    
    <div class="col-sm-3">
        
        <div class="card">
            
            <div class="card-body">
                
                <span class="alert alert-warning" style="display:block; margin-bottom: 0">
                    <?=PerisianLanguageVariable::getVariable(11004)?>
                </span>
                
            </div>
        
        </div>
        
    </div>
        
</div>
