
<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        Validation.securityPasswordPolicy = '<?=$result['security_policy_password']['type']?>';
        
    });
    
</script>

<div class="form-group form-pager-radio" id="registration_login_selector">

    <div class="col-sm-4" style="padding-top: 10px;"><?=PerisianLanguageVariable::getVariable(11031)?></div>

    <div class="col-sm-8" style="padding: 10px 10px 10px 10px;">

        <label class="radio-styled radio-primary">

            <input type="radio" name="is_registered" id="is_registered" value="1" checked/>
            <span><?=PerisianLanguageVariable::getVariable(11032)?></span>

        </label><br/>

        <label class="radio-styled radio-primary">

            <input type="radio" name="is_registered" id="is_registered" value="0"/>
            <span><?=PerisianLanguageVariable::getVariable(11033)?></span>

        </label><br/>

    </div>

    <br style="clear:both"/>

</div>

<div id="aa_login" class="form-group form-pager">

    <div class="form-group form-pager">

        <div class="col-sm-4 form-pager-input-label" style="padding-top: 14px"><?=PerisianLanguageVariable::getVariable(10427)?></div>

        <div class="col-sm-8" style="padding: 10px 10px 0 10px;">

            <input type="text" class="form-control" id="aa_login_email" name="aa_login_email">

        </div>

    </div>
        
    <br style="clear:both"/>

    <div class="form-group form-pager">

        <div class="col-sm-4">
        
            <?=PerisianLanguageVariable::getVariable(10091)?> 
            <a class="btn" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>registration/?do=rp" target="_blank" style="padding-left:2px; padding-right:2px;"><i class="fa fa-question-circle-o"></i></a>
        
        </div>
            
        <div class="col-sm-8" style="padding: 10px 10px 10px 10px;">

            <input type="password" class="form-control" id="aa_login_password" name="aa_login_password">

        </div>

    </div>
        
    <br style="clear:both"/>

    <div class="form-group form-pager">

        <div class="col-sm-12" style="padding: 10px; text-align:center; padding-top: 20px; padding-bottom: 20px;">

            <div class="checkbox checkbox-styled">
                
                <label>

                    <input type="checkbox" class="form-control" id="aa_stay_logged_in" name="aa_stay_logged_in" checked>
                    <?=PerisianLanguageVariable::getVariable(11110)?>

                </label>
                
            </div>

        </div>

    </div>
        
    <br style="clear:both"/>

</div>

<div id="aa_registration" style="display: none">

    <div class="form-group form-pager">

        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label"><?=PerisianLanguageVariable::getVariable(10427)?><sup>*</sup></div>

            <div class="col-sm-8" style="padding: 10px 10px 0 10px;">

                <input type="text" class="form-control" id="aa_registration_email_one" name="aa_registration_email_one">

            </div>

        </div>
        
        <br style="clear:both"/>

        <div class="form-group form-pager">

            <div class="col-sm-4"><?=PerisianLanguageVariable::getVariable(11034)?><sup>*</sup></div>

            <div class="col-sm-8" style="padding: 10px 10px 10px 10px;">

                <input type="text" class="form-control" id="aa_registration_email_two" name="aa_registration_email_two">

            </div>

        </div>
        
        <br style="clear:both"/>
        
    </div>
    
    <div class="form-group form-pager">

        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label"><?=PerisianLanguageVariable::getVariable(10091)?><sup>*</sup></div>

            <div class="col-sm-8" style="padding: 10px 10px 0 10px;">

                <input type="password" class="form-control" id="aa_registration_password_one" name="aa_registration_password_one">

            </div>

        </div>
        
        <br style="clear:both"/>

        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label"><?=PerisianLanguageVariable::getVariable(10092)?><sup>*</sup></div>

            <div class="col-sm-8" style="padding: 10px 10px 10px 10px;">

                <input type="password" class="form-control" id="aa_registration_password_two" name="aa_registration_password_two">

            </div>

        </div>
        
        <br style="clear:both"/>
        
        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label" style="padding-top: 10px !important;">
                
                <i class="fa fa-info-circle"></i>&nbsp;<?=PerisianLanguageVariable::getVariable('p58e3ecb3c22b1')?>:
                
            </div>

            <div class="col-sm-8" style="padding: 10px 10px 10px 10px;">

                <span class="password-info">
                    
                    <?php for($policyIndex = 0; $policyIndex < count($result['security_policy_password']['requirements']); ++$policyIndex): ?>
                        
                    &bull; <?=$result['security_policy_password']['requirements'][$policyIndex]; ?><br/>
                    
                    <?php endfor; ?>
                                        
                </span>

            </div>

        </div>
        
        <br style="clear:both"/>

    </div>

    <div class="form-group form-pager">

        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label" style="padding-top: 14px"><?=PerisianLanguageVariable::getVariable(10560)?><sup>*</sup></div>

            <div class="col-sm-8" style="padding: 10px 10px 0 10px;">

                <input type="text" class="form-control" id="aa_registration_name_first" name="aa_registration_name_first">

            </div>

        </div>
        
        <br style="clear:both"/>

        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label" style="padding-top: 14px"><?=PerisianLanguageVariable::getVariable(10559)?><sup>*</sup></div>

            <div class="col-sm-8" style="padding: 10px 10px 0 10px;">

                <input type="text" class="form-control" id="aa_registration_name_second" name="aa_registration_name_second">

            </div>

        </div>
        
        <br style="clear:both"/>

        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label" style="padding-top: 14px"><?=PerisianLanguageVariable::getVariable(10830)?></div>

            <div class="col-sm-8" style="padding: 10px 10px 0 10px;">

                <select class="form-control" id="aa_registration_sex" name="aa_registration_gender">

                    <option value="none" selected><?=PerisianLanguageVariable::getVariable(10833)?></option>
                    <option value="male"><?=PerisianLanguageVariable::getVariable(10831)?></option>
                    <option value="female"><?=PerisianLanguageVariable::getVariable(10832)?></option>

                </select>

            </div>

        </div>
        
        <br style="clear:both"/>

        <div class="form-group form-pager">

            <div class="col-sm-4 form-pager-input-label" style="padding-top: 14px"><?=PerisianLanguageVariable::getVariable(10486)?><sup>*</sup></div>

            <div class="col-sm-8" style="padding: 10px 10px 10px 10px;">

                <input type="text" class="form-control" id="aa_registration_phone" name="aa_registration_phone">

            </div>

        </div>
        
        <br style="clear:both"/>
        
        <div align="center" class="form-group" style="padding-top: 30px;">
            
            <div class='checkbox checkbox-styled'>
                <label>
                    <input type="checkbox" value="1" id="registration_gtc">
                    <span><?=PerisianLanguageVariable::printVariable(11062)?> <a href='javascript:AppointmentAssistant.showGtc()'><?=PerisianLanguageVariable::printVariable(11063)?></a></span>
                </label>
            </div>
            
        </div>
        
        <br style="clear:both"/>

    </div>

</div>