<div id="appointment-assistant-tile-proposals-box">

    <div id="appointment-assistant-tile-proposals">

        <h3><?=lg('p5e17d13ca559f')?></h3>

        <div id="appointment-assistant-tile-proposal-container">

            <div class="loading-indicator"></div>

        </div>

        <script type="text/javascript" src="assets/js/calsy/AppointmentAssistantTileProposals.js"></script>

        <script type="text/javascript">

            jQuery(document).ready(function() {

                AppointmentAssistantTileProposals.init('<?=(int)$_REQUEST["ag"]?>');

            });

        </script>

        <style type="text/css">
            
            <?php if($_REQUEST['action'] != 'jump'): ?>

                #appointment-assistant
                {

                    display: none;

                }

            <?php else: ?>
                
                #appointment-assistant-tile-proposals-box
                {

                    display: none;

                }
            
            <?php endif; ?>
            
        </style>

    </div>
    
    <?php if(!isset($_REQUEST["ag"]) || (int)$_REQUEST["ag"] <= 0): ?>
    
        <button id="appointment-assistant-tile-proposals-btn-find" class="btn btn btn-raised btn-primary" type="button"><i class="fa fa-search"></i> <?=lg('p5e17e80727afb')?></button>
        
    <?php endif; ?>
    
    <button id="appointment-assistant-tile-proposals-btn-next" class="btn btn btn-raised btn-primary" type="button"><i class="fa fa-chevron-right"></i> <?=lg('11138')?></button>
    <button id="appointment-assistant-tile-proposals-btn-previous" class="btn btn btn-raised btn-primary" type="button"><i class="fa fa-chevron-left"></i> <?=lg('11137')?></button>
    
</div>