<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
         
    });
    
</script>

<div class="modal-header">

    <span style="float:right">
        
        <button type="button" class="close" style="margin-left: 14px; padding-top: 0px; position: relative; top: 3px; float: none;" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    </span>
    
    <h4 class="modal-title" id="formModalLabel">
        
        <?=$result['title_form']?>
        
    </h4>
    
</div>

<div class="form-horizontal" id="calendar-form-main" role="form">

    <div class="modal-body">

        <div class="form-group">
            
            <div class="col col-lg-12">
            
                <?=nl2br($result['message'])?>
                
            </div>
            
        </div>

    </div>
    
    
</div>

<div class="modal-footer">
        
    <span id="button-group-extra">
        
        <button type="button" class="btn btn-primary" class="cancelButton" onclick="AppointmentAssistant.closeModal()"><?=PerisianLanguageVariable::getVariable(10069)?></button>
    
    </span>
    
</div>
