<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
    
        <input type="hidden" id="editId" value="<?=$editId?>">
        
    <?php endif ?>
    
    <div class="modal-body info-bar"><?=lg(11024)?></div>

    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="<?=$result['object']->field_title?>"><?=lg(10848)?></label>
                <input type="text" id="<?=$result['object']->field_title?>" class="form-control" name="<?=$result['object']->field_title?>" value="<?=($action == 'edit' ? $result['object']->{$result['object']->field_title} : '')?>"/>

            </div>     
            
        </div>
                        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="<?=$result['object']->field_description?>"><?=lg('10268')?></label>
                <textarea type="text" id="<?=$result['object']->field_description?>" class="form-control" name="<?=$result['object']->field_description?>" required><?=($action == 'edit' ? $result['object']->{$result['object']->field_description} : '')?></textarea>

            </div>
                        
        </div> 
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="<?=$result['object']->field_address?>"><?=lg('p5f7165188f8ca')?></label>
                <textarea type="text" id="<?=$result['object']->field_address?>" class="form-control" name="<?=$result['object']->field_address?>" required><?=($action == 'edit' ? $result['object']->{$result['object']->field_address} : '')?></textarea>

            </div>
                        
        </div>
        
        <div class="form-group" style="margin-bottom: 0">
            
            <div class="col-sm-12">

                <label for="<?=$result['object']->field_image?>"><?=$result['field_location_image']["title"]?></label>

                <form action="<?=$result['field_location_image']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_location_image']["name"]?>">

                    <input type="hidden" name="do" value="uploadImage"/>
                    <input type="hidden" name="subjectId" id="subjectId" value="<?=$result['entry']->{$result['entry']->field_pk} ?>">
                    <input type="hidden" name="setting" value="<?=$result['field_location_image']["name"]?>"/>

                    <div class="dz-message">
                        
                        <h3><?=lg(10953)?></h3>
                        <em><?=lg(10662)?></em>
                        
                    </div>

                    <input type="hidden" id="<?=$result['field_location_image']["name"]?>_filename" value="<?=$result['field_location_image']["image"]["name"]?>"/>

                </form>
                
            </div>

            <script type="text/javascript">

                /**
                 * Fired after a succesful upload.
                 * 
                 * @author Peter Hamm
                 * @param Object data
                 * @param Object response
                 * @returns void
                 */
                var onDropzoneUploadSuccess = function(data, response) 
                {

                    var callback = JSON.parse(response);

                    if(!callback.success)
                    {

                        toastr.error(callback.message);

                    }
                    else
                    {
                    
                        jQuery('#<?=$result['field_location_image']["name"]?>_filename').val(callback.file);

                        toastr.success(callback.message);

                    }

                    return callback;

                };

                /**
                 * Fired after removing an upload.
                 * 
                 * @author Peter Hamm
                 * @param Object file
                 * @returns void
                 */
                var onDropzoneUploadRemoved = function(file)
                {

                    var settingId = jQuery(this.element).attr('id').replace('form_', '');
                    
                    jQuery('#<?=$result['field_location_image']["name"]?>_filename').val('');

                    SystemSettings.resetUpload(settingId);

                };

                jQuery(document).ready(function() {

                    var dropzone = new Dropzone('#form_<?=$result['field_location_image']["name"]?>', {

                        uploadMultiple: false,
                        maxFiles: 1,

                        init: function () {

                            var thisDropzone = (this);

                            thisDropzone.on('success', onDropzoneUploadSuccess);
                            thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                            thisDropzone.on("addedfile", function(file) {

                                file.previewElement.addEventListener("click", function() {

                                    if(confirm(Language.getLanguageVariable(11131)))
                                    {

                                        thisDropzone.removeFile(file);

                                    }

                                });

                            });

                            <?php if(strlen($result['field_location_image']["image"]["name"]) > 0): ?>

                                var currentFile = { 

                                    name: "<?=$result['field_location_image']["image"]["name"]?>", 
                                    size: <?=$result['field_location_image']["image"]["filesize"]?>, 
                                    type: "<?=$result['field_location_image']["image"]["type"]?>",
                                    url: '<?=$result['field_location_image']["image"]["url"]?>',
                                    status: Dropzone.ADDED,
                                    accepted: true

                                };

                                thisDropzone.emit("addedfile", currentFile);
                                thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_location_image']["image"]["url"]?>');
                                thisDropzone.emit("complete", currentFile);

                                thisDropzone.files.push(currentFile);

                            <?php endif; ?>

                        }

                    });

                });

            </script>

        </div>
                
    </div>
            
    <script type="text/javascript">

        jQuery(document).ready(function() {
            
            TableReservationLocation.initEditLocation();

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="TableReservationLocation.cancel()"><?=lg(10056)?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="TableReservationLocation.saveLocation()"><i class="md md-save"></i> <?=lg(10055)?></button>

</div>