<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
    
        <input type="hidden" id="editId" value="<?=$editId?>">
        
    <?php endif ?>
    
    <div class="modal-body info-bar"><?=lg(11024)?></div>

    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="<?=$result['object']->field_title?>"><?=lg(10848)?></label>
                <input type="text" id="<?=$result['object']->field_title?>" class="form-control" name="<?=$result['object']->field_title?>" value="<?=($action == 'edit' ? $result['object']->{$result['object']->field_title} : '')?>"/>

            </div>     
            
        </div>
               
        <div class="form-group">
            
            <div class="col-sm-12">

                <label for="<?=$result['object']->field_capacity?>"><?=lg('p5f6d3409f171e')?></label>
                <input type="number" id="<?=$result['object']->field_capacity?>" class="form-control" name="<?=$result['object']->field_capacity?>" value="<?=($action == 'edit' ? $result['object']->{$result['object']->field_capacity} : '')?>"/>

            </div>     
            
        </div>
                        
    </div>
            
    <script type="text/javascript">

        jQuery(document).ready(function() {
            
            TableReservationTable.initEditTable();

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="TableReservationTable.cancel()"><?=lg(10056)?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="TableReservationTable.saveTable()"><i class="md md-save"></i> <?=lg(10055)?></button>

</div>