<td>
        
    <a href="javascript:TableReservationTable.editTable(<?=PerisianFrameworkToolbox::security($currentEntry[$result['dummy']->field_pk])?>);">
        <b><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry[$result['dummy']->field_title])?></b>
    </a>
    
</td>

<td>
    
    <?php
        
        $fieldList = [];
                
        // Capacity
        {
            
            $capacityString = str_replace("%1", $currentEntry[$result['dummy']->field_capacity], lg('p5f6d339bc665e'));
            
            array_push($fieldList, $capacityString);
            
        }
                
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="TableReservationTable.editTable(<?=PerisianFrameworkToolbox::security($currentEntry[$result['dummy']->field_pk])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5f6d33c977775')?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="TableReservationTable.deleteTable(<?=PerisianFrameworkToolbox::security($currentEntry[$result['dummy']->field_pk])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5f6d33d48cf6f')?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
