<td>
        
    <a href="javascript:TableReservationLocation.displayLocation(<?=PerisianFrameworkToolbox::security($currentEntry[$result['dummy']->field_pk])?>);">
        <b><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry[$result['dummy']->field_title])?></b>
    </a>
    
</td>

<td>
    
    <?php
            
        $fieldList = [];
        
        // Amount of tables
        {
            
            $tableString = str_replace("%1", $currentEntry['number_tables'], lg('p5f6cf9eb856b1'));
            
            array_push($fieldList, $tableString);
            
        }
        
        // Overall capacity
        {
            
            $capacityString = str_replace("%1", $currentEntry['overall_capacity'], lg('p5f6d238f37498'));
            
            array_push($fieldList, $capacityString);
            
        }
                
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="TableReservationLocation.displayLocation(<?=PerisianFrameworkToolbox::security($currentEntry[$result['dummy']->field_pk])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5f6d2c1c7ae33')?>"><i class="fa fa-coffee"></i></button>
        
        <button onclick="TableReservationLocation.editLocation(<?=PerisianFrameworkToolbox::security($currentEntry[$result['dummy']->field_pk])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5f6cefd78ad94')?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="TableReservationLocation.deleteLocation(<?=PerisianFrameworkToolbox::security($currentEntry[$result['dummy']->field_pk])?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=lg('p5f6cf99e403b4')?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
