<?php if($action == "list"): ?>

    <script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>

<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=lg('p5f6cf438c0849')?></b>
            
            <?php require "list_location_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 30%">
                                <a href="javascript:void(0)" onclick="TableReservationLocation.toggleSorting('calsy_table_reservation_location_title')"><?=lg('10848')?></a>
                            </th>
                            
                            <th style="width: 30%">
                                <?=lg(10826)?>
                            </th>
                                                                                    
                            <th style="width: 10%" class="text-right"><?=lg(10077)?></th>
                            
                        </tr>

                    </thead>
                    
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <tr id="table_info_table_reservation_location_<?=$currentEntry['calsy_table_reservation_location_id']?>">

                                <?php require('list_location_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_location_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
