<?php if($action == "list"): ?>

    <script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>

<?php endif; ?>

<?php if(count($result['list']) == 0): ?>
    
    <div class="col-lg-12">
        
        <span class="alert alert-block alert-info"><?=nl2br(lg('p5f6d4032e1549'))?>
        
    </div>

<?php else: ?>

    <div class="col-lg-12">

        <div class="card">

            <div class="card-body">

                <b class="text-xl"><?=lg('p5f6d34ca31727')?></b>

                <?php require "list_table_navigation.phtml"; ?>

                <div class="table-responsive">

                    <table class="table table-hover">

                        <thead>

                            <tr>

                                <th style="width: 30%">
                                    <a href="javascript:void(0)" onclick="TableReservationTable.toggleSorting('calsy_table_reservation_table_title')"><?=lg('10848')?></a>
                                </th>

                                <th style="width: 30%">
                                    <?=lg(10826)?>
                                </th>

                                <th style="width: 10%" class="text-right"><?=lg(10077)?></th>

                            </tr>

                        </thead>

                        <tbody>

                            <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>

                                <tr id="table_info_table_reservation_table_<?=$currentEntry['calsy_table_reservation_table_id']?>">

                                    <?php require('list_table_entry_view.phtml'); ?>

                                </tr>

                            <?php endfor; ?>

                        </tbody>

                    </table>

                </div>

                <?php require "list_table_navigation.phtml"; ?>

            </div>

        </div>

    </div>

<?php endif; ?>