<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/TableReservationLocation.js"></script>
<script type="text/javascript" src="../assets/js/libs/dropzone/dropzone.min.js"></script>

<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        TableReservationLocation.currentOffset = <?php echo $result['offset'] ?>;
        TableReservationLocation.currentLimit = <?php echo $result['limit'] ?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li><?=lg('p5f69064970ff0')?></li>
        
        <li><?=lg('p5f6d3186ed87a')?></li>
        
        <li class="active"><?=lg(10303)?></li>
        
    </ol>
    
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyTableReservationModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                
                <div class="alert alert-danger"><b><?=lg(11119)?>:</b> <?=lg(11118)?></div>
                
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                
                                <label for="search"><?=lg(10494)?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {TableReservationLocation.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="TableReservationLocation.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                
                            </div>
                                                        
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="TableReservationLocation.showEntries(null, null, null, null, true);" type="button" style="position:relative; top: 0px;"><i class="md md-search"></i> <?=lg(10041)?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="TableReservationLocation.createNewLocation()" type="button">
                                
                                <span class="md md-description"></span> <?=lg('p5f6cefc88e510') ?>
                                
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            
            <?php require("list_location.phtml"); ?>
            
        </div>

    </div>
    
</div>