<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/TableReservationTable.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        TableReservationTable.currentOffset = <?=$result['offset']?>;
        TableReservationTable.currentLimit = <?=$result['limit']?>;
        
        TableReservationTable.locationId = <?=$result['location_filter']?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li>
            
            <a href="<?=PerisianFrameworkToolbox::getServerAddress()?>table_reservation/overview/"><?=lg('p5f69064970ff0')?></a>
        
        </li>
        
        <li><?=str_replace("%1", $result['location']->{$result['location']->field_title}, lg('p5f6d342fd1b2f'))?></li>
        
        <li class="active"><?=lg('p5f6d34577eba2')?></li>
        
    </ol>
    
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyTableReservationModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                
                <div class="alert alert-danger"><b><?=lg(11119)?>:</b> <?=lg(11118)?></div>
                
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                
                                <label for="search"><?=lg(10494)?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {TableReservationTable.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="TableReservationTable.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                
                            </div>
                                                        
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="TableReservationTable.showEntries(null, null, null, null, true);" type="button" style="position:relative; top: 0px;"><i class="md md-search"></i> <?=lg(10041)?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="TableReservationTable.goToLocationOverview()" type="button">
                                
                                <span class="fa fa-coffee"></span> <?=lg('p5f6d3add6f27d') ?>
                                
                            </button>
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="TableReservationTable.createNewTable()" type="button">
                                
                                <span class="md md-description"></span> <?=lg('p5f6d330983885') ?>
                                
                            </button>
                            
                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            
            <?php require("list_table.phtml"); ?>
            
        </div>

    </div>
    
</div>