<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if($action == 'edit'): ?>
    <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
    <?php endif ?>
        
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10850) ?></div>

    <div class="modal-body">

        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_office_name"><?php PerisianLanguageVariable::printVariable(10937) ?></label>
                <input type="text" id="calsy_supplier_office_name" class="form-control" name="calsy_supplier_office_name" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_office_name}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-3">

                <label for="calsy_supplier_title"><?php PerisianLanguageVariable::printVariable(10848) ?></label>
                <input type="text" id="calsy_supplier_title" class="form-control" name="calsy_supplier_title" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_title}; endif?>"/>

            </div>
            <div class="col-sm-9">

                <label for="calsy_supplier_fullname"><?php PerisianLanguageVariable::printVariable(10166) ?></label>
                <input type="text" id="calsy_supplier_fullname" class="form-control" name="calsy_supplier_fullname" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_fullname}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_contact_email"><?php PerisianLanguageVariable::printVariable(10208) ?></label>
                <input type="text" id="calsy_supplier_contact_email" class="form-control" name="calsy_supplier_contact_email" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_contact_email}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-6">

                <label for="calsy_supplier_contact_phone_number"><?php PerisianLanguageVariable::printVariable(10486) ?></label>
                <input type="text" id="calsy_supplier_contact_phone_number" class="form-control" name="calsy_supplier_contact_phone_number" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_contact_phone_number}; endif?>"/>

            </div>
            <div class="col-sm-6">

                <label for="calsy_supplier_contact_fax"><?php PerisianLanguageVariable::printVariable(10562) ?></label>
                <input type="text" id="calsy_supplier_contact_fax" class="form-control" name="calsy_supplier_contact_fax" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_contact_fax}; endif?>"/>

            </div>
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10512) ?></div>
    
    <div class="modal-body">
        
        <div class="form-group">
            <div class="col-sm-9">

                <label for="calsy_supplier_address_street"><?php PerisianLanguageVariable::printVariable(10175) ?></label>
                <input type="text" id="calsy_supplier_address_street" class="form-control" name="calsy_supplier_address_street" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_street}; endif?>"/>

            </div>
            <div class="col-sm-3">

                <label for="calsy_supplier_address_street_number"><?php PerisianLanguageVariable::printVariable(10554) ?></label>
                <input type="text" id="calsy_supplier_address_street_number" class="form-control" name="calsy_supplier_address_street_number" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_street_number}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_address_additional"><?php PerisianLanguageVariable::printVariable(10555) ?></label>
                <input type="text" id="calsy_supplier_address_additional" class="form-control" name="calsy_supplier_address_additional" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_additional}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-3">

                <label for="calsy_supplier_address_zip"><?php PerisianLanguageVariable::printVariable(10849) ?></label>
                <input type="text" id="calsy_supplier_address_zip" class="form-control" name="calsy_supplier_address_zip" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_zip}; endif?>"/>

            </div>
            <div class="col-sm-9">

                <label for="calsy_supplier_address_city"><?php PerisianLanguageVariable::printVariable(10557) ?></label>
                <input type="text" id="calsy_supplier_address_city" class="form-control" name="calsy_supplier_address_city" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_city}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_address_country"><?php PerisianLanguageVariable::printVariable(10177) ?></label>
                <input type="text" id="calsy_supplier_address_country" class="form-control" name="calsy_supplier_address_country" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_address_country}; endif?>"/>

            </div>
        </div>

    </div>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(10888) ?></div>
        
    <div class="modal-body">
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_area"><?php PerisianLanguageVariable::printVariable(10889) ?></label>
                <input type="text" id="calsy_supplier_area" class="form-control" name="calsy_supplier_area" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_area}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_area_additional"><?php PerisianLanguageVariable::printVariable(10890) ?></label>
                <input type="text" id="calsy_supplier_area_additional" class="form-control" name="calsy_supplier_area_additional" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_area_additional}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_responsible_chamber"><?php PerisianLanguageVariable::printVariable(10938) ?></label>
                <input type="text" id="calsy_supplier_responsible_chamber" class="form-control" name="calsy_supplier_responsible_chamber" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_responsible_chamber}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_supplier_association"><?php PerisianLanguageVariable::printVariable(10939) ?></label>
                <input type="text" id="calsy_supplier_association" class="form-control" name="calsy_supplier_association" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_association}; endif?>"/>

            </div>
        </div>
        
    </div>
    
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="Supplier.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="Supplier.saveSupplier()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>