<td>
        
    <?php if(strlen($currentEntry['calsy_supplier_office_name']) > 0): ?>
    
        <b><a href="javascript:Supplier.editSupplier(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_supplier_id']) ?>)" onclick=""><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_office_name'])?></a></b><br/>
    
    <?php endif; ?>
    
    <b><a href="javascript:Supplier.editSupplier(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_supplier_id']) ?>)" onclick=""><?=$currentEntry['calsy_supplier_title']?> <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_fullname'])?></a></b><br/>
    
    <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_address_street'])?> <?=$currentEntry['calsy_supplier_address_street_number']?><br/>
    
    <?php if(strlen($currentEntry['calsy_supplier_address_additional']) > 0): ?>
    
        <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_address_additional'])?><br/>
    
    <?php endif; ?>
        
    <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_address_zip'])?> <?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_address_city'])?>
        
    <?php if(strlen($currentEntry['calsy_supplier_address_country']) > 0): ?>
    
        <br/><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_address_country'])?>
    
    <?php endif; ?>
        
    <span class="table-info-additional">

        <?php

            $fieldList = Array();

            if(false)
            {

                //array_push($fieldList, "");

            }

            echo implode("<br/>", $fieldList); 

        ?>

    </span>

</td>

<td>
    
    <?php
    
        $fieldList = [];
    
        if(strlen($currentEntry['calsy_supplier_contact_phone_number']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10486) . ": " . $currentEntry['calsy_supplier_contact_phone_number']);
            
        }
        
        if(strlen($currentEntry['calsy_supplier_contact_fax']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10562) . ": " . $currentEntry['calsy_supplier_contact_fax']);
    
        }
        
        if(strlen($currentEntry['calsy_supplier_contact_email']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10208) . ": " . $currentEntry['calsy_supplier_contact_email']);
    
        }
        
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td>
    
    
    <?php
    
    
        $fieldList = [];
    
        if(strlen($currentEntry['calsy_supplier_area']) > 0 || strlen($currentEntry['calsy_supplier_area_additional']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10889) . ": " . implode(", ", array(PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_area']), PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_supplier_area_additional']))));
            
        }
        
        echo implode("<br/>", $fieldList) . (count($fieldList) > 0 ? "<br/>" : ""); 
    
    ?>
    
    <?php if(CalsyOrderModule::isEnabled()): ?>
        <a href="<?=PerisianFrameworkToolbox::getServerAddress()?>order/overview/?d=<?=$currentEntry['calsy_supplier_id']?>"><?=PerisianLanguageVariable::getVariable(10837)?> <?=CalsyOrder::getOrderCount(array("supplierId" => $currentEntry['calsy_supplier_id']))?></a>
    <?php endif; ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="Supplier.editSupplier(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_supplier_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10847) ?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="Supplier.deleteSupplier(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_supplier_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10846) ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
