<?php if(PerisianSystemSetting::getSettingValue('frontend_show_welcome_image') == 1 && isset($result['url_image_welcome'])): ?>

    <img class="welcome-image" src="<?=$result['url_image_welcome']?>">
    <br/><br/>

<?php endif; ?>