<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if($do == 'edit'): ?>
    
        <input type="hidden" id="editId" value="<?=$result['id']?>">
        
    <?php endif ?>
    
    <?php for($i = 0, $m = count($result['list_languages']); $i < $m; ++$i): ?>

        <div name="variable"<?php if($i > 0): ?> style="display:none"<?php endif ?>>

            <div class="modal-body">

                <div class="form-group">

                    <input name="variableLanguage" type="hidden" value="<?php echo $result['list_languages'][$i]['language_id'] ?>"/>

                    <div class="col-sm-12" >

                        <label for="variableContent"><?php PerisianLanguageVariable::printVariable(10044) ?> <?=$result['list_languages'][$i]['language_name']?></label>
                        <textarea style="width: 100%; height: 230px" type="text" class="form-control" id="variableContent" name="variableContent"><?=($do == 'edit' ? $result['list_variables'][$result['list_languages'][$i]['language_id']] : '')?></textarea>

                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <?php if($i != 0): ?>
                    <button type="button" class="btn btn-primary-bright" onclick="LanguageVariable.showEditLanguage(<?php echo ($i-1) ?>)"><i class="md md-navigate-before"></i> <?=$result['list_languages'][($i-1)]['language_name']?></button>
                <?php endif; ?>

                <?php if($i != ($m-1)): ?>
                    <button type="button" class="btn btn-primary-bright" onclick="LanguageVariable.showEditLanguage(<?php echo ($i+1) ?>)"><?=$result['list_languages'][($i+1)]['language_name']?> <i class="md md-navigate-next"></i></button>
                <?php endif; ?>

            </div>

        </div>

    <?php endfor; ?>

    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" id="cancelButton" onclick="LanguageVariable.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
        <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="LanguageVariable.saveVariable()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>
    
    </div>
    
</form>