<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?php PerisianLanguageVariable::printVariable(10036); ?></b>
            
            <?php if($result['offset'] + $result['limit'] < $result['count']): ?>
            
                <button class="btn btn-primary-bright ink-reaction"
                        type="button"
                        onclick="LanguageVariable.showEntries(<?=($result['offset'] + $result['limit'])?>, <?=$result['limit']?>)"
                        style="float: right; margin-left: 5px; margin-bottom:5px;"><?php PerisianLanguageVariable::printVariable(10043) ?> <i class="md md-navigate-next"></i></button>
                        
            <?php endif ?>
            
            <?php if($result['offset'] - $result['limit'] >= 0): ?>
            
                <button class="btn btn-primary-bright ink-reaction"
                        type="button"
                        onclick="LanguageVariable.showEntries(<?=($result['offset'] - $result['limit'])?>, <?=$result['limit'] ?>)"
                        style="float: right; margin-bottom:5px;"><i class="md md-navigate-before"></i> <?php PerisianLanguageVariable::printVariable(10042) ?></button>
                        
            <?php endif ?>
            
            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 10%"><?php PerisianLanguageVariable::printVariable(10074) ?></th>

                            <?php foreach($result['list'] as $languageKeyId => $languageVariableList): ?>
                            
                                <th style="width: 36%"><?php echo PerisianLanguage::getLanguageName($languageKeyId) ?></th>
                                
                            <?php endforeach ?>

                            <th class="text-right" style="width: 18%"><?php PerisianLanguageVariable::printVariable(10077) ?></th>

                        </tr>

                    </thead>
                    <tbody>
                        
                        <?php for($i = 0, $m = count($result['list'][$result['language_one']]); $i < $m; ++$i): ?>

                            <tr <?php if($i % 2 != 0): ?>class="odd"<?php endif?>>

                                <td>

                                    <?php if(strlen(@$result['list'][$result['language_one']][$i]['language_variable_unique_sub_id']) > 0): ?>

                                        <span class="alert alert-block alert-success alert-success-language-variable language-variable-id-container"><?=$result['list'][$result['language_one']][$i]['language_variable_unique_sub_id']?></span>

                                    <?php else: ?>

                                        <span class="alert alert-block alert-success alert-success-language-variable"><?=$result['list'][$result['language_one']][$i]['language_variable_unique_sub_id']?></span>

                                    <?php endif; ?>

                                </td>

                                <?php foreach($result['list'] as $languageKeyId => $languageVariableList): ?>

                                    <td><?=($result['list'][$languageKeyId][$i]['language_variable_content'])?></td>

                                <?php endforeach ?>

                                <td class="text-right">

                                    <button onclick="LanguageVariable.editVariable('<?=($result['list'][$result['language_one']][$i]['language_variable_unique_sub_id'])?>');" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10071) ?>"><i class="fa fa-pencil"></i></button>
                                    <button onclick="LanguageVariable.deleteVariable('<?=($result['list'][$result['language_one']][$i]['language_variable_unique_sub_id'])?>');" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10070) ?>"><i class="fa fa-trash-o"></i></button>

                                </td>

                            </tr>

                        <?php endfor ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php if($result['offset'] + $result['limit'] < $result['count']): ?>
            
                <button class="btn btn-primary-bright ink-reaction"
                        type="button"
                        onclick="LanguageVariable.showEntries(<?=($result['offset'] + $result['limit'])?>, <?=$result['limit']?>)"
                        style="float: right; margin-left: 5px; margin-bottom:5px;"><?php PerisianLanguageVariable::printVariable(10043) ?> <i class="md md-navigate-next"></i></button>
                        
            <?php endif ?>
            
            <?php if($result['offset'] - $result['limit'] >= 0): ?>
            
                <button class="btn btn-primary-bright ink-reaction"
                        type="button"
                        onclick="LanguageVariable.showEntries(<?=($result['offset'] - $result['limit'])?>, <?=$result['limit'] ?>)"
                        style="float: right; margin-bottom:5px;"><i class="md md-navigate-before"></i> <?php PerisianLanguageVariable::printVariable(10042) ?></button>
                        
            <?php endif ?>
            
        </div>
        
        <script type="text/javascript">
            
            jQuery(document).ready(function() {
                
                jQuery('.language-variable-id-container').click(function() {
                    
                    var clickedElement = jQuery(this);
                    
                    Perisian.copyToClipboard(clickedElement.html());
                                        
                });
                
            });
    
        </script>

    </div>
    
</div>