<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/LanguageVariable.js"></script>
<script type="text/javascript" src="../assets/js/libs/clipboard/clipboard.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        LanguageVariable.currentOffset = <?=$result['offset']?>;
        LanguageVariable.currentLimit = <?=$result['limit']?>;
        
        LanguageVariable.showConfirmationOnSave = <?=($user->isDeveloper() ? 'true' : 'false')?>;
  
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li><?php PerisianLanguageVariable::printVariable(10021) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10018) ?></li>
        
    </ol>
    
</div>

<div class="section-body">

    <div id="inner">

        <div class="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">

                            <div class="form-group">
                                
                                <select onchange="LanguageVariable.checkSelectedLanguages()" id="languageOne" name="languageOne" class="form-control language">

                                    <?php for($i = 0, $m = count($result['list_languages']); $i < $m; ++$i): ?>
                                    
                                        <option value="<?=$result['list_languages'][$i]['language_id']?>"
                                                style="background-image:url(assets/img/flags/<?=$result['list_languages'][$i]['language_code']?>.png); padding-left:21px"
                                                <?php if($result['list_languages'][$i]['language_id'] == $result['language_one']): ?>selected<?php endif ?>>
                                            
                                            <?=$result['list_languages'][$i]['language_name'] ?>
                                            
                                        </option>

                                    <?php endfor; ?>

                                </select>
                                
                                <label for="languageOne"><?php PerisianLanguageVariable::printVariable(10038) ?></label>
                                
                            </div>
                            
                            <div class="form-group">
                                
                                <select onchange="LanguageVariable.checkSelectedLanguages()" id="languageTwo" name="languageTwo" class="form-control language">

                                    <?php for($i = 0, $m = count($result['list_languages']); $i < $m; ++$i): ?>
                                    
                                        <option value="<?=$result['list_languages'][$i]['language_id'] ?>"
                                                style="background-image:url(assets/img/flags/<?=$result['list_languages'][$i]['language_code'] ?>.png); padding-left:21px"
                                                <?php if($result['list_languages'][$i]['language_id'] == $result['language_two']): ?>selected<?php endif ?>>
                                            
                                            <?=$result['list_languages'][$i]['language_name'] ?>
                                            
                                        </option>
                                        
                                    <?php endfor; ?>

                                </select>
                                
                                <label for="languageTwo"><?=PerisianLanguageVariable::getVariable(10039) ?></label>
                                
                            </div>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="height: 192px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?=PerisianLanguageVariable::getVariable(10494)?></label>
                                <input type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {LanguageVariable.showEntries(true, null, true); return false;} ">
                                <button class="btn btn-default btn-clear" type="button" callback="LanguageVariable.showEntries(true, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="LanguageVariable.showEntries(true, null, true)" type="button" style="position:relative; top:15px;"><i class="md md-search"></i> <?=PerisianLanguageVariable::getVariable(10041)?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">

                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="LanguageVariable.createNewVariable()" type="button">
                                <i class="md md-description"></i> <?php PerisianLanguageVariable::printVariable(10035) ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            
            <?php require("list.phtml"); ?>
            
        </div>

    </div>
    
</div>