<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=PerisianLanguageVariable::getVariable(11102)?></h4>
    
</div>

<form action="#" class="form-horizontal" role="form">
    
    <div class="modal-body">

        <div class="form-group" style="margin-bottom: 0;">

            <div class="col-sm-12" >

                <label for="search"><?=PerisianLanguageVariable::getVariable(10494)?></label>
                <input style="width: 100%; " type="text" class="form-control btn-clear-field dirty static" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {LanguageVariable.loadModalListEntries(); return false} "/>
                
            </div>

        </div>
        
        <button class="btn btn-primary-bright btn-block ink-reaction" onclick="LanguageVariable.loadModalListEntries()" type="button" style="margin-top: 15px;"><i class="md md-search"></i> <?=PerisianLanguageVariable::getVariable(10041)?></button>

    </div>
    
    <div class="modal-footer" id="modal_list_container" style="display: none;"></div>

    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" id="cancelButton" onclick="LanguageVariable.cancel()"><?php PerisianLanguageVariable::printVariable(10495) ?></button>
    
    </div>
    
</form>