
<div class="form-group" style="margin-bottom: 0;">

    <?php if(strlen($result['search']) == 0 || $result['count'] == 0): ?>

        <div class="col-sm-12" style="text-align:center">

            <?=PerisianLanguageVariable::getVariable(strlen($result['search']) == 0 ? 11103 : 10787)?>

        </div>

    <?php else: ?>
    
        <?php if(@$result['list']): ?>

            <?php foreach($result['list'] as $key => $variableListEntry): ?>

                <div class="language-variable-modal-list-entry">

                    <div class="col-sm-9" style="text-align:left; vertical-align: middle;">
                        
                        <?=$variableListEntry['language_variable_content']?>

                    </div>

                    <div class="col-sm-3" style="text-align:center">

                        <button class="btn btn-primary-bright button-take-over" data-id="<?=(strlen($variableListEntry['language_variable_unique_sub_id']) > 0 ? $variableListEntry['language_variable_unique_sub_id'] : $variableListEntry['language_variable_unique_sub_id'])?>"><?=PerisianLanguageVariable::getVariable(11104)?></button>

                    </div>

                    <br style="clear:both"/>

                </div>

            <?php endforeach; ?>

        <?php endif; ?>
    
    <?php endif; ?>

</div>