<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title']?></h4>
    
</div>

<div class="modal-body">
    
    <span id="language-variable-result-message"><?=$result['message']?></span>

</div>    

<div class="modal-footer">
        
    <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="LanguageVariable.cancel()"><?php PerisianLanguageVariable::printVariable(10069) ?></button>
    
</div>

<script type="text/javascript">

    jQuery(document).ready(function() {
                
        jQuery('#language-variable-result-message').click(function() {
            
            Perisian.copyToClipboard("<?=$result['id']?>");
            
        });
        
    });

</script>