
<div class="modal fade" id="modalContainer" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content"></div>

    </div>

</div>
