<?php require("registration_header.phtml"); ?>

<script type="text/javascript">

    jQuery(document).ready(function() {

        Login.initialize();

    });

</script>

<div class="col-lg-12">
    
    <?php require 'element/welcome_image.phtml'; ?>
    
    <span class="text-lg text-bold text-primary"><?=$settings->getSetting(23) ?></span>

    <?php if($isFailedLoginAttempt): ?>

        <span class="alert alert-danger" style="display: block;">

            <i class="fa fa-exclamation-circle text-danger"></i> <span class="text-danger"><?php PerisianLanguageVariable::printVariable($userFrontend->{$userFrontend->field_registration_status} == 'inactive' ? 10876 : 10635);?></span>

        </span>
    
    <?php endif; ?>
    
    <div id="login-set-password-error" style="display: none;">

        <span class="alert alert-danger" style="display: block"></span>

    </div>

    <span class="alert alert-custom" style="display:block; padding: 0px; margin-bottom: 0px;" id="login-box">
        
        <span id="login-box-header">
        
            <div class="form-group col-sm-9" style="padding-top: 10px; margin-bottom: 0;">

                <h2 style="padding-left: 10px; padding-top: 10px;"><?=PerisianLanguageVariable::getVariable(10872)?></h2>

            </div>

            <div class="form-group col-sm-3 alert alert-language-selection" style="margin-bottom: 0; padding-left: 24px;">

                <div class="form-group language-selection" style="margin-bottom: 14px">

                    <select class="form-control" id="language-selector">

                        <?php for($i = 0; $i < count($languageList); ++$i): ?>

                            <option code="<?=PerisianLanguage::getLanguageCode($languageList[$i]["language_id"])?>" value="<?=$languageList[$i]["language_id"]?>"<?php if(PerisianSystemConfiguration::getLanguageId() == $languageList[$i]["language_id"]): ?> selected<?php endif; ?>><?=PerisianFrameworkToolbox::securityRevert($languageList[$i]["language_name"])?></option>

                        <?php endfor; ?>

                    </select>  

                </div>

            </div>

            <br style="clear: both"/>

        </span>

        <form id="login-form" class="form floating-label" action="<?=PerisianFrameworkToolbox::getServerAddress(false)?>login/?do=l" accept-charset="utf-8" method="post" style="margin-top: 10px; margin-bottom: 10px;">

            <?php if(isset($redirectAfterLogin) && substr($redirectAfterLogin, -6) != "login/"): ?>
                <input type="hidden" value="<?=$redirectAfterLogin?>" name="redirect">
            <?php endif; ?>

            <input type="hidden" value="login" name="do">
            
            <div class="login-page" id="login-page-email">

                <div class="form-group col-sm-9" style="left: 12px; padding-left: 0; padding-right: 0; margin-bottom: 4px;">

                    <input type="text" class="form-control" id="login_email" name="login_email" value="<?php echo PerisianFrameworkToolbox::getRequest('login_email') ?>">
                    <label for="login_email"><?php PerisianLanguageVariable::printVariable(10427);?></label>

                </div>

                <div class="form-group col-sm-3" style="padding-left: 24px; margin-bottom: 4px;">

                    <button onclick="javascript:Login.nextPage()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10379); ?></button>

                </div>
                
                <div class="col-sm-12" style="margin-bottom: 10px; text-align: right; padding-right: 22px;">
            
                    <a id="button-pw-forgotten" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>registration/?do=rp"><?=PerisianLanguageVariable::getVariable(10618)?></a>
                
                </div>

                <br style="clear: both"/>
                
            </div>
            
            <div class="login-page" id="login-page-password">

                <div class="form-group col-sm-9" style="left: 12px; padding-left: 0; padding-right: 0;">

                    <input type="password" class="form-control" id="login_password" name="login_password">
                    <label for="login_password"><?php PerisianLanguageVariable::printVariable(10091);?></label>
                    <p class="help-block"><a href="javascript:Login.restorePassword();"><?php PerisianLanguageVariable::printVariable(10614); ?></a></p>

                </div>

                <div class="form-group col-sm-3" style="padding-left: 24px;">

                    <button onclick="javascript:Login.nextPage()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10379); ?></button>

                </div>
                
                <br style="clear: both"/>
                
            </div>
            
            <div class="login-page" id="login-page-set-password" style="padding:12px;">
                
                <div style="text-align: center;">
                    
                    <?=nl2br(PerisianLanguageVariable::getVariable('p5769798f7cd55'))?>
                    
                </div>

                <div class="form-group" style="margin-bottom: 4px">

                    <input type="password" class="form-control" id="login_set_password_one" name="login_set_password_one">
                    <label for="login_set_password_one"><?php PerisianLanguageVariable::printVariable(10091);?></label>

                </div>

                <div class="form-group" style="">

                    <input type="password" class="form-control" id="login_set_password_two" name="login_set_password_two">
                    <label for="login_set_password_two"><?php PerisianLanguageVariable::printVariable(10092);?></label>

                </div>

                <button onclick="javascript:Login.nextPage()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="fa fa-angle-double-right"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10379); ?></button>

            </div>
            
            <div class="login-page" id="login-page-error">
                        
                <span class="alert alert-danger" style="display:block; margin-left: 12px; margin-right: 12px; margin-bottom: 0;" id="login-error-box"></span>

                <div class="form-group col-sm-12" style="margin-bottom: 0;">

                    <button onclick="javascript:Login.tryAgain()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="md md-cached"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10478); ?></button>
                    <br style="clear:both;"/><br style="clear: both"/>
                     <a class="btn btn-block btn-raised btn-primary" style="position:relative; top:-14px;" href="javascript:Login.register()"><i class="fa fa-file-o"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10615); ?></a>
                     
                </div>
                
                <br style="clear: both"/>
                
            </div>
            
            <div class="login-page" id="login-page-success">
                        
                <span class="alert alert-success" style="display:block; margin-left: 12px; margin-right: 12px; margin-bottom: 0;" id="login-success-box"></span>

                <div class="form-group col-sm-12" style="margin-bottom: 0;">

                    <button onclick="javascript:Login.tryAgain()" style="width: 100%" class="btn btn-primary btn-raised" type="button"><i class="md md-cached"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10620); ?></button>

                </div>
                
                <br style="clear: both"/>
                
            </div>

        </form>
        
    </span>
    
    <div id="login-registration-box" style="margin-top: 24px;">
    
        <span class="alert alert-custom" style="display:block; padding: 0;">

            <div class="form-group col-sm-12" style="padding-top: 10px; margin-bottom: 0;">

                <div style="text-align: center;"><?=nl2br(PerisianLanguageVariable::getVariable('p576973de414a2'))?></div>
                <br style="clear: both"/>

                <a class="btn btn-block btn-raised btn-primary" style="position:relative; top:-14px;" href="javascript:Login.register()"><i class="fa fa-file-o"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10615); ?></a>

            </div>

            <br style="clear: both"/>

        </span>

        <?php if(true && CalsyUserFrontendRegistrationAndCalendarModule::getAppointmentAssistantDisplayStatus() != "none"): ?>

            <span class="alert alert-warning" style="display:block; padding-bottom: 0px; margin-bottom: 0;">

                <div style="text-align: center;"><?=PerisianLanguageVariable::getVariable(11007)?> <?=PerisianLanguageVariable::getVariable(11004)?></div>
                <br style="clear: both"/>

                <a class="btn btn-raised btn-primary" style="position:relative; top:-14px; width: 100%" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>?do=aa"><i class="md md-perm-contact-cal"></i>&nbsp;<?=PerisianLanguageVariable::getVariable(11003)?></a>
            </span>

        <?php endif; ?>
        
    </div>

</div>

<script type="text/javascript" src="assets/js/front/Login.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>

<?php require("registration_footer.phtml"); ?>