<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/password_forgotten.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        Validation.securityPasswordPolicy = '<?=$result['security_policy_password']['type']?>';
        
    });
    
</script>

<?php require("registration_header.phtml"); ?>

<form class="form floating-label" action="<?=PerisianFrameworkToolbox::getServerAddress(false)?>registration/" accept-charset="utf-8" method="post" id="password_set">

    <div class="col-sm-12">

        <?php require 'element/welcome_image.phtml'; ?>
        
        <span class="alert alert-custom" style="display:block; padding: 12px; padding-top: 0; margin-bottom: 0; text-align: center;">
            
            <span class="text-lg text-bold text-primary"><?=$settings->getSetting(23) ?></span>

            <input type="hidden" value="rp" name="do">
            <input type="hidden" value="<?=@$result['initial']?>" name="i">
            <input type="hidden" value="<?=@$result['code']?>" name="c">

            <div style="text-align: center">
                
                <h1><?php PerisianLanguageVariable::printVariable($result['is_initial'] ? 10631 : 10618); ?></h1>
                <?php PerisianLanguageVariable::printVariable(10632); ?>
            
            </div>
            
            <br/>

            <span id="password_check_container" class="text-danger" style="<?=(isset($result['error_message']) ? '' : 'display:none')?>"><i class="fa fa-exclamation-circle"></i> <span><?=$result['error_message']?>
            <br/>
            <br/></span></span>

            <div class="form-group">
                <input type="password" class="form-control" id="rp_pw_one" name="rp_pw_one">
                <label for="rp_pw_one"><?php PerisianLanguageVariable::printVariable(10091);?></label>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="rp_pw_two" name="rp_pw_two">
                <label for="rp_pw_two"><?php PerisianLanguageVariable::printVariable(10092);?></label>
            </div>
            
            <span class="password-info">
                
                <br/><b><?=PerisianLanguageVariable::getVariable('p5aa428c7eecd8')?>:</b><br/>

                <?php for($i = 0; $i < count($result['security_policy_password']['requirements']); ++$i): ?>

                &bull; <?=$result['security_policy_password']['requirements'][$i]; ?><br/>

                <?php endfor; ?>
                
                <br/>

            </span>

            <button class="btn btn-block btn-primary btn-raised" type="submit"><?php PerisianLanguageVariable::printVariable(10630); ?></button>
            
        </span>
        
   </div>
</form>

<?php require("registration_footer.phtml"); ?>