<?php require("registration_header.phtml"); ?>

<form class="form floating-label" action="<?=PerisianFrameworkToolbox::getServerAddress(false)?>registration/" accept-charset="utf-8" method="post">

    <div class="col-sm-12">

        <?php require 'element/welcome_image.phtml'; ?>
        
        <span class="alert alert-custom" style="display:block; padding: 12px; padding-top: 0; margin-bottom: 0;">

            <span class="text-lg text-bold text-primary"><?=$settings->getSetting(23) ?></span>

            <input type="hidden" value="rp" name="do">

            <div style="text-align: center">
                
                <h1><?php PerisianLanguageVariable::printVariable(10618); ?></h1>
                <?php PerisianLanguageVariable::printVariable(10619); ?>
                
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="rp_email" name="rp_email" value="<?=@$result['email_provided']?>">
                <label for="rp_email"><?php PerisianLanguageVariable::printVariable(10427);?></label>
            </div>

            <button class="btn btn-block btn-primary btn-raised" type="submit"><i class="fa fa-angle-double-right"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10617); ?></button>
            <br style="clear:both;"/>
            <a class="btn btn-block btn-raised btn-primary" style="position:relative; top:-14px;" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>?do=l"><i class="fa fa-angle-double-left"></i>&nbsp;<?php PerisianLanguageVariable::printVariable(10620); ?></a>
            
        </span>
                    
    </div>
    
</form>

<?php require("registration_footer.phtml"); ?>