            </div>
        </div>
    </div>
</section>

<section class="section-imprint" style="padding-top: 0; padding-bottom: 0;">
    
    <div class="contain-sm">
        
        <?php if($settings->getSetting('frontend_link_to_website_is_enabled') == 1): ?>

            <a href="<?=$settings->getSetting('frontend_link_to_website')?>"><?=PerisianLanguageVariable::getVariable(10979)?></a> - 
                
        <?php endif; ?> 
        
        <a href="<?=(PerisianFrameworkToolbox::getServerAddress(false) . (strlen($do) > 0 && $do != "confirmPayment" ? "?do=" . $do : ""))?>"><?=PerisianSystemConfiguration::isTestServer() ? "TEST - " : ""?><?=$settings->getSetting('frontend_title_website')?></a> - 
                
        <a href="http://www.cons-sys.ag/" target="_blank">&copy;<?=date("Y", time())?> ConsSys IT AG</a>
        
    </div>
    
</section>