<section class="section-account" style="padding-top: 0; padding-bottom: 0;">
    
    <?php if(PerisianSystemSetting::getSettingValue('frontend_show_backdrop_image') == 1): ?>
    
        <?php
        
            $customBackdropData = PerisianSystemSetting::getImageUploadData('frontend_backdrop_image');
            $frontendBackdropImage = 'assets/img/custom/background_login.png';
            
            if(isset($customBackdropData['image']) && strlen($customBackdropData['image']['name']) > 0)
            {
                
                $frontendBackdropImage = $customBackdropData['image']['url'];
                
            }
        
        ?>
    
        <div class="img-backdrop" style="background-image: url('<?=$frontendBackdropImage?>')"></div>
        <div class="spacer"></div>
        
    <?php endif; ?>
    
    <div class="card contain-sm">
        <div class="card-body">
            <div class="row">