<?php require("registration_header.phtml"); ?>

    <div class="col-sm-12">
        
        <?php require 'element/welcome_image.phtml'; ?>

        <span class="alert alert-custom" style="display:block; padding: 12px; padding-top: 0; margin-bottom: 0;">

            <span class="text-lg text-bold text-primary"><?=$settings->getSetting(23)?></span>
            
            <div style="text-align: center;">
                
                <h1><?=$result['title']?></h1>
                <?=$result['message']?>
                
            </div>
            
            <br style="clear:both;"/>
            
            <a class="btn btn-block btn-raised btn-primary" style="position:relative; top:-14px;" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>?do=l"><?php PerisianLanguageVariable::printVariable(10620); ?></a>
            
        </span>
            
    </div>

<?php require("registration_footer.phtml"); ?>