<?php require("registration_header.phtml"); ?>

<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/basic/registration.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        Validation.securityPasswordPolicy = '<?=$result['security_policy_password']['type']?>';
        
    });
    
</script>

<?php require("registration_gtc_modal.phtml"); ?>

<form class="form floating-label" action="<?=PerisianFrameworkToolbox::getServerAddress(false)?>/registration/" accept-charset="utf-8" method="post" id="registration">
        
    <div class="col-sm-12">

        <?php require 'element/welcome_image.phtml'; ?>

        <span class="alert alert-custom" style="display:block; padding: 12px; padding-top: 0; margin-bottom: 0;">

            <span class="text-lg text-bold text-primary"><?=$settings->getSetting(23) ?></span>

            <h1><?php PerisianLanguageVariable::printVariable(10641);?></h1><br/>
            <?php PerisianLanguageVariable::printVariable(10642);?><br/>

            <?php if(!$result['valid'] && strlen($result['message']) > 0): ?>

                <br/><i class="fa fa-exclamation-circle text-danger"></i> <span class="text-danger"><?=$result['message']?></span><br/>

            <?php endif; ?>

            <div class="form-group" style="margin-top: 20px;">
                <input type="text" class="form-control" id="registration_name_first" name="registration_name_first" value="<?=@$result['registration_name_first']?>">
                <label for="registration_name_first"><?php PerisianLanguageVariable::printVariable(10560);?></label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="registration_name_last" name="registration_name_last" value="<?=@$result['registration_name_last']?>">
                <label for="registration_name_last"><?php PerisianLanguageVariable::printVariable(10559);?></label>
            </div>

            <div class="form-group">


                <select class="form-control" id="registration_gender" name="registration_gender">

                    <option value="none" selected><?=PerisianLanguageVariable::getVariable(10833)?></option>
                    <option value="male"><?=PerisianLanguageVariable::getVariable(10831)?></option>
                    <option value="female"><?=PerisianLanguageVariable::getVariable(10832)?></option>

                </select>
                <label><?=PerisianLanguageVariable::getVariable(10830)?></label>

            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="registration_email" name="registration_email" value="<?=@$result['registration_email']?>">
                <label for="registration_email"><?php PerisianLanguageVariable::printVariable(10427);?></label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="registration_phone" name="registration_phone" value="<?=@$result['registration_phone']?>">
                <label for="registration_phone"><?php PerisianLanguageVariable::printVariable(10486);?></label>
            </div>

            <span id="password_check_container" class="text-danger" style="display:none"><i class="fa fa-exclamation-circle"></i> <span></span></span>

            <div class="form-group">
                <input type="password" class="form-control" id="registration_pw_one" name="registration_pw_one">
                <label for="registration_pw_one"><?php PerisianLanguageVariable::printVariable(10091);?></label>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="registration_pw_two" name="registration_pw_two">
                <label for="registration_pw_two"><?php PerisianLanguageVariable::printVariable(10092);?></label>
            </div>
            
            <div class="form-group" style="text-align: center;">
                
                <i class="fa fa-info-circle"></i>&nbsp;<?=PerisianLanguageVariable::getVariable('p58e3ecb3c22b1')?>:
                
                <br style="clear:both"/>
                
                <span class="password-info">
                    
                    <?php for($i = 0; $i < count($result['security_policy_password']['requirements']); ++$i): ?>
                        
                    &bull; <?=$result['security_policy_password']['requirements'][$i]; ?><br/>
                    
                    <?php endfor; ?>
                    
                </span>

            </div>
            
            <div align="center" class="form-group" style="padding-top: 0; margin-top: 40px; margin-bottom: 40px;">

                <div class='checkbox checkbox-styled'>
                    <label>
                        <input type="checkbox" value="1" id="registration_gtc">
                        <span><?=PerisianLanguageVariable::printVariable(11062)?> <a href='javascript:showGtc()'><?=PerisianLanguageVariable::printVariable(11063)?></a></span>
                    </label>
                </div>

            </div>

            <button class="btn btn-block btn-primary btn-raised" type="submit"><?php PerisianLanguageVariable::printVariable(10640); ?></button>

            <br/>
            <a class="btn btn-block btn-raised btn-primary" style="position:relative; top:-14px;" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>?do=l"><?php PerisianLanguageVariable::printVariable(10620); ?></a>

        </span>

    </div>
        
    
</form>

<?php require("registration_footer.phtml"); ?>