<div class="modal fade" id="modal-gtc" tabindex="-1" role="dialog" aria-labelledby="modal-gtx" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="simpleModalLabel"><?=PerisianLanguageVariable::getVariable(11063)?></h4>
            </div>
            <div class="modal-body gtc-overflow">
                <p><?=@$result['text_gtc']?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?=PerisianLanguageVariable::getVariable(10495)?></button>
            </div>
        </div>
    </div>
</div>