<a class="fc-time-grid-event fc-event" 
   id="element_dummy" 
   data-begin="" 
   data-end=""
   data-starts-today="" 
   data-ends-today="" 
   style="display: none; left: 0%; right: 0%; background-color: <?=$result['element_color']?>;">

    <div class="fc-content">

        <div class="fc-title"></div>
        
        <div class="fc-time"><span></span></div>

    </div>

</a>