
.data-set-merge-element
{
    
    display: block;
    
    border: 1px dashed rgba(255, 255, 255, 0.55);
    padding: 40px;
    
    text-align: center;
    position: relative;
    
}

.data-set-merge-element button
{
    
    position: absolute;
    
    top: -1px;
    right: -1px;
    width: 40px;
    height: 40px;
    
    border-top: 0;
    border-right: 0;
    
}

.data-set-merge-element-empty
{
    
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.data-set-merge-element:hover
{
    
    background-color: rgba(255, 255, 255, 0.1);
    
}