 
#user_backend-button
{
    
    width: 100% !important;
    margin-top: 10px;
    
}

#user-backend-image-container
{
    
    display: none;
    
    width: 120px;
    height: 120px;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 60px;
    
    margin-bottom: 10px;
    
}

.tile-proposal-content
{
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

#appointment-assistant-tile-proposals
{
    
    background-color: #eeeeee;
    border: 1px dashed #ccc;
    
    display: block;
    
    width: 100%;
    
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    
    margin-bottom: 24px; 
    
}

#appointment-assistant-tile-proposals h3
{
    
    margin-top: 0;
    
}

#appointment-assistant-tile-proposal-container
{
    
    width: 100%;
    max-height: 496px; 
    display: block;
    overflow-y: auto;
    vertical-align: top;
    
}

#appointment-assistant-tile-proposal-container .loading-indicator
{
    
    height: 100px;
    
}

.tile-proposal
{
    
    display: inline-block;
    
    height: 184px;
    border: 0px solid #ccc;
    background-color: #fff;
    
    background-size: cover;
    
    padding: 0;
    
    margin: 0.5%;
    width: 24%;
    
    cursor: pointer;
    
}

@media only screen and (max-width: 768px) 
{
    
    .tile-proposal
    {

        display: inline-block;
        margin: 0.5%;
        width: 49%;

    }
    
}

.tile-proposal-content
{
    
    position: absolute;
    top: 32px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 120px;
    display: block;
    overflow: hidden;
    
    
}

.tile-proposal-content-overlay
{
    
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    
}

.tile-proposal:hover .tile-proposal-content-overlay
{
    
    background-color: rgba(255, 255, 255, 0.0);
    
}

.tile-proposal-content-title,
.tile-proposal-content-time
{
    
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

.tile-proposal-content-title
{
    
    white-space: nowrap;
    overflow-x: scroll;
    
}

.tile-proposal-content-time
{
    
    padding-right: 18px;
    
}

.tile-proposal-content-btn-info
{
    
    position: absolute;
    bottom: 36px;
    right: 4px;
    width: 20px;
    height: 20px;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 0; /*1px solid #333;*/
    border-radius: 10px;
    padding: 0;
    font-size: 12px;
    
}

.tile-proposal-content-btn-info:hover
{
    
    background-color: #ccc;
    
}

.tile-proposal-content-time
{
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    text-align: left;
    
}

#appointment-assistant-tile-proposals-btn-next
{
    
    margin-left: 6px;
    
}

#appointment-assistant-tile-proposals-btn-previous,
#appointment-assistant-tile-proposals-btn-next
{
    
    display: none;
    float: right;
    
}

.appointment-assistant-tile-proposals-btn-show-tiles
{
    
    margin-left: 6px;
    
}

.booking-count-indicator
{
    
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    
    bottom: 36px;
    left: 3px;
    
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    
    font-size: 10px;
    
}

.booking-count-indicator-full
{
    
    background-color: #FD481B;
    color: white;
    
}

#appointment_proposal .radio-styled:not(ie8) input[disabled] ~ span
{
    
    color: #aaa;
    
}

#appointment_proposal .radio-styled:not(ie8) input[disabled] ~ span:before
{
    
    color: #ccc;
    
}