
#table-reservation-login-registration,
#table-reservation-approval,
#table-reservation-confirmation,
#table-reservation-loading-indicator,
#table-reservation-selection-tiles,
#table-reservation-selection-message,
#table-reservation-selection-loading-indicator
{
    
    display: none;
    
}

#btn-table-reservation-find-table
{
    
    width: 50%;
    
}

@media (max-width: 480px)
{
    
    #btn-table-reservation-find-table
    {

        width: 100%;

    }
    
}

#btn-table-reservation-find-table.btn-table-reservation-find-table-clicked
{
    
    margin-bottom: 18px;
    
}

#btn-table-reservation-approve
{
 
    margin-bottom: 6px;
    margin-top: 0px;
    
}

#btn-table-reservation-approval-change-selection-on-error
{
    
    margin-top: 24px;
    
}

.tile-proposal-table-reservation
{
    
    border: 2px dashed #ccc;
    height: 236px;
    
}

.table-reservation-approval-location-details,
.table-reservation-confirmation-location-details
{
    
    border: 2px dashed #ccc;
    background-color: #eee;
    
}

.tile-proposal-table-reservation .tile-proposal-content-title,
.tile-proposal-table-reservation .tile-proposal-content-time
{
    
    background-color: #eee;
    
}

.table-reservation-success-info
{
    
    margin-bottom: 18px;
    
}

#info-landing-header-details
{
    
    display: none;
    
}

#btn-table-reservation-change-selection
{
    
    margin-top: 12px;
    
}

.tile-proposal-table-reservation:hover
{

    border-color: #333;
    
}

.tile-proposal-table-reservation:hover .tile-proposal-content-title,
.tile-proposal-table-reservation:hover .tile-proposal-content-time
{
    
    background-color: #ddd;
    
}

.table-reservation-approval-location-details-image
{
    
    width: 100%;
    margin-top:12px;
    margin-bottom: 12px;
    
}

.table-reservation-login-successful-info
{
    
    margin-top: 24px;
    
}

#btn-table-reservation-conformation-to-frontend
{
    
    margin-bottom: 24px;
    
}