<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Order.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/jquery-ui/jquery-ui-theme.css"/>

<script type="text/javascript">

jQuery(document).ready(function() {
            
    jQuery('#calsy_order_user_frontend_id').focus(function() {

        PerisianBaseAjax.createAutocomplete({

            'element': jQuery(this),

            'fieldToIdentify': 'calsy_user_frontend_id',
            'fieldToDisplay': 'calsy_user_frontend_fullname',
            'forceEntryFromList': true,

            'url': Order.controller,

            'renderer': CalsyAutocompleteRenderer.renderUserFrontend

        });

    });
            
    jQuery('#calsy_order_supplier_id').focus(function() {

        PerisianBaseAjax.createAutocomplete({

            'element': jQuery(this),

            'fieldToIdentify': 'calsy_supplier_id',
            'fieldToDisplay': 'calsy_supplier_fullname_formatted',
            'forceEntryFromList': true,

            'url': Order.controller,

            'renderer': CalsyAutocompleteRenderer.renderSupplier

        });

    });
    
    jQuery("#calsy_order_use_count").spinner({min: 1});
    
});

</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><a href="#" onclick="Order.goToOverview()"><?=lg(10793)?></a></li>
        <li class="active"><?=$result['title_page']?></li>
    </ol>
</div><!--end .section-header -->

<input type="hidden" id="editId" value="<?=$result['id']?>"/>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyOrderModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="Order.goToOverview()" type="button">
                                <span class="fa fa-backward" style="padding-right:6px"></span> <?php PerisianLanguageVariable::printVariable(10803) ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" id="button-save" onclick="Order.saveOrder(<?=$result['id']?>)" type="button">
                                <span class="md md-description"></span> <?php PerisianLanguageVariable::printVariable(10129) ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
    
</div><!--end .section-body -->

<div class="section-body"><!--contain-lg-->
    
    <div class="inner">
        
        <div class="infobox">
            
            <br style="clear: both;"/>
            
            <div class="col-lg-8">

                <div class="card">

                    <div class="card-body">

                        <form class="form">

                            <div class="form-group">

                                <input type="text" id="calsy_order_title" class="form-control" name="calsy_order_title" value="<?php if($result['id'] > 0): echo $result['object']->{$result['object']->field_title}; endif?>"/>
                                <label for="calsy_order_title"><?php PerisianLanguageVariable::printVariable(10234) ?></label>

                            </div>

                            <?php if(CalsyUserFrontendModule::isEnabled()): ?>
                            
                                <div class="form-group">

                                    <input type="text" id="calsy_order_user_frontend_id" class="calsy_calendar_entry_user_frontend form-control" name="calsy_order_user_frontend_id" <?php if($result['id'] > 0): ?>value="<?=$result['user_frontend']->getFullName()?>" <?php endif ?>perisian-data-id="<?=($result['id'] > 0 ? $result['user_frontend']->{$result['user_frontend']->field_pk} : "")?>" data-source="user_frontend"/>
                                    <label for="calsy_order_user_frontend_id"><?php PerisianLanguageVariable::printVariable(10784) ?></label>

                                </div>
                            
                            <?php endif; ?>

                            <?php if(CalsySupplierModule::isEnabled()): ?>
                            
                                <div class="form-group">

                                    <input type="text" id="calsy_order_supplier_id" class="calsy_calendar_entry_user_frontend form-control" name="calsy_order_supplier_id" <?php if($result['id'] > 0): ?>value="<?=$result['supplier']->getFormattedName()?>" <?php endif ?>perisian-data-id="<?=($result['id'] > 0 ? $result['supplier']->{$result['supplier']->field_pk} : "")?>" data-source="supplier"/>
                                    <label for="calsy_order_supplier_id"><?php PerisianLanguageVariable::printVariable(10852) ?></label>

                                </div>
                            
                            <?php endif; ?>
                            
                            <div class="col-lg-4" style="padding-left:0px">
                                
                                <div class="form-group">

                                    <input type="text" id="calsy_order_use_count" class="form-control" name="calsy_order_use_count" value="<?php if($result['id'] > 0): echo $result['object']->{$result['object']->field_use_count}; endif?>"/>
                                    <label for="calsy_order_use_count"><?php PerisianLanguageVariable::printVariable(10804) ?></label>

                                </div>
                                
                            </div>
                            
                            <?php if($result['id'] > 0): ?>
                            <div class="col-lg-4" style="padding-left:0px">

                                <div class="form-group">

                                    <input type="text" id="application_count" class="form-control" name="application_count" value="<?=CalsyOrder::getNumberOfExistingApplications($result['object']->{$result['object']->field_pk})?>" disabled/>
                                    <label for="application_count"><?php PerisianLanguageVariable::printVariable(10854) ?></label>

                                </div>
                                
                            </div>
                            <?php endif; ?>

                        </form>

                    </div><!--end .card-body -->

                </div><!--end .card -->

            </div><!--end .col -->

        </div>
        
    </div>
    
</div>