<?php if($action == "list"): ?>
<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=PerisianLanguageVariable::getVariable('p59e66b1a2cdae')?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 5%">
                                <a href="javascript:void(0)" onclick="PerisianPayPalTransaction.toggleSorting('paypal_tx_id')"><?php PerisianLanguageVariable::printVariable('10527') ?></a>
                            </th>
                                                        
                            <th style="width: 53%">
                                <?php PerisianLanguageVariable::printVariable('11027') ?>
                            </th>   
                            
                            <th style="width: 5%">
                                <a href="javascript:void(0)" onclick="PerisianPayPalTransaction.toggleSorting('paypal_tx_status')"><?php PerisianLanguageVariable::printVariable('10522') ?></a>
                            </th>
                            
                            <th style="width: 10%; text-align: right;">
                                <a href="javascript:void(0)"><?=PerisianLanguageVariable::getVariable('p59f34d2319c83')?></a>
                            </th>
                            
                            <th style="width: 2%"></th>
                            
                            <th style="width: 10%">
                                <a href="javascript:void(0)" onclick="PerisianPayPalTransaction.toggleSorting('paypal_tx_date_created')"><?php PerisianLanguageVariable::printVariable('10167') ?></a>
                            </th>
                            
                            <th style="width: 10%">
                                <a href="javascript:void(0)" onclick="PerisianPayPalTransaction.toggleSorting('paypal_tx_date_updated')"><?php PerisianLanguageVariable::printVariable('p594698c45d99a') ?></a>
                            </th>
                            
                            <th style="width: 5%" class="text-right"><?php PerisianLanguageVariable::printVariable(10077) ?></th>
                                                        
                        </tr>

                    </thead>
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <?php
                            
                                $transaction = new PerisianPayPalTransaction($currentEntry['paypal_tx_id']);
                                                        
                                $details = PerisianPayPalTransaction::decodeDetails($currentEntry[$transaction->field_details]);
                                
                            ?>
                        
                            <tr id="table_info_tx_<?=$currentEntry[$transaction->field_pk]?>">

                            <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
