
<td>
        
    <b><a href="javascript:PerisianPayPalTransaction.editTransaction(<?=PerisianFrameworkToolbox::security($currentEntry[$transaction->field_pk]) ?>)" onclick=""><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry[$transaction->field_pk])?></a></b>

</td>


<td>
        
    <b><?=PerisianPayPalTransaction::getTypeString($currentEntry[$transaction->field_type]);?></b>
    
    <br/>

    <?php

        $fieldList = Array();

        if($currentEntry[$transaction->field_type] == PerisianPayPalTransaction::TYPE_CALENDAR_ENTRY)
        {
            
            try
            {

                $calendarEntry = new CalsyCalendarEntry($currentEntry[$transaction->field_fk]);

                // The title
                {

                    $calendarEntryTitleString = PerisianLanguageVariable::getVariable('10796') . ': <a href="' . PerisianPayPalTransaction::getLinkForType($currentEntry[$transaction->field_type], $currentEntry[$transaction->field_fk]) . '">"' . $calendarEntry->{$calendarEntry->field_title} . '"</a>';

                    array_push($fieldList, $calendarEntryTitleString);

                }

                // Frontend user and area lists
                {

                    $userFrontendOrderList = $calendarEntry->getUserFrontendWithOrders();

                    $calendarEntryUserFrontendString = PerisianLanguageVariable::getVariable('10798') . ': ';
                    $calendarEntryAreaString = PerisianLanguageVariable::getVariable('11059') . ': ';

                    $userFrontendList = Array();
                    $areaList = Array();

                    for($j = 0; $j < count($userFrontendOrderList); ++$j)
                    {

                        $userFrontendObject = $userFrontendOrderList[$j]['user_frontend'];

                        if(!is_null($userFrontendObject))
                        {

                            array_push($userFrontendList, '<a href="' . PerisianFrameworkToolbox::getServerAddress(true) . 'user_frontend/overview/?search=' . urlencode($userFrontendObject->getFullName()) . '">' . $userFrontendObject->getFullName() . '</a>');

                        }

                        $areaObject = $userFrontendOrderList[$j]['area'];

                        if(!is_null($areaObject))
                        {

                            array_push($areaList, '<a href="' . PerisianFrameworkToolbox::getServerAddress(true) . 'area/overview/?search=' . urlencode($areaObject->{$areaObject->field_title}) . '">' . $areaObject->{$areaObject->field_title} . '</a>');

                        }

                    }

                    if(count($userFrontendList) > 0)
                    {

                        $calendarEntryUserFrontendString .= implode(", ", $userFrontendList);
                        array_push($fieldList, $calendarEntryUserFrontendString);

                    }

                    if(count($areaList) > 0)
                    {

                        $calendarEntryAreaString .= implode(", ", $areaList);
                        array_push($fieldList, $calendarEntryAreaString);

                    }

                }
                
            }
            catch(PerisianException $e)
            {
                
                // "Deleted booking"
                
                array_push($fieldList, PerisianLanguageVariable::getVariable('p59f500253ac00'));
                
            }
             
        }

        echo implode("<br/>", $fieldList); 

    ?>
    
</td>

<td>
    
     <?=PerisianPayPalTransaction::getStatusString($currentEntry['paypal_tx_status'], true);?>
    
</td>

<td style="text-align: right;">
        
    <u><?=$transaction->getPriceAmountFormattedGross()?> <?=$currentEntry[$transaction->field_currency]?></u><br/>
    <nobr>(<?=$currentEntry[$transaction->field_amount]?> <?=$currentEntry[$transaction->field_currency]?> + <?=$currentEntry[$transaction->field_percentage_tax]?>% <?=PerisianLanguageVariable::getVariable('p59f3975c65957')?>)</nobr>
    
</td>

<td></td>

<td>
    
    <?=PerisianFrameworkToolbox::timestampToDateTime($currentEntry[$transaction->field_date_created])?>
    
</td>

<td>
    
     <?=PerisianFrameworkToolbox::timestampToDateTime($currentEntry[$transaction->field_date_updated])?>
    
</td>

<td style="text-align: right;">
    
    <a href="<?=PerisianPayPalTransaction::getLinkForType($currentEntry[$transaction->field_type], $currentEntry[$transaction->field_fk]);?>" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p59f3b9dcedd20') ?>"><i class="fa fa-external-link"></i></a>
    
</td>

