<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/paypal/PerisianPayPalTransaction.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        Perisian.initFieldClearButtons();
        
        PerisianPayPalTransaction.filterUserFrontendId = <?=$result['filter_user_frontend_id']?>;
        PerisianPayPalTransaction.currentOffset = <?=$result['offset']?>;
        PerisianPayPalTransaction.currentLimit = <?=$result['limit']?>;
        
    });
    
    var showEntries = function() {
        
        PerisianPayPalTransaction.showEntries(null, null, null, null, true);
        
    };

    jQuery(document).ready(function() {

        jQuery('#filter_user_frontend_id').focus(function() {

            PerisianBaseAjax.createAutocomplete({

                'element': jQuery(this),

                'fieldToIdentify': 'calsy_user_frontend_id',
                'fieldToDisplay': 'calsy_user_frontend_fullname',
                'forceEntryFromList': true,

                'url': PerisianPayPalTransaction.controller,

                'renderer': CalsyAutocompleteRenderer.renderUserFrontend,
                
                'onSelect': showEntries

            });

        });

    });

</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable('p59dde99bc7d89') ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable('p59e66abc002c2') ?></li>
    </ol>
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!PerisianPayPalModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {PerisianPayPalTransaction.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="PerisianPayPalTransaction.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="PerisianPayPalTransaction.showEntries(null, null, null, null, true);" type="button" style="position:relative; top:15px; margin-bottom: 16px"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <!--
            <?php if(CalsyUserFrontendModule::isEnabled()): ?>
            
                <div class="col-lg-4 col-sm-4">

                    <div class="card">

                        <form class="form form-validate floating-label" novalidate="novalidate">

                            <div class="card-body">

                                <?php if(CalsyUserFrontendModule::isEnabled()): ?>

                                    <div class="form-group">
                                        <label for="filter_user_frontend_id"><?php PerisianLanguageVariable::printVariable(10841) ?></label>
                                        <input type="text" id="filter_user_frontend_id" class="form-control btn-clear-field" name="filter_user_frontend_id" value="<?=$result['filter_user_frontend']->getFullName()?>" perisian-data-id="<?=$result['filter_user_frontend_id']?>" data-source="user_frontend"/>
                                        <button class="btn btn-default btn-clear" type="button" callback="PerisianPayPalTransaction.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                    </div>

                                <?php endif; ?>

                            </div>

                        </form>

                    </div>
                    
                </div>
            
            <?php endif; ?>
            
            -->
            
        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div>