<?php require(__DIR__ . "/../../registration/registration_header.phtml"); ?>

<script type="text/javascript" src="assets/js/calsy/CalsySurveyInvitation.js"></script>

<div class="col-lg-12">
    
    <?php require __DIR__ . '/../../registration/element/welcome_image.phtml'; ?>
    
    <h2><?=PerisianLanguageVariable::getVariable('p5e4c4d1ef2da9')?></h2>

    <script type="text/javascript">

        jQuery(document).ready(function() 
        {
            
            CalsySurveyInvitation.init();

        });

    </script>
    
    <div class="form floating-label">
        
        <input type="hidden" id="code" value="<?=$result['code']?>"/>
        <input type="hidden" id="entryId" value="<?=$result['entryId']?>"/>

        <span class="alert alert-block alert-<?=($result['isValid'] ? 'info' : 'danger')?>" style="text-align: left;"><?=$result["message"]?></span>
        
        <?php if($result['isValid']): ?>
        
            <br/>

            <button class="btn btn-primary btn-raised btn-invitation" style="float: right; margin-left: 6px; margin-bottom: 4px;" type="button" id="btn-reject-appointment"><?=lg('p5e4c55956bc81')?></button>
            <button class="btn btn-primary btn-raised btn-invitation" style="float: right; margin-bottom: " type="button" id="btn-accept-appointment"><?=lg('p5e4c55888d31f')?></button>

        <?php endif; ?>

    </div>

</div>

<?php require(__DIR__ . "/../../registration/registration_footer.phtml"); ?>