<?php require(__DIR__ . "/../../registration/registration_header.phtml"); ?>

<script type="text/javascript" src="assets/js/calsy/CalsySurveyInvitation.js"></script>

<div class="col-lg-12">
    
    <?php require __DIR__ . '/../../registration/element/welcome_image.phtml'; ?>
    
    <h2><?=PerisianLanguageVariable::getVariable('p5e4c4d1ef2da9')?></h2>

    <script type="text/javascript">

        jQuery(document).ready(function() 
        {
            
        });

    </script>
    
    <div class="form floating-label">
        
        <span class="alert alert-block alert-info" style="text-align: left;"><?=$result["message"]?></span>
        
    </div>

</div>

<?php require(__DIR__ . "/../../registration/registration_footer.phtml"); ?>