<script type="text/javascript" src="../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.doubletap.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery/jquery.longclick.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalendarEntry.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<script type="text/javascript" src="../assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/moment/moment-with-locales.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/fullcalendar/fullcalendar.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>

<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10776)?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div>

<div class="section-body">
    
    <div class="col-sm-9" id="calendarContainer">
        
        <script type="text/javascript">
            
            Calendar.defaultEventEndTime = <?=CalsyCalendar::getDefaultEventEndTime()?>;
            
            jQuery(document).on('ready', function() {

                Calendar.initialize('user_frontend', '<?=$result['timestamp_calendar_start']?>');
                Calendar.showManual();
                
                <?php if(isset($result['entry_to_open']) && @$result['entry_to_open'] != null): ?>
                    
                    <?php if(PerisianSystemSetting::getSettingValue('calendar_edit_entry_directly') == 1): ?>
                        
                        Calendar.editEvent(<?=$result['entry_to_open']->{$result['entry_to_open']->field_pk}?>);
                        
                    <?php else: ?>
                        
                        Calendar.infoEvent(<?=$result['entry_to_open']->{$result['entry_to_open']->field_pk}?>);
                        
                    <?php endif; ?>
                    
                <?php endif;?>
                
            });
            
        </script>
        
    </div>
    
    <div class="col-sm-3" id="calendarDetail"></div>
    
</div>