.appointment-field-tab
{
    
    border: 1px solid #cccccc;
    border-bottom: 0;
    
    display: inline-block;
    
    padding: 10px;
    
    cursor: pointer;
    
    border-collapse: collapse;
    
    background-color: #ffffff;
    
    color: #999999;
    
}

.appointment-field-tab.active
{
    
    background-color: #cccccc;
    
    font-weight: bold;
    color: #000000;
    
}

.appointment-field-container
{
    
    display: none;
    
    border: 1px solid #cccccc;
        
    border-collapse: collapse;
    
    max-height: 800px;
    
    overflow-y: scroll;
    
}

.appointment-field-container.active
{
    
    display: block;
    
}

.radio-block
{
    
    display: block;
    
}

.additional-field-label,
.additional-field-identifier
{
    
    width: 100%;
    
}

.no-sidepadding-right
{
    
    padding-right: 0;
    
    
}

.no-sidepadding-left
{
    
    padding-left: 0;
    
}

.additional-field-header
{
    
    display: block;
    
    background-color: #cccccc;
    padding: 10px;
    
    min-height: 44px;
    
    white-space: nowrap;
    
    text-align: right;
    
}

.additional-field
{
    
    padding: 10px;
    
}

.button-remove,
.button-move-up,
.button-move-down,
#button-add-new-option,
#button-add-new-condition
{
        
    padding-top: 0;
    padding-bottom: 0;
    
    position: relative;
    
}

#button-add-new-option,
#button-add-new-condition
{
    
    float: left;
    margin-right: 10px;
    
}

.button-remove-option
{
    
}

.additional-field-main-container
{
    
    margin-bottom: 20px;
    
}

#additional-field-controls
{
    
    border: 1px solid #cccccc;
    
    margin-top: 20px;
    
    padding: 10px;
    
    display: none;
    
}

.field-content
{
    
    background-color: #eeeeee;
    
}

.form-group
{
    
    background-color: #fff;
    
}

.options-header,
.condition-header
{
    
    display: block;
    height: 44px;
    
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    
}

.align-center
{
    
    text-align: center;
    
}

#option-value,
#option-label,
#option-label_language_id
{
    
    text-align: center;
    
}

.option-container 
{
    
    margin-bottom: 10px;
    
}

.option-container .form-group,
.condition-container .form-group
{
    
    text-align: center;
    
}

#button-save-all
{
    
    float: right;
    
}

#appointment_fields #button-option-clear
{
    
    border: 1px solid #cccccc;
    
}

.option-options
{
    
    white-space: nowrap;
    overflow-x: scroll;
    
}

.additional-field .form-group,
.radio-option .form-group
{
    
    margin-bottom: 10px;
    
}

.radio-option .option-options,
.condition-options
{
    
    margin-bottom: 10px;
    
}

#condition-operator
{
    
    background-color: white;
    text-align: center;
    
}

.condition-field input
{
    
    text-align: center;
    
}