#database-diff-result
{
    
    display: none;
    
}

.neutral-code
{
 
    display: block;
    color: #333333;
    background-color: #eee;
    
}

.neutral-code ins
{
    
    color: #31b131;
    background-color: #dfd;
    
}

.neutral-code del
{
    
    color: #FF0000;
    background-color: #FFCACA;
    
}