.index-empty
{
    
    height: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
    text-align: center;
    display: table;
    
}

.aa_uploaded_image
{
    
    max-width: 100%;
    
}

.index-empty div:first-child
{
    
    display: table-cell;
    vertical-align: middle;
    
}

h2
{
    
    margin-top: 0px;
    margin-bottom: 12px;
    
}

.input-margin
{
    
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.form-pager-text .col-sm-4,
.form-pager-select .col-sm-4
{
    
    padding-top: 16px !important;
    
}

.form-pager-text .col-sm-8,
.form-pager-select .col-sm-8
{
    
    /*padding-left: 0;*/
    
}

.form-pager-radio,
.form-pager-select,
.form-pager
{
    
    height: auto;
    background-color: #eeeeee;
    
}

.form-pager textarea,
.form-pager input,
.form-pager select,
.form-pager-select select
{
    
    background-color: white;
    
}

.form-pager textarea
{
    
    min-height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.form-pager input
{
    
    padding-left: 10px;
    padding-right: 10px;
    
}

.form-pager .col-sm-4,
.form-pager-radio .col-sm-4
{
    
    padding-top: 10px;
    
}

.user-selector-container
{

    overflow-y: scroll;
    max-height: 320px;
    
}

.form-pager-highlight
{
    
    color: #a94442;
    
}

.form-pager-input-label
{
    
    padding-top: 16px !important;
    
}

.appointment-assistant-item 
{
    
    margin-left: 10px;
    margin-right: 10px;
    
}

#appointment_proposal .alert
{
    
    display: block;
    margin-bottom: 0;
    
}

@media (max-width: 768px) 
{
    
    .nav-justified > li 
    {
        
        display: table-cell;
        width: 1%;
        
    }
    
    .nav-justified > li > a 
    {
        
        margin-bottom: 0 !important;
        padding: 0;
        
    }
    
    .nav-justified > li .title
    {
        
        display: none;
        
    }
    
}