
.git-commit
{
    
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
    
}

.git-code
{
    
    color: #666666;
    background-color: #eee;
    border: 1px solid #ccc;
    
    padding: 6px;
    overflow-x: scroll;
    
    display: block;
    
}

.git-code-details
{
    
    display: block;
    
    text-align: right;
    
    font-size: 12px;
    margin-bottom: 6px;
    
}

.git-scroll-container
{
        
}