.modal-content
{
    
    padding-left: 1px;
    padding-right: 1px;
    
}

select.language option
{
    
    background-repeat: no-repeat;
    background-position: 2px 4px;
    
}

.highlight
{
    
    background-color: #bde7ff;
    
}

.table-info-additional
{
    
    display: none;
    
}

.status-active
{
    
    background-color: red;
    
    color: #00CC00;
    
}

.status-inactive
{
    
    color: #DD1122;
    
}

.status-new
{
    
    color: #ffb400;
    
}

.export-processing, .export-result, .import-processing, .import-result
{
    
    display: none;
    
}

.info-bar
{
    
    background-color: #E5E6E6;
    
}

.table-row-edit
{
    
    background-color: #d0eeff !important;
    vertical-align: top !important;
    padding-bottom: 20px !important;
    
}

.table-row-edit .form .form-group
{
    
    padding-top: 2px !important;
    
}

.table-row-edit input
{
    
    padding-left: 5px !important;
    padding-right: 5px !important;
    
}

.table-row-edit input, .table-row-edit select
{
    
    background-color: white;
    
}

.dropzone
{
    
    background-color: #b9eaa9 !important;
    text-align: center;
    
}

.btn-workflow
{
    
    background-color: #eeeeee !important;
    
}

.custom-footer
{
    
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.33);
    background-color: #ffffff;
    background-repeat: repeat-x;
    
    vertical-align: middle;
    z-index: 1000;
    
    color: #666;
    font-size: 12px;
    
}

.custom-footer .copyright
{
    
    text-align: right;
    padding-right: 40px;
    padding-top: 10px;
    
}

.footer-space
{
    
    display: block;
    height: 40px;
    
}

#menubar
{
    
    z-index: 1001;
    
}

.toast-bottom-left,
.toast-bottom-center,
.toast-bottom-right,
#toast-container.toast-bottom-full-width 
{
  bottom: 64px;
}

.mail-distribution-manager button
{
    
    float: right;
    width: 15%;
    
}

.mail-distribution-manager .form-group
{
    
    width: 80%;
    
}

.mail-distribution-manager .form-group:first-child
{
    
    width: 100%;
    
}

.mail-distribution-manager-list
{
    
    clear: both;
    
    max-height: 744px;
    overflow-y: scroll;
    
}

.mail-distribution-manager-list div
{
    
    background-color: #dfdfdf;
    height: 70px;
    width: 100%;
    
    margin-bottom: 2px;
    
}

.mail-distribution-manager-list div:last-child
{
    
    margin-bottom: 20px;
    
}

.mail-distribution-manager-list div span
{
    
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    
    width: 85%;
    height: 70px;
    display: block;
    
    vertical-align: middle;
    
    overflow-x: none;
    
}

.mail-distribution-manager-list div span:first-line
{
    
    font-size: 18px;
    
}

.mail-distribution-manager-list button
{
    
    height: 70px;
    
}

.association_member_address_additional
{
    
    display: none;
    
}

.modal-content .association_member_address_additional
{
    
    background-color: #eeeeee; 
    padding: 10px;
    
}

.language-selection
{
    
    width: 100%;
    display: inline-block;
    clear: both;
    
    heigt: 80px;
        
}

.user-color, .user-color-header,
.event-color, .event-color-header
{
    
    display: inline-block;
    width: 20px;
    height: 20px;
    
    margin-right: 10px;
    
    border-radius: 10px;
    position: relative;
    top: 5px;
    
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    min-width: 20px;
    
    background-size: cover;
    
    background-position-x: 50%;
    background-position-y: 50%;
    
}

.event-color
{
    
    min-width: 20px;
    
}

.user-color-header
{
    
    margin-right: 0px;
    
    top: 10px;
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

#calendarDetail h2
{
    
    margin-top: 10px;
    
}

.tile.checkbox-list,
.tile.user-selector,
.tile.upcoming-event
{
    
    cursor: pointer;
    
    display: block;
    
}

.tile.checkbox-list:hover,
.tile.user-selector:hover,
.tile.upcoming-event:hover
{
    
    background-color: rgba(0, 0, 0, 0.05);
    
}
.tile.upcoming-event.fc-today:hover
{
    
    background-color: rgba(0, 0, 0, 0.1);
    
}

ul.checkbox-list,
ul.user-selector,
ul.list-events
{
        
    max-height: 576px;
    
    overflow-x: hidden;
    overflow-y: scroll;
    
    background-color: #fff;
    
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
    
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.fc-scroller
{
    
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    
}

.calendar-week-multi .fc-widget-header,
.calendar-day-multi .fc-widget-header
{
    
    border-color: #E5E6E6 !important;
    
}

.fc-axis
{
    
    width: 52px;
    
}

.calendar-week-multi .fc-axis
{
    
    min-width: 52px;
    
}

.calendar-week-multi .fc-widget-header .fc-axis,
.calendar-day-multi .fc-widget-header .fc-axis
{
    
    border-bottom: 0px;
    border-right: 1px solid #E5E6E6;
    
}

.calendar-day-multi .fc-widget-header .fc-axis
{
    
    border-right: 1px solid #E5E6E6;
    
}

.calendar-week-multi .day-seperator
{
    
    border-right: 4px solid #E5E6E6;
    
}

.calendar-year-month
{
    
    padding: 0;
    
}

.calendar-year-month-holder
{
    
    margin: 0px 20px 20px 20px;
    
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
    
}

.calendar-year-month-header
{
    
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    
    color: white;
    background-color: #338C15;
    
    cursor: pointer;
    
}

.calendar-year-month-header-day
{
    
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 11px;
    color: #313534;
    font-weight: bold;
    
}

.calendar-year-month-content
{
    
}

.calendar-year-month-content td
{
    
    text-align: center;
    
    height: 30px;
    
    vertical-align: middle !important;
    
    position: relative;
    
    overflow: hidden;
    
}

.calendar-year-month-content td.other-month
{
    
    opacity: 0.3;
    
}

.fc-widget-header-seperator
{
    
    height: auto !important;
    
}

.calendar-display-year-today
{
    
    background-color: rgba(0, 0, 0, 0.1) !important;
    
}

.calendar-display-year-day-marker,
.calendar-display-year-day-has-event
{
    
    display: block;
    height: 4px;
    
    position: absolute;
    
    opacity: 0.6;
    
    left: 0;
    right: 0;
    bottom: 0;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.calendar-display-year-day-has-event
{
    
    background-color: #333333;
    
}

.calendar-display-year-today .calendar-display-year-day-has-event
{
    
    background-color: #333333;
    
}

.calendar-year-day:hover
{
    
    background-color: #338C15;
    color: white;
    
}

.calendar-year-day:hover .calendar-display-year-day-has-event
{
    
    background-color: white;
    
}

.calendar-year-day.non-bookable:hover
{
    
    background-color: #cccccc !important;
    
}

.non-bookable
{
    
    background-color: rgba(0, 0, 0, 0.03) !important;
    
    
}

.fc-today
{
    
    background-color: rgba(0, 0, 0, 0.05) !important;
    
}

.fc-event
{
    
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    
}

.perisian-autocomplete-container
{
    
    position: absolute;
    
    display: block;
    
    background-color: #cccccc;
    
    width: auto;
    height: auto;
    
    border: 1px solid #cccccc;
    border-top: 0;
    
    z-index: 10000;
    
    max-height: 240px;
    
    overflow-y: scroll;
    
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.33);
    
}

.perisian-autocomplete-container-element,
.perisian-autocomplete-container-element-empty
{
    
    width: 100%;
    
    display: inline-block;
    
    background-color: white;
    margin-bottom: 3px;
    
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    cursor: pointer;
    
}

.perisian-autocomplete-container-element:hover,
.perisian-autocomplete-container-element-selected
{
    
    background-color: #bce0af;
    
}

.perisian-autocomplete-container-element-empty
{
    
    background-color: #faebd4;
    color: #8a6d3b;
    
}

.perisian-autocomplete-container-element .fa,
.perisian-autocomplete-container-element .md
{
    
    width: 22px;
    padding-left: 4px;
    
}

.datepicker-days .active.day,
.datepicker-months .month.active,
.datepicker-years .year.active
{
    
    background-color: #338C15 !important;
    
}

.button-add-entry-day
{
    
    float: left;
    
}

.button-add-entry-day,
.button-day-number,
.calendar-year-day,
.fc-weekly-day-header
{
    
    cursor: pointer;
    
}

.fc-view-container
{
    
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
    
}

.button-add-entry-day
{
    
    text-align: left;
    width: 50%;
    
}

.button-add-entry-day i
{
    
    margin-left: 4px;
    
}

.button-add-entry-day:hover,
.button-day-number:hover
{
    
    color: #666;
    
}

.button-day-number
{
    
    padding-right: 4px;
    
}

.fc-event-container
{
    
    max-height: 110px;
    
}

.fc-agendaWeek-view .fc-event-container,
.fc-agendaDay-view .fc-event-container
{
    
    margin: 0 1px 0 1px !important;
    
}

.colorpicker
{
    
    z-index: 999;
    
}

.season-spring
{
    
    background-color: #ebf1de !important;
    border-color: #d6eaf8 !important;
    
    color: #77933c !important;
    
}

.season-summer
{
    
    background-color: #f5d5d8 !important;
    border-color: #d6eaf8 !important;
    
    color: #96242f !important;
    
}

.season-fall
{
    
    background-color: #fff2cc !important;
    border-color: #d6eaf8 !important;
    color: #bf9000 !important;
    
}

.season-winter
{
    
    background-color: #d6eaf8 !important;
    border-color: #d6eaf8 !important;
    
    color: #1f74ad !important;
    
}

.season-icon
{
    
    background-repeat: no-repeat;
    background-size: auto 100%;
    
    background-position: right;
    
}

.season-winter.season-icon,
.season-winter .season-icon
{
        
    background-image: url('../img/seasons/icon_winter.png');
    
}

.season-spring.season-icon,
.season-spring .season-icon
{
        
    background-image: url('../img/seasons/icon_spring.png');
    
}

.season-summer.season-icon,
.season-summer .season-icon
{
        
    background-image: url('../img/seasons/icon_summer.png');
    
}

.season-fall.season-icon,
.season-fall .season-icon
{
        
    background-image: url('../img/seasons/icon_fall.png');
    
}

header.season-icon,
header.season-icon-fake
{
    
    background-position: left 18px center;
    padding-left: 64px;
    padding-top: 13px;
    
}

header.season-icon-fake
{
        
    padding-left: 42px;
    
}

header.season-icon-fake i
{
        
    margin-right: 16px;
    
}

.tabs-accent
{
    
    padding-left: 10px !important;
    
}

.checkbox-list .tile-content,
.user-selector .tile-content,
.upcoming-event .tile-content
{
    
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}

.tile-content .user-color,
.tile-content .event-color
{
    
    top: auto;
    border-radius: 0;
    
    border-left: 0px;    
    border-top: 0px;
    border-right: 0px;
    
}

.checkbox-list-label,
.user-selector-name,
.event-details
{
    
    text-overflow: ellipsis;
    white-space: nowrap;
    
}


.event-details
{
    
    padding-left: 16px;
    padding-right: 16px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    
}


.btn-clear, .btn-delete
{
    
    position: absolute;
    
    bottom: 0;
    right: 0;
    
    width: 48px;
    max-width: 48px;
    
}

.btn-delete
{
    
    background-color: #f44336;
    color: white;
    
}

.btn-clear-field
{
    
    padding-right: 48px;
    
}

.form-group textarea
{
    
    min-width: 100%;
    max-width: 100%;
    
    min-height: 40px;
    
}

.calendar-opening-time-entry
{
    
    display: block;
    
    margin-top: 0px;
    margin-bottom: 0px;
    
    padding-top: 0px;
    padding-bottom: 0px;
        
    position: relative;
    
}

#calendar-opening-time-entry-from,
#calendar-opening-time-entry-to
{
    
    min-width: 80px;
    text-align: center;
    
}

.calendar-opening-time-entry .form-control 
{
    
    width: auto;
    
    display: inline-block;
    
}

.calendar-opening-time-entry #calendar-opening-time-entry-day
{
    
    width: 100%;
    
}

.calendar-opening-time-entry .col-lg-12
{
    
    border-top: 6px solid #dddddd;
    margin-top: 24px;
    
}

#calendar-opening-times-dummy-container
{
    
    display: none;
    
}

.calendar-hourly
{
    
    height: 720px;
    
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.calendar-week-multi
{
    
    overflow-x: scroll;
    overflow-y: scroll;
    
}

.fc-row.fc-widget-content
{
    
    min-height: 140px;
    
}

.event-list-empty
{
    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    
}

.alert-inline
{
    
    padding: 0; 
    padding-left: 4px; 
    padding-right:4px;
    
}

.alert-block
{
    
    display: block;
    text-align: center;
    margin: 0;
    
}

sup.info
{
    
    background-color:white;
    
    border-radius: 10px;
    
    border: 1px solid red;
    
    color: red;
    
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    
    top: auto;
    left: 4px;
        
    text-shadow: 0 0 0;
    
}

.dropzone .dz-preview.dz-image-preview 
{
    
    background-color: transparent !important;
    
}

.dz-image img
{
    
    height: 100%; 
    width: 100%;
    object-fit: cover;
    
}

.welcome-image
{
    
    max-width: 100%;
    width: auto; 
    min-width: 0;
    min-height: 0;
    
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    
}

.btn-block
{
    
    text-overflow: ellipsis;
    
}

.fc-event-unconfirmed:not(.fc-blocked)
{
    
    opacity: 0.75;
    border-style: dashed !important;
    border-color: white !important;
    
}

.fc-holiday, .fc-blocked
{
    
    background-color: #e5e6e6 !important;
    color: black !important;
    
}

.dz-image
{
    
    background-color: #e4e4e4;
    
}

.form-wizard.form-wizard-horizontal .nav li.active .step, 
.form-wizard.form-wizard-horizontal .nav li:hover .step,
.form-wizard.form-wizard-horizontal .nav li.done .step
{
    
    border-color: #419c22 !important;
    
}

.form-wizard.form-wizard-horizontal .nav li.done .step, 
.progress-bar-primary
{
    
    background-color: #419c22 !important;
    
}

div.progress
{
    
    width: 77%;
    
}

.form-page
{
    
    display: none;
    
    padding-left: 0px;
    padding-right: 0px;
    
}

.form-page.active
{
    
    display: block;
    
}

#loading-box,
.loading-indicator
{
    
    display: block;
    height: 200px;
    width: 100%;
    
    background-image: url('assets/img/custom/loading_indicator_dark.gif');
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    border: 1px dashed #cccccc;
    background-color: #eeeeee;
    
}

.aa_button_date_navigation_begin,
.aa_button_date_navigation_next
{
    
    background-color: white;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.gtc-overflow
{
    
    overflow-y: scroll;
    
    max-height: 600px;
    
}

.language-variable-modal-list-entry
{
    
    display: block;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.language-variable-modal-list-entry:nth-child(odd)
{
    
    background-color: #cccccc;
    
}

div.checkbox-list
{
    
    max-height: 200px;
    
    overflow-y: scroll;
    border: 1px solid #cccccc;
    background-color: #eee;
    
    margin-bottom: 20px;
    
}


.checkbox-list ul
{
    
    margin-bottom: 0px;
    
}

.checkbox-list h3
{
    
    font-size:14px;
    
    margin: 10px;
    
    margin-left: 14px;
    margin-right: 14px;
    font-size: 12px;
    
}

.icon-setting .iconpicker-popover
{
    
    width: 100% !important;
    margin: 0px !important;
    
}

.icon-selector-selection
{
    
    width: 100%;
    text-align: center;
    font-size: 100px;
    
    background-color: #eeeeee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 0;
    
}

.iconpicker-item .md
{
    
    margin-top: -0.4em;
    margin-bottom: -0.4em;
    margin-left: -0.1em;
    
}

.alert-success-language-variable
{
    
    padding: 4px;
    
}

.modal-backdrop
{
    
    position: fixed !important;
    bottom: 0 !important;
    
}

#modalContainer .error-container
{
    
    background-color: white;
    
}

.alert-custom
{
    
    background-color: #e5e6e6;
    border: 1px solid #cccccc;
    
}

.alert-custom input
{
    
    padding-left: 12px;
    padding-right: 12px;
    
}

.alert-custom input,
.alert-custom select
{
    
    padding-left: 8px;
    background-color: #ffffff;
    
}

.alert-custom label
{
    
    padding-left: 10px;
    
}

.alert-custom .form-control:focus ~ label,
.alert-custom .form-control.dirty ~ label
{
    
    top: -6px;
    
}

.alert-language-selection
{
    
    border: 0;
    background-color: #cccccc;
    padding-bottom: 0;
    
}

.alert-language-selection label
{
    
    padding-left: 0;
    color: #000000;
    
}

.login-page
{
    
    display: none;
    
}

#login-page-email
{
    
    display: block;
    
}

.section-imprint
{
    
    opacity: 0.5;
    top: -16px;
    
}

.section-imprint .contain-sm
{
    
    text-align: center;
    
}

.btn-red
{
    
    color: #fff;
    background-color: #f44336 !important;
    border-color: #f44336 !important;
    
}

#aa-page-link-container
{
    
    display: none;
    
}

#aa-page-link
{
    
    background-color: white;
    
    width: 100% !important;
    min-height: 36px;
    
    padding-left: 10px;
    padding-right: 10px;
    
}

.user-selector .user-color-box
{
    
    position: absolute;
    
    display: block;
    
    width: 20px;
    height: 52px;
    
}

.user-selector .checkbox label
{
    
    padding-left: 14px !important;
    padding-right: 34px !important;
    
}

.user-selector .user-checkbox-box
{
    
    height: 52px;
    
    padding-top: 12px;
    
    padding-left: 20px;
    
    position: absolute;
    
}

.user-selector .user-name-box
{
        
    height: 52px;
    
    padding-left: 68px;
    padding-top: 14px;
    padding-right: 8px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    width:100%;
    
}

.user-selector-ellipsis
{
    
    float: left; 
    width: 100%; 
    height: 52px;
    
    border-bottom: 1px solid #ccc;
    
    cursor: pointer;
    
}

.api-user-rights
{
    
    width: 100%;
        
}

.api-user-rights td
{
    
    padding: 4px;
    
}

.api-user-rights tr
{
    
    border-top: 1px solid #ccc;
    
}

.api-user-rights tr:first-child
{
    
    border-top: 0;
    
    font-weight: bold;
    
}

.api-user-rights tr td
{
    
    border-right: 1px solid #ccc;
    
}

.api-user-rights tr td:last-child
{
    
    border-right: 0;
    
}

@media (max-width: 768px)
{
    
    #menubar
    {
        
        z-index: 10000;
        
    }
    
}

.calendar-context-menu
{
    
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    
    border-radius: 2px;
    
    padding-left: 0;
    
}

.calendar-context-menu li 
{
    
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid #CCC;
    
    list-style: none;
    
}

.calendar-context-menu li:hover 
{
    
    background-color: #ddd;
    
}

.calendar-context-menu li.option-delete
{
    
    background-color: #ff0000;
    color: white;
    border: 0;
    
}

.calendar-context-menu li.option-delete:hover
{
    
    background-color: #ee0000;
    
}

.input-timespan
{
    
    display: block;
    margin-bottom: 80px;
    
}

.input-timespan-header
{
 
    opacity: 0.5;
    
    padding-top: 6px;
    
    text-align: center;
    
}

.input-timespan input
{
    
    text-align: center;
    
}

#hourly-header
{
    
    z-index: 10000;
    position: absolute;
    height: 244px;
    
    background-color: white;
    
    left: -1px;
    top: -200px;
    
}

.calendar-week-multi #hourly-header,
.calendar-day-multi #hourly-header
{
    
    top: -154px;
    
}

.fc-time-grid
{
    
    margin-top: 42px;
    
}

.calendar-week-multi .fc-time-grid,
.calendar-day-multi .fc-time-grid
{
    
    margin-top: 90px;
    
}

.calendar-day-multi #hourly-header .fc-widget-header table
{
    
    height: 20px;
    
}

.calendar-week-multi #hourly-header th,
.calendar-day-multi #hourly-header th
{
    
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

#hourly-header table
{
    
    height: 240px;
    
}

#hourly-header th
{
    
    vertical-align: bottom;
    
}

.fc-time
{
    
    height: 24px !important;
    
}

.full-hour .fc-time span
{
    
    opacity: 1;
    
}

.fc-minor .fc-time span
{
    
    opacity: 0.5;
    
}

.fc-moving span
{
    
    opacity: 0.25 !important;
    
}

.fc-time-grid-container .full-hour td
{
 
    border-top: 2px solid #e5e5e6 !important;
    
}

#multi-user-header
{

    height: 20px;
    
}

@media not all and (min-resolution:.001dpcm) /* Safari 10.1+ */
{ @supports (-webkit-appearance:none) {

    
    .fc-hourly-header
    {

        margin-top: 202px;

    }

    .fc-hourly-header-multi
    {

        margin-top: 160px;

    }

    .fc-hourly-header-daily
    {

        margin-top: 62px;

    }

    .fc-hourly-header-daily-multi
    {

        margin-top: 20px;

    }
}}

/* Google Chrome and Safari fixes */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0), /* Old Safari */
screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) /* Chrome */
{ 
    
    .fc-hourly-header
    {

        margin-top: 202px;

    }

    .fc-hourly-header-multi
    {

        margin-top: 160px;

    }

    .fc-hourly-header-daily
    {

        margin-top: 62px;

    }

    .fc-hourly-header-daily-multi
    {

        margin-top: 20px;

    }
      
}

.fc-moving
{
    
    position: relative !important;
    
}

.calendar-week-multi .fc-slats .fc-axis span
{
    
    display: block;
    height: 100%;
    width: 100%;
    
    padding-right: 4px;
    
}

.calendar-day-multi-scroll
{
    
    overflow-x: scroll;
    
}

.fc-process
{
    
    min-height: 14px;
    background-color: #338C15;
    
}

.info-bar.warning
{
    
    background-color: #ff0000;
    color: white;
    
}

.readonly-edit
{
    
    cursor: text !important;
    
}

.bootstrap-tagsinput .tag
{
    
    font-size: 1em !important;
    position: relative;
    top: 4px;
    
}

.split-time-icon
{
    
    float: left;
    font-weight: bold;
    color: #6079BD;
    padding-right: 12px;
    
}

.user-backend-option
{
    
    background-size: cover;
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position-x: 3px;
    
    padding-left: 25px;
    
}

@media (min-width: 900px) 
{
    
    .modal-dialog 
    {

        width: 800px;

    }
    
}

@media (min-width: 1000px) 
{
    
    .modal-dialog 
    {

        width: 900px;

    }
    
}

@media (min-width: 1100px) 
{
    
    .modal-dialog 
    {

        width: 1000px;

    }
    
}

@media (min-width: 1200px) 
{
    
    .modal-dialog 
    {

        width: 1100px;

    }
    
}

@media (min-width: 1300px) 
{
    
    .modal-dialog 
    {

        width: 1200px;

    }
    
}

.dz-filename
{
    
    display: none !important;
    
}

.menubar-right
{
    
    position: fixed;
    left: auto;
    right: 0;
    width: 220px;
    background-color: #313942;
    top: 64px;
    bottom: 0;
    
    color: rgba(255, 255, 255, 0.55);
    
    z-index: 100;
    
}

.menubar-right .col-sm-12
{
    
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    
}
    
.menubar-right .menubar-foot-panel
{

    height: 16px;

}

.base-menu-right
{
    
    padding-right: 240px;
    
}

.base-menu-right-closed
{
    
    padding-right: 20px !important;
    
}

.menubar-right-handle
{
    
    position: fixed;
    background-color: rgb(61, 69, 78);
    
    width: 20px;
    right: 220px;
    
    top: 64px; 
    bottom: 40px;
    
    cursor: pointer;
    
}

.menubar-right-handle:hover
{
    
    background-color: rgb(75, 83, 92);
    
}

.menubar-right-handle-closed
{
    
    right: 0 !important;
    
}

.menubar-right-closed
{
    
    right: -220px;
    
}

.menubar-right-handle .fa
{
    
    top: 50%;
    bottom: 50%;
    left: 40%;
    
    color: white;
    position: absolute;
    
}

.menubar-right-handle:hover .fa
{
    
    font-weight: bold;
    
}

@media (max-width: 750px) 
{
    
    .menubar-right
    {
        
        top: 64px;
        bottom: 40px;

    }
    
    .menubar-right-handle
    {

        top: 64px;

    }
    
}

@media (min-width: 1200px) 
{
    
    .menubar-right
    {

        width: 400px;

    }
    
    .menubar-right-closed
    {
        
        right: -400px;
        
    }
    
    .base-menu-right
    {

        padding-right: 420px;

    }

    .menubar-right-handle
    {

        width: 20px;
        right: 400px;

    }
    
}

.menubar-right ul
{
    
    color: #313534;
    
}

.menubar-right h1,
.menubar-right h2
{
    
    margin-bottom: 0;
    color: white;
    
}

.calendar-hourly .fc-holiday .fc-content,
.calendar-hourly .fc-time-grid-event .fc-content
{
    
}

.paypal-status-none
{
    
}

.paypal-status-done
{
    
    color: #33AA33;
    
}

.paypal-status-invalid
{
    
    color: #FF8000;
    
}

.paypal-status-canceled
{
    
    color: #FF0000;
    
}

.paypal-status-pending
{
    
    color: #FFCCAA;
    
}

#displayed-days-list .col-lg-3
{
    
    text-align: center;
    
}

#displayed-days-list .col-lg-12
{
    
    padding-bottom: 20px;
    
}

#displayed-days-list hr
{
    
    width: 100%;
    margin-bottom: 10px;
    
}

.fc-work-plan-application .calendar-year-day
{
    
    cursor: auto;
    
}

.fc-work-plan-application .calendar-year-day:hover
{
    
    color: #313534;
    background-color: transparent;
    
}

.work-plan-application
{
    
    cursor: pointer;
    
}

.work-plan-application-true
{
    
    background-color: #338C15;
    color: white;
    
}

.work-plan-application-true:hover
{
    
    background-color: #ff0000;
    color: white;
    
}

.work-plan-application-false
{
    
    background-color: #ddd;
    color: #313534;
    
}

.work-plan-application-false:hover
{
    
    background-color: #338C15;
    color: white;
    
}

.fc-work-plan-application .calendar-year-day:hover .calendar-display-year-day-has-event
{
    
    background-color: #333;
    
}

@media print 
{
    
    #header
    {
        
        display: none;
        
    }
    
    #menubar, #menubar-right
    {
        
        display: none;
        
    }
    
    #calendarContainer
    {
        
        padding: 0;
        
    }
    
    #calendarContainer .card
    {
        
        margin-bottom: 0;
        
    }
    
    .menubar-pin #base 
    {
        
        padding: 0 !important;
        
    }
    
    #content 
    {
        
        padding-top: 0;
        
    }
    
    body
    {
        
        background-color: transparent;
        padding: 0 !important;
        
    }
    
    .tools, .tabs-accent
    {
        
        display: none !important;
        
    }
    
    .section-header
    {
        
        display: none;
        
    }
    
    .custom-footer
    {
        
        display: none;
        
    }
    
    .footer-space
    {
        
        display: none;
        
    }
    
    .fc-today
    {
        
        background-color: transparent !important;
        
    }
    
    .calendar-hourly
    {
        
        overflow-x: auto;
        overflow-y: auto;
        
    }
    
    #calendar
    {
        
        height: auto !important;
        
    }
    
    
    .fc-time-grid
    {
        
        margin-top: 40px;
        
    }
    
    .fc-agendaWeek-view #hourly-header
    {
        
        top: 0 !important;
        height: 42px !important;
        
    }
    
    .fc-agendaDay-view .fc-scroller-day #hourly-header
    {
        
        top: -140px !important;
        height: 180px !important;
        
    }
    
    .calendar-week-multi #hourly-header,
    .calendar-day-multi #hourly-header
    {
        
        top: 0 !important;
        height: 84px !important;
        
    }
    
    .calendar-week-multi .fc-scroller-day #hourly-header,
    .calendar-day-multi .fc-scroller-day #hourly-header
    {
        
        top: -130px !important;
        height: 224px !important;
        
    }
    
    .fc-scroller-day .calendar-week-multi .fc-time-grid, 
    .fc-scroller-day .calendar-day-multi .fc-time-grid
    {
        
        margin-top: 94px;
        
    }
    
    .calendar-day-multi .fc-time-grid
    {
        
        margin-top: 94px;
        
    }
    
    .calendar-week-multi .fc-time-grid
    {
        
        margin-top: 84px;
        
    }
    
    section:first-child
    {
        
        padding: 0 !important;
        
    }
    
    .button-add-entry-day
    {
        
        display: none;
        
    }
    
}

.fc-content
{
    
    cursor: pointer;
    
}

.calendar_entry_info_uploaded_image
{
    
    max-width: 100%;
    
}

.calsy-user-selector-multi
{
    
    display: block;
    background-color: white;
    border: 1px solid #ccc;
    
    max-height: 300px;
    overflow-y: scroll;
    
}

.calsy-user-selector-multi-element
{
    
    display: block;
    background-color: white;
    border-bottom: 2px solid #ccc;
    
}

.calsy-user-selector-multi-element .checkbox
{
    
    margin-bottom: 18px;
    cursor: pointer;
    
}

.calsy-user-selector-multi-survey-details-box
{
    
    margin-left: 8px;
    display: inline-block;
    position: relative;
    
}

.calsy-user-selector-multi-survey-status 
{
    
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 2px;
    
    color: white;
    
}

.calsy-user-selector-multi-survey-status-invitation-sent
{
    
    background-color: #ffcb00;
    border: 1px solid #ffb000;
    
}

.calsy-user-selector-multi-survey-status-invitation-accepted,
#btn-accept-appointment
{
    
    background-color: #00b200 !important;
    border: 1px solid #008100 !important;
    
}

.calsy-user-selector-multi-survey-status-invitation-rejected,
#btn-reject-appointment
{
    
    background-color: #e50000 !important;
    border: 1px solid #c30000 !important;
    
}

.calendar-entry-survey-statistics
{
    
    margin-top: 12px;
    
}

#calendar-entry-survey-statistics-pie
{
    
    width: 100%;
    
    height: 240px;
    
    border: 1px solid #eee;
    
}

.user-custom-input 
{
    
}

.user-custom-input-button
{
    
    width: 49%;
    height: 36px;
    
    border: 1px solid #eee;
    background-color: #ccc;
    color: white;
    
    font-weight: bold;
    
}

.user-custom-input-button-add
{
    
    background-color: #009a17;
    border: 1px solid #008614;
    
}

.user-custom-input-field .user-custom-input-button-remove
{
    
    background-color: #ff0000;
    border: 1px solid #ce0000;
    
}

.user-frontend-default-custom-field-container
{
    
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.user-frontend-default-custom-field-container .user-custom-input-button
{
    
    width: 45%;
    
}

.form-master-data
{
    
    border: 1px solid #ccc;
    background-color: #eee;
    
    margin-top: 12px;
    
}

.form-master-data input,
.form-master-data select,
.form-master-data textarea
{
    
    background-color: white;
    
}


.form-master-data input,
.form-master-data textarea
{
    
    padding-left: 6px;
    padding-right: 6px;
    
}

.form-master-data textarea
{
    
    padding-top: 6px;
    padding-bottom: 6px;
    
}

.checkin-status-closed
{
    
    color: #2ad608;
    
}

.checkin-status-open
{
    
    color: #ff8000;
    
}

.ui-autocomplete
{
    
    list-style: none;
    
}

.box-checkin-status-landing
{
    
    border: 1px solid #ccc;
    background-color: #eee;
    
    width: 100%;
    padding: 12px;
    text-align: center;
    
    margin-bottom: 12px;
    
}

.checkin-landing-status-open,
.checkin-landing-status-closed
{
    
    font-size: 5em;
    font-weight: bold;
        
}

@media (max-width: 768px)
{
    
    .checkin-landing-status-open,
    .checkin-landing-status-closed
    {

        font-size: 2em;
        font-weight: bold;

    }
    
    #registration_login_selector,
    #aa_login .form-pager,
    #aa_registration .form-pager
    {
        
        margin-bottom: 0;
        
    }
    
    #aa_login br,
    #aa_registration br
    {
        
        display: none;
        
    }

    #aa_login .checkbox-styled,
    #aa_registration .checkbox-styled
    {
        
        margin-bottom: 12px;
        
    }
    
    #aa_registration .password-info br
    {
        
        display: block;
        
    }
    
    
    #aa_registration .password-info br:last-child
    {
        
        display: block;
        
    }
    
}

.checkin-landing-status-open
{
    
    color: #ff8000;
    
}

.checkin-landing-status-closed
{
    
    color: #2ad608;
    
}

#btn-checkin-load-status.checkin-swimming-button,
#btn-checkin-logout.checkin-swimming-button,
#btn-checkin-overview.checkin-swimming-button
{
    
    background-color: #2856ff !important;
    border: 1px solid #2856ff !important;
    
}

#btn-checkin-checkin
{
    
    background-color: #2ad608 !important;
    border: 1px solid #2ad608 !important;
    
}

.form-group .checkbox.checkbox-styled
{
    
    overflow: auto;
    
}

.form-group .checkbox.checkbox-styled label:first-child
{
    
    white-space: nowrap;
    
}

.contain-sm .form-group .checkbox.checkbox-styled
{
    
    overflow: unset !important;
    
}

.table-selector-selected
{
    
    border: 2px solid #c5f7be !important;
    
}

.tile-proposal-table-reservation.table-selector-selected .tile-proposal-content-title, 
.tile-proposal-table-reservation.table-selector-selected .tile-proposal-content-time
{
    
    background-color: #d4fad6 !important;
    color: #3c763d !important;
    
}

#table-reservation-selection-info-box
{
    
    display: none;
    
}

#btn-book-tables-confirm
{
        
    display: none;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#btn-book-tables-confirm:hover
{
    
}

#button_user_edit_password
{
    
    width: 100%;
    
}

.password-info-modal
{
 
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #eee;
    display: block;    
    
}

.ajax-login-hint
{
    
    padding: 24px;
    padding-top: 36px;
    
}

.modal-content .ajax-login-hint
{
    
    text-align: center;
    
}