
#language-variable-list
{
    
    max-height: 500px;
    
    overflow-y: scroll;
    
}

#language-variable-list .form-group
{
    
    background-color: #eeeeee;
    
    padding: 10px;
    
}

#language-variable-list .form-group label
{
    
    padding-top: 10px;
    padding-left: 10px;
        
}

#language-variable-list .form-group input
{
    
    margin-top: 24px;
    
    background-color: #fff;
    
    padding-left: 4px;
    padding-right: 4px;
    
    text-align: center;
    
}

#language-variable-list .button-option-edit
{
    
    margin-top: 10px;
    float: right;
    
}
