<script type="text/javascript" src="assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/calsy/CalendarSettings.js"></script>
<script type="text/javascript" src="assets/js/system/LanguageVariable.js"></script>
<script type="text/javascript" src="assets/js/calsy/modules/OpeningTimes.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/custom_fields.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress(true) . "module/overview/"?>"><?php PerisianLanguageVariable::printVariable(11066) ?></a></li>
        <li class="active"><?=$result['object_module']->getModuleName()?></li>
    </ol>
    
</div>

<div class="section-body">
              
    <div class="col-lg-4">

        <div class="card" style="min-height: 239px;">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10705); ?></h2>
                    <?php PerisianLanguageVariable::printVariable(10930); ?>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_module'], 10705) ?>

            </form>

        </div>

    </div>
    
    <div class="col-lg-8">

        <div class="card">
            
            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    
                    <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p5a046893d3461');?></h2>
                                        
                </div>

                <div class="card-body" id="calendar-opening-times">
                    
                    <?=PerisianLanguageVariable::getVariable(10885);?>
                    
                    <div id="calendar-opening-times-container"></div>
                    
                    <div id="calendar-opening-times-dummy-container">
                        
                        <?php require __DIR__ . "/../calsy/calendar/element/calendar_opening_time.phtml"; ?>
                        
                    </div>
                    
                    <script type="text/javascript">
                    
                        jQuery(document).ready(function() {
                            
                            OpeningTimes.buildOpeningTimesSelector('#calendar-opening-times', <?=$result['list_opening_times']?>);
                            
                        });
                    
                    </script>

                </div>

                <div class="card-actionbar">

                    <div class="card-actionbar-row">

                        <button class="btn btn-primary-bright ink-reaction" id="button-add_calendar_opening_times" type="button" onclick="OpeningTimes.addOpeningTime('#calendar-opening-times')"><?=PerisianLanguageVariable::getVariable(10886)?></button>
                    
                        <button class="btn btn-primary-bright ink-reaction" id="button-save_calendar_opening_times" type="button" onclick="OpeningTimes.saveOpeningTimes('#calendar-opening-times')"><?=PerisianLanguageVariable::getVariable(10129)?></button>

                    </div>

                </div>

            </form>

        </div>

    </div>
         
</div>
