<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/system/LanguageVariable.js"></script>
<script type="text/javascript" src="assets/js/system/Module.js"></script>
<script type="text/javascript" src="assets/js/libs/fa-iconpicker/fontawesome-iconpicker.js"></script>
<script type="text/javascript" src="assets/js/libs/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="assets/js/calsy/modules/UserFrontendModule.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/module_settings.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/fontawesome-iconpicker.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-tagsinput/bootstrap-tagsinput.css"/>

<script type="text/javascript">
    
    jQuery(document).ready(function(){
        
        PerisianBaseSettings.controller = '<?=(PerisianFrameworkToolbox::getPageAddress())?>';
        
    });
    
</script>
    
<div class="section-header">
    
    <ol class="breadcrumb">
        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress(true) . "module/overview/"?>"><?php PerisianLanguageVariable::printVariable(11066) ?></a></li>
        <li class="active"><?=$result['object_module']->getModuleName()?></li>
    </ol>
    
</div>

<div class="section-body">
          
    <div class="col-lg-4">

        <div class="card" style="min-height: 239px;">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10705); ?></h2>
                    <?php PerisianLanguageVariable::printVariable(10930); ?>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_module'], 10705) ?>

            </form>

        </div>
        
        <?php if(count($result['list_settings_module_custom']) > 0): ?>

            <div class="card" style="min-height: 239px;">

                <form class="form form-validate floating-label" novalidate="novalidate">

                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable(10928)?></h2>
                    </div>

                    <?php PerisianSetting::printSettingList($result['list_settings_module_custom'], 10928) ?>

                </form>

            </div>

        <?php endif; ?>
        
        
        <div class="card">
        
            <div class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?=lg('p5e5e697dc503b')?></h2>
                </div>
                
                <div class="card-body user-frontend-default-custom-field-container">
                    
                    <?php foreach($result['user_frontend_object']->getCustomFields() as $field): ?>

                        <div class="row form-group user-custom-input-field" id="custom_field_<?=$field['id']?>" data-id="<?=$field['id']?>">

                            <div class="col-sm-9 user-custom-input-box-label">

                                <input type="text" class="form-control user-custom-input-field-label" value="<?=$field['label']?>" placeholder="<?=lg('10796')?>"/>

                            </div>
                            
                            <div class="col-sm-3">

                                <button type="button" class="user-custom-input-button user-custom-input-button-add">+</button>
                                <button type="button" data-id="<?=$field['id']?>" class="user-custom-input-button user-custom-input-button-remove">-</button>

                            </div>

                        </div>

                    <?php endforeach; ?>
                    
                </div>
                
                <div class="card-actionbar">

                    <div class="card-actionbar-row">

                        <button class="btn btn-primary-bright ink-reaction" id="user-frontend-default-custom-field-button-save" type="button"><?=lg('10129')?></button>

                    </div>

                </div>

            </div>

        </div>

    </div>
    
    <div class="col-lg-4">

        <div class="card">

            <div class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10018); ?></h2>
                    <?php PerisianLanguageVariable::printVariable(11117); ?>
                </div>
                
                <div class="card-body" id="language-variable-list" style="padding-bottom: 0">

                    <?php foreach($result['list_language_variables_module'] as $languageVariableKey => $languageVariableValue): ?>

                        <div class="form-group">
                            
                            <label for="language-variable"><?=PerisianLanguageVariable::getVariable(11085)?></label>
                            <input name="language-variable" class="form-control" readonly data-language-id="<?=$languageVariableKey?>" value="<?=$languageVariableValue?>"/>
                            
                            <button class="btn btn-primary-bright button-option-edit"><i class="fa fa-edit"></i></button>
                            
                            <br style="clear:both"/>
                            
                        </div>

                    <?php endforeach; ?>
                    
                </div>

            </div>

        </div>

    </div>
    
    <?php if(!$result['hide_link_overview']): ?>

        <div class="col-lg-4">

            <div class="card">

                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10888); ?></h2>
                </div>

                <div class="card-body">

                    <a href="<?=PerisianFrameworkToolbox::getServerAddress(true) . $result['module_name_short'] . "/overview/"?>" class="btn btn-primary-bright" style="width: 100%"><?=PerisianLanguageVariable::getVariable(11120);?></a>

                </div>

            </div>

        </div>
    
    <?php endif; ?>
    
    <?php if(@$result['list_settings_custom'] && count($result['list_settings_custom']) > 0): ?>
    
        <div class="col-lg-4">

            <div class="card" style="min-height: 239px;">

                <form class="form form-validate floating-label" novalidate="novalidate">

                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10928); ?></h2>
                        <?php PerisianLanguageVariable::printVariable(10929); ?>
                    </div>

                    <?php PerisianSetting::printSettingList($result['list_settings_custom'], 10929) ?>

                </form>

            </div>

        </div>
    
    <?php endif; ?>
    
    <div class="col-lg-4">

        <div class="card">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(11199); ?></h2>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_icon'], 11199) ?>

            </form>

        </div>
        
    </div>
        
</div>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Module.initLanguageVariableEditing("#language-variable-list");
        UserFrontendModule.initCustomFields();
        
    });

</script>