<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/calsy/AppointmentField.js"></script>
<script type="text/javascript" src="assets/js/calsy/Area.js"></script>
<script type="text/javascript" src="assets/js/calsy/AreaGroup.js"></script>
<script type="text/javascript" src="assets/js/system/LanguageVariable.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/custom_fields.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress(true) . "module/overview/"?>"><?php PerisianLanguageVariable::printVariable(11066) ?></a></li>
        <li class="active"><?=$result['object_module']->getModuleName()?></li>
    </ol>
    
</div>

<div class="section-body">
          
    <div class="col-lg-4">

        <div class="card" style="min-height: 239px;">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10705); ?></h2>
                    <?php PerisianLanguageVariable::printVariable(10930); ?>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_module'], 10705) ?>

            </form>

        </div>

    </div>
     
    <div class="col-lg-4">

        <div class="card" style="min-height: 239px;">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10928); ?></h2>
                    <?php PerisianLanguageVariable::printVariable(10929); ?>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_user_frontend_registration_module'], 10929) ?>

            </form>

        </div>

    </div>
        
    <div class="col-lg-4">

        <div class="card" style="min-height: 239px;">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(11068); ?></h2>
                    <?php PerisianLanguageVariable::printVariable(11074); ?>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_appointment_assistant_frontend_registration_module'], 11068) ?>

            </form>

        </div>

    </div>
    
    <div class="col-lg-8">

        <div class="card" style="min-height: 239px;">

            <div class="card-body" style="padding-bottom: 0">
                <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(11075); ?></h2>
                <?php PerisianLanguageVariable::printVariable(11076); ?>
            </div>

            <div class="card-body" id="appointment_fields">
                
                <?php for($i = 0; $i < count($result['pages_allowed']); ++$i): ?>

                    <div data-index="<?=$result['pages_allowed'][$i]['index']?>" class="appointment-field-tab<?=($i == 0 ? " active" : "")?>"><?=PerisianLanguageVariable::getVariable(11079)?> <?=($i + 1)?> - <?=$result['pages_allowed'][$i]['title']?></div>

                <?php endfor; ?>

                <?php for($i = 0; $i < count($result['pages_allowed']); ++$i): ?>

                    <div data-index="<?=$result['pages_allowed'][$i]['index']?>" class="appointment-field-container"></div>

                <?php endfor; ?>
                    
                <div class="appointment-field-container-loading" id="loading-box"></div>

                <div id="additional-field-controls">
                    
                    <div class="col-sm-4 no-sidepadding-left no-sidepadding-right">
                        <select name="type_selector" id="type_selector" class="form-control static dirty">

                            <option value="text" selected><?=PerisianLanguageVariable::getVariable(11092)?>: <?=PerisianLanguageVariable::getVariable(11089)?></option>
                            <option value="radio"><?=PerisianLanguageVariable::getVariable(11092)?>: <?=PerisianLanguageVariable::getVariable(11088)?></option>
                            <option value="select"><?=PerisianLanguageVariable::getVariable(11092)?>: <?=PerisianLanguageVariable::getVariable('p575ecd73e388e')?></option>
                            
                            <?php if(CalsyAreaModule::isEnabled()): ?>
                                <option value="area-selector"><?=PerisianLanguageVariable::getVariable(11092)?>: <?=PerisianLanguageVariable::getVariable('p577e5b01378dd')?></option>
                                <option value="area-filter"><?=PerisianLanguageVariable::getVariable(11092)?>: <?=PerisianLanguageVariable::getVariable('p575ecd585ad92')?></option>
                                <option value="area-group-filter"><?=PerisianLanguageVariable::getVariable(11092)?>: <?=PerisianLanguageVariable::getVariable('p59ba7a0d156f8')?></option>
                            <?php endif; ?>

                        </select>
                    </div>

                    <div class="col-sm-8 no-sidepadding-right">
                        
                        <button id="button-add-new" class="btn btn-primary-bright ink-reaction">+</button>
                        <button id="button-save-all" class="btn btn-primary-bright ink-reaction"><?=PerisianLanguageVariable::getVariable(10129)?></button>
                        
                    </div>
                    
                    <br style="clear:both"/>

                </div>

            </div>
                
        </div>

    </div>
    
</div>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        Language.updateVariableCache(<?=json_encode($result['custom_field_language_variables'])?>);
        
        AppointmentField.initialize('#appointment_fields', <?=json_encode($result['custom_fields'])?>);
        
    });

</script>