<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/libs/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="assets/js/libs/ckeditor/adapters/jquery.js"></script>

<div class="section-header">
    
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(11066) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(11067) ?></li>
    </ol>
    
</div>

<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?php PerisianLanguageVariable::printVariable(11069); ?></b>
            
            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 80%">
                                <?php PerisianLanguageVariable::printVariable(10796) ?>
                            </th>
                            
                            <th style="width: 10%">
                                <?php PerisianLanguageVariable::printVariable(10522) ?>
                            </th>

                            <th style="width: 10%" class="text-right"><?php PerisianLanguageVariable::printVariable(10077) ?></th>

                        </tr>

                    </thead>
                    
                    <tbody>

                        <?php foreach($result['list_modules'] as $module): ?>

                        <tr>

                            <td><b><?=$module['name']?></b><br><?=PerisianLanguageVariable::getVariable(11070)?>: <code><?=$module['identifier']?></code></td>
                            <td><?=PerisianLanguageVariable::getVariable($module['isEnabled'] ? 10637 :  10524 )?></td>

                            <td class="text-right">

                                <nobr>
                                    <button onclick="javascript:location.href='<?=PerisianFrameworkToolbox::getServerAddress(true) . "module/" . $module['identifier']?>/';" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?=PerisianLanguageVariable::getVariable(11073)?>"><i class="fa fa-pencil"></i></button>
                                </nobr>

                            </td>

                        </tr>

                        <?php endforeach; ?>

                    </tbody>

                </table>
                
            </div>

        </div>

    </div>
    
</div>