<script type="text/javascript" src="assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="assets/js/system/Validation.js"></script>
<script type="text/javascript" src="assets/js/system/SystemSettings.js"></script>
<script type="text/javascript" src="assets/js/system/LanguageVariable.js"></script>
<script type="text/javascript" src="assets/js/system/Module.js"></script>
<script type="text/javascript" src="assets/js/libs/fa-iconpicker/fontawesome-iconpicker.js"></script>
<script type="text/javascript" src="assets/js/libs/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/module_settings.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/fontawesome-iconpicker.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-tagsinput/bootstrap-tagsinput.css"/>

<script type="text/javascript">
    
    jQuery(document).ready(function(){
        
        PerisianBaseSettings.controller = '<?=(PerisianFrameworkToolbox::getPageAddress())?>';
        
    });
    
</script>
    
<div class="section-header">
    
    <ol class="breadcrumb">
        <li><a href="<?=PerisianFrameworkToolbox::getServerAddress(true) . "module/overview/"?>"><?php PerisianLanguageVariable::printVariable(11066) ?></a></li>
        <li class="active"><?=$result['object_module']->getModuleName()?></li>
    </ol>
    
</div>

<div class="section-body">
          
    <div class="col-lg-4">

        <div class="card" style="min-height: 239px;">

            <form class="form form-validate floating-label" novalidate="novalidate">
                
                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10705); ?></h2>
                    <?php PerisianLanguageVariable::printVariable(10930); ?>
                </div>
                
                <?php PerisianSetting::printSettingList($result['list_settings_module'], 10705) ?>

            </form>

        </div>
        
    </div>

    <div class="col-lg-4">
    
        <?php if(count($result['list_settings_module_custom']) > 0): ?>

            <div class="card" style="min-height: 239px;">

                <form class="form form-validate floating-label" novalidate="novalidate">

                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable(10928)?></h2>
                    </div>

                    <?php PerisianSetting::printSettingList($result['list_settings_module_custom'], 10928) ?>

                </form>

            </div>

        <?php endif; ?>

    </div>
        
    <?php if(!$result['hide_link_overview']): ?>

        <div class="col-lg-4">

            <div class="card">

                <div class="card-body" style="padding-bottom: 0">
                    <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10888); ?></h2>
                </div>

                <div class="card-body">

                    <a href="<?=PerisianFrameworkToolbox::getServerAddress(true) . $result['module_name_short'] . "/overview/"?>" class="btn btn-primary-bright" style="width: 100%"><?=PerisianLanguageVariable::getVariable(11120);?></a>

                </div>

            </div>

        </div>
    
    <?php endif; ?>
        
</div>