<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
        
    <div class="modal-body">

        <div class="form-group">
            
            <div class="col-sm-12">

                <table class="api-user-rights">
                    
                    <tr>
                        
                        <td style="width: 60%"><?=PerisianLanguageVariable::getVariable('p583c9acd9eb35')?></td>
                        <td style="width: 20%; text-align: center;"><?=PerisianLanguageVariable::getVariable('p5877d7b002edd')?></td>
                        <td style="width: 20%; text-align: center;"><?=PerisianLanguageVariable::getVariable('p5877d7be675ed')?></td>
                        
                    </tr>
                    
                    <?php foreach($result['list_access'] as $resourceKey => $resourceInfo): ?>

                        <tr>

                            <td><?=$resourceInfo['name']?></td>
                            
                            <td style="text-align: center;">
                            
                                <div class="checkbox checkbox-styled">
                                    
                                    <label style="padding-bottom: 10px;">
                                        <input type="checkbox" id="<?=$resourceKey?>_read" name="<?=$resourceKey?>_read"<?php if($resourceInfo['access_read']): ?> checked<?php endif ?>/>
                                    </label>
                                    
                                </div>
                                
                            </td>
                            
                            <td style="text-align: center;">
                            
                                <div class="checkbox checkbox-styled">
                                    
                                    <label style="padding-bottom: 10px;">
                                        <input type="checkbox" id="<?=$resourceKey?>_write" name="<?=$resourceKey?>_write"<?php if($resourceInfo['access_write']): ?> checked<?php endif ?>/>
                                    </label>
                                    
                                    <script type="text/javascript">
                                    
                                        jQuery(document).ready(function() {
                                            
                                            
                                            jQuery('#<?=$resourceKey?>_write').change(function() {
                                                
                                                var changedElement = jQuery(this);
                                                
                                                if(changedElement.is(':checked'))
                                                {
                                                    
                                                    jQuery('#<?=$resourceKey?>_read').prop('checked', true);
                                                    
                                                }
                                                
                                            });
                                            
                                        });
                                    
                                    </script>
                                    
                                </div>
                                
                            </td>

                        </tr>
                    
                    <?php endforeach; ?>
                    
                </table>

            </div>
            
        </div>
        
    </div>
    
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick=UserApi.cancel()><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="UserApi.saveAccess()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>