<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if($action == 'edit'): ?>
    <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
    <?php endif ?>
    
    <div class="modal-body">

        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_user_api_name"><?php PerisianLanguageVariable::printVariable(10079) ?></label>
                <input type="text" id="calsy_user_api_name" class="form-control" name="calsy_user_api_name" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_name}; endif?>"/>

            </div>
        </div>
        
    </div>
    
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick=UserApi.cancel()><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="UserApi.saveUserApi()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>