<td>
        
    <?php if(strlen($currentEntry['calsy_user_api_password']) == 0): ?>
    
    <a href="#" data-toggle="tooltip" data-original-title="<?=PerisianLanguageVariable::getVariable('p58372446e9994')?>"><i class="warning fa fa-warning"></i></a>&nbsp;
    
    <?php endif; ?>
    
    <b><a href="javascript:UserApi.editUserApi(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_api_id']) ?>)" onclick=""><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_user_api_name'])?></a></b>

</td>

<td>
    
    <?=$currentEntry['calsy_user_api_token']?>
    
    <?php if(strlen($currentEntry['calsy_user_api_token']) > 0): ?>
    
        <br/>
        <?=PerisianLanguageVariable::getVariable('p58371f26bd72d')?> <?= PerisianFrameworkToolbox::timestampToDateTime($currentEntry['calsy_user_api_token_expires'])?>
        
    <?php else: ?>
        
        -
        
    <?php endif; ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="UserApi.editUserApi(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_api_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10075) ?>"><i class="fa fa-pencil"></i></button>
       
        <button onclick="UserApi.editAccess(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_api_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p5837229b21944') ?>"><i class="fa fa-th-list"></i></button>
        
        <button onclick="UserApi.newPassword(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_api_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10087) ?>"><i class="fa fa-lock"></i></button>
                                    
        <button onclick="UserApi.deleteUserApi(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_user_api_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10076) ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
