<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/UserApi.js"></script>
<script type="text/javascript" src="../assets/js/libs/dropzone/dropzone.min.js"></script>
<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        UserApi.currentOffset = <?php echo $result['offset'] ?>;
        UserApi.currentLimit = <?php echo $result['limit'] ?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable('p58370f17ea90c') ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div><!--end .section-header -->

<div class="section-body">
    
    <div id="inner">
        
        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="height: 176px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {UserApi.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="UserApi.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="UserApi.showEntries(null, null, null, null, true);" type="button" style="position:relative; top:15px;"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="UserApi.createNewUserApi()" type="button">
                                <span class="md md-description"></span> <?php PerisianLanguageVariable::printVariable('p58371e90e4392') ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div><!--end .section-body -->