<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title'] ?></h4>
    
</div>

<div class="modal-body">
    
    <?php echo $result['message'] ?>

</div>    

<div class="modal-footer">
        
    <button type="button" class="btn btn-primary-bright" id="cancelButton" onclick="UserApi.showEntries(); UserApi.cancel()"><?php PerisianLanguageVariable::printVariable(10069) ?></button>
    
</div>