
<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>
<script type="text/javascript" src="../assets/js/calsy/CalsyAutocompleteRenderer.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        jQuery('#expiration_date').datepicker({

            language: '<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>', 
            todayHighlight: true,
            autoclose: true,

            format: 'dd.mm.yyyy'

        });
             
    });
        
</script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h4 class="modal-title" id="formModalLabel">
        <?=$result['title_form']?>
    </h4>
    
</div>

<form class="form-horizontal" role="form">

    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable('p5e6173a9037ba')?></div>
        
    <div class="modal-body">
        
        <div class="alert alert-block alert-info" style="text-align: left; margin-bottom: 12px;"><?=nl2br(lg('p5e61744c605b2'))?></div>
                
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?=lg('p5e616623caef6')?></label><br/>
                
                <div class="input-daterange input-group" id="calsy_calendar_date_range">

                    <div class="input-group-content">

                        <input type="text" class="form-control datepicker-item" name="expiration_date" id="expiration_date" value="<?=date("d.m.Y", $result['default_expiration_date'])?>">
                        <div class="form-control-line"></div>

                    </div>
                    
                    <span class="input-group-addon"><?php PerisianLanguageVariable::printVariable(10887)?></span>
                    
                    <div class="input-group-content">

                        <input type="text" class="form-control time-mask" name="expiration_date_time" id="expiration_date_time" value="12:00">

                    </div>

                </div>
                
            </div>
            
        </div>
        
        <div class="form-group">

            <div class="col-sm-12">

                <label for="invitation_text"><?=lg("p5e67dfd928142")?> </label>
                <textarea type="text" id="invitation_text" class="form-control" name="invitation_text"></textarea>

            </div>

        </div>

    </div>
    
    <div class="modal-body info-bar"><?=PerisianLanguageVariable::getVariable('p5e4c3fb132cd1')?></div>
    
    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?=lg('p5e4af2deca15c')?></label><br/>
                
                <div class="calsy-user-selector-multi">

                    <?php foreach($result['list_users_invitation'] as $index => $userSurvey): ?>

                        <div class="calsy-user-selector-multi-element calsy-user-selector-multi-element-entry">

                            <div class="checkbox checkbox-styled">

                                <div class="col-sm-12 checkbox checkbox-styled">

                                    <label for="calsy-user-selector-multi-survey-<?=$index?>">
                                        
                                        <input type="checkbox" id="calsy-user-selector-multi-survey-<?=$index?>" name="calsy-user-selector-multi-survey-<?=$index?>" value="<?=$userSurvey['id']?>"<?=($userSurvey['selected'] ? ' checked' : '')?>/>
                                        
                                        <?=$userSurvey['name']?>
                                                   
                                        <?php $tooltipPlacement = ($index > count($result['list_users_invitation']) - 3 ? 'top' : 'bottom'); ?>

                                        <div class="calsy-user-selector-multi-survey-details-box">

                                            <?php if($userSurvey['invitation_sent']): ?>

                                                <div class="calsy-user-selector-multi-survey-status calsy-user-selector-multi-survey-status-invitation-sent" data-toggle="tooltip" data-placement="<?=$tooltipPlacement?>" data-trigger="hover" data-original-title="<?=(lg('p5e61773087e16') . PerisianFrameworkToolbox::timestampToDateTime($userSurvey['invitation_date_expiration']))?>">

                                                    <i class="md md-mail"></i>

                                                </div>

                                            <?php endif; ?>

                                        </div>

                                    </label>

                                </div>

                            </div>

                        </div>

                    <?php endforeach; ?>

                </div>
                                
            </div>
            
        </div>
        
    </div>
    
    <div class="modal-body info-bar"><?=lg("p5e67e766340b7")?></div>
    
    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
                <label><?=lg('p5e67e80db5bb8')?></label><br/>
                
                <div class="calsy-user-selector-multi">

                    <?php foreach($result['possible_fields'] as $index => $possibleFieldData): ?>

                        <div class="calsy-user-selector-multi-element calsy-field-selector">

                            <div class="checkbox checkbox-styled">

                                <div class="col-sm-12 checkbox checkbox-styled">

                                    <label for="field_selector_<?=$possibleFieldData['key']?>">
                                        
                                        <input type="checkbox" id="field_selector_<?=$possibleFieldData['key']?>" name="field_selector_<?=$possibleFieldData['key']?>" value="<?=$possibleFieldData['key']?>" checked/>
                                        
                                        <?=$possibleFieldData['name']?>
                                                   
                                        <?php $tooltipPlacement = ($index > count($result['possible_fields']) - 3 ? 'top' : 'bottom'); ?>

                                        <div class="calsy-user-selector-multi-survey-details-box">

                                            <?php if($possibleFieldData['is_custom']): ?>

                                                <div class="calsy-user-selector-multi-survey-status" data-toggle="tooltip" data-placement="<?=$tooltipPlacement?>" data-trigger="hover" data-original-title="<?=lg('p5e67eaf619dad')?>">

                                                    <i class="fa fa-user" style="color: #333;"></i>

                                                </div>

                                            <?php endif; ?>

                                        </div>
                                        
                                    </label>

                                </div>

                            </div>

                        </div>

                    <?php endforeach; ?>

                </div>
                
                <script type="text/javascript">
                    
                    jQuery(document).ready(function() {
                        
                        jQuery(".calsy-user-selector-multi").tooltip({selector: '[data-toggle=tooltip]'});
                        
                    });
                
                </script>
                
            </div>
            
        </div>
        
    </div>
    
</form>

<div class="modal-footer">
        
    <button type="button" class="btn btn-default" id="cancelButton" onclick="MasterData.cancel()"><?=lg('10495')?></button>
    
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="MasterData.sendInvitations()"><i class="md md-mail"></i> <?=lg('p5e617daca8fc8')?></button>
    
</div>