<?php if($action == "list"): ?>
<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=lg('p5e6169b7ee6ce')?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 50%">
                                
                                <?php PerisianLanguageVariable::printVariable('p5e616611e37fe') ?>
                                
                            </th>
                            
                            <th style="width: 30%">
                                <?=PerisianLanguageVariable::getVariable('p5e616623caef6')?>
                            </th>
                                                                                                                
                            <th style="width: 20%" class="text-right"><?php PerisianLanguageVariable::printVariable(10077) ?></th>
                            
                        </tr>

                    </thead>
                    
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <tr id="table_info_master_data_<?=$currentEntry['calsy_master_data_id']?>">

                                <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
