<td>
    
    <b><?=CalsyUserFrontend::getFullnameForUserById($currentEntry['calsy_master_data_user_id'])?></b>
    
                                
    
</td>

<td>
    
    <?= PerisianFrameworkToolbox::timestampToDateTime($currentEntry['calsy_master_data_timestamp_expiration'])?>
    
</td>

<td class="text-right">

    <nobr>

        <a target="_blank" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>master_data/?e=<?=$currentEntry['calsy_master_data_code']?>" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p5e61887628d17') ?>"><i class="fa fa-link"></i></a>
        <button onclick="MasterData.deleteMasterData(<?=$currentEntry['calsy_master_data_id']?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable('p5e6167614d39d') ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
