<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Calendar.js"></script>
<script type="text/javascript" src="../assets/js/calsy/MasterData.js"></script>

<script type="text/javascript" src="../assets/js/libs/moment/moment-with-locales.js"></script>
<script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>

<?php if(PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId()) != "en"): ?>
    <script type="text/javascript" src="../assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.<?=PerisianLanguage::getLanguageCode(PerisianSystemConfiguration::getLanguageId())?>.js"></script>
<?php endif; ?>
    
<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>
    
<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        MasterData.currentOffset = <?php echo $result['offset'] ?>;
        MasterData.currentLimit = <?php echo $result['limit'] ?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable('p5e615d660ac5d') ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyMasterDataModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
                        
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="MasterData.createNewInvitation()" type="button">
                                <span class="md md-description"></span> <?php PerisianLanguageVariable::printVariable('p5e6165be6ed34') ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div>