<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if($action == 'edit'): ?>
    <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
    <?php endif ?>

    <div class="modal-body">

        <div class="form-group">
            <div class="col-sm-12">

                <label for="user_name"><?php PerisianLanguageVariable::printVariable(10079) ?></label>
                <input type="text" id="user_name" class="form-control" name="user_name" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_login_name}; endif?>" <?php if($action == 'edit'): ?> disabled<?php endif ?>/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="user_fullname"><?php PerisianLanguageVariable::printVariable(10080) ?></label>
                <input type="text" id="user_fullname" class="form-control" name="user_fullname" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_fullname}; endif?>"/>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">

                <label for="user_email"><?php PerisianLanguageVariable::printVariable(10081) ?></label>
                <input type="text" id="user_email" class="form-control" name="user_email" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_email}; endif?>"/>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">

                <label for="user_phone"><?php PerisianLanguageVariable::printVariable(10486) ?></label>
                <input type="text" id="user_phone" class="form-control" name="user_phone" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_phone}; endif?>"/>

            </div>
        </div>
                        
        <?php if($user->isAdmin() && PerisianSystemSetting::getSettingValue('system_show_backend_users_sorted_by_key') == 1): ?>

            <div class="form-group">
                <div class="col-sm-12">
                    
                    <label for="user_sorting_custom"><?=PerisianLanguageVariable::getVariable('p596be72199609')?></label>
                    <input type="text" class="form-control" id="user_sorting_custom" name="user_sorting_custom" value="<?=$result['object']->{$result['object']->field_sorting_custom} ?>"/>
                    
                </div>
            </div>

        <?php endif; ?>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="user_status"><?php PerisianLanguageVariable::printVariable(10636) ?></label>
                <select id="user_status" class="form-control" name="user_status">
                    
                    <option value="active"<?php if($action == 'edit' && $result['object']->{$result['object']->field_status} == "active"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10637) ?></option>
                    <option value="inactive"<?php if($action == 'edit' && $result['object']->{$result['object']->field_status} == "inactive"): ?> selected<?php endif;?>><?php PerisianLanguageVariable::printVariable(10638) ?></option>
                    
                </select>

            </div>
        </div>

    </div>
    
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="User.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="User.saveUser()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>