<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?php PerisianLanguageVariable::printVariable(10084); ?></b>
            
            <?php if($result['offset'] + $result['limit'] < $result['count']): ?>
                <button class="btn btn-primary-bright ink-reaction"
                        type="button"
                        onclick="User.showEntries(<?php echo $result['offset'] + $result['limit'] ?>, <?php echo $result['limit'] ?>)"
                        style="float: right; margin-left: 5px; margin-bottom:5px;"><?php PerisianLanguageVariable::printVariable(10043) ?> <i class="md md-navigate-next"></i></button>
            <?php endif ?>
            
            <?php if($result['offset'] - $result['limit'] >= 0): ?>
                <button class="btn btn-primary-bright ink-reaction"
                        type="button"
                        onclick="User.showEntries(<?php echo $result['offset'] - $result['limit'] ?>, <?php echo $result['limit'] ?>)"
                        style="float: right; margin-bottom:5px;"><i class="md md-navigate-before"></i> <?php PerisianLanguageVariable::printVariable(10042) ?></button>
            <?php endif ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 20%">
                                <a href="javascript:void(0)" onclick="User.toggleSorting('<?php echo $user->field_fullname ?>')"><?php PerisianLanguageVariable::printVariable(10080) ?></a>
                            </th>
                            
                            <th style="width: 20%">
                                <a href="javascript:void(0)" onclick="User.toggleSorting('<?php echo $user->field_login_name ?>')"><?php PerisianLanguageVariable::printVariable(10079) ?></a>
                            </th>

                            <th style="width: 20%">
                                <a href="javascript:void(0)" onclick="User.toggleSorting('<?php echo $user->field_email ?>')"><?php PerisianLanguageVariable::printVariable(10081) ?></a>
                            </th>
                            
                            <th style="width: 20%">
                                <a href="javascript:void(0)" onclick="User.toggleSorting('<?php echo $user->field_email ?>')"><?php PerisianLanguageVariable::printVariable(10727) ?></a>
                            </th>

                            <?php if($user->isAdmin()): ?>
                            <th style="width: 20%" class="text-right"><?php PerisianLanguageVariable::printVariable(10077) ?></th>
                            <?php endif ?>

                        </tr>

                    </thead>
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): ?>

                        <tr>
                            
                            <td><div class="user-color" style="background-color: <?=$result['list'][$i]['user_color']?>; background-image: url('<?=CalsyUserBackend::getUserImageProfile($result['list'][$i]['user_id'])?>');"></div><?=CalsyUserBackend::getUserFullname($result['list'][$i]['user_id'])?></td>
                            <td><?php if($result['list'][$i]['user_status'] == "inactive"): ?><i data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10638) ?>" class="fa fa-exclamation-circle text-danger"></i> <?php endif; ?><?php echo $result['list'][$i]['user_login_name'] ?></td>
                            <td><?php echo $result['list'][$i]['user_email'] ?></td>
                            <td><?php echo $result['list'][$i]['user_role'] ?></td>

                            <?php if($user->isAdmin()): ?>
                            <td class="text-right">

                                <nobr>
                                    <button onclick="User.editUser(<?php echo PerisianFrameworkToolbox::security($result['list'][$i]['user_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10075) ?>"><i class="fa fa-pencil"></i></button>
                                    <button onclick="User.editSettings(<?php echo PerisianFrameworkToolbox::security($result['list'][$i]['user_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10111) ?>"><i class="md md-settings"></i></button>
                                    <button onclick="User.newPassword(<?php echo PerisianFrameworkToolbox::security($result['list'][$i]['user_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10087) ?>"><i class="fa fa-lock"></i></button>
                                    <button onclick="User.deleteUser(<?php echo PerisianFrameworkToolbox::security($result['list'][$i]['user_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10076) ?>"><i class="fa fa-trash-o"></i></button>
                                 </nobr>

                            </td>
                            <?php endif ?>

                        </tr>

                        <?php endfor ?>

                    </tbody>

                </table>
                
            </div>

        </div>

    </div>
</div>
