<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/user/User.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        
        User.currentOffset = <?php echo $result['offset'] ?>;
        User.currentLimit = <?php echo $result['limit'] ?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10020) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div><!--end .section-header -->
<div class="section-body">

    <div id="inner">

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="height: 192px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {User.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="User.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                            </div>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="User.showEntries(null, null, null, null, true);" type="button" style="position:relative; top:15px;"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4" id="<?php echo $settingsId ?>">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">

                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="User.createNewUser()" type="button">
                                <i class="md md-description"></i> <?php PerisianLanguageVariable::printVariable(10085) ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div><!--end .section-body -->