<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/basic/PerisianBaseSettings.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/user/UserSettings.js"></script>
<script type="text/javascript" src="../assets/js/user/User.js"></script>
<script type="text/javascript" src="assets/js/libs/dropzone/dropzone.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/colorpicker/colorpicker.js"></script>

<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/colorpicker/colorpicker.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/theme-default/libs/dropzone/dropzone-theme.css"/>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li><?php if($result['show_admin_functions']): ?><a href="<?=PerisianFrameworkToolbox::getServerAddress()?>/user_backend/management/"><?php PerisianLanguageVariable::printVariable(10020) ?></a><?php else: PerisianLanguageVariable::printVariable(10020); endif; ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable($result['show_admin_functions'] ? 10111 : 10026) ?></li>
        
    </ol>
    
</div>

<div class="section-body">
     
    <div id="inner">

        <input type="hidden" id="subjectId" value="<?=$result['object']->{$result['object']->field_pk} ?>">
        
        <div class="col-lg-4">

            <div class="card">

                <form class="form form-validate floating-label" novalidate="novalidate">
                    
                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10480); ?></h2>
                    </div>
                    
                    <div class="card-body">

                        <div class="form-group">
                            <input type="text" class="form-control" id="user_fullname" name="user_fullname" readonly value="<?=$result['object']->{$result['object']->field_fullname} ?>"/>
                            <label for="user_fullname"><?php PerisianLanguageVariable::printVariable(10080); ?></label>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="user_name" name="user_name" readonly value="<?=$result['object']->{$result['object']->field_login_name} ?>"/>
                            <label for="user_name"><?php PerisianLanguageVariable::printVariable(10079); ?></label>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="user_email"<?php if($result['object']->{$result['object']->field_pk} != $user->{$user->field_pk}): ?> readonly<?php endif; ?> name="user_email" value="<?=$result['object']->{$result['object']->field_email} ?>"/>
                            <label for="user_email"><?php PerisianLanguageVariable::printVariable(10081); ?></label>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_phone"<?php if($result['object']->{$result['object']->field_pk} != $user->{$user->field_pk}): ?> readonly<?php endif; ?> name="user_phone" value="<?=$result['object']->{$result['object']->field_phone} ?>"/>
                            <label for="user_phone"><?php PerisianLanguageVariable::printVariable(10486); ?></label>
                        </div>
                        
                        <?php if($user->isAdmin() && PerisianSystemSetting::getSettingValue('system_show_backend_users_sorted_by_key') == 1): ?>
                        
                            <div class="form-group">
                                <input type="text" class="form-control" id="user_sorting_custom" name="user_sorting_custom" value="<?=$result['object']->{$result['object']->field_sorting_custom} ?>"/>
                                <label for="user_sorting_custom"><?=PerisianLanguageVariable::getVariable('p596be72199609')?></label>
                            </div>
                        
                        <?php endif; ?>
                        
                        <?php if($user->{$user->field_pk} == $result['object']->{$result['object']->field_pk}): ?>
                        
                            <div class="form-group" style="margin-bottom: 0;">
                                
                                <button class="btn btn-primary-bright ink-reaction" id="button_user_edit_password" type="button" onclick="User.editOwnPassword();"><i class="fa fa-lock"></i> <?=lg(p602536684a580)?></button>

                            </div>
                        
                        <?php endif; ?>
                        
                    </div>
                    
                    <?php if($result['show_admin_functions']): ?> 
                    
                        <div class="card-actionbar">

                            <div class="card-actionbar-row">

                                <button class="btn btn-primary-bright ink-reaction" id="button_user_save" type="button" onclick="User.saveUserEdit();"><?php PerisianLanguageVariable::printVariable(10129) ?></button>

                            </div>

                        </div>
                    
                    <?php endif; ?>
                    
                </form>

            </div>

        </div>
        
        <?php if($result['show_admin_functions']): ?>

            <div class="col-lg-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body" style="padding-bottom: 0">
                            <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(11098); ?></h2>
                        </div>

                        <?php if(count($result['list_settings_admin']) > 0): ?>
                        <?php PerisianSetting::printSettingList($result['list_settings_admin'], 11098) ?>
                        <?php endif?>

                    </form>

                </div>

            </div>

            <script type="text/javascript">

                var checkRights = function() {

                    var boxSystemAdmin = jQuery('#setting_1');

                    var boxUserManagement = jQuery('#setting_31');
                    var boxSystemSettings = jQuery('#setting_51');

                    var isSystemAdmin = boxSystemAdmin.is(':checked');

                    if(!isSystemAdmin)
                    {

                        boxUserManagement.prop('checked', false);
                        boxSystemSettings.prop('checked', false);

                    }

                }
                
                jQuery(document).ready(function() {

                    checkRights();

                    jQuery('#setting_1').change(function() {

                        checkRights();

                    });

                    jQuery('#setting_51').change(function() {

                        // Access to the system settings

                        var value = jQuery(this).is(':checked');

                        if(value)
                        {

                            jQuery('#setting_1').prop('checked', true); 

                            checkRights();

                        }

                    });

                    jQuery('#setting_31').change(function() {

                        // Access to the user management

                        var value = jQuery(this).is(':checked');

                        if(value)
                        {

                            jQuery('#setting_1').prop('checked', true); 

                            checkRights();

                        }

                    });

                });
            
            </script>
        
        <?php endif;?>
                    
        <div class="col-lg-4">

            <div class="card">

                <form class="form form-validate floating-label" novalidate="novalidate">
                    
                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10027); ?></h2>
                    </div>

                    <?php if(count($result['list_settings_standard']) > 0): ?>
                    <?php PerisianSetting::printSettingList($result['list_settings_standard'], 10123) ?>
                    <?php endif?>
                    
                </form>

            </div>

        </div>
            
        <br style="clear:both;"/>
        
        <div class="col-lg-4">

            <div class="card">

                <div class="form-group" style="margin-bottom: 0">

                    <div class="card-body">

                        <h2 style="margin: 0;"><?=$result['field_upload_image_profile']["title"]?></h2>
                        <?=$result['field_upload_image_profile']["description"]?>

                    </div>

                    <form action="<?=$result['field_upload_image_profile']["action"]?>" type="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="form_<?=$result['field_upload_image_profile']["name"]?>">

                        <input type="hidden" name="do" value="upload"/>
                        <input type="hidden" name="subjectId" id="subjectId" value="<?=$result['object']->{$result['object']->field_pk} ?>">
                        <input type="hidden" name="setting" value="<?=$result['field_upload_image_profile']["name"]?>"/>

                        <div class="dz-message">
                            <h3><?=PerisianLanguageVariable::getVariable(10953)?></h3>
                            <em><?=PerisianLanguageVariable::getVariable(10662)?></em>
                        </div>

                        <input type="hidden" id="<?=$result['field_upload_image_profile']["name"]?>_filename" value="<?=$result['field_upload_image_profile']["image"]["name"]?>"/>

                    </form>
                </div>

            </div>

            <script type="text/javascript">

                /**
                 * Fired after a succesful upload.
                 * 
                 * @author Peter Hamm
                 * @param Object data
                 * @param Object response
                 * @returns void
                 */
                var onDropzoneUploadSuccess = function(data, response) 
                {

                    var callback = JSON.parse(response);

                    if(!callback.success)
                    {

                        toastr.error(callback.message);

                    }
                    else
                    {

                        toastr.success(callback.message);

                    }

                    return callback;

                };

                /**
                 * Fired after removing an upload.
                 * 
                 * @author Peter Hamm
                 * @param Object file
                 * @returns void
                 */
                var onDropzoneUploadRemoved = function(file)
                {

                    var settingId = jQuery(this.element).attr('id').replace('form_', '');

                    SystemSettings.resetUpload(settingId);

                };

                jQuery(document).ready(function() {

                    var dropzone = new Dropzone('#form_<?=$result['field_upload_image_profile']["name"]?>', {

                        uploadMultiple: false,
                        maxFiles: 1,

                        init: function () {

                            var thisDropzone = (this);

                            thisDropzone.on('success', onDropzoneUploadSuccess);
                            thisDropzone.on('removedfile', onDropzoneUploadRemoved);

                            thisDropzone.on("addedfile", function(file) {

                                file.previewElement.addEventListener("click", function() {

                                    if(confirm(Language.getLanguageVariable(11131)))
                                    {

                                        thisDropzone.removeFile(file);

                                    }

                                });

                            });

                            <?php if(strlen($result['field_upload_image_profile']["image"]["name"]) > 0): ?>

                                var currentFile = { 

                                    name: "<?=$result['field_upload_image_profile']["image"]["name"]?>", 
                                    size: <?=$result['field_upload_image_profile']["image"]["filesize"]?>, 
                                    type: "<?=$result['field_upload_image_profile']["image"]["type"]?>",
                                    url: '<?=$result['field_upload_image_profile']["image"]["url"]?>',
                                    status: Dropzone.ADDED,
                                    accepted: true

                                };

                                thisDropzone.emit("addedfile", currentFile);
                                thisDropzone.emit("thumbnail", currentFile, '<?=$result['field_upload_image_profile']["image"]["url"]?>');
                                thisDropzone.emit("complete", currentFile);

                                thisDropzone.files.push(currentFile);

                            <?php endif; ?>

                        }

                    });

                });

            </script>

        </div>
        
        <br style="clear:both;"/>
        
        <div class="col-lg-4">
            
            <script type="text/javascript">

                var initColorPicker = function() {

                    var userColor = jQuery('#user_color').css('backgroundColor');
                    userColor = userColor.substr(0, 1) != "#" ? Perisian.rgbToHex(userColor) : userColor;

                    jQuery('#user_color').ColorPicker({

                        color: userColor,

                        onShow: function(picker) {

                            jQuery(picker).fadeIn(0);

                            return false;

                        },
                        onHide: function(picker) {

                            jQuery(picker).fadeOut(0);

                            return false;

                        },
                        onChange: function (hsb, hex, rgb) {

                            jQuery('#user_color').css('backgroundColor', '#' + hex);

                        }

                    });

                }

                jQuery(document).ready(function() {

                    initColorPicker();

                });

            </script>

            <div class="card">

                <form id="calendar_settings" class="form form-validate floating-label" novalidate="novalidate">
                    
                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable(10776); ?></h2>
                    </div>
                    
                    <div class="card-body">

                        <div class="form-group">
                            <label for="user_color"><?php PerisianLanguageVariable::printVariable(10775); ?></label>
                            <div class="color-picker-box" id="user_color" style="background-color: <?=$result['object']->{$result['object']->field_color}?>;"></div>
                        </div>

                        <?php if(!PerisianSetting::getIsAdminSettingForId(CalsyUserBackend::getCalendarSettingId('can_manage_user_appointments')) || $user->isAdmin() || $user->isDeveloper()): ?>

                            <div class="form-group">
                                <div class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" id="setting_<?=CalsyUserBackend::getCalendarSettingId('can_manage_user_appointments')?>" name="setting_<?=CalsyUserBackend::getCalendarSettingId('can_manage_user_appointments')?>"<?php if($result['object']->canManageEventsForOthers()): ?> checked<?php endif; ?><?php if($result['object']->{$result['object']->field_pk} == $user->{$user->field_pk}): ?> disabled<?php endif; ?>/>
                                        <span 
                                            data-toggle="tooltip" 
                                            data-placement="bottom" 
                                            data-trigger="hover" 
                                            data-original-title="<?=PerisianSetting::getDescriptionForId(CalsyUserBackend::getCalendarSettingId('can_manage_user_appointments'))?>"><?=PerisianSetting::getTitleForId(CalsyUserBackend::getCalendarSettingId('can_manage_user_appointments'))?></span>
                                    </label>
                                </div>
                            </div>

                        <?php endif; ?>

                        <div class="form-group">
                            <div class="checkbox checkbox-styled">
                                <label>
                                    <input type="checkbox" id="setting_<?=CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_other_users')?>" name="setting_<?=CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_other_users')?>"<?php if($result['object']->canReceiveCalendarMailFromOtherUsers()): ?> checked<?php endif; ?>/>
                                    <span 
                                        data-toggle="tooltip" 
                                        data-placement="bottom" 
                                        data-trigger="hover" 
                                        data-original-title="<?=PerisianSetting::getDescriptionForId(CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_other_users'))?>"><?=PerisianSetting::getTitleForId(CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_other_users'))?></span>
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="checkbox checkbox-styled">
                                <label>
                                    <input type="checkbox" id="setting_<?=CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_user_frontend')?>" name="setting_<?=CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_user_frontend')?>"<?php if($result['object']->canReceiveCalendarMailFromUserFrontend()): ?> checked<?php endif; ?>/>
                                    <span 
                                        data-toggle="tooltip" 
                                        data-placement="bottom" 
                                        data-trigger="hover" 
                                        data-original-title="<?=PerisianSetting::getDescriptionForId(CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_user_frontend'))?>"><?=PerisianSetting::getTitleForId(CalsyUserBackend::getCalendarSettingId('can_receive_calendar_emails_user_frontend'))?></span>
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="checkbox checkbox-styled">
                                <label>
                                    <input type="checkbox" id="setting_<?=CalsyUserBackend::getCalendarSettingId('user_calendar_appointment_assistant_selectable')?>" name="setting_<?=CalsyUserBackend::getCalendarSettingId('user_calendar_appointment_assistant_selectable')?>"<?php if($result['object']->canBeSelectedInAppointmentAssistant()): ?> checked<?php endif; ?>/>
                                    <span 
                                        data-toggle="tooltip" 
                                        data-placement="bottom" 
                                        data-trigger="hover" 
                                        data-original-title="<?=PerisianSetting::getDescriptionForId(CalsyUserBackend::getCalendarSettingId('user_calendar_appointment_assistant_selectable'))?>"><?=PerisianSetting::getTitleForId(CalsyUserBackend::getCalendarSettingId('user_calendar_appointment_assistant_selectable'))?></span>
                                </label>
                            </div>
                        </div>
                        
                    </div>

                    <div class="card-actionbar">

                        <div class="card-actionbar-row">

                            <button class="btn btn-primary-bright ink-reaction" id="button_user_save" type="button" onclick="User.saveCalendarSettings();"><?php PerisianLanguageVariable::printVariable(10129) ?></button>

                        </div>

                    </div>
                    
                </form>

            </div>

        </div>
            
        <?php if(CalsyCalendarNotification::isEnabled($user)): ?>

            <div class="col-lg-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body" style="padding-bottom: 0">
                            <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable(11184)?></h2>
                        </div>

                        <?php if(count($result['list_settings_calendar_notification']) > 0): ?>
                            <?php PerisianSetting::printSettingList($result['list_settings_calendar_notification'], 11184) ?>
                        <?php endif?>

                    </form>

                </div>

            </div>
            
        <?php endif; ?>
            
        <?php if(isset($result['list_settings_process_engine']) && CalsyProcessEngineModule::isEnabled()): ?>

            <div class="col-lg-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body" style="padding-bottom: 0">
                            <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p589f32abb25e2')?></h2>
                        </div>

                        <?php if(count($result['list_settings_process_engine']) > 0): ?>
                            <?php PerisianSetting::printSettingList($result['list_settings_process_engine'], 'p589f32abb25e2') ?>
                        <?php endif?>

                    </form>

                </div>

            </div>
            
        <?php endif; ?>
        
        <br style="clear:both;"/>
            
        <?php if(CalsyVmosoBackendModule::isEnabled()): ?>

            <div class="col-lg-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body" style="padding-bottom: 0">
                            <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p586e81756f0c8')?></h2>
                        </div>

                        <?php if(count($result['list_settings_vmoso']) > 0): ?>
                            <?php PerisianSetting::printSettingList($result['list_settings_vmoso'], 'p586e81756f0c8') ?>
                        <?php endif?>

                    </form>

                </div>

            </div>
            
        <?php endif; ?>
          
        <div class="col-lg-4">

            <div class="card">
                
                <form class="form form-validate floating-label" novalidate="novalidate">

                    <div class="card-body" style="padding-bottom: 0">
                        <h2 style="margin: 0;"><?php PerisianLanguageVariable::printVariable('p5901018688cd7') ?></h2>
                    </div>

                    <div class="card-body weekday-selector-container">

                        <ul class="list divider-full-bleed user-selector" id="user-weekday-selector" style="max-height: 200px">

                            <?php for($i = 0; $i < 7; ++$i): ?>

                                <li class="tile user-selector" data-id="<?=$i?>">

                                    <div class="tile-content">

                                        <div class="user-color" style="background-color: #ccc"></div>

                                        <div class="checkbox checkbox-styled">

                                            <label>

                                                <input type="checkbox"<?=(in_array($i, $result['object']->getWeekdaysEnabled()) ? " checked" : "")?>>
                                                <span style="padding-left: 0;"></span>

                                            </label>

                                        </div>

                                        <div class="user-selector-name"><?=CalsyCalendar::getDayName($i)?></div>

                                    </div>

                                </li>

                            <?php endfor; ?>

                        </ul>

                    </div>

                    <div class="card-actionbar">

                        <div class="card-actionbar-row">

                            <button class="btn btn-primary-bright ink-reaction" id="button_user_save_bookable_weekdays" type="button" onclick="User.saveBookableWeekdays();"><?php PerisianLanguageVariable::printVariable(10129) ?></button>

                        </div>

                    </div>

                </form>

            </div>

            <script type="text/javascript">

                jQuery(document).ready(function() {

                    var userSelector = jQuery('#user-weekday-selector');

                    userSelector.find("li.user-selector").click(function() {

                        var checkbox = jQuery(this).find(":checkbox");
                        checkbox.prop("checked", !checkbox.prop("checked"))

                    });

                });

            </script>

        </div>
        
        <?php if($result['object']->{$result['object']->field_pk} == $user->{$user->field_pk}): ?>

            <div class="col-lg-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body" style="padding-bottom: 0">
                            <h2 style="margin: 0;"><?=PerisianLanguageVariable::getVariable('p5aedd1928b799')?></h2>
                        </div>

                        <div class="card-body">

                            <?=nl2br(PerisianLanguageVariable::getVariable('p5aedd48556493'))?>

                        </div>

                        <div class="card-actionbar">

                            <div class="card-actionbar-row">

                                <button class="btn btn-primary-bright ink-reaction" id="button_privacy_disclosure" style="margin-bottom: 2px;" type="button" onclick="User.privacyDisclosure();"><i class="fa fa-info-circle"></i> <?=PerisianLanguageVariable::printVariable('p5aedd1d0f0482')?></button>
                                <button class="btn btn-danger ink-reaction" id="button_privacy_delete_account" style="margin-bottom: 2px;" type="button" onclick="User.privacyDeleteAccount();"><i class="fa fa-warning"></i> <?=PerisianLanguageVariable::printVariable('p5aedd1586c8f0')?></button>

                            </div>

                        </div>

                    </form>

                </div>

            </div>
        
        <?php endif; ?>
        
        <input type="hidden" id="editId" value="<?=$result['object']->{$result['object']->field_pk}?>"/>
        
    </div>
    
</div>