<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<div class="form-horizontal">

    <?php if($action == 'edit'): ?>
    <input type="hidden" id="editId" value="<?php echo $editId ?>">
    <?php endif ?>
    
    <div class="modal-body info-bar"><?php PerisianLanguageVariable::printVariable(11024) ?></div>

    <div class="modal-body">
        
        <div class="form-group">
            
            <div class="col-sm-<?=(PerisianSystemSetting::getSettingValue('module_setting_calsy_area_consider_gender') == 1 ? "6" : "12")?>">

                <label for="calsy_area_title"><?=PerisianLanguageVariable::getVariable(10848)?></label>
                <input type="text" id="calsy_area_title" class="form-control" name="calsy_area_title" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_title}; endif?>"/>

            </div>
            
            <?php if(PerisianSystemSetting::getSettingValue('module_setting_calsy_area_consider_gender') == 1): ?>
            
                <div class="col-sm-6">

                    <label for="calsy_area_gender"><?=PerisianLanguageVariable::getVariable('p596a53926c54d')?></label>

                    <select id="calsy_area_gender" name="calsy_area_gender" class="form-control">

                        <option value="none"<?=(($action == 'edit' && $result['object']->{$result['object']->field_gender} == 'none') ? ' selected' : '')?>><?=PerisianLanguageVariable::getVariable(10925)?></option>
                        <option value="male"<?=(($action == 'edit' && $result['object']->{$result['object']->field_gender} == 'male') ? ' selected' : '')?>><?=PerisianLanguageVariable::getVariable(10831)?></option>
                        <option value="female"<?=(($action == 'edit' && $result['object']->{$result['object']->field_gender} == 'female') ? ' selected' : '')?>><?=PerisianLanguageVariable::getVariable(10832)?></option>

                    </select>

                </div>
            
            <?php endif; ?>
            
        </div>
        
        <?php if(CalsyUserFrontendModule::isEnabled()): ?>
        
            <div class="form-group">

                <center><div class="col-sm-12 checkbox checkbox-styled">

                        <label for="calsy_area_disabled_frontend">
                            
                            <input type="checkbox" id="calsy_area_disabled_frontend" name="calsy_area_disabled_frontend" <?=($action == 'edit' && $result['object']->{$result['object']->field_disabled_frontend} == "1")? " checked" : ""?>/>
                            
                            <?=PerisianLanguageVariable::getVariable('p5991a9411b1f7') ?>
                        
                        </label>

                </div></center>

            </div>
        
        <?php endif; ?>
        
        <?php if(CalsyOpeningTimesModule::isEnabled() && CalsyBookableTimesModule::isEnabled()): ?>
        
            <div class="form-group">

                <center><div class="col-sm-12 checkbox checkbox-styled">

                        <label for="calsy_area_requires_bookable_time">
                            
                            <input type="checkbox" id="calsy_area_requires_bookable_time" name="calsy_area_requires_bookable_time" <?=($action == 'edit' && $result['object']->{$result['object']->field_requires_bookable_time} == "1")? " checked" : ""?>/>
                            
                            <?=PerisianLanguageVariable::getVariable('p5a29e22e2fa12') ?>
                        
                        </label>

                </div></center>

            </div>
        
            <script type="text/javascript">

                jQuery(document).ready(function() {
                    
                    jQuery('#calsy_area_requires_bookable_time').change(function() {
                        
                        jQuery('#weekdays-bookable-box').css('display', jQuery(this).is(':checked') ? 'none' : 'block')
                                                
                    });
                    
                });

            </script>
        
        <?php endif; ?>
        
    </div>
    
    <?php if(isset($result['price'])): ?>
    
        <div class="modal-body info-bar">

            <?=PerisianLanguageVariable::getVariable('p59f34d2319c83')?>

        </div>

        <div class="modal-body" id="area-price-container">

            <div class="form-group">

                <div class="col-sm-4">

                    <label for="calsy_area_price_amount"><?=PerisianLanguageVariable::getVariable('p59f34cbcc1a4f')?></label>
                    <input type="text" id="calsy_area_price_amount" class="form-control" style="text-align: right;" name="calsy_area_price_amount" value="<?=$result['price']->getPriceAmountFormattedNet()?>"/>

                </div>
                
                <div class="col-sm-4">

                    <label for="calsy_area_price_currency"><?=PerisianLanguageVariable::getVariable('p59e782bfeb044')?></label>

                    <select id="calsy_area_price_currency" name="calsy_area_price_currency" class="form-control">
                        
                        <?php foreach($result['list_currencies'] as $currencyCode => $currencyName): ?>

                            <option value="<?=$currencyCode?>"<?=(($result['price']->getCurrency() == $currencyCode) ? ' selected' : '')?>><?=$currencyName?></option>
                        
                        <?php endforeach; ?>

                    </select>

                </div>
               
                <div class="col-sm-4">

                    <label for="calsy_area_price_percentage_vat"><?=PerisianLanguageVariable::getVariable('p59e782b4a3798')?></label>

                    <select id="calsy_area_price_percentage_vat" name="calsy_area_price_percentage_vat" class="form-control">
                        
                        <?php for($i = 0; $i < count($result['list_rates_vat']); ++$i): ?>

                            <option value="<?=$i?>"<?=($result['price']->getPercentageVat() == $i ? ' selected' : '')?>><?=$result['list_rates_vat'][$i]?></option>
                            
                        <?php endfor; ?>

                    </select>

                </div>

            </div>            
            
            <?php foreach($result['list_methods_payment'] as $paymentMethodCode => $paymentMethodName): ?>

                <div class="form-group">

                    <center><div class="col-sm-12 checkbox checkbox-styled">

                        <label for="calsy_area_price_payment_method_<?=$paymentMethodCode?>">

                            <input type="checkbox" id="calsy_area_price_payment_method_<?=$paymentMethodCode?>" name="calsy_area_price_payment_method_<?=$paymentMethodCode?>" <?=(in_array($paymentMethodCode, $result['price']->getPaymentMethods())) ? " checked" : ""?>/>

                            <?=str_replace('%1', $paymentMethodName, PerisianLanguageVariable::getVariable('p59f38f72c0c37')) ?>

                        </label>

                    </div></center>

                </div>

            <?php endforeach; ?>
            
        </div>
    
    <?php endif; ?>
        
    <div class="modal-body info-bar">
        
        <button id="button-add-new-duration" class="btn btn-primary-bright ink-reaction" style="float: right; top: -6px">+</button>
        
        <?=PerisianLanguageVariable::getVariable('p5773f8539141f')?>
    
    </div>
    
    <div class="modal-body" id="time-element-container"></div>
    
    <div class="modal-body info-bar" style="border-bottom: 2px solid #fff;">
        
        <?php PerisianLanguageVariable::printVariable(11025) ?> 
        <button id="button-toggle-user-selector" class="btn btn-primary-bright ink-reaction" style="float: right; top: -6px"><i class="fa fa-angle-double-down"></i></button>
        
        <script type="text/javascript">
            
            var toggleBlock = function(container, button) {
                
                var toggleOpen = container.css('display') == 'none';
                
                button.parent().css('border-bottom', toggleOpen ? '0' : '2px solid #fff');
                container.css('display', toggleOpen ? 'block' : 'none');
                
                if(toggleOpen)
                {
                    
                    button.find('i').addClass('fa-angle-double-up');
                    button.find('i').removeClass('fa-angle-double-down');
                    
                }
                else
                {
                    
                    button.find('i').addClass('fa-angle-double-down');
                    button.find('i').removeClass('fa-angle-double-up');
                    
                }
                
            };
        
            jQuery('#button-toggle-user-selector').click(function() {
                
                var button = jQuery(this);
                var container = jQuery('#user-selector-container');
                
                toggleBlock(container, button);
                
            });
        
        </script>
        
    </div>
    
    <div class="modal-body user-selector-container" id="user-selector-container" style="display: none;">
    
        <ul class="list divider-full-bleed user-selector" id="area-user-selector" style="max-height: 200px">

            <?php for($i = 0; $i < count($result['list_users']); ++$i): ?>

                <li class="tile user-selector" data-id="<?=$result['list_users'][$i]["user_id"]?>">

                    <div class="tile-content">

                        <div class="user-color" style="background-color: <?=$result['list_users'][$i]["user_color"]?>"></div>

                        <div class="checkbox checkbox-styled">

                            <label>

                                <input type="checkbox"<?=(in_array($result['list_users'][$i]["user_id"], $result['list_users_selected_identifiers']) ? " checked" : "")?>>
                                <span style="padding-left: 0;"></span>

                            </label>

                        </div>

                        <div class="user-selector-name"><?=$result['list_users'][$i]["user_fullname"]?></div>

                    </div>

                </li>

            <?php endfor; ?>

        </ul>
        
        <script type="text/javascript">

            jQuery(document).ready(function() {

                var userSelector = jQuery('#area-user-selector, #area-user-notification-selector, #area-weekday-selector, #group-box');

                userSelector.find("li.user-selector").click(function() {
                    
                    var checkbox = jQuery(this).find("input:checkbox");
                    checkbox.prop("checked", !checkbox.prop("checked"))

                });

            });

        </script>

    </div>
    
    <div class="modal-body info-bar" style="border-bottom: 2px solid #fff;">
        
        <?php PerisianLanguageVariable::printVariable('p5749cc7358fe1') ?> 
        <button id="button-toggle-user-notification-selector" class="btn btn-primary-bright ink-reaction" style="float: right; top: -6px"><i class="fa fa-angle-double-down"></i></button>
        
        <script type="text/javascript">
                    
            jQuery('#button-toggle-user-notification-selector').click(function() {
                
                var button = jQuery(this);
                var container = jQuery('#user-notification-selector-container');
                
                toggleBlock(container, button);
                
            });
        
        </script>
    
    </div>
    
    <div class="modal-body user-notification-selector-container" style="display: none" id="user-notification-selector-container">
    
        <ul class="list divider-full-bleed user-selector" id="area-user-notification-selector" style="max-height: 200px">

            <?php for($i = 0; $i < count($result['list_users']); ++$i): ?>

                <li class="tile user-selector" data-id="<?=$result['list_users'][$i]["user_id"]?>">

                    <div class="tile-content">

                        <div class="user-color" style="background-color: <?=$result['list_users'][$i]["user_color"]?>"></div>

                        <div class="checkbox checkbox-styled">

                            <label>

                                <input type="checkbox"<?=(in_array($result['list_users'][$i]["user_id"], $result['list_users_selected_notification_identifiers']) ? " checked" : "")?>>
                                <span style="padding-left: 0;"></span>

                            </label>

                        </div>

                        <div class="user-selector-name"><?=$result['list_users'][$i]["user_fullname"]?></div>

                    </div>

                </li>

            <?php endfor; ?>

        </ul>
        
    </div>
    
    <div id="weekdays-bookable-box" style="<?=(CalsyOpeningTimesModule::isEnabled() && CalsyBookableTimesModule::isEnabled() && ($action == 'edit' && $result['object']->{$result['object']->field_requires_bookable_time} == "1") ? 'display: none;' : '')?>">
        
        <div class="modal-body info-bar" style="border-bottom: 2px solid #fff;">
            
            <?php PerisianLanguageVariable::printVariable('p5b23b580a14bc') ?>
            <button id="button-toggle-weekday-selector-container" class="btn btn-primary-bright ink-reaction" style="float: right; top: -6px"><i class="fa fa-angle-double-down"></i></button>

            <script type="text/javascript">

                jQuery('#button-toggle-weekday-selector-container').click(function() {

                    var button = jQuery(this);
                    var container = jQuery('#weekday-selector-container');

                    toggleBlock(container, button);

                });

            </script>
        
        </div>

        <div class="modal-body weekday-selector-container" id="weekday-selector-container" style="display: none;">

            <ul class="list divider-full-bleed user-selector" id="area-weekday-selector" style="max-height: 200px">

                <?php for($i = 0; $i < 7; ++$i): ?>

                    <li class="tile user-selector" data-id="<?=$i?>">

                        <div class="tile-content">

                            <div class="user-color" style="background-color: #ccc"></div>

                            <div class="checkbox checkbox-styled">

                                <label>

                                    <input type="checkbox"<?=(in_array($i, $result['object']->getWeekdaysEnabled()) ? " checked" : "")?>>
                                    <span style="padding-left: 0;"></span>

                                </label>

                            </div>

                            <div class="user-selector-name"><?=CalsyCalendar::getDayName($i)?></div>

                        </div>

                    </li>

                <?php endfor; ?>

            </ul>

        </div>

    </div>  
    
    <div id="group-box">
        
        <div class="modal-body info-bar" style="border-bottom: 2px solid #fff;">
            
            <?php PerisianLanguageVariable::printVariable('p59b7d543bebc7') ?>
            <button id="button-toggle-group-container" class="btn btn-primary-bright ink-reaction" style="float: right; top: -6px"><i class="fa fa-angle-double-down"></i></button>

            <script type="text/javascript">

                jQuery('#button-toggle-group-container').click(function() {

                    var button = jQuery(this);
                    var container = jQuery('#group-container');

                    toggleBlock(container, button);

                });

            </script>
        
        </div>

        <div class="modal-body group-container" id="group-container" style="display: none;">

            <ul class="list divider-full-bleed user-selector" id="group-selector" style="max-height: 200px">

                <?php for($i = 0; $i < count($result['list_groups']); ++$i): ?>

                    <li class="tile user-selector" data-id="<?=$result['list_groups'][$i][$result['dummy_group']->field_pk]?>">

                        <div class="tile-content">

                            <div class="user-color" style="background-color: #ccc"></div>

                            <div class="checkbox checkbox-styled">

                                <label>

                                    <input type="checkbox"<?=(in_array($result['list_groups'][$i][$result['dummy_group']->field_pk], $result['list_groups_selected_identifiers']) ? " checked" : "")?>>
                                    <span style="padding-left: 0;"></span>

                                </label>

                            </div>

                            <div class="user-selector-name"><?=($result['list_groups'][$i][$result['dummy_group']->field_title])?></div>

                        </div>

                    </li>

                <?php endfor; ?>

            </ul>

        </div>

    </div>  
        
    <script type="text/javascript">

        jQuery(document).ready(function() {

            Area.hourList = <?=json_encode($result['list_hours'])?>;

            Area.initEditArea(<?=($action == 'edit' && strlen($result['object']->{$result['object']->field_elements}) > 0 ? $result['object']->{$result['object']->field_elements} : "")?>);

        });

    </script>
    
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="Area.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="Area.saveArea()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>