<td>
    
    <b><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_area_title'])?></b>
    
    <?php if(@count(@json_decode($currentEntry['calsy_area_elements'])) > 1): ?>
    
        <span class="alert alert-info alert-inline"><i class="md md-call-split"></i> <?=PerisianLanguageVariable::getVariable('p58ffc956964be')?></span>
    
    <?php endif; ?>
    
    <?php $groupTitles = CalsyAreaGroup::getGroupTitlesForAreaById($currentEntry['calsy_area_id']); ?>
                
    <?php if(count($groupTitles) > 0): ?>
    
        <br/><?=PerisianLanguageVariable::getVariable('p59b7d543bebc7')?>: <?=implode(", ", $groupTitles)?></span>
    
    <?php endif; ?>

</td>

<td>
    
    <?php
        
        $fieldList = [];
        
        // Total duration
        {
            
            $durationString = PerisianLanguageVariable::getVariable(11023) . ": " . CalsyCalendar::getTimeFormatted($currentEntry['calsy_area_default_duration']);
            
            array_push($fieldList, $durationString);
            
        }
        
        // User information
        {
            
            $userCount = CalsyAreaUserBackend::getCountForArea($currentEntry['calsy_area_id']);
            
            $userCountString = ($userCount > 0 ? ($userCount . " " . PerisianLanguageVariable::getVariable(11022)) : PerisianLanguageVariable::getVariable(11021));
            
            $userString = PerisianLanguageVariable::getVariable(10020) . ": " . $userCountString;

            array_push($fieldList, $userString);

        }
                
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<?php if(CalsyAreaPrice::isPaymentActivated()): ?>

    <td>

        <?php

            $priceInfo = CalsyAreaPrice::getPriceForAreaId($currentEntry['calsy_area_id']);

            $fieldList = [];

            // Price information
            {

                if($priceInfo->getPriceAmountFormattedGross() > 0)
                {

                    $currency = $priceInfo->getCurrency();

                    $priceInfoString = PerisianLanguageVariable::getVariable('p59f39709e3c50') . ": ";

                    $priceInfoString .= '<nobr><u>' . $priceInfo->getPriceAmountFormattedGross() . ' ' . $currency . '</u> (';
                    $priceInfoString .= $priceInfo->getPriceAmountFormattedNet() . ' ' . $currency . ' + ';
                    $priceInfoString .= $priceInfo->getPercentageVat() . '% ' . PerisianLanguageVariable::getVariable('p59f3975c65957') . ')</nobr>';

                    array_push($fieldList, $priceInfoString);

                }

            }

            // Payment methods
            {

                $paymentMethods = $priceInfo->getPaymentMethods();

                if(count($paymentMethods) > 0)
                {

                    $paymentMethodsString = PerisianLanguageVariable::getVariable('p59f395ac5851f') . ": ";

                    if(in_array("paypal", $paymentMethods))
                    {

                        $paymentMethodsString .= '<i title="' . PerisianLanguageVariable::getVariable('p59dde99bc7d89') . '" class="fa fa-paypal"></i>';

                    }

                    array_push($fieldList, $paymentMethodsString);

                }

            }

            echo implode("<br/>", $fieldList); 

        ?>

    </td>
    
<?php endif; ?>

<td class="text-right">

    <nobr>

        <button onclick="Area.editArea(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_area_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(11046) ?>"><i class="fa fa-pencil"></i></button>
        
        <button onclick="Area.deleteArea(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_area_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(11047) ?>"><i class="fa fa-trash-o"></i></button>
        
    </nobr>

</td>
