<?php if($action == "list"): ?>
<script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
<?php endif; ?>

<div class="col-lg-12">

    <div class="card">
        
        <div class="card-body">
            
            <b class="text-xl"><?=PerisianLanguageVariable::getVariable(11016)?></b>
            
            <?php require "list_navigation.phtml"; ?>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th style="width: 30%">
                                <a href="javascript:void(0)" onclick="Area.toggleSorting('calsy_area_title')"><?php PerisianLanguageVariable::printVariable(11018) ?></a>
                            </th>
                            
                            <th style="width: 30%">
                                <?=PerisianLanguageVariable::getVariable(10826)?>
                            </th>
                            
                            <?php if(CalsyAreaPrice::isPaymentActivated()): ?>
                            
                                <th style="width: 30%">
                                    <?=PerisianLanguageVariable::getVariable('p59f34d2319c83')?>
                                </th>
                            
                            <?php endif; ?>
                                                                                    
                            <th style="width: 10%" class="text-right"><?php PerisianLanguageVariable::printVariable(10077) ?></th>
                            
                        </tr>

                    </thead>
                    
                    <tbody>

                        <?php for($i = 0, $m = count($result['list']); $i < $m; ++$i): $currentEntry = $result['list'][$i]; ?>
                        
                            <tr id="table_info_order_<?=$currentEntry['calsy_area_id']?>">

                                <?php require('list_entry_view.phtml'); ?>

                            </tr>
                        
                        <?php endfor; ?>

                    </tbody>

                </table>
                
            </div>
            
            <?php require "list_navigation.phtml"; ?>

        </div>

    </div>
    
</div>
