<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/Validation.js"></script>
<script type="text/javascript" src="../assets/js/calsy/Area.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
    
        Area.currentOffset = <?php echo $result['offset'] ?>;
        Area.currentLimit = <?php echo $result['limit'] ?>;
        
        Perisian.initFieldClearButtons();
        
    });
    
</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(11015) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable(10303) ?></li>
    </ol>
</div>

<div class="section-body">
    
    <div id="inner">
        
        <?php if(!CalsyAreaModule::isEnabled()): ?>
        
            <div class="col-lg-12">
                <div class="alert alert-danger"><b><?=PerisianLanguageVariable::getVariable(11119)?>:</b> <?=PerisianLanguageVariable::getVariable(11118)?></div>
            </div>
        
        <?php endif; ?>

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4">

                <div class="card" style="height: 226px;">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <div class="form-group">
                                
                                <label for="search"><?php PerisianLanguageVariable::printVariable(10494) ?></label>
                                <input value="<?=$result['search']?>" type="text" class="form-control btn-clear-field" id="search" name="search" onkeypress="if((event.keyCode ? event.keyCode : event.which) == 13) {Area.showEntries(null, null, null, null, true); return false;}">
                                <button class="btn btn-default btn-clear" type="button" callback="Area.showEntries(null, null, null, null, true);"><i class="md md-clear"></i></button>
                                
                            </div>
                            
                            <?php if(count($result['list_groups']) > 0): ?>
                            
                                <div class="form-group" style="margin-bottom: 12px;">

                                    <label for="group_selector"><?=PerisianLanguageVariable::getVariable('p59c1588d7664b')?></label>

                                    <select id="group_selector" name="group_selector" class="form-control dirty static">
                                        
                                        <option value="0"<?php if(strlen($result['groupFilter']) == 0):?> selected<?php endif; ?>><?=PerisianLanguageVariable::getVariable('p59c15784440f1')?></option>
                                        
                                        <?php for($i = 0; $i < count($result['list_groups']); ++$i): ?>

                                            <option value="<?=$result['list_groups'][$i][$result['dummy_group']->field_pk]?>"<?php if($result['list_groups'][$i][$result['dummy_group']->field_pk] == $result['groupFilter']):?> selected<?php endif; ?>><?=$result['list_groups'][$i][$result['dummy_group']->field_title]?></option>
                                        
                                        <?php endfor; ?>

                                    </select>

                                </div>
                            
                            <?php endif; ?>
                            
                            <button class="btn btn-primary-bright btn-block ink-reaction" onclick="Area.showEntries(null, null, null, null, true);" type="button" style="position:relative; top: 12px;"><i class="md md-search"></i> <?php PerisianLanguageVariable::printVariable(10041); ?></button>

                        </div>

                    </form>

                </div>

            </div>
            
            <div class="col-lg-4 col-sm-4">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">
                            
                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="Area.createNewArea()" type="button">
                                <span class="md md-description"></span> <?php PerisianLanguageVariable::printVariable(11017) ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

        <div id="list">
            <?php require("list.phtml"); ?>
        </div>

    </div>
    
</div><!--end .section-body -->