<?php if(isset($user) && $user->isLoggedIn() && !$dontShowHeaderHtml): ?>

    <div class="section-header">
        
        <ol class="breadcrumb">
            
            <li><a href="<?=PerisianFrameworkToolbox::getServerAddress();?>"><?php PerisianLanguageVariable::printVariable(10019)?></a></li>
            <li class="active"><?php PerisianLanguageVariable::printVariable(10066) ?></li>
            
        </ol>

    </div>

<?php endif; ?>

<div class="section-body">
    
    <div class="col-lg-12 text-center error-container">
        
        <h1>
            
            <span class="text-xxxl text-light"><?php PerisianLanguageVariable::printVariable(10066) ?> <i class="fa fa-exclamation-circle text-danger"></i></span>
            
        </h1>
        
        <?=$error['title']?>:<br/>
        <?=$error['message']?>
        
        <?php if($debugModeEnabled && isset($error['details'])): ?>
        
            <br/>
            <br/>
            
            <div class="card">
                
                <div class="card-body">
                    
                    <div class="text-left"><code><?=$error['details']?></code></div>
                    
                </div>
                
            </div>
            
            <br/>
            <br/>
                
        <?php endif; ?>
        
    </div>
    
</div>