<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=$result['title_form']?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <div class="modal-body">
        
        <div class="import-selector">

            <div class="form-group">
                
                <div class="col-sm-12">

                    <label for="import_server"><?php PerisianLanguageVariable::printVariable('p576c1c0987234') ?></label>
                    <input type="text" id="import_server" class="form-control" name="import_server" value="<?=$result['server_import']?>"/>

                </div>
                
            </div>
            
        </div>
        
        <div class="import-loading" style="display:none; text-align:center;">

            <br/><br/>
            <?php PerisianLanguageVariable::printVariable(10667) ?>
            
            <br/><br/>
            
            <img width="33" height="33" src="assets/img/custom/loading_indicator.gif"/>
            <br/><br/>

        </div>
        
        <div class="import-success" style="display:none; text-align:center;">

            <span id="import-result"></span>

        </div>

    </div>
    
</form>

<div class="modal-footer">

    <div class="import-selector">
    
        <button type="button" class="btn btn-danger" id="cancelButton" onclick="LanguageVariableMissing.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
        <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="LanguageVariableMissing.startImportFromRemote()"><i class="md md-file-download"></i> <?php PerisianLanguageVariable::printVariable(10660) ?></button>

    </div>
    
    <div class="import-success" style="display:none;">
        
        <button type="button" class="btn btn-danger" onclick="LanguageVariableMissing.cancel()"><?php PerisianLanguageVariable::printVariable(10495) ?></button>
        
    </div>
    
</div>