<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>
<script type="text/javascript" src="../assets/js/system/LanguageVariableMissing.js"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
                
    });
    
</script>

<div class="section-header">
    <ol class="breadcrumb">
        <li><?php PerisianLanguageVariable::printVariable(10020) ?></li>
        <li class="active"><?php PerisianLanguageVariable::printVariable('p576c123a1459b') ?></li>
    </ol>
</div><!--end .section-header -->
<div class="section-body">

    <div id="inner">

        <div id="infobox">
            
            <div class="col-lg-4 col-sm-4" id="missing">

                <div class="card">

                    <form class="form form-validate floating-label" novalidate="novalidate">

                        <div class="card-body">

                            <button class="btn btn-block btn-primary-bright ink-reaction" onclick="LanguageVariableMissing.selectImport();" type="button" <?=($result['count_entries_missing'] == 0 ? ' disabled' : '')?>>
                                <i class="md md-file-download"></i> <?php PerisianLanguageVariable::printVariable(10491) ?>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <br style="clear:both"/>

    </div>
    
</div><!--end .section-body -->