
<?php require_once('message.phtml'); ?>

<div id="infobox">

    <div class="col-lg-9">

        <div class="card">

            <div class="card-body chat-body">

                <h2 style="margin-bottom: 6px; margin-top: 0;"><?=$result['title']?></h2>
                
                <span id="chat-participants"></span>

                <div id="loading-box"></div>

                <div id="box-load-older-messages">

                    <div id="button-load-older-messages">

                        <i class="fa fa-angle-double-up"></i> <?=PerisianLanguageVariable::getVariable('p58cff870239b8')?> <i class="fa fa-angle-double-up"></i>

                    </div>

                    <div id="load-older-messages-loading-indicator"></div>

                </div>

                <div id="chat-log"></div>

                <div id="chat-box-empty">

                    <?=PerisianLanguageVariable::getVariable(strlen($result['key']) > 0 ? 'p5954182f0f509' : 'p592da23a9c1c2')?>

                </div>

            </div>

        </div>

        <?php if($result['action'] == 'overview'): ?>
        
            <div class="card" id="form-send-message">

                <form class="form form-validate floating-label" novalidate="novalidate">

                    <div class="card-body">

                        <div class="form-group chat-message-form-box">
                            <textarea type="text" class="form-control" id="chat-message-form" placeholder="<?=PerisianLanguageVariable::getVariable('p586eba3abad01')?>"></textarea>
                        </div>

                        <button id="button-message-send" class="btn btn-primary-bright ink-reaction" style="float: right;" onclick="VmosoChat.sendMessage();" type="button" disabled>
                            <span class="fa fa-arrow-right"></span> <?=PerisianLanguageVariable::getVariable(10617)?>
                        </button>

                    </div>

                </form>

            </div>
        
        <?php endif; ?>

    </div>

</div>

<div class="col-lg-3">

    <?php require_once('list_tasks.phtml'); ?>

</div>
