

<button id="button-chat-new" class="btn btn-block btn-primary-bright ink-reaction" style="margin-bottom: 16px;" onclick="VmosoChat.newChat();" type="button">
    <span class="md md-chat"></span> <?=PerisianLanguageVariable::getVariable('p587e50d13b525')?>
</button>

<div class="card" id="chat-log-container">

    <div class="card-body" style="padding-bottom: 0;">

        <h2 style="margin-bottom: 0; margin-top: 0;"><?=PerisianLanguageVariable::getVariable('10303')?></h2>
        
        <?php if($result['action'] == 'tasks'): ?>
        
            <button class="btn btn-block btn-primary-bright ink-reaction" style="margin-top: 12px;" onclick="VmosoChat.goToLiveChat();">
                <i class="fa fa-backward"></i>&nbsp;&nbsp;<?=PerisianLanguageVariable::getVariable('p58d3fcd87006d')?>
            </button>
        
        <?php endif; ?>

    </div>

    <div class="card-body" id="list-chat-log">

        <div id="chat-list">
            
            <div class="loading-indicator" style="margin-top: 16px; height: 80px; background-size: 5%;"></div>
            
        </div>

    </div>
    
    <div class="card-body" style="padding-top: 0; display: none;">
        
        <button id="button-chat-log-navigation-backward" class="btn btn-primary-bright ink-reaction" style="float: left; display: none;" onclick="VmosoChat.goToNextChatLogPage();">
            <i class="fa fa-backward"></i>&nbsp;&nbsp;<?=PerisianLanguageVariable::getVariable('10380')?>
        </button>

        <button id="button-chat-log-navigation-forward" class="btn btn-primary-bright ink-reaction" style="float: right; display: none;" onclick="VmosoChat.goToNextChatLogPage();">
            <i class="fa fa-forward"></i>&nbsp;&nbsp;<?=PerisianLanguageVariable::getVariable('10379')?>
        </button>

    </div>

</div>
