<div id="chat-dummy">

    <div class='chat-message-row' data-message-identifier="0">
        
        <div class="chat-main" style="position: relative;">

            <div class="chat-content content rmev">

                <p></p>

            </div>

        </div>
        
        <div class="chat-info">

            <span class="username"></span>

            <br/>

            <span class="comment-date">

                <span class="status-pending">

                    <span class="loading" title="<?=PerisianLanguageVariable::getVariable('11167')?>"></span>
                    <span><?=PerisianLanguageVariable::getVariable('p587bb61230777')?></span>

                </span>

                <span class="status-sent">

                    <span class="fa fa-check" title="<?=PerisianLanguageVariable::getVariable('11168')?>"></span>
                    <span class="datetime" data-time="" title=""></span>

                </span>

            </span>
        
            <div class="user-color-header" style="float:left; background-image: none;"></div>

        </div>

    </div>

</div>
