<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?=PerisianLanguageVariable::getVariable('p5aedd1586c8f0')?></h4>
    
</div>

<div class="modal-body">

    <div class="form-horizontal" style="text-align: center;">

        <div class="form-group">
            
            <?=nl2br(PerisianLanguageVariable::getVariable('p5af4b7d1ba4d2'))?>
            
            <br/>
            <br/>

            <div class="col-sm-12 checkbox checkbox-styled">

                <label for="checkbox-confirm-deletion"><input type="checkbox" name="checkbox-confirm-deletion" id="checkbox-confirm-deletion"><?=PerisianLanguageVariable::getVariable('p5aef44930d67f')?></label>

            </div>

        </div>

    </div>
    
</div>

<script type="text/javascript">

    jQuery(document).ready(function() {
        
        jQuery('#checkbox-confirm-deletion').change(function() {
            
            var element = jQuery(this);
            
            var button = jQuery('#confirmDeletionFinallyButton');
            
            button.prop('disabled', !element.is(':checked'));
            
        });
        
    });

</script>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="PerisianBaseAjax.cancel()"><?=PerisianLanguageVariable::getVariable(10056)?></button>
    <button disabled type="button" class="btn btn-danger" id="confirmDeletionFinallyButton" onclick="User.privacyDeleteAccountConfirm()"><i class="fa fa-warning"></i> <?=PerisianLanguageVariable::getVariable('p5aedd1586c8f0')?></button>

</div>