<div class="section-body">
    
    <div class="contain-sm">

        <div class="col-lg-12 text-center error-container">

            <h1>

                <span class="text-xl text-light"><?php PerisianLanguageVariable::printVariable('p5808f8bf57a4c') ?>&nbsp;<i class="fa fa-gears text-default-dark"></i></span>

            </h1>

            <br/>

            <div class="card">
                
                <div class="card-body">

                    <div class="text-center">

                        <?=nl2br(PerisianLanguageVariable::getVariable('p5808f8f104fd2'))?>
                        
                    </div>

                </div>
                
            </div>
            
        </div>

    </div>
    
</div>