<script type="text/javascript" src="../assets/js/system/DatabaseMigration.js"></script>

<div class="section-body">
    
    <div class="contain-sm">

        <div class="col-lg-12 text-center error-container">

            <h1>

                <span class="text-xl text-light"><?php PerisianLanguageVariable::printVariable('p5808d73f02134') ?>&nbsp;<i class="fa fa-download text-default-dark"></i></span>

            </h1>

            <br/>

            <div class="card">
                
                <div class="card-body">

                    <div class="text-center">

                        <?=($e->getMessage())?><br/><br/>
                        
                        <?=PerisianLanguageVariable::getVariable('p5808dca6c81e0')?>: #<?=PerisianDatabaseMigration::getCurrentDatabaseRevision()?><br/>
                        <?=PerisianLanguageVariable::getVariable('p5808dcc2b4e1a')?>: #<?=PerisianDatabaseMigration::getLatestDatabaseRevision()?><br/>
                        
                        <br/>
                        
                        <?=nl2br(PerisianLanguageVariable::getVariable('p5808dfbe2400a'))?>
                        
                    </div>

                </div>
                
            </div>
            
            <div class="card" id="update-login">
                
                <div class="card-body">

                    <div class="form floating-label">

                        <div class="form-group">
                            <input type="text" class="form-control" id="login_name" name="login_name">
                            <label for="login_name"><?php PerisianLanguageVariable::printVariable(10079);?></label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="login_password" name="login_password">
                            <label for="login_password"><?php PerisianLanguageVariable::printVariable(10091);?></label>
                        </div>

                        <br/>
                        
                        <button id="button-start-migration" class="btn btn-block btn-primary btn-raised" type="button" onclick="javascript:DatabaseMigration.startMigration();"><?=PerisianLanguageVariable::getVariable('p5808e0dd13c32')?></button>

                    </form>
                    
                </div>
                    
            </div>

        </div>
            
        <div class="card" id="update-processing" style="display: none;">

            <div class="card-body">

                <div id="loading-box"></div>
                
            </div>

        </div>
            
        <div class="card" id="update-error" style="display: none;">

            <div class="card-body">
                
                <div class="alert alert-block alert-warning"></div>
                
                <br/>
                
                <button id="button-retry-migration" class="btn btn-block btn-primary btn-raised" type="button" onclick="javascript:DatabaseMigration.retryMigration();"><?=PerisianLanguageVariable::getVariable('p5808f54c7cf61')?></button>
                
            </div>

        </div>
            
        <div class="card" id="update-success" style="display: none;">

            <div class="card-body">
                
                <div class="alert alert-block alert-success"></div>
                
                <br/>
                
                <button id="button-finish-migration" class="btn btn-block btn-primary btn-raised" type="button" onclick="javascript:DatabaseMigration.finishMigration();"><?=PerisianLanguageVariable::getVariable('p5808f56bf3f5c')?></button>
                
            </div>

        </div>

    </div>
    
</div><!--end .section-body -->