<div class="form-group <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>">
    
    <input type="password" class="form-control" id="<?php echo $fieldName ?>" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>" name="<?php echo $fieldName ?>" <?php if ($disabled): ?>disabled <?php endif ?> value="<?php echo $fieldValue ?>"<?php
    
        if(isset($fieldDescription) && strlen($fieldDescription) > 0):

            echo ' data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="' . stripslashes($fieldDescription) . '"';

        endif;
    
        ?>>
    
    <label for="<?php echo $fieldName ?>"><?=$fieldTitle?></label>
    
</div>