<div class="checkbox-list <?=$fieldName?>-box" id="<?=$fieldName?> <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>">
    
    <h3><?=$fieldTitle?></h3>
    
    <ul class="list divider-full-bleed checkbox-list">
                                
        <?php foreach($checkboxList as $key => $value): ?>
        
            <li class="tile checkbox-list" data-id="<?=$key?>">

                <div class="tile-content">

                    <div class="checkbox checkbox-styled">
                        
                        <label>
                            
                            <input name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>" type="checkbox"<?php if ($disabled): ?> disabled<?php endif ?><?php if(in_array($key, $fieldValue)): ?> checked<?php endif; ?>/>
                            <span style="padding-left:0;"></span>
                            
                        </label>
                        
                    </div>
                    <div class="checkbox-list-label" style="position: relative; left: 30px !important;"><?=$value?></div>

                </div>

            </li>
            
        <?php endforeach ?>
        
    </ul>
    
    <script type="text/javascript">
    
    jQuery(document).ready(function() {

        jQuery('#<?=$fieldName?>').find('.tile-content').click(function() {

            var clickedElement = jQuery(this);

            clickedElement.parent().find(':checkbox').prop( "checked", function(i, val) { return !val; });

        });
        
    });
    
    </script>
   
</div>