<div class="card-body"<?php if(isset($settingsId)): ?>id="<?=$settingsId?>"<?php endif;?>>

    <?php foreach($settingList as $settingListKey => $settingListEntry): ?>

        <?php PerisianSetting::printSettingItem($settingListEntry); ?>

    <?php endforeach ?>

</div>

<?php if(count($settingList) > 0): ?>

    <div class="card-actionbar">

        <div class="card-actionbar-row">

            <button class="btn btn-primary-bright ink-reaction" id="button_<?php echo $settingsId; ?>" type="button" onclick="PerisianBaseSettings.save('<?php echo $settingsId; ?>', null, function() { PerisianBaseSettings.dataSent = false });"><?php PerisianLanguageVariable::printVariable(10129) ?></button>

        </div>

    </div>

<?php endif; ?>