<div class="form-group <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>">
    
    <?php if($settingData[$fields['field_fieldtype']] == "tags"): ?>
        <label for="<?php echo $fieldName ?>"><?php echo $fieldTitle ?></label>
    <?php endif; ?>
    
    <input type="text" class="form-control" id="<?php echo $fieldName ?>" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>" name="<?php echo $fieldName ?>" <?php if ($disabled): ?>disabled <?php endif ?> value="<?php echo $fieldValue ?>"<?php
    
    if(isset($fieldDescription) && strlen($fieldDescription) > 0):
        
        echo ' data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="' . stripslashes($fieldDescription) . '"';
        
    endif;
    
    ?><?php if($settingData[$fields['field_fieldtype']] == "tags"): ?> data-role="tagsinput"<?php endif; ?>>
    
    <?php if($settingData[$fields['field_fieldtype']] != "tags"): ?>
        <label for="<?php echo $fieldName ?>"><?php echo $fieldTitle ?></label>
    <?php endif; ?>
        
</div>