<div class="icon-setting <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>">

    <div class="icon-selector-selection"><i class="fa md <?=$fieldValue?>"></i></div>

    <div class="icon-selector" style="width: 100%" data-placement="inline" id="<?=$fieldName?>" data-selected="<?=$fieldValue?>"></div>

</div>

<script>

    jQuery(document).ready(function() {

        jQuery('#<?=$fieldName?>').iconpicker({
            
            'title': '<?=$fieldTitle?>',
            
            fullClassFormatter: function(val) {
                
                if(val.match(/^fa-/))
                {
                    
                    return 'fa ' + val;
                    
                }
                else if(val.match(/^md-/))
                {
                    
                    return 'md ' + val;
                    
                }
                
            }
            

        }).on('iconpickerSelected', function(e) {

            var iconIdentifier = e.iconpickerValue;
            
            jQuery(e.target).attr('data-selected', iconIdentifier);

            var element = jQuery(e.target).parent().find('.icon-selector-selection');

            element.html('<i class="fa md ' + iconIdentifier + '"></i>');

        });

    });

</script>