<div class="form-group <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>">
    
    <div class="checkbox checkbox-styled">
        
        <label>
            
            <input type="checkbox" id="<?php echo $fieldName ?>" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>" name="<?=$fieldName?>"<?php if ($disabled): ?> disabled<?php endif ?><?php if ($fieldChecked): ?> checked<?php endif ?>/>
            
            <label for="<?=$fieldName?>"<?php
    
            if(isset($fieldDescription) && strlen($fieldDescription) > 0):

                echo ' data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="' . $fieldDescription . '"';

            endif;

            ?>><?=stripslashes($fieldTitle)?></label>
            
        </label>
        
    </div>
    
</div>