<div class="form-group <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>">
    
    <select id="<?php echo $fieldName ?>"<?php if ($disabled): ?> disabled<?php endif ?> name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>" name="<?php echo $fieldName ?>" class="form-control">

        <?php foreach ($dropdownList as $key => $value): ?>
            <option value="<?php echo $key ?>"<?php if ($fieldValue == $key): ?> selected<?php endif ?>><?php echo $value ?></option>
        <?php endforeach ?>

    </select>
    
    <label for="<?php echo $fieldName ?>"><?=$fieldTitle?></label>
    
</div>