<div class="form-group <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>" style="margin-bottom: 0; padding-top: 0;">
    
    <textarea type="text" class="form-control" id="<?=$fieldName?>" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>" name="<?=$fieldName?>" <?php if ($disabled): ?>disabled <?php endif ?><?php
    
    if(isset($fieldDescription) && strlen($fieldDescription) > 0):
        
        echo ' data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="' . $fieldDescription . '"';
        
    endif;
    
    ?>><?=PerisianFrameworkToolbox::securityRevert($fieldValue)?></textarea>
    
</div>

<script type="text/javascript">

jQuery(document).ready(function() {
    
    jQuery('#<?=$fieldName?>').ckeditor();
    
});

</script>