<div class="form-group <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>">
    
    <textarea type="text" class="form-control" id="<?php echo $fieldName ?>" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive : '')?>" name="<?php echo $fieldName ?>" <?php if ($disabled): ?>disabled <?php endif ?><?php

        if(isset($fieldDescription) && strlen($fieldDescription) > 0):

            echo ' data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="' . $fieldDescription . '"';

        endif;

        ?>><?php echo $fieldValue ?></textarea>
    
    <label for="<?php echo $fieldName ?>"><?=$fieldTitle?></label>
    
</div>