<div class="form-group input-timespan <?=$fieldName?>-box <?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '-box' : '')?>">
    
    <label for="<?php echo $fieldName ?>"><?=$fieldTitle?></label>
    
    <div class="col-md-6 input-timespan-header"><?=PerisianLanguageVariable::getVariable('10773')?></div>
    <div class="col-md-6 input-timespan-header"><?=PerisianLanguageVariable::getVariable('10774')?></div>
    
    <div class="col-md-6">
    
        <input type="text" class="form-control time-mask" original-id="<?=$fieldName?>" id="<?=$fieldName?>_begin" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '_begin' : '')?>" name="<?=$fieldName?>_begin" <?php if($disabled): ?>disabled <?php endif ?> value="<?=$fieldValue['begin']?>"<?php if(isset($fieldDescription) && strlen($fieldDescription) > 0): ?><?=' data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="' . stripslashes($fieldDescription) . '"'; ?><?php endif; ?>>
     
    </div>
    
    <div class="col-md-6">
    
        <input type="text" class="form-control time-mask" original-id="<?=$fieldName?>" id="<?=$fieldName?>_end" name-descriptive="<?=(strlen($fieldNameDescriptive) > 0 ? $fieldNameDescriptive . '_end' : '')?>" name="<?=$fieldName?>_end" <?php if($disabled): ?>disabled <?php endif ?> value="<?=$fieldValue['end']?>"<?php if(isset($fieldDescription) && strlen($fieldDescription) > 0): ?><?=' data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="' . stripslashes($fieldDescription) . '"'; ?><?php endif; ?>>
    
    </div>
    
    <script type="text/javascript">

        jQuery(document).ready(function() {

            jQuery("#<?=$fieldName?>_begin").inputmask('h:s', {placeholder: 'hh:mm'});
            jQuery("#<?=$fieldName?>_end").inputmask('h:s', {placeholder: 'hh:mm'});

        });
        
    </script>
        
</div>