<script type="text/javascript" src="../assets/js/core/source/AppForm.js"></script>

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><?php echo $result['title_form'] ?></h4>
    
</div>

<form class="form-horizontal" role="form">

    <?php if($action == 'edit'): ?>
    <input type="hidden" id="editId" value="<?php echo $result['id'] ?>">
    <?php endif ?>

    <div class="modal-body">

        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_calendar_resource_title"><?php PerisianLanguageVariable::printVariable(10848) ?></label>
                <input type="text" id="calsy_calendar_resource_title" class="form-control" name="calsy_calendar_resource_title" value="<?php if($action == 'edit'): echo $result['object']->{$result['object']->field_title}; endif?>"/>

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">

                <label for="calsy_calendar_resource_description"><?php PerisianLanguageVariable::printVariable(10781) ?></label>
                <textarea type="text" id="calsy_calendar_resource_description" class="form-control" name="calsy_calendar_resource_description"><?php if($action == 'edit'): echo $result['object']->{$result['object']->field_description}; endif?></textarea>

            </div>
        </div>
        

        <div class="form-group">

            <center><div class="col-sm-12 checkbox checkbox-styled">

                <label for="calsy_calendar_resource_bookable_multiple"><input type="checkbox" id="calsy_calendar_resource_bookable_multiple" name="calsy_calendar_resource_bookable_multiple" <?=($result['object']->getIsBookableMultiple() ? " checked" : "")?>/><?php PerisianLanguageVariable::printVariable(10942) ?></label>

            </div></center>

        </div>
        
    </div>
    
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-default" id="cancelButton" onclick="CalendarResource.cancel()"><?php PerisianLanguageVariable::printVariable(10056) ?></button>
    <button type="button" class="btn btn-primary-bright" id="submitButton" onclick="CalendarResource.saveCalendarResource()"><i class="md md-save"></i> <?php PerisianLanguageVariable::printVariable(10055) ?></button>

</div>