<?php

$pagesTotal = ceil($result['count'] / $result['limit']);
$currentPage = $result['offset'] / $result['limit'];
$pagesAround = 4;

?>

<?php if($pagesTotal > 1): ?>
<div class="col-sm-12" style="text-align:center; margin-bottom: 5px;">
    
    <button class="btn <?=($currentPage == 0 ? "btn-primary-bright" : "btn-secondary-bright")?> ink-reaction" onclick="CalendarResource.showEntries(0, <?=$result['limit']?>)">1</button>
    
    <?php if($currentPage - $pagesAround / 2 >= 2): ?>
    <i class="md md-keyboard-control"></i>
    <?php endif; ?>
    
    <?php for($i = ($currentPage + 1 - $pagesAround / 2), $displayedPages = 0; $displayedPages <= $pagesAround; ++$i): ?>
    
        <?php $buttonPage = $i - 1; ?>
        
        <?php if($pagesTotal <= 2): break; endif; ?> 
        <?php if($i <= 1 || $i >= $pagesTotal): continue; endif; ?>
    
        <button class="btn <?=($currentPage == $buttonPage ? "btn-primary-bright" : "btn-secondary-bright")?> ink-reaction" onclick="CalendarResource.showEntries(<?=($buttonPage * $result['limit'])?>, <?=$result['limit']?>)"><?=$i?></button>&nbsp;
    
        <?php ++$displayedPages; ?>
        
        <?php if($i >= $pagesTotal - 1): break; endif; ?>
        
    <?php endfor; ?>
    
    <?php if(($currentPage + $pagesAround / 2 < $pagesTotal - 2) && ($currentPage + $pagesAround + 1 < $pagesTotal)): ?>
    <i class="md md-keyboard-control"></i>
    <?php endif; ?>
    
    <button class="btn <?=($currentPage == ($pagesTotal - 1) ? "btn-primary-bright" : "btn-secondary-bright")?> ink-reaction" onclick="CalendarResource.showEntries(<?=(($pagesTotal - 1) * $result['limit'])?>, <?=$result['limit']?>)"><?=$pagesTotal?>
    
</div>
<?php endif; ?>