<td>
    
    <?php if($action == "get_order_list_entry"): ?>
    <script type="text/javascript" src="../assets/js/core/source/AppVendor.js"></script>
    <?php endif; ?>
    
    <b><a href="javascript:CalendarResource.editCalendarResource(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_calendar_resource_id']) ?>)" onclick=""><?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_calendar_resource_title'])?></a></b>
    
    <span class="table-info-additional">

        <?php

            $fieldList = Array();

            if(false)
            {

                //array_push($fieldList, "");

            }

            echo implode("<br/>", $fieldList); 

        ?>

    </span>

</td>

<td>
    
    <?php
    
        $fieldList = [];
    
        if(strlen($currentEntry['calsy_calendar_resource_description']) > 0)
        {
            
            array_push($fieldList, PerisianLanguageVariable::getVariable(10282) . "<br/>" . PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_calendar_resource_description']));
            
        }
        
        echo implode("<br/>", $fieldList); 
    
    ?>
    
</td>

<td class="text-right">

    <nobr>

        <button onclick="CalendarResource.editCalendarResource(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_calendar_resource_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10914) ?>"><i class="fa fa-pencil"></i></button>
        
        <?php if($currentEntry['calsy_calendar_resource_prevent_deletion'] != 1): ?>
        <button onclick="CalendarResource.deleteCalendarResource(<?php echo PerisianFrameworkToolbox::security($currentEntry['calsy_calendar_resource_id']) ?>);" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="<?php PerisianLanguageVariable::printVariable(10913) ?>"><i class="fa fa-trash-o"></i></button>
        <?php endif; ?>
        
    </nobr>

</td>
