<td>
    
    <?=date("d.m.Y, H:i", $currentEntry['calsy_checkin_log_time'])?> <?=lg('10903')?>
    
</td>

<td>
    
    <?=lg('p5ee8e7636e3da')?>: "<?=PerisianFrameworkToolbox::highlightText($result['search'], $currentEntry['calsy_checkin_log_description'])?>"
    <br/>
    <?=lg('p5ee8e77f7f1be')?>: <?=($currentEntry['calsy_checkin_log_status'] == CalsyCheckIn::STATUS_OPEN ? '<b class="checkin-status-open">' . lg('p5ee8e7d286fc9') . '</b>' : '<b class="checkin-status-closed">' . lg('p5ee8e7e89a615')) . '</b>'?>
    
</td>

<td>
    
    <?=CalsyUserFrontend::getFullnameForUserById($currentEntry['calsy_checkin_log_user_frontend_id'])?>
    
</td>

<td>
    
    <?=date("d.m.Y, H:i:s", $currentEntry['calsy_checkin_log_time_log'])?> <?=lg('10903')?>
    
</td>
