<script type="text/javascript" src="../assets/js/basic/PerisianBaseAjax.js"></script>

<div class="section-header">
    
    <ol class="breadcrumb">
        
        <li class="active"><?php PerisianLanguageVariable::printVariable(10881) ?></li>
        
    </ol>
    
</div>

<div class="section-body">
    
    <div class="col-lg-10">
        
        <div class="card">
            
            <div class="card-body">

                <?=PerisianFrameworkToolbox::securityRevert($settings->getSetting('frontend_contact_information'))?>
                
            </div>

        </div>
        
    </div>
        
</div>