<link type="text/css" rel="stylesheet" href="<?=PerisianFrameworkToolbox::getServerAddress(false)?>assets/css/front.css"/>

<section class="section-account" style="padding-top: 0; padding-bottom: 0;">
    
    <?php if(PerisianSystemSetting::getSettingValue('frontend_show_backdrop_image') == 1): ?>
    
        <?php
        
            $customBackdropData = PerisianSystemSetting::getImageUploadData('frontend_backdrop_image');
            $frontendBackdropImage = 'assets/img/custom/background_login.png';
            
            if(isset($customBackdropData['image']) && strlen($customBackdropData['image']['name']) > 0)
            {
                
                $frontendBackdropImage = $customBackdropData['image']['url'];
                
            }
        
        ?>
    
        <div class="img-backdrop" style="background-image: url('<?=$frontendBackdropImage?>')"></div>
        <div class="spacer"></div>
        
    <?php endif; ?>
    
    <div class="card contain-sm style-transparent">
        
        <div class="card-body no-padding">
            
            <div class="row">
                
                    <div class="col-sm-12">
                        
                        <br/>
                        
                        <?php require("registration/element/welcome_image.phtml"); ?>
                        
                        <div class="card">
                        
                            <div class="card-head style-primary">

                                <header><?=PerisianSystemConfiguration::isTestServer() ? "TEST - " : ""?><?=$settings->getSetting('frontend_title_website')?></header>

                            </div>

                            <div class="card-body">

                                <?=PerisianFrameworkToolbox::securityRevert($settings->getSetting('frontend_start_registration_closed_information'))?>

                            </div>
                            
                        </div>
                        
                    </div>
                
                    <div class="col-sm-12" style="text-align:right">

                        <div>

                            <?=$settings->getSetting(PerisianFrameworkToolbox::getConfig('system/setting_id/page_title'))?><br/>

                            <div class="no-linebreak copyright">
                                <a href="http://www.cons-sys.ag/" target="_blank">&copy;<?=date("Y", time())?> ConsSys IT AG</a>
                            </div>

                        </div>

                    </div>
                
            </div>
            
        </div>
        
    </div>
        
</section>



